<mat-drawer-container class="flex-auto h-full">
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card border-b">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
                        *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="flex flex-wrap items-center font-medium">
                                    <div>
                                        <a class="whitespace-nowrap text-primary-500"
                                            routerLink="/frota-tecnico/cartoes-combustivel">
                                            {{ t('cartoes combustivel') }}
                                        </a>
                                    </div>
                                    <div class="flex items-center ml-1 whitespace-nowrap">
                                        <mat-icon class="icon-size-5 text-secondary"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span class="ml-1 text-secondary">{{ t('cartao') }}</span>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <h2
                                        class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                                        {{ codDespesaCartaoCombustivel }}
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">

                            <button [matTooltip]="t('editar')" matTooltipPosition="above"
                                class="fuse-mat-button-rounded bg-gray-200" mat-icon-button
                                [routerLink]="['/frota-tecnico/cartoes-combustivel/form/'+codDespesaCartaoCombustivel]">
                                <mat-icon class="text-black-500" [svgIcon]="'heroicons_outline:document-add'">
                                </mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded bg-green-200" mat-flat-button
                                [matTooltip]="t('vincular tecnico')" matTooltipPosition="above"
                                (click)="vincularNovoTecnico()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto">
                    <div>
                        <div class="m-5">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 w-full min-w-0">
                                <fuse-card
                                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex items-center justify-between">
                                        <div class="text-2xl font-semibold leading-tight">{{ t('cartao') }}</div>
                                    </div>

                                    <div class="flex flex-col my-2">
                                        <div class="my-2">
                                            <div>{{ t('numero') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.numero | mask: '0000 0000 0000 0000'}}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('carro') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.carro | uppercase }}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('placa') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.placa | uppercase }}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('ano') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.ano | uppercase }}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('cor') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.cor | uppercase }}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('combustivel') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ cartao?.combustivel | uppercase }}
                                            </div>
                                        </div>
                                        <div class="my-2">
                                            <div>{{ t('ativo') }}</div>
                                            <div class="text-secondary text-md">
                                                {{ (cartao?.indAtivo ? t('sim') : t('nao')) | uppercase }}
                                            </div>
                                        </div>
                                    </div>
                                </fuse-card>

                                <!-- <fuse-card
                                        class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"> -->
                                <div class="p-6">
                                    <div class="flex items-center justify-between">
                                        <div class="text-2xl font-semibold leading-tight">
                                            {{ t('historico de uso do cartao') }}</div>
                                    </div>


                                    <div class="flex flex-col my-2">
                                        <div class="flex justify-center align-middle items-center"
                                            *ngIf="isHistoricoLoading">
                                            <mat-progress-spinner diameter="50" [mode]="'indeterminate'">
                                            </mat-progress-spinner>
                                        </div>
                                        <table mat-table [dataSource]="historico" [tHead]="" class="mat-elevation-z2"
                                            *ngIf="!isHistoricoLoading">
                                            <ng-container matColumnDef="tecnico">
                                                <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                                    {{ t('tecnico') }} </th>
                                                <td mat-cell *matCellDef="let di" class="text-sm">
                                                    {{ di?.tecnico?.nome }} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="inicio de uso">
                                                <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                                    {{ t('inicio de uso') }} </th>
                                                <td mat-cell *matCellDef="let di" class="text-sm">
                                                    {{ di?.dataHoraInicio | date:'dd/MM/yyyy' }} </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- </fuse-card> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>