<div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-4 border-b" *transloco="let t">
    <div class="flex justify-between">
        <div class="text-3xl font-extrabold tracking-tight leading-none mt-0">
            {{ t('adicionar detalhe') }}
        </div>
    </div>
</div>
<div mat-dialog-content>
    <div class="flex-auto w-full" *transloco="let t">
        <div class="flex sm:mt-0">
            <div class="flex pl-2">
                <form [formGroup]="form" name="form" *ngIf="form">
    
                    <div class="flex mt-5 w-100 justify-center">
                        <mat-radio-group
                            class="flex flex-row"
                            [color]="'primary'"
                            formControlName="maquina">
                            <mat-radio-button
                                class="mb-2"
                                [value]="'1'">
                                {{ t('maquina') }}
                            </mat-radio-button>
                            <mat-radio-button
                                class="mb-2 ml-4"
                                [value]="'2'">
                                {{ t('extra-maquina') }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
    
                    <div class="grid grid-cols-1 gap-4 mt-6">
                        <mat-form-field class="flex-auto">
                            <mat-label>{{ t('tipo de servico') }}</mat-label>
    
                            <mat-select formControlName="codServico"
                                [disabled]="!tiposServico.length">
    
                                <mat-option *ngFor="let tipoServico of tiposServico" [value]="tipoServico.codServico">
                                    {{ tipoServico.codETipoServico }} - {{ tipoServico.nomeServico | titlecase }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="grid grid-cols-1 gap-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>{{ t('causa') }}</mat-label>
    
                            <mat-select formControlName="codCausa"
                                [disabled]="!causas.length">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                        noEntriesFoundLabel="'nenhum registro encontrado'"
                                        [formControl]="causasFiltro"></ngx-mat-select-search>
                                </mat-option>
    
                                <mat-option *ngFor="let causa of causas" [value]="causa.codCausa">
                                    {{ causa.codECausa }} - {{ causa.nomeCausa | titlecase }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="grid grid-cols-1 gap-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>{{ t('defeito') }}</mat-label>
    
                            <mat-select formControlName="codDefeito"
                                [disabled]="!defeitos.length">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                        noEntriesFoundLabel="'nenhum registro encontrado'"
                                        [formControl]="defeitosFiltro"></ngx-mat-select-search>
                                </mat-option>
    
                                <mat-option *ngFor="let defeito of defeitos" [value]="defeito.codDefeito">
                                    {{ defeito.codEDefeito }} - {{ defeito.nomeDefeito | titlecase }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-1 gap-4">
                        <mat-form-field class="lex-auto">
                            <mat-label>{{ t('acao') }}</mat-label>
    
                            <mat-select formControlName="codAcao" [disabled]="!acoes.length">
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                        noEntriesFoundLabel="'nenhum registro encontrado'"
                                        [formControl]="acoesFiltro"></ngx-mat-select-search>
                                </mat-option>
    
                                <mat-option *ngFor="let acao of acoes" [value]="acao.codAcao">
                                    {{ acao.codEAcao }} - {{ acao.nomeAcao | titlecase }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions *transloco="let t" align="end">
  <button mat-button mat-dialog-close>{{ t('fechar') }}</button>

  <button mat-button [color]="'primary'" [disabled]="!form.valid" (click)="inserir()">
    {{ t('inserir') }}
</button>
</div>