<div *transloco="let t">
    <table class="w-full table-auto text-sm font-medium tracking-tight bg-card shadow rounded-2xl" *ngIf="!loading" >
        <thead class="text-center" >
            <tr>
                <th>{{t('modelo')}}</th>
                <th>{{t('cliente')}}</th>
                <th>{{t('serie')}}</th>
                <th>{{t('reincidencia')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of equipamentosReincidentesModel" class="text-center">
                <td>{{data.modelo}}</td>
                <td>{{data.cliente}}</td>
                <td>{{data.serie}}</td>
                <td>{{data.reincidencia| number:'2.1-5'}}%</td>
            </tr>
        </tbody>
    </table>

    <div class="w-full text-right text-md mt-4 mr-2 text-blue-500" *ngIf="!loading">
        <a href="http://satdbprod/Reports/report/Reports/INDICADORES%20DI%C3%81RIOS-%C3%8DNDICE%20DE%20REINCID%C3%8ANCIA-CLIENTE" target="_blank">Relatório Reporting</a>
    </div>
</div>

<div class="flex justify-center items-center" *ngIf="loading">
    <div class="">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>