indicador-performance-tecnico-page {
  ion-spinner {
    text-align: center;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 26px;
  }

  canvas {
    margin-bottom: 4px !important;
  }

  ion-spinner {
    margin-top: 40%;
  }

  .first-item {
    border-bottom: 0px !important;
    margin-top: 2px !important;
    margin-bottom: -8px !important;
  }

  ion-list {
    margin-bottom: 0px !important;
  }

  .azul {
    color: #3F51B5;
    font-size: 10pt;
  }

  .laranja {
    color: #FFA000;
    font-size: 10pt;
  }
}