<nlog>
  <targets>
    <target name='jsonFile' type='File' fileName='Logs/${shortdate}.json' encoding="utf-8">
      <layout type='JsonLayout'>
        <attribute name='time' layout='${longdate}' />
        <attribute name='level' layout='${level:upperCase=true}'/>
        <attribute name='nested' encode='false'>
          <layout type='JsonLayout'>
		  	<attribute name='application' layout='${event-properties:item=application}' />
            <attribute name='message' layout='${message}' />
            <attribute name='application' layout='${application}' />
            <attribute name='exception' layout='${exception}' />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>
  
  <rules>
      <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>