<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="Logs/internallog.txt">

	<targets>
		<target name="log" xsi:type="File"
				fileName="Logs/${shortdate}_logfile.log"
				layout="${longdate} ${level:uppercase=true} ${message}"/>

		<target name="error" xsi:type="File"
				fileName="Logs/${shortdate}_error.log"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="log" />
		<logger name="*" minlevel="Debug" writeTo="log" />
		<logger name="*" minlevel="Info" writeTo="log" />
		<logger name="*" minlevel="Error" writeTo="error" />
		<logger name="*" minlevel="Warning" writeTo="log" />
	</rules>
</nlog>