v<ion-header>
  <ion-navbar>
    <ion-title>Rat: {{ chamado?.rats[0]?.numRat }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>Informações do POS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fPos="ngForm" (ngSubmit)="salvarInformacoesPOS(fPos)" class="form">
    <ion-list>
      <ion-item col-12 class="no-border-bottom">
        <ion-label stacked>Status do Serviço</ion-label>

        <ion-select placeholder="Selecione o Status do Serviço" name="statusServico"
          [ngModel]="chamado?.rats[0]?.statusServico" [compareWith]="compararStatusServicos"
          (ionChange)="salvarStatusServico($event)" interface="action-sheet" cancelText="Cancelar">
          <ion-option *ngFor="let statusServico of statusServicos" [value]="statusServico">
            {{ statusServico?.nomeStatusServico }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12 class="no-border-bottom">
        <ion-label stacked>Defeito do POS</ion-label>

        <ion-select placeholder="Selecione o Defeito do POS" name="defeitoPOS"
          [ngModel]="chamado?.rats[0]?.defeitoPOS" [compareWith]="compararDefeitosPOS"
          (ionChange)="salvarDefeitoPOS($event)" interface="action-sheet" cancelText="Cancelar">
          <ion-option *ngFor="let defeitoPOS of defeitosPOS" [value]="defeitoPOS">
            {{ defeitoPOS?.nomeDefeitoPOS }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Motivo Cancelamento</ion-label>

        <ion-select placeholder="Selecione o Motivo do Cancelamento" name="motivoCancelamento" interface="action-sheet"
          [ngModel]="chamado?.rats[0]?.motivoCancelamento" [compareWith]="compararMotivosCancelamento" cancelText="Cancelar"
          [disabled]="this.chamado?.rats[0]?.statusServico?.codStatusServico != 2 && this.chamado?.rats[0]?.statusServico?.codStatusServico != 16">
          <ion-option *ngFor="let motivoCancelamento of motivosCancelamento" [value]="motivoCancelamento">
            {{ motivoCancelamento?.nomeMotivoCancelamento }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Obs. Motivo Cancelamento</ion-label>

        <ion-input type="text" name="obsMotivoCancelamento" placeholder="Obs. Motivo Cancelamento"
          [ngModel]="chamado?.rats[0]?.obsMotivoCancelamento"
          [disabled]="this.chamado?.rats[0]?.statusServico?.codStatusServico != 2 && this.chamado?.rats[0]?.statusServico?.codStatusServico != 16">
        </ion-input>
      </ion-item>

      <ion-item col-12 *ngIf="chamado?.tipoIntervencao?.codTipoIntervencao == 4 || chamado.rats[0].defeitoPOS?.exigeTrocaEquipamento || chamado?.tipoIntervencao?.codTipoIntervencao == 2">
        <ion-label stacked>Equipamento Instalado</ion-label>

        <ion-select placeholder="Selecione o Equipamento Instalado" name="equipamentoInstalado" interface="action-sheet"
          [ngModel]="chamado?.rats[0]?.equipamentoInstalado" [compareWith]="compararEquipamentosPOS" cancelText="Cancelar">
          <ion-option *ngFor="let equipamento of equipamentosPOS" [value]="equipamento">
            {{ equipamento?.nomeEquip }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12 *ngIf="chamado?.tipoIntervencao?.codTipoIntervencao == 4 || chamado.rats[0].defeitoPOS?.exigeTrocaEquipamento || chamado?.tipoIntervencao?.codTipoIntervencao == 2">
        <ion-label stacked>Número da Série Instalada</ion-label>
        <ion-input type="text" placeholder="Número da Série Instalada" name="numSerieInstalada" maxlength="50"
          [ngModel]="chamado?.rats[0]?.numSerieInstalada">
        </ion-input>
      </ion-item>

      <ion-item col-12 *ngIf="chamado?.tipoIntervencao?.codTipoIntervencao == 3 || chamado.rats[0].defeitoPOS?.exigeTrocaEquipamento || chamado?.tipoIntervencao?.codTipoIntervencao == 2">
        <ion-label stacked>Equipamento Retirado</ion-label>

        <ion-select placeholder="Selecione o Equipamento Retirado" name="equipamentoRetirado" interface="action-sheet"
          [ngModel]="chamado?.rats[0]?.equipamentoRetirado" [compareWith]="compararEquipamentosPOS" cancelText="Cancelar">
          <ion-option *ngFor="let equipamento of equipamentosPOS" [value]="equipamento">
            {{ equipamento?.nomeEquip }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12 *ngIf="chamado?.tipoIntervencao?.codTipoIntervencao == 3 || chamado.rats[0].defeitoPOS?.exigeTrocaEquipamento || chamado?.tipoIntervencao?.codTipoIntervencao == 2">
        <ion-label stacked>Número da Série Retirada</ion-label>

        <ion-input type="text" placeholder="Número da Série Retirada" name="numSerieRetirada" maxlength="50"
          [ngModel]="chamado?.rats[0]?.numSerieRetirada">
        </ion-input>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Rede</ion-label>
        <ion-input type="text" name="rede" placeholder="Rede" maxlength="50" [ngModel]="chamado?.rats[0]?.rede">
        </ion-input>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Tipo de Comunicacão</ion-label>

        <ion-select placeholder="Selecione o Tipo de Comunicacão" name="tipoComunicacao" interface="action-sheet"
          [ngModel]="chamado?.rats[0]?.tipoComunicacao" [compareWith]="compararTiposComunicacao" cancelText="Cancelar">
          <ion-option *ngFor="let tipoComunicacao of tiposComunicacao" [value]="tipoComunicacao">
            {{ tipoComunicacao?.nomeTipoComunicacao }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked for="nroChipInstalado">Número do Chip Instalado</ion-label>

        <ion-input type="text" name="nroChipInstalado" placeholder="Número do Chip Instalado"
          [ngModel]="chamado?.rats[0]?.nroChipInstalado" [disabled]="!this.verificarEquipamentoPossuiChip() || (chamado?.equipamentoContrato?.equipamento?.codEquip !== 172 && chamado?.equipamentoContrato?.equipamento?.codEquip !== 289)">
        </ion-input>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked for="operadoraChipInstalado">Operadora do Chip Instalado</ion-label>

        <ion-select placeholder="Selecione a Operadora do Chip Instalado" name="operadoraChipInstalado"
          [ngModel]="chamado?.rats[0]?.operadoraChipInstalado" [compareWith]="compararOperadoras"
          [disabled]="!this.verificarEquipamentoPossuiChip() || (chamado?.equipamentoContrato?.equipamento?.codEquip !== 172 && chamado?.equipamentoContrato?.equipamento?.codEquip !== 289)" interface="action-sheet" cancelText="Cancelar">
          <ion-option *ngFor="let operadora of operadoras" [value]="operadora">
            {{ operadora?.nomeOperadoraTelefonica }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Número do Chip Retirado</ion-label>

        <ion-input type="text" name="nroChipRetirado" placeholder="Número do Chip Retirado"
          [ngModel]="chamado?.rats[0]?.nroChipRetirado" [disabled]="!this.verificarEquipamentoPossuiChip() || (chamado?.equipamentoContrato?.equipamento?.codEquip !== 172 && chamado?.equipamentoContrato?.equipamento?.codEquip !== 289)">
        </ion-input>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Operadora do Chip Retirado</ion-label>

        <ion-select placeholder="Selecione a Operadora do Chip Retirado" name="operadoraChipRetirado"
          [ngModel]="chamado?.rats[0]?.operadoraChipRetirado" [compareWith]="compararOperadoras"
          [disabled]="!this.verificarEquipamentoPossuiChip() || (chamado?.equipamentoContrato?.equipamento?.codEquip !== 172 && chamado?.equipamentoContrato?.equipamento?.codEquip !== 289)" interface="action-sheet" cancelText="Cancelar">
          <ion-option *ngFor="let operadora of operadoras" [value]="operadora">
            {{ operadora?.nomeOperadoraTelefonica }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item col-12>
        <ion-label stacked>Descrição do Atendimento</ion-label>
        <ion-input type="text" name="descricaoAtendimento" placeholder="Descrição do Atendimento" maxlength="50" [ngModel]="chamado?.rats[0]?.descricaoAtendimento">
        </ion-input>
      </ion-item>

      <div padding>
        <button color="secondary" ion-button block>
          Salvar e Prosseguir
        </button>
      </div>
    </ion-list>
  </form>
</ion-content>