<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-despesa-tecnico-filtro [sidenav]="sidenav"></app-despesa-tecnico-filtro>
    </mat-drawer>
    <mat-drawer-content>
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card
            dark:bg-transparent" *transloco="let t">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div>
                    <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">
                        {{ t('tecnicos') }}
                    </div>
                </div>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                    </mat-form-field>

                    <button class="ml-4" mat-icon-button [routerLink]="['/ordem-servico/form']">
                        <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                    </button>

                    <button class="ml-2" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid" *ngIf="!isLoading">
                                <div class="list-grid-tecnico-atendimento    z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>
                                    <div>
                                        {{ t('nome') }}
                                    </div>
                                    <div>
                                        {{ t('saldo adiantamento') }}
                                    </div>
                                    <div>
                                        {{ t('ativo') }}
                                    </div>
                                    <div>
                                        {{ t('liberado') }}
                                    </div>
                                    <div>
                                        {{ t('filial') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="tecnicos?.items.length">
                                    <ng-container *ngFor="let tec of tecnicos?.items">
                                        <div class="list-grid-tecnico-atendimento grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100"
                                            *transloco="let t">
                                            <div class="hidden md:block truncate">
                                                {{ tec.tecnico.nome | uppercase }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ tec.saldoAdiantamento | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ (tec.indAtivo ? t('sim') : t('nao')) | uppercase }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ (tec.liberado ? t('sim') : t('nao')) | uppercase}}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ tec.tecnico.filial?.nomeFilial | uppercase }}
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <mat-paginator [hidden]="!tecnicos?.items?.length"
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="tecnicos?.totalCount"
                                [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"
                                (page)="paginar()">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>