.cards-bg {
    background-color: #F4F4F7;
}

.bg-silver {
    background-color: rgba(228, 228, 228, 0.788);
}

.bg-silver-light {
    background-color: rgba(228, 228, 228, 0.240);
}

.bg-green {
    background-color: #C1FFC1;
}

.font-green {
    color: #32db64 !important;
}

.font-red {
    color: #D32F2F !important;
}

.font-orange {
    color: #FF9800 !important;
}

.font-bold {
    font-weight: bold;
}

.bg-gray {
    background-color: gray;
}

.bd-red {
    background-color: #f53d3d;
}

.bg-blue {
    background-color: #488aff;
}

.bg-yellow {
    background-color: #ffc125;
}

.icone-menu {
    margin-left: 7px !important;
}

.first-divider, .first-item {
    padding-top: 4px !important;
}

.toast-info {
    .toast-container {
        background-color: #488aff !important;
    }

    .toast-info .toast-message {
        background-color: #488aff !important;
    }
    
    .toast-info .toast-button {
        background-color: #488aff !important;
    }
}

.toast-error {
    .toast-container {
        background-color: #f53d3d !important;
    }

    .toast-info .toast-message {
        background-color: #f53d3d !important;
    }
    
    .toast-info .toast-button {
        background-color: #f53d3d !important;
    }
}

.toast-success {
    .toast-container {
        background-color: #4CAF50 !important;
    }

    .toast-info .toast-message {
        background-color: #4CAF50 !important;
    }
    
    .toast-info .toast-button {
        background-color: #4CAF50 !important;
    }
}

.toast-warning {
    .toast-container {
        background-color: #FFA000 !important;
    }

    .toast-info .toast-message {
        background-color: #FFA000 !important;
    }
    
    .toast-info .toast-button {
        background-color: #FFA000 !important;
    }
}

body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 0.98em;
    }
    
    &[class*="custom-save"] {
        mask-image: url(../assets/icon/save.svg);
    }
}