<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>App Técnicos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item 
        class="first-item"
        *ngIf="dadosGlobais?.usuario?.nome"
        (click)="telaUsuario()">
        
        <ion-avatar item-start>
          <img 
            src="https://sat.perto.com.br/DiretorioE/AppTecnicos/Fotos/{{ dadosGlobais?.usuario?.codUsuario }}.jpg" 
            onError="this.src='assets/imgs/man.png';" />
        </ion-avatar>

        <span class="user-name"> &nbsp; {{ dadosGlobais?.usuario?.nome }}</span>
        <p *ngIf="dadosGlobais?.usuario?.usuarioPerfil?.nomeUsuarioPerfil">
          &nbsp;
          {{ dadosGlobais?.usuario?.usuarioPerfil?.nomeUsuarioPerfil | lowercase | capitalize }} 
          {{ dadosGlobais?.usuario?.filial?.nomeFilial }}
        </p>
      </ion-item>

      <ion-item (click)="telaSenhaAlteracao()">
        <ion-icon color="primary" name="lock" class="icone-menu" item-start></ion-icon>
        Alterar Minha Senha
      </ion-item>

      <ion-item (click)="sair()">
        <ion-icon color="primary" name="exit" class="icone-menu" item-start></ion-icon>
        Sair
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #nav></ion-nav>