peca-page {
    ion-content {
        text-align: center;
    }

    .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
        //border: 1px solid #DDD;
    }

    b {
        font-weight: 500;
      }
    
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;

        b {
            color: #000000;
        }
    }

    img {
        height: 150px;
    }
}