<div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-4 border-b" *transloco="let t">
    <div class="flex justify-between">
        <div class="text-3xl font-extrabold tracking-tight leading-none mt-0">
            {{ t('filtros') }}
        </div>
    </div>
</div>

<div mat-dialog-content>
    <div class="flex-auto w-full" *transloco="let t">
        <div class="flex sm:mt-0">
            <div class="flex pl-2">
                <form [formGroup]="form" name="form" *ngIf="form">
                    <div class="flex flex-col mt-5 w-80">
                        <mat-form-field class="flex-auto">
                            <mat-label>{{ t('nome filtro') }}</mat-label>
                            <input matInput type="text" formControlName="nomeFiltro" maxlength="20" required>
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions *transloco="let t" align="end">
    <button mat-button mat-dialog-close>{{ t('cancelar') }}</button>

    <button mat-button [color]="'primary'" [disabled]="!form.valid" (click)="salvar()">
        {{ t('salvar') }}
    </button>
</div>