<h2 mat-dialog-title>
    Item de Reparo
</h2>

<mat-dialog-content class="mat-typography" *transloco="let t">
    <form class="flex flex-col overflow-hidden" [formGroup]="form">
        <div class="flex-auto">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto pb-6 overflow-hidden">
                <mat-form-field class="fuse-mat-dense sm:col-span-6">
                    <mat-label>{{ t('codigo do item') }}</mat-label>
                    <input matInput formControlName="codMagnus">
                    <mat-error>
                        {{ t('preencher campo') }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" *transloco="let t">
    <button mat-button mat-dialog-close>Cancelar</button>

    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="salvar()" [disabled]="form.invalid">
        {{ t('salvar') }}
    </button>
</mat-dialog-actions>