<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div *transloco="let t">
                    <a routerLink="/grupo-equipamento" class="whitespace-nowrap text-primary-500">
                        {{ t('grupos de equipamentos') }}
                    </a>
                </div>
            </div>
            <div class="mt-2" *transloco="let t">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('grupo de equipamento') }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form class="flex flex-col mt-0 p-8 pb-0 bg-card rounded-2xl shadow overflow-hidden"
                [formGroup]="form" *transloco="let t">

                <p class="mb-6 text-lg font-medium">
                    {{ isAddMode ? t('criando registro') : t('atualizando registro') }}
                </p>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3" *ngIf="!isAddMode">
                        <mat-label>{{ t('codigo') }}</mat-label>
                        <input matInput formControlName="codGrupoEquip">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:key'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('nome') }}</mat-label>
                        <input matInput formControlName="nomeGrupoEquip">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('abreviacao') }}</mat-label>
                        <input matInput formControlName="codEGrupoEquip">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:bookmark'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <mat-label>{{ t('tipo equipamento') }}</mat-label>

                        <mat-select formControlName="codTipoEquip">
                            <mat-option>
                                <ngx-mat-select-search
                                    placeholderLabel="Pesquisa..." 
                                    noEntriesFoundLabel="'nenhum registro encontrado'"
                                    [formControl]="tipoEquipamentoFiltro"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let tipoEquipamento of tiposEquipamento | async" [value]="tipoEquipamento.codTipoEquip">
                                {{ tipoEquipamento.nomeTipoEquip }}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button [routerLink]="['/grupo-equipamento']" routerLinkActive="router-link-active"  mat-button>
                        {{ t('cancelar') }}
                    </button>
                    <button (click)="salvar()" [disabled]="!form.valid" class="px-6 ml-3" mat-flat-button [color]="'primary'">
                        {{ t('salvar') }}
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>