chamados-page {
    .cod-os {
        font-size: 18px;
        font-weight: bold;
    }

    ion-card {
        background-color: #f4f4f4;
    }
  
    ion-searchbar {
        margin-bottom: -8px !important;
    }

    .ion-card-bg-gray {
        background-color: gray;
    }

    .botoes {
        margin-top: -16px;
    }

    .inherit {
        font-weight: inherit;
    }

    .font-red {
        color: #f53d3d;
    }

    .font-blue {
        color: #488aff;
    }

    .font-white {
        color: white;
    }

    .font-silver-light-hard {
        color: #616161;
    }

    .sla {
        opacity: 0.65;
    }

    .title-icon {
        padding-top: 2px;
        margin-left: -4px !important;
        margin-right: -20px !important;
        font-size: 15pt;
    }

    ion-badge {
        margin-top: 4px !important;
    }

    .refresh, .pin, .open, .checkmark, .done-all, .create {
        font-size: 21px !important;
        padding-left: 12px;
    }

    .pin {
        margin-left: 2px;
    }

    .ios-walk {
        font-size: 26px !important;
        padding-left: 14px;
        margin-left: 4px;
        margin-bottom: 1px;
    }

    .person {
        font-size: 20px !important;
        padding-left: 12px;
        margin-left: 3px;
        margin-bottom: 1px;
    }

    .finger-print {
        font-size: 22px !important;
        padding-left: 12px;
        margin-left: 2px;
        margin-bottom: 0px;
    }

    .t-int {
        margin-left: -8px !important;
        text-align: center;
    }

    .data-hora-leitura, .icone-deslocamento {
        opacity: 0.9 !important;
    }

    .nome-cliente-local, .endereco {
        font-size: 10pt;
    }

    .mapa-local {
        margin-top: 5px;
    }

    .ion-bage-chamado-fechado {
        margin-right: 0px !important;
        padding-top: 10px !important;
        background: transparent;
    }

    ion-spinner {
        height: 24px;
    }

    .small {
        font-size: 8pt;
        color: #488aff !important;
    }
}
