chamado-fechado-page {
  .inf-bas-esq {
      font-size: 12pt;
      margin-right: 2px;
  }

  .inf-bas {
      color: #BBBBBB;
      font-size: 12pt;
      text-align: justify;
  }

  .first-divider {
      padding-top: 6px !important;
  }

  .badge {
      font-weight: inherit;
  }
}