<mat-drawer-container class="flex-auto h-full">
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4" *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="flex flex-wrap items-center font-medium">
                                    <div>
                                        <a class="whitespace-nowrap text-primary-500" routerLink="/orcamento">
                                            {{ t('orcamentos') }}
                                        </a>
                                    </div>
                                    
                                    <div class="flex items-center ml-1 whitespace-nowrap">
                                        <mat-icon class="icon-size-5 text-secondary"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span class="ml-1 text-secondary">{{ t('orcamento') }}</span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h6
                                        class="text-2xl md:text-2xl font-extrabold tracking-tight leading-6 sm:leading-6 truncate">
                                        {{ orcamento?.numero }}
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Enviar e-mail'" (click)="enviarEmail()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </button>
                            
                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Faturar'" (click)="faturar()"
                                [disabled]="orcamento?.indFaturamento || (os?.codStatusServico !== 3 && os?.codTipoIntervencao !== 17) || (os?.equipamentoContrato?.contrato?.indPedido && !orcamento?.numPedido)">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:upload'"></mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Ir para OS'" [routerLink]="['/ordem-servico/detalhe/' + os?.codOS]">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'imprimir'" [routerLink]="['/orcamento/impressao/' + codOrc]">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Excluir'" (click)="excluir()" *ngIf="userSession?.usuario?.codPerfil == 100 || userSession?.usuario?.codPerfil == 3">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto" *ngIf="!isLoading">
                    <mat-tab-group class="sm:px-2" [animationDuration]="'0'" (selectedTabChange)="trocarTab($event)">
                        <mat-tab label="Detalhes">
                            <ng-template matTabContent>
                                <div class="max-w-10xl">
                                    <form [formGroup]="form" class="flex flex-col bg-card shadow rounded overflow-hidden">
                                        <div
                                            class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
                        
                                            <mat-form-field class="fuse-mat-dense sm:col-span-3">
                                                <mat-label>{{ t('status') }}</mat-label>
                                                <mat-select formControlName="codOrcStatus">
                                                    <mat-option *ngFor="let st of status" [value]="st?.codOrcStatus">
                                                        {{ st?.nome }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-3">
                                                <mat-label>{{ t('motivo') }}</mat-label>
                                                <mat-select formControlName="codOrcMotivo">
                                                    <mat-option *ngFor="let motivo of motivos" [value]="motivo?.codOrcMotivo">
                                                        {{ motivo?.descricao }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <div class="sm:col-span-6"></div>

                                            <mat-form-field class="fuse-mat-textarea fuse-mat-dense sm:col-span-6">
                                                <mat-label>{{ t('detalhe') }}</mat-label>
                                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                                                <textarea matInput formControlName="detalhe" [placeholder]="t('detalhe')" [rows]="4" maxlength="1000"></textarea>
                                            </mat-form-field>

                                            <div class="sm:col-span-6"></div>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                                                <mat-label>{{ t('endereco') }}</mat-label>
                                                <input matInput formControlName="endereco">
                                            </mat-form-field>

                                            <div class="sm:col-span-6"></div>
                        
                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('data') }}</mat-label>
                                                <input matInput formControlName="data">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('utiliza lista especifica') }}</mat-label>
                                                <input matInput formControlName="utilizaListaEspecifica">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('fone') }}</mat-label>
                                                <input matInput formControlName="fone">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('cnpj') }}</mat-label>
                                                <input matInput formControlName="cnpj">
                                            </mat-form-field>

                                            <div class="sm:col-span-4"></div>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('valor total desconto') }}</mat-label>
                                                <input matInput formControlName="valorTotalDesconto">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('valor total') }}</mat-label>
                                                <input matInput formControlName="valorTotal">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('validade') }}</mat-label>
                                                <input matInput formControlName="validade">
                                            </mat-form-field>

                                            <mat-form-field class="fuse-mat-dense sm:col-span-2">
                                                <mat-label>{{ t('impostos inclusos') }}</mat-label>
                                                <input matInput formControlName="impostosInclusos">
                                            </mat-form-field>
                                        </div>
                        
                                        <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                                            <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form.valid">
                                                <span *ngIf="!form.disabled">
                                                    {{ t('salvar') }}
                                                </span>
                                                <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="{{ t('dados local') }}">
                            <ng-template matTabContent>
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalAtendimento">
                                    </app-orcamento-detalhe-local>

                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalFaturamento">
                                    </app-orcamento-detalhe-local>
                                    
                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalEnvioNF">
                                    </app-orcamento-detalhe-local>
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="{{ t('valores')}}">
                            <ng-template matTabContent>
                                <div class="grid grid-cols-1 gap-6 w-full min-w-0">
                                    <app-orcamento-detalhe-deslocamento [deslocamento]="orcamento?.orcamentoDeslocamento">
                                    </app-orcamento-detalhe-deslocamento>
                                   
                                    <app-orcamento-detalhe-mao-de-obra [maoDeObra]="orcamento?.maoDeObra">
                                    </app-orcamento-detalhe-mao-de-obra>
                                   
                                    <app-orcamento-detalhe-material [materiais]="orcamento?.materiais">
                                    </app-orcamento-detalhe-material>
                                    
                                    <app-orcamento-detalhe-outro-servico [codOrc]="orcamento?.codOrc" [outrosServicos]="orcamento?.outrosServicos">
                                    </app-orcamento-detalhe-outro-servico>
                                    
                                    <app-orcamento-detalhe-desconto [codOrc]="orcamento?.codOrc" [descontos]="orcamento?.descontos">
                                    </app-orcamento-detalhe-desconto>
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab label="{{ t('pedido') }}" *ngIf="orcamento?.materiais?.length || orcamento?.outrosServicos?.length">
                            <ng-template matTabContent>
                                <div class="w-full">
                                    <app-orcamento-detalhe-pedido [codOrc]="orcamento?.codOrc" [orcamento]="orcamento">
                                    </app-orcamento-detalhe-pedido>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>