<mat-drawer-container class="flex-auto h-full">
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4"
                        *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="flex flex-wrap items-center font-medium">
                                    <div>
                                        <a class="whitespace-nowrap text-primary-500" routerLink="/orcamento">
                                            {{ t('orcamentos') }}
                                        </a>
                                    </div>
                                    <div class="flex items-center ml-1 whitespace-nowrap">
                                        <mat-icon class="icon-size-5 text-secondary"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span class="ml-1 text-secondary">{{ t('orcamento') }}</span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h6
                                        class="text-2xl md:text-2xl font-extrabold tracking-tight leading-6 sm:leading-6 truncate">
                                        {{ orcamento?.numero }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Enviar e-mail'" [routerLink]="['/orcamento/impressao/' + codOrc]">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            </button>
                            <button class="fuse-mat-button-rounded bg-gray-100" mat-flat-button
                                [matTooltip]="'Enviar e-mail'" (click)="enviarEmail()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto" *ngIf="!isLoading">
                    <mat-tab-group class="sm:px-2" [animationDuration]="'0'" (selectedTabChange)="trocarTab($event)">
                        <mat-tab label="Detalhes">
                            <ng-template matTabContent>
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                                    <fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="flex items-center justify-between">
                                            <div class="text-lg font-medium mt-2"> {{ "Orçamento " + orcamento?.numero }}
                                            </div>
                                            <button mat-icon-button (click)="editar()" *ngIf="!isEditing">
                                                <mat-icon class="icon-size-5 text-right" [svgIcon]="'heroicons_solid:pencil'">
                                                </mat-icon>
                                            </button>
                                            <div class="text-secondary italic" *ngIf="isEditing">Em edição</div>
                                        </div>
                                        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary" [ngClass]="{'text-blue-500': isEditing }">Motivo</div>
                                                <div *ngIf="!isEditing">{{ orcamento?.orcamentoMotivo?.descricao }}</div>
                                                <div *ngIf="isEditing">
                                                    <mat-select (selectionChange)="changeMotivo($event.value)" [(value)]="orcamento.codigoMotivo"
                                                        *ngIf="isEditing">
                                                        <mat-option class='text-blue-500' *ngFor="let m of motivos" [value]="m.codOrcMotivo">
                                                            {{ m.descricao }}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary" [ngClass]="{'text-blue-500': isEditing }">Status</div>
                                                <div *ngIf="!isEditing">{{ orcamento?.orcamentoStatus?.nome }}</div>
                                                <div *ngIf="isEditing">
                                                    <mat-select (selectionChange)="changeStatus($event.value)" [(value)]="orcamento.codigoStatus"
                                                        *ngIf="isEditing">
                                                        <mat-option class='text-blue-500' *ngFor="let s of status" [value]="s.codOrcStatus">
                                                            {{ s.nome }}
                                                        </mat-option>
                                                    </mat-select>
                                                </div>
                                            </div>
                                            <div class="items-center justify-between py-3 block" [ngClass]="{'text-blue-500': isEditing }">
                                                <div class="text-secondary mb-1" [ngClass]="{'text-blue-500': isEditing }">Detalhe</div>
                                                <div id="orcamentoDetalhe" ngDefaultControl [ngClass]="{'cursor-text text-blue-500': isEditing }"
                                                    [contentEditable]="isEditing" [textContent]="orcamento?.detalhe"
                                                    (input)="orcamento.detalhe = $event.target.innerText">
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Data</div>
                                                <div>
                                                    {{ orcamento?.dataCadastro | date:'dd/MM/yy HH:mm' }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Utiliza lista específica?</div>
                                                <div>
                                                    {{ orcamento?.isMaterialEspecifico ? 'SIM' : 'NÃO' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex justify-end mt-2" *ngIf="isEditing">
                                            <button mat-icon-button (click)="salvar()" [disabled]="isEqual() || isInvalid()">
                                                <mat-icon class="icon-size-6 text-right text-green-500" [svgIcon]="'heroicons_solid:check-circle'">
                                                </mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="cancelar()">
                                                <mat-icon class="icon-size-6 text-right text-red-500" [svgIcon]="'heroicons_solid:minus-circle'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </fuse-card>

                                    <fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="text-lg font-medium mt-2"> {{ "Informações"}}
                                        </div>
                                        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Filial</div>
                                                <div>{{ filial?.nomeFilial }}
                                                </div>
                                            </div>
                                            <div class="block items-center justify-between py-3">
                                                <div class="text-secondary mb-1">Endereço</div>
                                                <div>
                                                    {{ filial?.endereco }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Fone</div>
                                                <div>
                                                    {{ filial?.fone }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">CNPJ</div>
                                                <div>
                                                    {{ filial?.cnpj | cnpj }}
                                                </div>
                                            </div>
                                        </div>
                                    </fuse-card>
                                    
                                    <fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                        <div class="text-lg font-medium mt-2">Condições
                                        </div>
                                        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Valor Total dos Descontos</div>
                                                <div>
                                                    {{ orcamento?.valorTotalDesconto | currency:'BRL':'symbol-narrow' }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Valor Total</div>
                                                <div>
                                                    {{ orcamento?.valorTotal | currency:'BRL':'symbol-narrow' }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-3">
                                                <div class="text-secondary">Validade</div>
                                                <div>
                                                    {{ '3 dias' }}
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between py-2">
                                                <div class="text-secondary">Impostos inclusos</div>
                                                <div>
                                                    {{ 'SIM' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-secondary text-xs text-justify mt-2">
                                            Os valores deste orçamento são apenas uma previsão. O efetivo faturamento será efetuado de acordo com os
                                            serviços executados e comprovados em Relatórios Técnicos, assinados pelo cliente.
                                        </div>
                                    </fuse-card>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{ t('dados local') }}">
                            <ng-template matTabContent>
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalAtendimento">
                                    </app-orcamento-detalhe-local>
                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalFaturamento">
                                    </app-orcamento-detalhe-local>
                                    <app-orcamento-detalhe-local [dadosLocal]="dadosLocalEnvioNF">
                                    </app-orcamento-detalhe-local>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{ t('mao de obra') }} e {{t('deslocamento')}}">
                            <ng-template matTabContent>
                                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
                                    <app-orcamento-detalhe-deslocamento
                                        [deslocamento]="orcamento?.orcamentoDeslocamento">
                                    </app-orcamento-detalhe-deslocamento>
                                    <app-orcamento-detalhe-mao-de-obra [maoDeObra]="orcamento?.maoDeObra">
                                    </app-orcamento-detalhe-mao-de-obra>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{ t('material') }}">
                            <ng-template matTabContent>
                                <div class="w-full">
                                    <app-orcamento-detalhe-material [materiais]="orcamento?.materiais">
                                    </app-orcamento-detalhe-material>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{ t('servicos') }}">
                            <ng-template matTabContent>
                                <div class="w-full">
                                    <app-orcamento-detalhe-outro-servico [codOrc]="orcamento?.codOrc"
                                        [outrosServicos]="orcamento?.outrosServicos">
                                    </app-orcamento-detalhe-outro-servico>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="{{ t('descontos') }}">
                            <ng-template matTabContent>
                                <div class="w-full">
                                    <app-orcamento-detalhe-desconto [codOrc]="orcamento?.codOrc"
                                        [descontos]="orcamento?.descontos">
                                    </app-orcamento-detalhe-desconto>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>