<table class="w-full bg-card" *ngIf="!loading">
    <thead class="text-center">
        <tr>
            <th class="text-left">Classificação</th>
            <th>Média</th>
        </tr> 
    </thead>

    <tbody>
        <tr *ngFor="let data of mediaGlobalAtendimentoTecnicosModel" class="text-center">
            <td class="text-left">{{ data.classificacao | titlecase}}</td>
            <td>{{ data.media | number:'1.1-2' }}</td>
        </tr>
    </tbody>
</table>

<div class="flex justify-center items-center bg-gray-50 min-h-40" *ngIf="loading">
    <div class="text-center">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>