<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div *transloco="let t">
                    <a routerLink="/autorizada" class="whitespace-nowrap text-primary-500">
                        {{ t('autorizadas') }}
                    </a>
                </div>
            </div>
            <div class="mt-2" *transloco="let t">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('autorizada') }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form class="flex flex-col mt-0 p-8 pb-0 bg-card rounded-2xl shadow overflow-hidden"
                [formGroup]="form" *transloco="let t">

                <p class="mb-6 text-lg font-medium">
                    {{ isAddMode ? t('criando registro') : t('atualizando registro') }}
                </p>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3" *ngIf="!isAddMode">
                        <mat-label>{{ t('codigo') }}</mat-label>
                        <input matInput formControlName="codAutorizada">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:key'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="w-full">
                        <mat-label>{{ t('filial') }}</mat-label>

                        <mat-select formControlName="codFilial">
                            <mat-option *ngFor="let filial of filiais" [value]="filial.codFilial">
                                {{ filial.nomeFilial }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>  
               
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('razao social') }}</mat-label>
                        <input matInput formControlName="razaoSocial">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                       
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('nome fantasia') }}</mat-label>
                        <input matInput formControlName="nomeFantasia">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>  

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('cnpj') }}</mat-label>
                        <input matInput formControlName="cnpj" mask="00.000.000/0000-00" [showMaskTyped]="true">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                    
                </div>    

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('inscricao estadual') }}</mat-label>
                        <input matInput formControlName="inscricaoEstadual">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('cep') }}</mat-label>
                        <input matInput formControlName="cep" [dropSpecialCharacters]="false"  mask="00000-000">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                                           
                </div>        
                               
                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('endereco') }}</mat-label>
                        <input matInput formControlName="endereco">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>  

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('numero') }}</mat-label>
                        <input matInput formControlName="numero">
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                       
                </div>  

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('bairro') }}</mat-label>
                        <input matInput formControlName="bairro">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>  
                                        
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <mat-label>{{ t('pais') }}</mat-label>
                        <mat-select formControlName="codPais">
                            <mat-option *ngFor="let pais of paises" [value]="pais.codPais">
                                {{ pais.nomePais }}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>    
                </div>            
                
                <div class="grid grid-cols-2 gap-4">                        
                    
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <mat-label>{{ t('unidade federativa') }}</mat-label>
                        <mat-select formControlName="codUF" >
                            <mat-option *ngFor="let unidadeFederativa of unidadesFederativas" [value]="unidadeFederativa.codUF">
                                {{ unidadeFederativa.siglaUF }}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>                   
               
                    <mat-form-field class="fuse-mat-textarea flex-auto">
                        <mat-label>{{ t('cidade') }}</mat-label>
                        <mat-select formControlName="codCidade" >
                            <mat-option *ngFor="let cidade of cidades" [value]="cidade.codCidade">
                                {{ cidade.nomeCidade }}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>                  
                 
                </div>                     

                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('latitude') }}</mat-label>
                        <input matInput formControlName="latitude">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>    

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('longitude') }}</mat-label>
                        <input matInput formControlName="longitude">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                                             
                </div>     
                
                <div class="grid grid-cols-2 gap-4">
                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('fone') }}</mat-label>
                        <input matInput formControlName="fone" mask="(00)000000000" [showMaskTyped]="true">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>    

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('fax') }}</mat-label>
                        <input matInput formControlName="fax" mask="(00)00000000" [showMaskTyped]="true">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                                             
                </div>     
                
                <div class="grid grid-cols-2 gap-4">                   
                    <div class="my-2">
                        <div>{{ t('ativo') }}</div>
                        <div class="text-secondary text-md">
                            {{ autorizada?.indAtivo ? 'Sim' : 'Não' }}
                        </div>
                    </div>

                    <mat-form-field class="flex-auto gt-xs:pr-3">
                        <mat-label>{{ t('filial perto') }}</mat-label>
                        <input matInput formControlName="indFilialPerto">
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>                                             
                </div>                   

                <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button [routerLink]="['/autorizada']" routerLinkActive="router-link-active"  mat-button>
                        {{ t('cancelar') }}
                    </button>
                    <button (click)="salvar()" [disabled]="!form.valid" class="px-6 ml-3" mat-flat-button [color]="'primary'">
                        {{ t('salvar') }}
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>