<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <ng-container>
                <div class="text-4xl font-bold leading-tight tracking-tight">
                    {{ conferencia?.nome }}
                </div>

                <div class="text-1xl font-secondary leading-tight tracking-tight">
                    <a [href]="'https://meet.jit.si/' + room" target="_blank">
                        Link da Sala: {{ room }}
                    </a>
                </div>

                <div class="my-6">
                    <button class="px-6 mr-2" [class.bg-gray-200]="isAudioMuted" mat-raised-button (click)="executeCommand('toggleAudio')">
                        Audio
                    </button>

                    <button class="px-6 mr-2" [class.bg-gray-200]="isVideoMuted" mat-raised-button (click)="executeCommand('toggleVideo')">
                        Video
                    </button>

                    <button class="px-6 mr-2" mat-raised-button (click)="executeCommand('toggleShareScreen')">
                        Compartilhar Tela
                    </button>

                    <button class="px-6 mr-2" mat-raised-button (click)="copy()">
                        Copiar Link
                    </button>
                </div>
                
                <div id="jitsi-iframe"></div>
            </ng-container>
        </div>
    </div>
</div>