<h1 mat-dialog-title>
  <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-1 px-5 md:px-8">
    <div class="flex justify-between">
        <div class="text-2xl font-extrabold tracking-tight leading-none mt-2">
          {{ resource.name | titlecase }}
        </div>

        <button mat-icon-button color="primary" (click)="fecharModal()">
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
</div>

  
</h1>
<div mat-dialog-content>
    <div id="map"></div>

    <div class="loading-shade" *ngIf="loading">
        <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
    </div>
</div>