<div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-2 w-full min-w-0">
    <fuse-card class="flex flex-col col-span-3 flex-auto bg-card 2xl overflow-hidden" *transloco="let t">
        <div class="flex flex-col font-medium divide-y"  *ngIf="laudo">

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('OS') }}</div>
                <div class="px-6">{{ laudo?.codOS }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('OS Cliente') }}</div>
                <div class="px-6">{{ laudo?.or?.numOSCliente || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Data Atendimento') }}</div>
                <div class="px-6">{{ relatorioAtendimento?.dataHoraSolucao | date:'dd/MM/yyyy HH:mm' }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Cliente') }}</div>
                <div class="px-6">{{ laudo?.or?.cliente?.nomeFantasia || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Contrato') }}</div>
                <div class="px-6">{{ or?.equipamentoContrato?.contrato?.nomeContrato || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Emitente') }}</div>
                <div class="px-6">{{ laudo?.tecnico?.nome || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Número de Série') }}</div>
                <div class="px-6">{{ laudo?.or?.equipamento?.numSerie || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Código Pai') }}</div>
                <div class="px-6">{{ laudo?.or?.equipamento?.codEEquip || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary px-6">{{ t('Alterado Por') }}</div>
                <div class="px-6">{{ laudo?.usuario?.nomeUsuario || "Não informado" }}</div>
            </div>

        </div>
    </fuse-card>
</div>