<div class="grid grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-2 w-full min-w-0">
    <fuse-card class="flex flex-col col-span-3 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
        *transloco="let t">
        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('OS') }}</div>
                <div>{{ laudo?.codOS }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('OS Cliente') }}</div>
                <div>{{ laudo?.or?.numOSCliente || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Data Atendimento') }}</div>
                <div>{{ relatorioAtendimento?.dataHoraSolucao | date:'dd/MM/yyyy HH:mm' }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Cliente') }}</div>
                <div>{{ laudo?.or?.cliente?.nomeFantasia || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Contrato') }}</div>
                <div>{{ laudo?.or?.codContrato || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Emitente') }}</div>
                <div>{{ laudo?.tecnico?.nome || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Equipamento') }}</div>
                <div>{{ laudo?.or?.equipamento?.nomeEquip || "Não informado" }}</div>
            </div>

            <div class="flex items-center justify-between py-3">
                <div class="text-secondary">{{ t('Código Pai') }}</div>
                <div>{{ laudo?.or?.equipamento?.codEEquip || "Não informado" }}</div>
            </div>

        </div>
    </fuse-card>
</div>