node_modules/
bin
obj
.vs
dist
sqltools*.log
.suo
.v2
SAT.FRONT/.idea/.gitignore
SAT.FRONT/.idea/modules.xml
SAT.FRONT/.idea/SAT.FRONT.iml
SAT.FRONT/.idea/vcs.xml
SAT.FRONT/.idea/inspectionProfiles/Project_Default.xml
SAT.FRONT/src/app/core/config/app.config.ts
SAT.API/Logs/
*.mp4
SAT.FRONT/src/environments/environment.ts
SAT.TASKS/Logs/
