<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div>
                    <div class="text-4xl font-extrabold tracking-tight">
                        {{ "Manutenção de Reprovação das Despesas" }}
                    </div>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-despesa-atendimento-reprovacao grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100"
                                    matSort matSortDisableClear>
                                    <div>
                                        {{ t('data inicial') }}
                                    </div>
                                    <div>
                                        {{ t('data final') }}
                                    </div>
                                    <div>
                                        {{ t('tipo') }}
                                    </div>
                                    <div>
                                        {{ t('valor') }}
                                    </div>
                                    <div>
                                        {{ t('acoes') }}
                                    </div>
                                    <div>
                                        {{ t('reprovar') }}
                                    </div>
                                    <div>
                                        {{ t('detalhes') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="despesas?.length">
                                    <ng-container *ngFor="let d of despesas">
                                        <ng-container *ngFor="let i of d.despesaItens">
                                            <div
                                                class="list-grid-despesa-atendimento-reprovacao grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100">
                                                <div class="pointer-events-none">
                                                    {{ d?.relatorioAtendimento?.dataHoraInicio | date:'dd/MM/yyyy' }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ d?.relatorioAtendimento?.dataHoraSolucao | date:'dd/MM/yyyy' }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ i?.despesaTipo?.nomeTipo }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ i?.despesaValor | currency:'BRL':'symbol-narrow' }}
                                                </div>
                                                <div>
                                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                        mat-stroked-button [disabled]="i.codDespesaTipo != 1"
                                                        [matTooltip]="t('comparar no mapa')" (click)="showInMap()">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:map'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                                <div>
                                                    <mat-slide-toggle [color]="'primary'">
                                                    </mat-slide-toggle>
                                                </div>
                                                <div>
                                                    <button class="min-w-10 min-h-7 h-7 px-2 justify-right"
                                                        mat-stroked-button (click)="toggleDetails(i?.codDespesaItem)">
                                                        <mat-icon class="icon-size-5"
                                                            [svgIcon]="despesaItemSelecionada?.codDespesaItem === i.codDespesaItem ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <ng-container
                                                    *ngIf="despesaItemSelecionada?.codDespesaItem === i.codDespesaItem">
                                                    <ng-container
                                                        *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: i}">
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #rowDetailsTemplate let-despesa>
    <div class=" shadow-lg mb-2" *transloco="let t">
        <div class="border-b">

            <form [formGroup]="despesaSelecionadaForm">
                <div class="flex flex-col p-8 text-sm mr-5">
                    <div class="flex flex-wrap min-w-full">
                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('inicio')}}</mat-label>
                            <input matInput formControlName="dataInicio" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('solucao')}}</mat-label>
                            <input matInput formControlName="dataSolucao" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('valor unitario')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$"
                                [showMaskTyped]="false" [dropSpecialCharacters]="true" formControlName="valorUnitario"
                                [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('nf')}}</mat-label>
                            <input matInput formControlName="notaFiscal" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none"
                            *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                            <mat-label>{{t('km percorrido')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                                formControlName="kmPercorrido" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm pointer-events-none"
                            *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                            <mat-label>{{t('km previsto')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                                formControlName="kmPrevisto" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div class="flex flex-auto flex-wrap" *ngIf="despesaItemSelecionada.obsReprovacao">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('motivo')}}</mat-label>
                            <input matInput formControlName="motivo" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.obs">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('observacao')}}</mat-label>
                            <input matInput formControlName="observacao" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('endereco de origem')}}</mat-label>
                            <input matInput formControlName="origem" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('endereco de destino')}}</mat-label>
                            <input matInput formControlName="destino" [readonly]="true">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>