<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div class="flex-1 min-w-0">
                    <div class="flex flex-wrap items-center font-medium">
                        <div>
                            <a class="whitespace-nowrap text-primary-500"
                                routerLink="/despesa/atendimentos/{{despesaPeriodoTecnico?.codTecnico}}">
                                {{ t('atendimentos') }}
                            </a>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span
                                class="ml-1 text-secondary">{{ despesaPeriodoTecnico?.tecnico?.nome | titlecase }}</span>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">{{ t('de') + " " + (despesaPeriodoTecnico?.despesaPeriodo?.dataInicio | date:'dd/MM/yyyy')
                        + " " + (t('ate') | lowercase) + " " + (despesaPeriodoTecnico?.despesaPeriodo?.dataFim |
                        date:'dd/MM/yyyy') }}</span>
                        </div>
                    </div>
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight">
                            {{ t('analise de despesas') }}
                        </div>
                        <div class="grid grid-cols-2 flex-wrap">
                            <div class="text-2x1 text-secondary font-semibold" [ngClass]="{'text-red-500': despesaPeriodoTecnico?.codDespesaPeriodoTecnicoStatus == 3, 
                        'text-green-500': despesaPeriodoTecnico?.codDespesaPeriodoTecnicoStatus == 2}">
                                {{ despesaPeriodoTecnico?.codDespesaPeriodoTecnicoStatus == 2 ? "APROVADO" :
                            despesaPeriodoTecnico?.codDespesaPeriodoTecnicoStatus == 3 ? "REPROVADO" : "LIBERADO PARA ANÁLISE" }}
                            </div>
                            <div class="text-right" *ngIf="isLider()">
                                <button class='mt-2 text-right' mat-icon-button [disabled]="!isEmAnalise()"
                                    (click)="aprovarPeriodoTecnico()" matTooltipPosition="below"
                                    [matTooltip]="t('aprovar')">
                                    <mat-icon
                                        style="height:35px !important; width:35px !important; font-size:35px !important;"
                                        class="text-green-500" [svgIcon]="'heroicons_outline:badge-check'"></mat-icon>
                                </button>

                                <button class='mr-5 m-2 text-right' mat-icon-button [disabled]="!isEmAnalise()"
                                    (click)="reprovarPeriodoTecnico()" matTooltipPosition="below"
                                    [matTooltip]="t('reprovar')">
                                    <mat-icon
                                        style="height:35px !important; width:35px !important; font-size:35px !important;"
                                        class="text-red-500" [svgIcon]="'heroicons_outline:minus-circle'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-despesa-atendimento-reprovacao z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>
                                    <div>
                                        {{ t('data inicial') }}
                                    </div>
                                    <div>
                                        {{ t('data final') }}
                                    </div>
                                    <div>
                                        {{ t('tipo') }}
                                    </div>
                                    <div>
                                        {{ t('alerta') }}
                                    </div>
                                    <div>
                                        {{ t('valor') }}
                                    </div>
                                    <div>
                                        {{ t('acoes') }}
                                    </div>
                                    <div>
                                        {{ t('detalhes') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="despesas?.length">
                                    <ng-container *ngFor="let d of despesas">
                                        <ng-container *ngFor="let i of d.despesaItens">
                                            <div class="list-grid-despesa-atendimento-reprovacao grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100"
                                                [ngClass]="{'bg-red-200 hover:bg-red-300': i.indReprovado == 1,
                                                'bg-yellow-100 hover:bg-yellow-200': i.obs != null}">
                                                <div class="pointer-events-none">
                                                    {{ d?.relatorioAtendimento?.dataHoraInicio | date:'dd/MM/yyyy' }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ d?.relatorioAtendimento?.dataHoraSolucao | date:'dd/MM/yyyy' }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ i?.despesaTipo?.nomeTipo }}
                                                </div>
                                                <div class="cursor-help font-bold truncate"
                                                    [matTooltip]="i?.despesaItemAlerta?.descItemAlerta">
                                                    {{ i?.despesaItemAlerta?.descItemAlerta }}
                                                </div>
                                                <div class="pointer-events-none">
                                                    {{ i?.despesaValor | currency:'BRL':'symbol-narrow' }}
                                                </div>
                                                <div>
                                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                        mat-stroked-button [disabled]="i.codDespesaTipo != 1"
                                                        [matTooltip]="t('comparar no mapa')" (click)="showInMap(i)">
                                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:map'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                                <div>
                                                    <button class="min-w-10 min-h-7 h-7 px-2 justify-right"
                                                        mat-stroked-button (click)="toggleDetails(i?.codDespesaItem)">
                                                        <mat-icon class="icon-size-5"
                                                            [svgIcon]="despesaItemSelecionada?.codDespesaItem === i.codDespesaItem ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                                        </mat-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="grid">
                                                <ng-container
                                                    *ngIf="despesaItemSelecionada?.codDespesaItem === i.codDespesaItem">
                                                    <ng-container
                                                        *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: i}">
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #rowDetailsTemplate let-despesa>
    <div class=" shadow-lg mb-2" *transloco="let t">
        <div class="border-b">

            <form [formGroup]="despesaSelecionadaForm">
                <div class="flex flex-col p-8 text-sm mr-5">
                    <div class="flex flex-wrap min-w-full">
                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('inicio')}}</mat-label>
                            <input matInput formControlName="dataInicio" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('solucao')}}</mat-label>
                            <input matInput formControlName="dataSolucao" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('valor unitario')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$"
                                [showMaskTyped]="false" [dropSpecialCharacters]="true" formControlName="valorUnitario"
                                [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none">
                            <mat-label>{{t('nf')}}</mat-label>
                            <input matInput formControlName="notaFiscal" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm mr-5 pointer-events-none"
                            *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                            <mat-label>{{t('km percorrido')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                                formControlName="kmPercorrido" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-dense text-sm pointer-events-none"
                            *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                            <mat-label>{{t('km previsto')}}</mat-label>
                            <input matInput mask="separator.2" thousandSeparator="." decimalMarker=","
                                formControlName="kmPrevisto" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('endereco de origem')}}</mat-label>
                            <input matInput formControlName="origem" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.codDespesaTipo == 1">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('endereco de destino')}}</mat-label>
                            <input matInput formControlName="destino" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div *ngIf="despesaItemSelecionada.despesaItemAlerta">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full pointer-events-none">
                            <mat-label>{{t('observacao')}}</mat-label>
                            <input matInput formControlName="obs" [readonly]="true">
                        </mat-form-field>
                    </div>

                    <div class="fuse-mat-dense flex flex-col text-sm mr-5 mb-5">
                        <span class="font-semibold mb-2">{{ t('reprovar') }}</span>
                        <mat-slide-toggle [formControlName]="'indReprovado'" [color]="'warn'">
                            {{despesaSelecionadaForm.get('indReprovado').value === true ? t('reprovado') : t('aprovado') }}
                        </mat-slide-toggle>
                    </div>

                    <div *ngIf="showObservacao">
                        <mat-form-field class="fuse-mat-dense text-sm min-w-full">
                            <mat-label>{{t('obs reprovacao')}}</mat-label>
                            <textarea matInput autocomplete="off" cdkTextareaAutosize cdkAutosizeMinRows="3"
                                formControlName="obsReprovacao">
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>