<div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex items-start justify-between">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">SPA Técnicos</div>
        <div class="ml-2 -mt-2 -mr-3">
            <button mat-icon-button (click)="carregarDados(true)">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="ordemCrescente ? 'heroicons_solid:arrow-narrow-up' : 'heroicons_solid:arrow-narrow-down'"
                    [matTooltip]="ordemCrescente ? 'Decrescente' : 'Crescente'" matTooltipPosition="above"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col items-center -mt-4" *ngIf="!loading">
        <apx-chart
            [series]="tecnicoChart.series"
            [chart]="tecnicoChart.chart"
            [legend]="tecnicoChart.legend"
            [dataLabels]="tecnicoChart.dataLabels"
            [stroke]="tecnicoChart.stroke"
            [colors]="tecnicoChart.colors"
            [title]="tecnicoChart.title"
            [subtitle]="tecnicoChart.subtitle"
            [plotOptions]="tecnicoChart.plotOptions"
            [yaxis]="tecnicoChart.yaxis"
            [xaxis]="tecnicoChart.xaxis"
            [tooltip]="tecnicoChart.tooltip"
        ></apx-chart>
    </div>

    <div class="flex justify-center items-center" *ngIf="loading">
        <div class="text-center">
            <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</div>