<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="Prod" value="Data Source=satdbprod.perto.com.br;Initial Catalog=SAT;User Id=satweb;Password=Nkhq8297b589a2c4;Connection Timeout=3600;"/>  
    <add key="Homolog" value="Data Source=satbdhomolog.perto.com.br;Initial Catalog=SAT;User Id=satweb;Password=LxGyFMUzhP5xGgryx;Connection Timeout=3600;"/>


	  <!-- INTEGRAÇÃO CORREIOS -->
	  <add key="Uri" value="https://suportehom.correios.com.br/gst/api/"></add>
	  <add key="Key" value="e20b39e0a778fd6b4f3d4dd2d5b0ca17f41dc5b01f27fdb2276184469d9946f6"></add>
	  <add key="ContentType" value="application/json"></add>

	  <add key="sistema.execucao.agendamento.horario_inicio" value="08:00:00"/>
	  <add key="sistema.execucao.agendamento.horario_fim" value="17:48:00"/>
	  <add key="sistema.execucao.agendamento.habilitado" value="true"/>
	  <add key="destinatario.email.retorno.tecnico.nao.cadastrado" value="equipe.sat@perto.com.br"/>
	  <add key="codigo.contrato.servico.correios" value="000265_2018_001"/>

	  <add key="initial_catalog" value="SAT"/>
	  <add key="connect_timeout" value="120"/>
	  <add key="smtp_server" value="zimbragd.perto.com.br"/>
	  <!-- INTEGRAÇÃO CORREIOS -->
	  
  </appSettings>  
</configuration> 