<div class="absolute inset-0">
    <div class="flex flex-col flex-auto items-center justify-center h-full p-6 sm:p-10">
        <div class="max-w-3xl">
            <h1 class="text-5xl font-bold text-red-600">CONNECTION_REFUSED</h1>
        </div>

        <div class="mt-12 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
            Não foi possível enviar a sua requisição para o nosso servidor.<br />
            Se o erro persistir, favor entrar em contato com a Equipe SAT.
        </div>

        <a
            class="mt-8 font-medium underline text-primary-500"
            [routerLink]="['/']">
            Página Inicial
        </a>
    </div>
</div>
