<div class="grid sm:grid-cols-1 md:grid-cols-12 lg:grid-cols-12 gap-8 w-full" *transloco="let t">
    <div
        class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                Chamados Abertos via Integração
            </div>

            <div class="ml-2">
                <mat-icon class="ml-1.5 icon-size-5 text-hintsm cursor-help"
                    [svgIcon]="'heroicons_solid:information-circle'"
                    [matTooltip]="'Chamados efetivamente abertos no banco de dados do SAT.'"
                    [matTooltipPosition]="'above'"></mat-icon>
            </div>
        </div>

        <div class="flex flex-col mt-2 divide-y">
            <ng-container *ngFor="let monitoramento of monitoramentoChamados">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">
                            <span class="cursor-help" [matTooltip]="monitoramento.mensagem"
                                [matTooltipPosition]="'right'">
                                {{ monitoramento.item }}
                            </span>
                        </div>

                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"
                                        [class.text-red-600]="monitoramento.status == 'DANGER'"
                                        [class.text-green-600]="monitoramento.status == 'OK'"
                                        [class.text-amber-600]="monitoramento.status == 'WARNING'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{ obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento) | titlecase }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{ monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm' }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{ monitoramento.servidor }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="monitoramentoChamados.length && !loading">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                    </div>
                </div>
            </ng-container>

            <div class="flex justify-center items-center min-h-80 bg-gray-100" *ngIf="loading">
                <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>

    <div
        class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                Serviços
            </div>

            <div class="ml-2">
                <mat-icon class="ml-1.5 icon-size-5 text-hintsm cursor-help"
                    [svgIcon]="'heroicons_solid:information-circle'"
                    [matTooltip]="'Aplicações que precisam permancer ativas, comunicando com os clientes.'"
                    [matTooltipPosition]="'above'"></mat-icon>
            </div>
        </div>

        <div class="flex flex-col mt-2 divide-y">
            <ng-container *ngFor="let monitoramento of monitoramentoServicos">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">
                            <span class="cursor-help" [matTooltip]="monitoramento.mensagem"
                                [matTooltipPosition]="'right'">
                                {{ monitoramento.item }}
                            </span>
                        </div>

                        <div class="text-xs" *ngIf="monitoramento.descricao">
                            {{ monitoramento.descricao }}
                        </div>

                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"
                                        [class.text-red-600]="monitoramento.status == 'DANGER'"
                                        [class.text-green-600]="monitoramento.status == 'OK'"
                                        [class.text-amber-600]="monitoramento.status == 'WARNING'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{
                                        obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento)
                                        | titlecase }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{monitoramento.dataHoraProcessamento | date:'dd/MM
                                        HH:mm'}}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{monitoramento.servidor }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngFor="let monitoramento of monitoramentoConexoes">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">
                            <span class="cursor-help" [matTooltip]="monitoramento.mensagem"
                                [matTooltipPosition]="'right'">
                                {{ monitoramento.item }}
                            </span>
                        </div>

                        <div class="text-xs" *ngIf="monitoramento.descricao">
                            {{ monitoramento.descricao }}
                        </div>

                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"
                                        [class.text-red-600]="monitoramento.status == 'DANGER'"
                                        [class.text-green-600]="monitoramento.status == 'OK'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{
                                        obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento)
                                        | titlecase }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{ monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'}}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{ monitoramento.servidor }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!monitoramentoServicos.length && !monitoramentoConexoes.length && !loading">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                    </div>
                </div>
            </ng-container>

            <div class="flex justify-center items-center min-h-80 bg-gray-100" *ngIf="loading">
                <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>

    <div class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">
                Logs
            </div>

            <div class="ml-2">
                <mat-icon class="ml-1.5 icon-size-5 text-hintsm cursor-help"
                    [svgIcon]="'heroicons_solid:information-circle'"
                    [matTooltip]="'Movimentações de arquivos no servidor. Ocorrem periodicamente e necessitam ser executados periodicamente.'"
                    [matTooltipPosition]="'above'"></mat-icon>
            </div>
        </div>

        <div class="flex flex-col mt-2 divide-y">
            <ng-container *ngFor="let monitoramento of monitoramentoIntegracoes">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">
                            <span class="cursor-help" [matTooltip]="monitoramento.mensagem"
                                [matTooltipPosition]="'right'">
                                {{ monitoramento.item }}
                            </span>
                        </div>

                        <div class="text-xs" *ngIf="monitoramento.descricao">
                            {{ monitoramento.descricao }}
                        </div>

                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"
                                        [class.text-red-600]="monitoramento.status == 'DANGER'"
                                        [class.text-green-600]="monitoramento.status == 'OK'"
                                        [class.text-amber-600]="monitoramento.status == 'WARNING'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{
                                        obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento)
                                        | titlecase }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{monitoramento.dataHoraProcessamento | date:'dd/MM
                                        HH:mm'}}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">
                                        {{monitoramento.servidor }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!monitoramentoIntegracoes.length && !loading">
                <div class="flex flex-row items-center justify-between py-2 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                    </div>
                </div>
            </ng-container>

            <div class="flex justify-center items-center min-h-80 bg-gray-100" *ngIf="loading">
                <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>