<div class="grid grid-cols-2 justfy-between bg-gray-50 px-8 py-2 border-b" *transloco="let t">
    <div class="flex items-center">
        <span class="text-lg font-medium">{{ t('solucoes') }}</span>
    </div>

    <div class="flex place-content-end">
        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
            <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
        </mat-form-field>
    </div>
</div>

<div class="w-350">
    <div class="grid sm:grid-cols-6 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
        <div *ngFor="let solucao of solucoes">
            <mat-slide-toggle [color]="'primary'" [checked]="verificarSolucaoSelecionado(solucao.codSolucao)"
                (change)="onChange($event, solucao.codSolucao)">
                {{ solucao.descricao }}
            </mat-slide-toggle>
        </div>
    </div>
    <mat-form-field
        class="grid sm:grid-cols-1 gap-x-1 flex-col flex-auto p-8 pb-1 bg-card shadow rounded overflow-hidden">
        <textarea matInput #relatoInputControl placeholder="Solução relatada" [autocomplete]="'off'">{{ orItem?.relatoSolucao }}</textarea>
    </mat-form-field>
</div>