<ng-container *transloco="let t">
    <div class="text-2xl font-semibold leading-tight mb-4">{{t('vincular tecnico')}}</div>
    <form class="flex flex-col bg-card shadow rounded overflow-hidden" [formGroup]="form">
        <div class="grid sm:grid-cols-10 gap-x-6 flex-col flex-auto p-2 pb-0 overflow-hidden">

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('tecnico') }}</mat-label>
                <mat-select formControlName="codTecnico">
                    <mat-option *ngFor="let tecnico of tecnicos" [value]="tecnico.codTecnico">
                        {{ tecnico.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-4">
                <mat-label>{{ t('data inicial') }}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dataInicial">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
    <div class="grid sm:grid-cols-10 gap-x-6 flex-col flex-auto p-2 pb-0 overflow-hidden">
        <button side (click)="cancelar()" class="fuse-mat-dense sm:col-span-4" color="warn" mat-button>
            {{ t('cancelar') }}
        </button>

        <button (click)="confirmar()" class="fuse-mat-dense sm:col-span-6" [disabled]="!form.valid" mat-button
            [color]="'primary'">
            {{ t('salvar') }}
        </button>
    </div>
</ng-container>