<ion-header>
  <ion-navbar>
    <ion-title>Mensagens</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button 
      ion-item 
      *ngFor="let mensagemTecnico of mensagensTecnico; let i = index" 
      (click)="telaMensagemTecnico(mensagemTecnico)">
      {{ mensagemTecnico.assunto }}
      <ion-badge 
        item-end
        *ngIf="!mensagemTecnico.indLeitura"
        [ngClass]="{ 'bg-yellow': !mensagemTecnico.indLeitura }">
        !
      </ion-badge>
    </button>  
  </ion-list>

  <p *ngIf="!mensagensTecnico?.length" text-center>Nenhuma mensagem encontrada</p>
</ion-content>