<ion-header>
  <ion-navbar>
    <ion-title>Mensagem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card>
    <ion-item>
      <b>{{ mensagemTecnico.assunto }}</b>

      <p>
        <a ion-text color="primary">{{ mensagemTecnico.nomeUsuario }}</a>, 
        <a ion-text color="secondary">{{ mensagemTecnico.nomePerfil }}</a>
      </p>
    </ion-item>

    <ion-card-content>
      <p>{{ mensagemTecnico.mensagem }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col text-left>
        <button ion-button clear small color="silver-light">
          <div>{{ mensagemTecnico.dataHoraCad | date: 'dd/MM/yyyy HH:mm' }}</div>
        </button>
      </ion-col>

      <ion-col text-right>
          <button
          class="data-hora-leitura"
          ion-button 
          icon-only 
          small
          clear
          [disabled]="true"
          color="subtle">
           <ion-icon 
            *ngIf="!mensagemTecnico.indLeitura" 
            name="checkmark" 
            class="checkmark">
          </ion-icon>

          <ion-icon 
            *ngIf="mensagemTecnico.indLeitura" 
            name="done-all" 
            class="done-all"
            color="secondary">
          </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>