<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div class="flex items-center whitespace-nowrap">
                    <span class="ml-1 text-secondary">
                        Laboratório
                    </span>

                    <mat-icon class="-mt-1 icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                </div>

                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/laboratorio/ordem-reparo">
                        {{ t('ordens de reparo') }}
                    </a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="-mt-1 icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ isAddMode ? t('novo') : t('atualizando') }}
                    </span>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="!isAddMode">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codOR }}
                    </span>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('ordem de reparo') }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <form autocomplete="off" class="flex flex-col bg-card shadow rounded overflow-hidden" [formGroup]="form">
                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('cadastro de pecas que ja estao no laboratorio') }}</p>
                </div>

                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
                    <mat-form-field class="fuse-mat-dense sm:col-span-10">
                        <mat-label>{{ t('peca') }}</mat-label>
                        <mat-select formControlName="codPeca">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="pecaFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option class="uppercase" [matTooltip]="peca.codMagnus + ' ' + peca.nomePeca"
                                *ngFor="let peca of pecas" [value]="peca.codPeca" (click)="pecaSelecionada = peca">
                                <span class="font-bold">{{ peca.codMagnus }} </span>
                                <span class="ml-1">{{ peca.nomePeca }} </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-2">
                        <mat-label>{{ t('quantidade') }}</mat-label>
                        <input matInput formControlName="quantidade" type="number">
                        <mat-error>
                            {{ t('preencher campo') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b" *ngIf="or?.orItens?.length">
                    <p class="text-lg font-medium">{{ t('itens') }}</p>
                </div>

                <div class="flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden" *ngIf="or?.orItens?.length">
                    <table class="w-full text-sm text-left text-gray-500">
                        <tbody>
                            <tr class="border-t-2">
                                <td class="py-1 font-medium text-left">
                                    Código Item
                                </td>

                                <td class="py-1 font-medium text-left">
                                    Descrição
                                </td>

                                <td class="py-1 font-medium text-center">
                                    Qtd.
                                </td>
                            </tr>

                            <tr class="border-t-2" *ngFor="let item of or?.orItens; let i=index">
                                <td class="py-1 font-medium text-left">
                                    {{ item.pecaOR.codMagnus }}
                                </td>

                                <td class="py-1 font-medium text-left">
                                    {{ item.pecaOR.nomePeca }}
                                </td>

                                <td class="py-1 font-medium text-center">
                                    1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button [routerLink]="['/laboratorio/ordem-reparo']" mat-button>
                        {{ t('cancelar') }}
                    </button>

                    <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form?.valid"
                        *ngIf="or?.orItens?.length">
                        {{ t('salvar') }}
                    </button>

                    <button class="px-6" mat-button [color]="'primary'" (click)="montarItens()"
                        [disabled]="!form?.valid" *ngIf="!or?.orItens?.length">
                        {{ t('inserir') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>