<mat-drawer-container class="flex-auto h-full">
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div>
                    <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">
                        {{ t('consulta de periodo') }}
                    </div>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-despesa-atendimento z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear *transloco="let t">
                                    <div>
                                        {{ t('acao') }}
                                    </div>
                                    <div>
                                        {{ t('data inicial') }}
                                    </div>
                                    <div>
                                        {{ t('data final') }}
                                    </div>
                                    <div>
                                        {{ t('total despesa') }}
                                    </div>
                                    <div>
                                        {{ t('total adiantamento') }}
                                    </div>
                                    <div>
                                        {{ t('restituicao à empresa') }}
                                    </div>
                                    <div>
                                        {{ t('gastos excedentes') }}
                                    </div>
                                    <div>
                                        {{ t('status') }}
                                    </div>
                                    <div>
                                        {{ t('ativo') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="despesasPeriodoTecnico?.items.length">
                                    <ng-container *ngFor="let dp of despesasPeriodoTecnico?.items">
                                        <div class="list-grid-despesa-atendimento grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100"
                                            *transloco="let t">
                                            <div class="hidden md:block truncate">
                                                ---
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ dp.dataInicio | date:'dd/MM/yyyy' }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ dp.dataFim | date:'dd/MM/yyyy' }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ dp.totalDespesa | currency:'BRL':true }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                {{ dp.totalAdiantamento | currency:'BRL':true }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                ---
                                            </div>
                                            <div class="hidden md:block truncate">
                                                ---
                                            </div>
                                            <div class="hidden md:block truncate">
                                                ---
                                            </div>
                                            <div class="hidden md:block truncate">
                                                ---
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <mat-paginator [hidden]="!despesasPeriodoTecnico?.items?.length"
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}"
                                [length]="despesasPeriodoTecnico?.totalCount" [pageSize]="10"
                                [pageSizeOptions]="[5, 10, 25, 250]" [showFirstLastButtons]="true" (page)="paginar()">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>