<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-despesa-atendimento-filtro [sidenav]="sidenav"></app-despesa-atendimento-filtro>
    </mat-drawer>
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div>
                    <div class="text-4xl font-extrabold tracking-tight" *ngIf="!isLoading">
                        {{ isTecnico() ? t('atendimentos') : tecnico?.nome != null ? t('atendimentos') + " - " + tecnico?.nome : t('atendimentos') }}
                    </div>
                </div>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <button class="ml-2" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-despesa-atendimento z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>
                                    <div>
                                        {{ t('data inicial') }}
                                    </div>
                                    <div>
                                        {{ t('data final') }}
                                    </div>
                                    <div>
                                        {{ t('despesa') }}
                                    </div>
                                    <div>
                                        {{ t('adiantamento') }}
                                    </div>
                                    <div>
                                        {{ t('restituicao') }}
                                    </div>
                                    <div>
                                        {{ t('gastos excedentes') }}
                                    </div>
                                    <div>
                                        {{ t('status') }}
                                    </div>
                                    <div>
                                        {{ t('ativo') }}
                                    </div>
                                    <div>
                                        {{ t('acoes') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="atendimentos?.items?.length">
                                    <ng-container *ngFor="let dp of atendimentos?.items">
                                        <div class="list-grid-despesa-atendimento grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100"
                                            [ngClass]="{'bg-red-200 hover:bg-red-300':
                                            dp.status?.codDespesaPeriodoTecnicoStatus ==
                                                3, 'bg-green-100 hover:bg-green-200':
                                                dp.status?.codDespesaPeriodoTecnicoStatus == 2,
                                                'bg-yellow-100 hover:bg-yellow-200':
                                                dp.status?.codDespesaPeriodoTecnicoStatus == 1}">
                                            <div class="pointer-events-none">
                                                {{ dp.dataInicio | date:'dd/MM/yyyy' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.dataFim | date:'dd/MM/yyyy' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.totalDespesa | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.totalAdiantamento | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.restituirAEmpresa | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.gastosExcedentes | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ (dp.status?.nomeDespesaPeriodoTecnicoStatus || "em edição") | uppercase }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ dp.indAtivo ? "SIM" : "NÃO" }}
                                            </div>
                                            <div class="hidden md:block truncate">
                                                <button class="cursor-pointer"
                                                    [routerLink]="isTecnico() ?
                                                    '/despesa/atendimentos/relatorios/'+dp.codDespesaPeriodo :
                                                    '/despesa/atendimentos/'+codTecnico+'/relatorios/'+dp.codDespesaPeriodo">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('relatorios')"
                                                        [svgIcon]="'heroicons_outline:view-list'">
                                                    </mat-icon>
                                                </button>
                                                <button class="cursor-pointer" (click)="imprimirRD(dp)">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('imprimir') + ' RD'"
                                                        [svgIcon]="'heroicons_outline:printer'">
                                                    </mat-icon>
                                                </button>
                                                <button class="cursor-pointer" (click)="imprimirObservacoes(dp)"
                                                    *ngIf="!isTecnico()">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('imprimir') + ' ' + t('observacoes')"
                                                        [svgIcon]="'heroicons_outline:printer'">
                                                    </mat-icon>
                                                </button>
                                                <button class="cursor-pointer" (click)="listarAdiantamentos(dp)">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('adiantamentos')"
                                                        [svgIcon]="'heroicons_outline:credit-card'">
                                                    </mat-icon>
                                                </button>
                                                <button class="cursor-pointer"
                                                    [routerLink]="'/despesa/atendimentos/'+codTecnico+'/reprovacao/'+dp.codDespesaPeriodoTecnico"
                                                    [disabled]="!isLiberado(dp)" *ngIf="!isTecnico()">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('analisar')"
                                                        [svgIcon]="'heroicons_outline:check-circle'">
                                                    </mat-icon>
                                                </button>
                                                <button class="cursor-pointer" [disabled]="isLiberado(dp)"
                                                    (click)="liberar(dp)" *ngIf="isTecnico()">
                                                    <mat-icon class="max-w-5 max-h-5" [color]="'primary'"
                                                        [matTooltip]="t('liberar')"
                                                        [svgIcon]="'heroicons_outline:switch-horizontal'">
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div *ngIf="!atendimentos?.items?.length && !isLoading"
                                    class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                                    Técnico
                                    não encontrado.</div>
                            </div>

                            <mat-paginator [hidden]="!atendimentos?.items?.length"
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="atendimentos?.totalCount"
                                [pageSize]="filter?.parametros.qtdPaginacaoLista ?? 10" [pageSizeOptions]="[5, 10, 25,
                                50]" [showFirstLastButtons]="true" (page)="paginar()">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>