<div class="flex justify-center items-center" *ngIf="loading">
    <div class="text-center">
        <mat-progress-spinner [diameter]="45" [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div>
</div>

<table class="w-full" *ngIf="!loading">
    <thead>
        <tr>
            <th>Status</th>
            <th>Filial</th>
            <th>SLA</th>
            <th>Pendência</th>
            <th>Reincidência</th>
            <th>SPA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of element_data">
            <td>
                <span class="flex items-center p-3">
                    <span class="w-1 h-1 rounded-full" matTooltipPosition="above"
                        [matTooltip]="data.sla >= 95 ? 'Ótimo' : (data.sla >= 92? 'Atenção' : 'Alta Criticidade')"
                        [class.bg-green-500]="data.sla >= 95"
                        [class.bg-yellow-500]="data.sla >= 92"
                        [class.bg-red-400]="data.sla >= 0"
                    ></span>
                </span>
            </td>
            <td>{{ data.filial }}</td>
            <td>{{ data.sla }}%</td>
            <td>{{ data.pendencia }}%</td>
            <td>{{ data.reincidencia }}%</td>
            <td>{{ data.spa }}%</td>
        </tr>
    </tbody>
</table>