.list-grid-ordem-servico {
    grid-template-columns: 48px 72px 72px 72px 24px 48px 96px auto 42px 96px 36px 72px 24px 56px 58px;
    
    @screen sm {
        grid-template-columns: 48px 72px 32px 58px auto 58px 58px 58px;
    }

    @screen md {
        grid-template-columns: 48px 72px 72px 72px 38px auto 58px 58px 58px 58px 58px;
    }

    @screen lg {
        grid-template-columns: 48px 72px 72px 72px 24px 48px 96px auto 42px 96px 36px 72px 24px 56px 58px;
    }
}