<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">{{ t('ponto periodos') }}</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
            </mat-form-field>
            <button class="ml-4" mat-button routerLink="/ponto/ponto-periodo-form">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-ge z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear *transloco="let t">
                            <div class="md:block" [mat-sort-header]="'codPontoPeriodo'">
                                {{ t('codigo') }}
                            </div>
                            <div [mat-sort-header]="'dataInicio'">
                                {{ t('dia inicio') }}
                            </div>
                            <div [mat-sort-header]="'dataInicio'">
                                {{ t('data fim') }}
                            </div>
                            <div [mat-sort-header]="'dataInicio'">
                                {{ t('dia fim') }}
                            </div>
                            <div [mat-sort-header]="'dataInicio'">
                                {{ t('data fim') }}
                            </div>
                            <div>
                                {{ t('status') }}
                            </div>
                            <div>
                                {{ t('acoes') }}
                            </div>
                        </div>

                        <ng-container>
                            <ng-container *ngFor="let data of dataSourceData?.items">
                                <div
                                    class="list-grid-ge grid items-center h-11 pt-2 gap-4 py-3 px-12 text-sm md:px-8 border-b hover:bg-gray-100">
                                    <div class="flex items-center">
                                        {{ data.codPontoPeriodo }}
                                    </div>
                                    <div class="truncate">
                                        <span class="font-semibold">{{ data.dataInicio | date:'dd/MM/yyyy' | titlecase }}</span>
                                    </div>
                                    <div class="truncate">
                                        {{ data.dataInicio | date:'EEEE' | titlecase }}
                                    </div>
                                    <div class="truncate">
                                        <span class="font-semibold">{{ data.dataFim | date:'dd/MM/yyyy' | titlecase }}</span>
                                    </div>
                                    <div class="truncate">
                                        {{ data.dataFim | date:'EEEE' | titlecase }}
                                    </div>
                                    <div class="truncate">
                                        <span
                                            class="py-1 px-2 rounded text-white"
                                            [class.bg-green-600]="data.pontoPeriodoStatus.nomePeriodoStatus === 'Aberto'"
                                            [class.bg-gray-600]="data.pontoPeriodoStatus.nomePeriodoStatus !== 'Aberto'">
                                            {{ data.pontoPeriodoStatus.nomePeriodoStatus }}
                                        </span>
                                    </div>
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2"
                                            color="primary"
                                            mat-stroked-button
                                            [matTooltip]="'Colaboradores'"
                                            matTooltipPosition="above"
                                            [routerLink]="'/ponto/colaboradores/' + data.codPontoPeriodo"
                                            [disabled]="data.pontoPeriodoStatus.nomePeriodoStatus !== 'Aberto'">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:users'"></mat-icon>
                                        </button>

                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 ml-2"
                                            color="primary"
                                            mat-stroked-button
                                            [matTooltip]="'Exportar'"
                                            matTooltipPosition="above"
                                            [disabled]="data.pontoPeriodoStatus.nomePeriodoStatus === 'Aberto'">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:cloud-download'"></mat-icon>
                                        </button>

                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 ml-2"
                                            mat-stroked-button
                                            [matTooltip]="'Editar'"
                                            [routerLink]="'/ponto/ponto-periodo-form/' + data.codPontoPeriodo"
                                            matTooltipPosition="above">
                                            <mat-icon
                                                class="icon-size-5 text-pink-600"
                                                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>