<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/suporte-stn">
                        Atendimentos
                    </a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ !isAddMode ? t('atualizando') : t('criando') }}
                    </span>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="!isAddMode">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codAtendimento }}
                    </span>
                </div>
            </div>
            
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Atendimento
                </h2>
            </div>
        </div>

        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div class="flex items-center justify-end">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #codOSInputControl placeholder="Digite a OS..." [autocomplete]="'off'">
                </mat-form-field>

                <button class="ml-3" mat-icon-button matTooltip="{{ t('novo atendimento') }}" (click)="salvar()" [disabled]="!os || !rat">
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                </button>

                <button class="ml-3" mat-icon-button matTooltip="{{ t('historico') }}" (click)="abrirHistorico()" [disabled]="!os || !rat">
                    <mat-icon class="text-blue-500" [svgIcon]="'heroicons_outline:document-duplicate'"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full">
            <div *ngIf="!isLoading && !os && !rat"
                class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                Digite o chamado para iniciar
            </div>

            <div class="grid grid-cols-6 sm:grid-cols-1 md:grid-cols-6 gap-6 w-full min-w-0">
                <fuse-card class="flex flex-col col-span-3 flex-auto bg-card shadow rounded-2xl overflow-hidden" *ngIf="os">
                    <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                        <p class="text-lg font-medium">Dados OS Perto</p>
                    </div>

                    <div class="flex flex-col p-8 divide-y font-medium pointer-events-none">
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Código da OS
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.codOS }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Data Hora Abertura
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.dataHoraAberturaOS | date:'dd/MM/yyyy HH:mm' }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Status
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.statusServico?.nomeStatusServico }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                intervenção
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.tipoIntervencao?.nomTipoIntervencao }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Cliente
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.cliente?.nomeFantasia }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Filial
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.filial?.nomeFilial }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Local de Atendimento
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.localAtendimento?.nomeLocal }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Reincidência
                            </div>
                
                            <div class="truncate max-w-1/2">
                                0
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Qtd. OS 90 Dias
                            </div>
                
                            <div class="truncate max-w-1/2">
                                0
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                MTBF 90 Dias
                            </div>
                
                            <div class="truncate max-w-1/2">
                                0
                            </div>
                        </div>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col col-span-3 flex-auto bg-card shadow rounded-2xl overflow-hidden" *ngIf="rat">
                    <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                        <p class="text-lg font-medium">Dados Atendimento Campo</p>
                    </div>

                    <div class="flex flex-col p-8 divide-y font-medium pointer-events-none">
                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Equipamento
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.equipamento?.codEEquip }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Número Série
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ os?.equipamentoContrato?.numSerie }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Técnico de Campo
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ rat?.tecnico?.nome }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Tel. Técnico
                            </div>
                
                            <div class="truncate max-w-1/2">
                                {{ rat?.tecnico?.fonePerto }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Relato do Cliente
                            </div>
                
                            <div class="max-w-1/2 text-right">
                                {{ os?.defeitoRelatado }}
                            </div>
                        </div>

                        <div class="flex items-center justify-between py-1">
                            <div class="text-secondary">
                                Relato do Técnico
                            </div>
                
                            <div class="max-w-1/2 text-right">
                                {{ rat?.relatoSolucao }}
                            </div>
                        </div>
                    </div>
                </fuse-card>
            </div>
        </div>
    </div>
</div>