<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/suporte-stn">
                        Atendimentos
                    </a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ !isAddMode ? t('atualizando') : t('criando') }}
                    </span>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="!isAddMode">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codAtendimento }}
                    </span>
                </div>
            </div>

            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Atendimento
                </h2>
            </div>
        </div>

        <div class="flex flex-shrink-0 items-center px-4 mt-6 sm:mt-0 sm:ml-4">
            <div class="flex items-center justify-end">
                <mat-form-field *ngIf="!validarStatus() && !os"
                    class="fuse-mat-dense fuse-mat-no-subscript min-w-50 px-4">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #codOSInputControl placeholder="Digite a OS..." [autocomplete]="'off'">
                </mat-form-field>

                <button class="fuse-mat-button-rounded px-4 bg-gray-100" mat-flat-button *ngIf="laudo"
                    [matTooltip]="'Ir para Laudo'" [routerLink]="['/suporte-stn/laudo/form/' + laudo.codLaudo]">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                </button>

                <button class="ml-3 px-4" mat-icon-button matTooltip="{{ t('nova tratativa') }}" (click)="criar()"
                    *ngIf="!validarStatus() && os">
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                </button>

            </div>
        </div>
    </div>

    <div class="flex-auto mt-4 sm:mt-6" *transloco="let t" [hidden]="!os">
        <div class="w-full max-w-screen-xl mx-auto">
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <mat-tab [label]="t('informacoes')">
                    <ng-template matTabContent>
                        <app-ordem-servico-stn-form-informacao
                            [codOS]="os?.codOS" *ngIf="os?.codOS"></app-ordem-servico-stn-form-informacao>
                    </ng-template>
                </mat-tab>

                <mat-tab *ngIf="validarStatus()" [label]="t('atendimento')">
                    <ng-template matTabContent>
                        <app-ordem-servico-stn-form-atendimento
                            *ngIf="atendimento"
                            [codAtendimento]="atendimento?.codAtendimento"></app-ordem-servico-stn-form-atendimento>
                    </ng-template>
                </mat-tab>

                <mat-tab [label]="t('historico')">
                    <ng-template matTabContent>
                        <app-ordem-servico-stn-form-historico
                            [codAtendimento]="atendimento?.codAtendimento"></app-ordem-servico-stn-form-historico>
                    </ng-template>
                </mat-tab>

                <mat-tab [label]="t('oss do equipamento')">
                    <ng-template matTabContent>
                        <app-ordem-servico-stn-form-historico-os [codOS]="os?.codOS"
                            [codEquipContrato]="os?.codEquipContrato"></app-ordem-servico-stn-form-historico-os>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>