<fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" *transloco="let t">
    <div class="text-lg font-medium mt-2"> {{t('mao de obra') }}</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">{{ t("valor hora tecnica") }}</div>
            <div class="truncate max-w-1/2">
                {{ orcamento?.maoDeObra?.valorHoraTecnica | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">{{ t("previsao horas") }}</div>
            <div class="truncate max-w-1/2"> {{ orcamento?.maoDeObra?.previsaoHoras }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">{{ t("valor total") }}</div>
            <div class="truncate max-w-1/2">{{ orcamento?.maoDeObra?.valorTotal | currency:'BRL':'symbol-narrow' }}
            </div>
        </div>
    </div>
</fuse-card>