<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/local-atendimento">
                        {{ t('locais de atendimento') }}
                    </a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ isAddMode ? t('novo') : t('atualizando') }}
                    </span>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="codPosto">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codPosto }}
                    </span>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('local de atendimento') }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-4xl">
            <form autocomplete="off" [formGroup]="form" class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('informacoes principais') }}</p>
                </div>

                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
                    <mat-form-field class="fuse-mat-dense sm:col-span-12">
                        <mat-label>{{ t('nome') }}</mat-label>
                        <input matInput formControlName="nomeLocal" maxlength="100">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('numero agencia') }}</mat-label>
                        <input matInput formControlName="numAgencia" mask="00000">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('dc posto') }}</mat-label>
                        <input matInput formControlName="dcPosto" mask="AA">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('cliente') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codCliente" [disabled]="!clientes?.length">
                            <mat-option *ngFor="let cliente of clientes" [value]="cliente.codCliente">
                                {{ cliente.nomeFantasia }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('filial') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codFilial" [disabled]="!filiais?.length">
                            <mat-option *ngFor="let filial of filiais" [value]="filial.codFilial">
                                {{ filial.nomeFilial }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('tipo de rota') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codTipoRota" [disabled]="!tiposRota?.length">
                            <mat-option *ngFor="let tipoRota of tiposRota" [value]="tipoRota.codTipoRota">
                                {{ tipoRota.nomeTipoRota }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('distancia pat res') }}</mat-label>
                        <input matInput formControlName="distanciaKmPatRes" type="number">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('localizacao') }}</p>
                </div>

                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('pais') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codPais" [disabled]="!paises?.length">
                            <mat-option *ngFor="let pais of paises" [value]="pais.codPais">
                                {{ pais.nomePais }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('unidade federativa') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codUF" [disabled]="!ufs?.length">
                            <mat-option *ngFor="let uf of ufs" [value]="uf.codUF">
                                {{ uf.siglaUF }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('cidade') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codCidade" [disabled]="!cidades?.length">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="cidadesFiltro" placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let cidade of cidades" [value]="cidade.codCidade">
                                <span>
                                    {{ (cidade.nomeCidade || t('nao informado')) | titlecase }}
                                </span>

                                <span class="opacity-50">
                                    {{ cidade.unidadeFederativa.nomeUF | titlecase }}
                                </span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('cep') }}</mat-label>
                        <input matInput formControlName="cep" [dropSpecialCharacters]="false" mask="00000-000">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-9">
                        <mat-label>{{ t('endereco') }}</mat-label>
                        <input matInput formControlName="endereco" maxlength="100">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('numero') }}</mat-label>
                        <input matInput formControlName="numeroEnd" maxlength="100">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('endereco complemento') }}</mat-label>
                        <input matInput formControlName="enderecoComplemento" maxlength="50">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('bairro') }}</mat-label>
                        <input matInput formControlName="bairro" maxlength="50">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('latitude') }}</mat-label>
                        <input matInput formControlName="latitude" maxlength="40">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('longitude') }}</mat-label>
                        <input matInput formControlName="longitude" maxlength="40">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('informacoes complementares') }}</p>
                </div>
                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('cnpj') }}</mat-label>
                        <input matInput formControlName="cnpj" mask="00.000.000/0000-00">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('cnpj faturamento') }}</mat-label>
                        <input matInput formControlName="cnpjFaturamento" mask="00.000.000/0000-00">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('inscricao estadual') }}</mat-label>
                        <input matInput formControlName="inscricaoEstadual" maxlength="40">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email" maxlength="50">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>Site</mat-label>
                        <input matInput formControlName="site" maxlength="50">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('fone') }}</mat-label>
                        <input matInput formControlName="fone" mask="(00) 00000-0000">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('observacao') }}</mat-label>
                        <input matInput formControlName="observacao" maxlength="100">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('descricao turno') }}</mat-label>
                        <input matInput formControlName="descTurno" maxlength="50">
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('opcoes') }}</p>
                </div>
                <div class="p-8">
                    <div class="flex flex-col gt-xs:flex-row">
                        <div class="flex flex-col">
                            <mat-checkbox class="mb-1" [color]="'primary'"
                                [formControlName]="'indAtivo'">
                                {{ t('ativo') }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

                <div *ngIf="!form.valid">
                    <app-formulario-erros [form]="form"></app-formulario-erros>
                </div>

                <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button [routerLink]="['/local-atendimento']" mat-button>
                        {{ t('cancelar') }}
                    </button>

                    <a class="px-6" mat-button [color]="'warn'" (click)="deletar()" *ngIf="!isAddMode">
                        {{ t('remover') }}
                    </a>

                    <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form.valid">
                        <span *ngIf="!form.disabled">
                            {{ t('salvar') }}
                        </span>
                        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>