<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ tituloPagina }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="!chamado?.rats[0]?.assinaturaCliente && paginaOrigem == 'RAT_CLIENTE'">
    <ion-item>
      <h2>Conferir Preenchimento</h2>
      <p>Deseja conferir as informações?</p>
      <button ion-button clear item-end (click)="telaChamadoConf()">SIM</button>
      <button ion-button clear item-end color="secondary">NÃO</button>
    </ion-item>
  </ion-list>

  <p class="p-msg">Realize sua assinatura no espaço demarcado</p>

  <div class="signature">
    <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
  </div>

  <form #fDadosCliente="ngForm" (ngSubmit)="salvarAssinatura(fDadosCliente)" class="form">
    <ion-list>
      <ion-item *ngIf="!chamado?.rats[0]?.assinaturaCliente && paginaOrigem == 'RAT_CLIENTE'">
        <ion-label stacked>E-mail do Cliente</ion-label>
        <ion-input
          type="text"
          name="emailCliente" 
          [placeholder]="chamado?.rats[0]?.emailCliente || 'Digite seu e-mail para avaliar o atendimento'" 
          [ngModel]="chamado?.rats[0]?.emailCliente">
        </ion-input>
      </ion-item>

      <p class="p-msg-2" *ngIf="!chamado?.rats[0]?.assinaturaCliente && paginaOrigem == 'RAT_CLIENTE'">Obrigado por participar. Sua avaliação vai nos ajudar a obter os melhores resultados.</p>

      <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button ion-button full color="light" (click)="limparAssinatura()" type="button">Limpar</button>
            </ion-col>

            <ion-col col-6>
                <button
                color="secondary"
                ion-button 
                block
                [disabled]="!fDadosCliente.valid">
                Salvar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-list>
  </form>
</ion-content>