<table class="w-full table-auto text-md font-medium tracking-tight bg-card" *ngIf="!loading">
    <thead class="text-center">
        <tr>
            <th class="text-left">Técnico</th>
            <th>Filial</th>
            <th>SPA (%)</th>
            <th>Atendimentos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of desempenhoTecnicosModel" class="text-center">
            <td class="border-t text-left">{{data.tecnico}}</td>
            <td class="border-t">{{data.filial}}</td>
            <td class="border-t">{{data.spa| number:'1.1-1'}}%</td>
            <td class="border-t">{{data.qtdAtendimentos}}</td>
        </tr>
    </tbody>
</table>

<div class="flex justify-center items-center" *ngIf="loading">
    <div class="">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>