<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex flex-auto items-center min-w-0" *transloco="let t">
            <div class="flex-1 min-w-0">
                <div class="flex flex-wrap items-center font-medium">
                    <div *ngIf="userSession.usuario.codPerfil !== 35">
                        <a class="whitespace-nowrap text-primary-500" [routerLink]="'/ponto/colaboradores/' + codPontoPeriodo">
                            {{ t('ponto colaboradores') }}
                        </a>
                    </div>
                    <div *ngIf="userSession.usuario.codPerfil === 35">
                        <a class="whitespace-nowrap text-primary-500" [routerLink]="'/ponto/periodos'">
                            {{ t('periodos') }}
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">{{ t('ponto horarios') }}</span>
                    </div>
                </div>

                <div class="mt-2">
                    <h2
                        class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        {{ usuario?.nomeUsuario || 'Carregando...' | titlecase }}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-relatorios z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear *transloco="let t">
                            <div>
                                {{ t('data') }}
                            </div>

                            <div>
                                {{ t('status') }}
                            </div>

                            <div>
                                {{ t('semana') }}
                            </div>

                            <div>
                                {{ t('marcacoes') }}
                            </div>

                            <div>
                                {{ t('he') }}
                            </div>

                            <div>
                                {{ t('divergencias') }}
                            </div>

                            <div>
                                {{ t('acoes') }}
                            </div>
                        </div>

                        <ng-container>
                            <ng-container *ngFor="let data of dataSourceData?.items">
                                <div
                                    class="list-grid-relatorios grid items-center h-auto pt-3 gap-4 py-3 px-12 text-sm md:px-8 border-b hover:bg-gray-100">

                                    <div class="truncate font-semibold">
                                        {{ data.dataRegistro | date:'dd/MM/yyyy' }}
                                    </div>

                                    <div class="truncate">
                                        <span
                                            class="py-1 px-2 rounded text-white"
                                            [class.bg-green-600]="data.pontoUsuarioDataStatus?.descricao === 'Conferido'"
                                            [class.bg-black]="data.pontoUsuarioDataStatus?.descricao === 'Nenhum horário registrado'"
                                            [class.bg-red-600]="data.pontoUsuarioDataStatus?.descricao === 'Inconsistente'"
                                            [class.bg-blue-600]="data.pontoUsuarioDataStatus?.descricao === 'Aguardando Conferência'">
                                            {{ data.pontoUsuarioDataStatus?.descricao }}
                                        </span>
                                    </div>

                                    <div class="truncate">
                                        {{ data.dataRegistro | date:'EEEE' | titlecase }}
                                    </div>

                                    <div class="font-semibold">
                                        <span class="ml-2" *ngFor="let ponto of data.pontosUsuario">
                                            {{ ponto.dataHoraRegistro | date:'HH:mm' }}
                                        </span>
                                    </div>

                                    <div class="truncate">
                                        {{ data.horasExtras || '--:--' }}
                                    </div>

                                    <div class="truncate">
                                        <div class="ml-2">
                                            <span *ngIf="data.divergencias.length && !data.divergencias[data.divergencias.length-1]?.pontoUsuarioDataModoDivergencia?.divergenciaValidada"
                                                [matTooltip]="obterDivergenciasTooltip(data)"
                                                matTooltipPosition="above">
                                                <span class="font-semibold">
                                                    {{ data?.divergencias[data?.divergencias.length-1]?.pontoUsuarioDataModoDivergencia?.descricao == 'Divergência Manual' ? 'Conferente' : 'Automático' }} :
                                                </span>

                                                <span>{{ data?.divergencias[data?.divergencias.length-1]?.pontoUsuarioDataMotivoDivergencia?.descricao }}</span>
                                            </span>
                                        </div>

                                        <div class="ml-2 text-gray-400" *ngIf="!data.divergencias.length">
                                            Nenhuma
                                        </div>
                                    </div>

                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2"
                                            mat-stroked-button
                                            [matTooltip]="'Conferir'"
                                            matTooltipPosition="above"
                                            (click)="conferir(data)"
                                            *ngIf="userSession.usuario.codPerfil !== 35"
                                            [disabled]="data.codPontoUsuarioDataStatusAcesso == 1 || data.codPontoUsuarioDataStatus == 2">
                                            <mat-icon
                                                class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        </button>

                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 ml-2"
                                            mat-stroked-button
                                            [matTooltip]="'Informar Inconsistência'"
                                            matTooltipPosition="above"
                                            (click)="informarInconsistencia(data)"
                                            *ngIf="userSession.usuario.codPerfil !== 35"
                                            [disabled]="data.codPontoUsuarioDataStatusAcesso == 1 || data.codPontoUsuarioDataStatus == 1">
                                            <mat-icon
                                                class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                        </button>

                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 ml-2"
                                            mat-stroked-button
                                            [matTooltip]="'Ver RATs'"
                                            matTooltipPosition="above"
                                            (click)="visualizarRelatoriosAtendimento(data.dataRegistro, data.codUsuario)"
                                            *ngIf="userSession.usuario.codPerfil !== 35">
                                            <mat-icon
                                                class="icon-size-5 text-gray-600"
                                                [svgIcon]="'heroicons_solid:clipboard'"></mat-icon>
                                        </button>

                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 ml-2"
                                            mat-stroked-button
                                            [matTooltip]="'Corrigir'"
                                            matTooltipPosition="above"
                                            (click)="corrigirRegistros(data)"
                                            [disabled]="data.pontoUsuarioDataStatus?.descricao !== 'Inconsistente'"
                                            *ngIf="userSession.usuario.codPerfil === 35">
                                            <mat-icon
                                                class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div *ngIf="!dataSourceData?.items.length && !isLoading"
                        class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">Nenhum Registro Encontrado</div>

                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="50" [pageSizeOptions]="[50]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>