<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160" [position]="'end'" #sidenav>
        <app-laboratorio-processo-reparo-filtro [sidenav]="sidenav"></app-laboratorio-processo-reparo-filtro>
    </mat-drawer>

    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
        *transloco="let t">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">
                {{ t('processo de reparo') }}
            </div>

            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50 ml-4"
                    *ngIf="!isPerfilTecnico()">
                    <mat-select placeholder="Técnico" [disabled]="!toggleTranferencia()">
                        <mat-option *ngFor="let usuario of usuariosTecnicos" [value]="usuario.codUsuario">
                            {{ usuario.nomeUsuario | uppercase }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button class="ml-6" *transloco="let t" mat-icon-button matTooltip="{{ t('novo') }}"
                    [routerLink]="['/processo-reparo/form']">
                    <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                </button>

                <button class="ml-4" mat-icon-button matTooltip="{{ t('exportar') }}" (click)="exportar()"
                    *ngIf="dataSourceData?.items.length">
                    <mat-icon class="text-blue-500" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                </button>

                <button class="ml-4" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-y-auto uppercase">
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-reparo z-99 sticky top-0 grid gap-4 pt-3 pb-1 px-6 md:px-8 shadow text-sm font-semibold text-secondary border-b-1 bg-gray-50"
                            matSort matSortDisableClear *transloco="let t">
                            <div class="text-left" [mat-sort-header]="'codOR'">
                                {{ t('codigo') }}
                            </div>

                            <div class="text-center">
                                {{ t('item') }}
                            </div>

                            <div class="text-left">
                                {{ t('peca') }}
                            </div>

                            <div class="text-left">
                                {{ t('descricao') }}
                            </div>

                            <div class="text-center">
                                {{ t('status') }}
                            </div>

                            <div class="text-left">
                                {{ t('serie') }}
                            </div>

                            <div class="text-left">
                                {{ t('cadastro') }}
                            </div>

                            <div class="text-center">
                                {{ t('filial') }}
                            </div>

                            <div class="text-center">
                                {{ t('dias') }}
                            </div>

                            <div class="text-left">
                                {{ t('usuario') }}
                            </div>

                            <div class="text-left">
                                <mat-slide-toggle *ngIf="!isPerfilTecnico()" color="primary" (change)="toggleSelecionarTodos($event)"></mat-slide-toggle>
                            </div>

                            <div class="text-center">
                                {{ t('acoes') }}
                            </div>
                        </div>

                        <ng-container>
                            <ng-container *ngFor="let item of dataSourceData?.items; let i=index">
                                <div
                                    class="list-grid-reparo z-10 grid items-center h-11 py-1 gap-4 px-6 text-sm md:px-8 border-b">
                                    <div class="text-left">
                                        {{ item.codOR }}
                                    </div>

                                    <div class="text-center">
                                        {{ item.codORItem }}
                                    </div>

                                    <div class="text-left">
                                        <span class="cursor-help" [matTooltip]="item?.peca?.nomePeca">
                                            {{ item?.peca?.codMagnus || '--' }}
                                        </span>
                                    </div>

                                    <div class="text-left truncate">
                                        {{ item?.peca?.nomePeca || '--' }}
                                    </div>

                                    <div class="text-center">
                                        <span class="py-1 px-2 rounded cursor-help font-semibold {{ obterCorStatus(item.codStatus) }}"
                                            [matTooltip]="item?.statusOR?.descStatus">
                                            {{ item?.statusOR?.abrev || '--' }}
                                        </span>
                                    </div>

                                    <div class="text-left">
                                        {{ item?.numSerie || '--' }}
                                    </div>

                                    <div class="text-left">
                                        {{ item?.dataHoraCad | date:'dd/MM HH:mm' }}
                                    </div>

                                    <div class="text-center">
                                        {{ item?.ordemServico?.filial?.nomeFilial || '--' }}
                                    </div>

                                    <div class="text-center font-semibold" [matTooltip]="item?.diasEmReparo + ' dias em reparo'">
                                        {{ item?.diasEmReparo }}
                                    </div>
                                    
                                    <div class="text-left">
                                        {{ item?.usuarioTecnico?.nomeUsuario?.split(' ')[0] || '--' }}
                                    </div>

                                    <div class="flex-auto">
                                        <mat-slide-toggle *ngIf="!isPerfilTecnico()" color="primary" [(ngModel)]="item.selecionado"></mat-slide-toggle>
                                    </div>

                                    <div class="text-center -pt-1">
                                        <button (click)="abrirForm(item)" mat-icon-button matTooltip="{{ t('editar') }}">
                                            <mat-icon class="text-blue-500" [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </button>

                                        <button (click)="abrirHistorico(item)" mat-icon-button matTooltip="{{ t('historico') }}">
                                            <mat-icon class="text-indigo-500" [svgIcon]="'heroicons_outline:database'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div *ngIf="!dataSourceData?.items.length && !isLoading"
                        class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                        Nenhuma ordem de reparo encontrada!
                    </div>

                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </div>
        </div>
    </div>
</mat-drawer-container>