<form autocomplete="off" class="p-1 bg-card rounded" [formGroup]="form" *transloco="let t">
    <mat-horizontal-stepper [linear]="true" #horizontalStepper>
        <mat-step [formGroupName]="'step1'" [stepControl]="form.get('step1')" #horizontalStepperStep1>
            <ng-template matStepLabel>Tipo de despesa</ng-template>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pr-3 mt-2">
                    <mat-select formControlName="codDespesaTipo" required>
                        <mat-option *ngFor="let tipo of tiposDespesa" [value]="tipo.codDespesaTipo">
                            {{ tipo.nomeTipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex justify-end">
                <button class="px-8" mat-flat-button [color]="'primary'"
                    [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                    type="button" matStepperNext (click)="onProximo()">
                    {{ t('proximo') }}
                </button>
            </div>
        </mat-step>

        <mat-step [formGroupName]="'step2'" [stepControl]="form.get('step2')" #horizontalStepperStep2>
            <ng-template matStepLabel>Dados</ng-template>
            <div class="flex flex-col gt-xs:flex-row">
                <div class="flex flex-col fuse-mat-dense gt-xs:flex-row" *ngIf="!isQuilometragem()">

                    <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pr-3">
                        <input matInput [formControlName]="'notaFiscal'" [placeholder]="'Nota Fiscal'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:finger-print'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pl-3">
                        <input matInput [formControlName]="'valor'" [placeholder]="'Valor'" mask="separator.2"
                            thousandSeparator="." decimalMarker="," prefix="R$" autocomplete="off"
                            [dropSpecialCharacters]="true" required>
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'">
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-row justify-between fuse-mat-dense space-x-4" *ngIf="isQuilometragem()">
                    <div class="min-w-1/2">
                        <div class="w-full text-center mt-4 text-2xl">Origem</div>

                        <div class="flex-auto fuse-mat-dense space-x-4 w-full my-4 p-2 text-center min-h-10">
                            <div *ngIf="flagOrigens == true">
                                <label>
                                    <input type="radio" value="residencial" formControlName="localInicioDeslocamento">
                                    <span>{{ t('residencia') }}</span>
                                </label>

                                <label class="ml-2">
                                    <input type="radio" value="hotel" formControlName="localInicioDeslocamento">
                                    <span>{{ t('hotel') }}</span>
                                </label>
                            </div>
                        </div>

                        <mat-form-field class="flex-auto fuse-mat-dense w-full">
                            <input matInput [formControlName]="'enderecoOrigem'" [placeholder]="'Endereço'">
                        </mat-form-field>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'bairroOrigem'" [placeholder]="'Bairro'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'cidadeOrigem'" [placeholder]="'Cidade'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'ufOrigem'" [placeholder]="'UF'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" readonly="true" [formControlName]="'latitudeOrigem'"
                                    [placeholder]="'Latitude'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" readonly="true" [formControlName]="'longitudeOrigem'"
                                    [placeholder]="'Longitude'">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="min-w-1/2">
                        <div class="w-full text-center mt-4 text-2xl">Destino</div>

                        <div class="flex-auto fuse-mat-dense space-x-4 w-full my-4 p-2 text-center min-h-10">
                            <div *ngIf="flagDestinos == true">
                                <label>
                                    <input type="radio" value="residencial" formControlName="localDestinoDeslocamento">
                                    <span>{{ t('residencia') }}</span>
                                </label>

                                <label class="ml-2">
                                    <input type="radio" value="hotel" formControlName="localDestinoDeslocamento">
                                    <span>{{ t('hotel') }}</span>
                                </label>
                            </div>
                        </div>

                        <mat-form-field class="flex-auto fuse-mat-dense w-full">
                            <input matInput [formControlName]="'enderecoDestino'" [placeholder]="'Endereço'">
                        </mat-form-field>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'bairroDestino'" [placeholder]="'Bairro'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between  fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'cidadeDestino'" [placeholder]="'Cidade'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput [formControlName]="'ufDestino'" [placeholder]="'UF'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between  fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" readonly="true" [formControlName]="'latitudeDestino'"
                                    [placeholder]="'Latitude'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" readonly="true"
                                    [formControlName]="'longitudeDestino'" [placeholder]="'Longitude'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-1/2 my-3">
                    <mat-form-field class="flex-auto fuse-mat-dense w-1/2" *ngIf="isQuilometragem()">
                        <input matInput type="number" min="0" [formControlName]="'quilometragem'"
                            [placeholder]="'Quilometragem'">
                    </mat-form-field>
                </div>

            </div>
            <div class="flex justify-end">
                <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                    Voltar
                </button>

                <button class="px-8" mat-flat-button [color]="'primary'"
                    [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                    type="button" (click)="revisar()" matStepperNext>
                    Próximo
                </button>
            </div>
        </mat-step>

        <mat-step [formGroupName]="'step3'" [stepControl]="form.get('step3')" #horizontalStepperStep3>
            <ng-template matStepLabel>Revisão</ng-template>

            <div class="flex justify-center items-center mt-2" *ngIf=" isValidating">
                <mat-progress-spinner diameter="50" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>

            <div *ngIf="!isQuilometragem() && !isValidating">
                <p class="my-2 font-medium">Revisão</p>
                <p>Tipo de despesa: {{ obterTipoDespesa() }} </p>
                <p>Nota fiscal: {{ this.form.value.step2.notaFiscal ?? "Não informada" }} </p>
                <p>Valor da despesa: {{ this.form.value.step2.valor | currency:'BRL':'symbol-narrow' }} </p>

                <div class="mt-4" *ngIf="this.form.value.step2.codDespesaItemAlerta != 0">
                    <p class="font-semibold">Atenção!</p>
                    <p class="font-medium mb-1">{{ obterMensagemAlerta() }}</p>
                    <mat-form-field class="flex-auto fuse-mat-dense w-full">
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            [formControlName]="'obs'"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="isQuilometragem() && !isValidating">
                <p class="my-2 font-medium">Revisão</p>
                <p>Tipo de despesa: {{ obterTipoDespesa() }}</p>
                <p>Quilometragem informada: {{ this.form.value.step2.quilometragem + "km" }}</p>
                <p>Valor da despesa: {{ calculaConsumoCombustivel() | currency:'BRL':'symbol-narrow' }}</p>

                <div class="mt-4" *ngIf="this.form.value.step2.codDespesaItemAlerta != 0">
                    <p class="font-semibold">Atenção!</p>
                    <p class="font-medium mb-1">{{ obterMensagemAlerta() }}</p>
                    <mat-form-field class="flex-auto fuse-mat-dense w-full">
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            [formControlName]="'obs'"></textarea>
                    </mat-form-field>
                </div>
                <div class="hidden" id="map"></div>
            </div>

            <div class="flex justify-end mt-8">
                <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                    {{ t('voltar') }}
                </button>

                <button *ngIf="this.form.value.step2.codDespesaItemAlerta == 0 || verificarObservacaoVazia(this.form.value.step3.obs)" class="px-8" mat-flat-button [disabled]="horizontalStepperStep3.stepControl.invalid"
                    [color]="'primary'" [disabled]="loading" type="button" (click)="salvar()">
                    {{ t('salvar') }}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>