<form class="p-1 bg-card shadow rounded" [formGroup]="despesaItemForm">
    <mat-horizontal-stepper [linear]="true" #horizontalStepper>
        <mat-step [formGroupName]="'step1'" [stepControl]="despesaItemForm.get('step1')" #horizontalStepperStep1>
            <ng-template matStepLabel>Tipo de despesa</ng-template>
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pr-3">
                    <mat-select formControlName="codDespesaTipo" required>
                        <mat-option *ngFor="let tipo of tiposDespesa" [value]="tipo.codDespesaTipo">
                            {{ tipo.nomeTipo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex justify-end">
                <button class="px-8" mat-flat-button [color]="'primary'"
                    [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                    type="button" matStepperNext (click)="configuraCamposObrigatorios()">
                    Próximo
                </button>
            </div>
        </mat-step>

        <mat-step [formGroupName]="'step2'" [stepControl]="despesaItemForm.get('step2')" #horizontalStepperStep2>
            <ng-template matStepLabel>Dados</ng-template>
            <div class="flex flex-col gt-xs:flex-row">
                <div class="flex flex-col  fuse-mat-dense gt-xs:flex-row" *ngIf="!isQuilometragem()">

                    <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pr-3">
                        <input matInput autocomplete="off" [formControlName]="'notaFiscal'"
                            [placeholder]="'Nota Fiscal'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:finger-print'"></mat-icon>
                    </mat-form-field>

                    <mat-form-field class="flex-auto fuse-mat-dense gt-xs:pl-3">
                        <input matInput [formControlName]="'valor'" [placeholder]="'Valor'" mask="separator.2"
                            thousandSeparator="." decimalMarker="," prefix="R$" autocomplete="off"
                            [dropSpecialCharacters]="true" required>
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'">
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-row justify-between fuse-mat-dense space-x-4" *ngIf="isQuilometragem()">

                    <div class="min-w-1/2">
                        <div class="mb-1">Origem</div>

                        <div class="flex-auto fuse-mat-dense space-x-4 w-full p-2">
                            <label>
                                <input type="radio" value="residencial" formControlName="localInicoDeslocamento">
                                <span>Residência</span>
                            </label>
                            <label>
                                <input type="radio" value="hotel" formControlName="localInicoDeslocamento">
                                <span>Hotel</span>
                            </label>
                        </div>

                        <mat-form-field class="flex-auto fuse-mat-dense w-full">
                            <input matInput autocomplete="off" [formControlName]="'enderecoOrigem'"
                                [placeholder]="'Endereço'">
                        </mat-form-field>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'bairroOrigem'"
                                    [placeholder]="'Bairro'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'complementoOrigem'"
                                    [placeholder]="'Complemento'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'numeroOrigem'"
                                    [placeholder]="'Número'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'cidadeOrigem'"
                                    [placeholder]="'Cidade'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'ufOrigem'" [placeholder]="'UF'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'paisOrigem'"
                                    [placeholder]="'País'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'latitudeOrigem'"
                                    [placeholder]="'Latitude'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'longitudeOrigem'"
                                    [placeholder]="'Longitude'">
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="min-w-1/2">
                        <div class="mb-1">Destino</div>

                        <div class="flex-auto space-x-4 w-full p-2">
                            <label>
                                <span></span>
                            </label>
                            <label>
                                <span></span>
                            </label>
                        </div>

                        <mat-form-field class="flex-auto fuse-mat-dense w-full">
                            <input matInput autocomplete="off" [formControlName]="'enderecoDestino'"
                                [placeholder]="'Endereço'">
                        </mat-form-field>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'bairroDestino'"
                                    [placeholder]="'Bairro'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'complementoDestino'"
                                    [placeholder]="'Complemento'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between  fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'numeroDestino'"
                                    [placeholder]="'Número'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'cidadeDestino'"
                                    [placeholder]="'Cidade'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'ufDestino'" [placeholder]="'UF'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'paisDestino'"
                                    [placeholder]="'País'">
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row justify-between  fuse-mat-dense space-x-4 w-full">
                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'latitudeDestino'"
                                    [placeholder]="'Latitude'">
                            </mat-form-field>

                            <mat-form-field class="flex-auto fuse-mat-dense w-1/2">
                                <input matInput autocomplete="off" [formControlName]="'longitudeDestino'"
                                    [placeholder]="'Longitude'">
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="flex flex-row justify-between fuse-mat-dense space-x-4 w-1/2">
                    <mat-form-field class="flex-auto fuse-mat-dense w-1/2" *ngIf="isQuilometragem()">
                        <input matInput autocomplete="off" type="number" min="0" [formControlName]="'quilometragem'"
                            [placeholder]="'Quilometragem'">
                    </mat-form-field>
                </div>

            </div>
            <div class="flex justify-end">
                <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                    Voltar
                </button>
                <button class="px-8" mat-flat-button [color]="'primary'"
                    [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                    type="button" matStepperNext>
                    Próximo
                </button>
            </div>
        </mat-step>

        <mat-step [formGroupName]="'step3'" [stepControl]="despesaItemForm.get('step3')" #horizontalStepperStep3>
            <ng-template matStepLabel>Revisão</ng-template>

            <div *ngIf="!isQuilometragem()">
                <p class="my-2 font-medium">Revisão</p>
                <p>Tipo de despesa: {{ obterTipoDespesa() }} </p>
                <p>Nota fiscal: {{ this.despesaItemForm.value.step2.notaFiscal ?? "Não informada" }} </p>
                <p>Valor da despesa: {{ this.despesaItemForm.value.step2.valor | currency:'BRL':'symbol-narrow' }} </p>
            </div>
            <div class="flex flex-row justify-between space-x-4" *ngIf="isQuilometragem()">
            </div>

            <div class="flex justify-end mt-8">
                <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
                    Voltar
                </button>
                <button class="px-8" mat-flat-button [color]="'primary'" type="button" (click)="confirmar()">
                    Concluir
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</form>