<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-instalacao-filtro [sidenav]="sidenav"></app-instalacao-filtro>
    </mat-drawer>
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <div class="flex flex-auto items-center min-w-0">
                <div class="flex-1 min-w-0" *transloco="let t">
                    <div class="flex flex-wrap items-center font-medium">
                        <div>
                            <a class="whitespace-nowrap text-primary-500"
                                [routerLink]="'/instalacao/lote/' + codContrato">
                                {{ t('lotes') }}
                            </a>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="codContrato">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">
                                {{ t('contrato') }}
                            </span>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="codContrato">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">
                                {{ contrato?.nroContrato }}
                            </span>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="codInstalLote">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">
                                {{ t('lote') }}
                            </span>
                        </div>
                        <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="codInstalLote">
                            <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                            </mat-icon>
                            <span class="ml-1 text-secondary">
                                {{ instalacaoLote?.nomeLote }}
                            </span>
                        </div>
                    </div>

                    <div class="mt-2">
                        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            {{ t('instalacoes') }}
                        </h2>
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4" *transloco="let t">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
                    </mat-form-field>

                    <button (click)="exportar()" class="ml-4" *transloco="let t" mat-icon-button
                        matTooltip="{{ t('exportar') }}">
                        <mat-icon class="text-blue-500	" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                    </button>

                    <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>

                    <button class="ml-4" mat-icon-button matTooltip="Edição" (click)="editar()"
                        [disabled]="!verificarExistemItensSelecionados()">
                        <mat-icon class="text-green-600" [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    </button>

                    <button class="ml-4" mat-icon-button matTooltip="Abrir Chamados"
                        (click)="confirmarAberturaChamados()" [disabled]="!verificarExistemItensSelecionados()">
                        <mat-icon class="text-green-600" [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid" *transloco="let t">
                            <div class="list-grid-instalacao z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div class="md:block" [mat-sort-header]="'codInstalacao'">
                                    {{ t('codigo') }}
                                </div>

                                <div class="md:block">
                                    {{ t('filial') }}
                                </div>

                                <div class="md:block">
                                    {{ t('tipo novo') }}
                                </div>

                                <div class="flex">
                                    {{ t('serie') }}
                                </div>

                                <div class="flex">
                                    {{ t('prefixo sb') }}
                                </div>

                                <div class="flex">
                                    {{ t('dependencia') }}
                                </div>

                                <div class="flex">
                                    {{ t('uf') }}
                                </div>

                                <div class="flex">
                                    <span [matTooltip]="t('data da entrega confirmacao')">
                                        {{ t('data') }}
                                    </span>
                                </div>

                                <div class="flex">
                                    {{ t('os') }}
                                </div>

                                <div class="flex">
                                    {{ t('dt instalacao') }}
                                </div>

                                <div class="flex">
                                    {{ t('num bem trade in') }}
                                </div>

                                <div class="text-left">
                                    <mat-slide-toggle class="-mt-1" color="primary"
                                        (change)="toggleSelecionarTodos($event)"></mat-slide-toggle>
                                </div>

                                <div>
                                    {{ t('acoes') }}
                                </div>

                                <div>
                                </div>

                                <div>
                                    {{ t('anexos') }}
                                </div>
                            </div>

                            <ng-container>
                                <ng-container *ngFor="let data of dataSourceData?.items">
                                    <div
                                        class="list-grid-instalacao grid items-center h-11 pt-2 gap-4 py-3 px-12 text-sm md:px-8 border-b hover:bg-gray-100">
                                        <div class="flex items-center">
                                            {{ data.codInstalacao }}
                                        </div>

                                        <div class="flex">
                                            {{ data.filial?.nomeFilial }}
                                        </div>

                                        <div class="flex">
                                            {{ data.equipamento?.nomeEquip }}
                                        </div>

                                        <div class="flex">
                                            {{ data.equipamentoContrato?.numSerie }}
                                        </div>

                                        <div class="flex">
                                            {{ data.localAtendimentoSol?.numAgencia }} / {{
                                            data.localAtendimentoSol?.dcPosto }}
                                        </div>

                                        <div class="flex">
                                            {{ data.localAtendimentoSol?.nomeLocal }}
                                        </div>

                                        <div class="flex">
                                            {{ data.localAtendimentoSol?.cidade?.unidadeFederativa?.siglaUF }}
                                        </div>

                                        <div class="flex">
                                            {{ data.dataHoraChegTranspBT | date:'dd/MM/YYYY' }}
                                        </div>

                                        <div class="flex">
                                            <a class="text-blue-600"
                                                [routerLink]="['/ordem-servico/detalhe/' + data.codOS]">
                                                {{ data.codOS }}
                                            </a>
                                        </div>

                                        <div class="flex">
                                            {{ data.dataBI | date:'dd/MM/YYYY' }}
                                        </div>

                                        <div class="flex">
                                            {{ data.BemTradeIn }}
                                        </div>

                                        <div class="flex-auto">
                                            <mat-slide-toggle color="primary" [(ngModel)]="data.selecionado">
                                            </mat-slide-toggle>
                                        </div>

                                        <div class="text-center -pt-1">
                                            <button (click)="alternarDetalhe(data.codInstalacao)">
                                                <mat-icon mat-icon-button matTooltip="{{ t('editar') }}"
                                                    [svgIcon]="instalacaoSelecionada?.codInstalacao === data.codInstalacao ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                                </mat-icon>
                                            </button>

                                            <button class="ml-2" (click)="abrirRessalvas(data.codInstalacao)">
                                                <mat-icon mat-icon-button matTooltip="{{ t('ressalvas') }}"
                                                    [svgIcon]="'heroicons_outline:clipboard'">
                                                </mat-icon>
                                            </button>
                                        </div>

                                        <div>
                                            <button class="ml-2" (click)="excluir(data.codInstalacao)">
                                                <mat-icon mat-icon-button matTooltip="{{ t('excluir') }}"
                                                    [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>

                                        <div>
                                            <button class="ml-2" (click)="abrirPaginaAnexo(data)">
                                                <mat-icon mat-icon-button matTooltip="{{ t('anexos') }}"
                                                    [svgIcon]="'heroicons_outline:paper-clip'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <ng-container
                                            *ngIf="instalacaoSelecionada?.codInstalacao === data.codInstalacao">
                                            <ng-container
                                                *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: instalacaoSelecionada}">
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <mat-paginator [hidden]="!dataSourceData?.items?.length"
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                            [pageSize]="10" [pageSizeOptions]="[5, 10, 25, dataSourceData?.totalCount]"
                            [showFirstLastButtons]="true" (page)="paginar()">
                        </mat-paginator>
                    </ng-container>
                </ng-container>

                <ng-template class = "overflow-x-visible" #rowDetailsTemplate let-instalacao>
                    <div *transloco="let t">
                        <div class="grid grid-cols-3 px-10 sm:grid-cols-3 md:grid-cols-3 mt-4 border-t border-b divide-y font-medium">

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Código:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.codInstalacao }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Filial:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.filial?.nomeFilial }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Autorizada:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.autorizada?.nomeFantasia }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Região:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.regiao?.nomeRegiao }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Contrato:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.contrato?.nroContrato }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Pedido de Compra:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.pedidoCompra }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Tipo Novo:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.equipamento?.nomeEquip }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Número de Série:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.equipamento?.numSerie }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('PrefixoSB:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.localAtendimentoSol?.numAgencia + '/' +
                                    instalacaoSelecionada?.localAtendimentoSol?.dcPosto }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Dependência:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.localAtendimentoSol?.nomeLocal }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Municipio:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.localAtendimentoSol?.cidade?.nomeCidade }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('UF:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{
                                    instalacaoSelecionada?.localAtendimentoSol?.cidade?.unidadeFederetiva?.siglaUF
                                    }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('NFRemessa:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nfRemessa }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('NFRemessa - Data de Expedicao:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.dataNFRemessa | date:'dd/MM/yy' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Data Entrega Confirmação:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.dataHoraChegTranspBT | date:'dd/MM/yy' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Responsavel pelo Recebimento:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nomeRespBancoBT }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Matricula do Responsavel pelo Recebimento:')
                                    }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.numMatriculaBT }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('NFRemessa Conferida:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nfRemessaConferida }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Ordem Serviço:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.codOS }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('OS Status:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.ordemServico?.statusServico?.nomeStatusServico }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Ag Instalacao:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.localAtendimentoIns?.numAgencia + '/' +
                                    instalacaoSelecionada?.localAtendimentoIns?.dcPosto }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Nome do Local de Instalação:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.localAtendimentoIns?.nomeLocal }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Data Instalação:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.dataBI | date:'dd/MM/yy' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Qtd Parabold:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.qtdParaboldBI }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Equipamento Rebaixado:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.indEquipRebaixadoBI == 1 ? 'Sim' : 'Não' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Responsavel Instalação Banco:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nomeRespBancoBI }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Matricula Responsavel Instalação Banco:') }}
                                </div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.numMatriculaBI }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Termo Aceite:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.indBiorigEnt == 1 ? 'Sim' : 'Não' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Termo Descaracterização:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.termoDescaracterizacao == 1 ? 'Sim' : 'Não' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('NumBemTradeIn:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.bemTradeIn }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Data Retirada BemTradeIn:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.dataRetirada | date:'dd/MM/yy' }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Reponsavel Banco Acompanhamento TradeIn:') }}
                                </div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nomeReponsavelBancoAcompanhamento }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Matricula Resp Banco Acompanhamento Recolhimento:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.numMatriculaRespBancoAcompanhamento }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Fornecedor Compra TradeIn:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.fornecedorCompraTradeIn }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('NF Venda TradeIn:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.nfVendaTradeIn }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('Bordero:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ bordero }}
                                </div>
                            </div>

                            <div [formGroup]="form" class="flex items-center justify-between">
                                <div class="text-secondary px-6">{{ t('RAT Entregue:') }}</div>
                                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                                    {{ instalacaoSelecionada?.indRATOK == 1 ? 'Sim' : 'Não' }}
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</mat-drawer-container>