<div class="min-w-full">
    <div class="flex items-center justify-between">
        <h1 mat-dialog-title>
            Enviar e-mail
        </h1>
        <mat-icon [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
    </div>

    <div class="flex flex-col flex-auto items-center justify-center">
        <div class="flex-auto w-full">
            <form [formGroup]="form" *transloco="let t">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-list #emailList aria-label="E-mails">
                        <mat-chip *ngFor="let email of emails" (removed)="removerEmail(email)">
                            {{ email.address }}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="Novo e-mail..." [matChipInputFor]="emailList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </form>
        </div>
        <div class="mt-4" align="end">
            <button mat-button mat-dialog-close>Cancelar</button>

            <button mat-button [disabled]="!form?.valid" [color]="'primary'" (click)="confirmar()">
                Enviar </button>
        </div>
    </div>
</div>