<div class="min-w-full">
    <h1 mat-dialog-title>
        Enviar e-mail
    </h1>

    <div class="flex flex-col flex-auto items-center justify-center">
        <div class="flex-auto w-full">
            <form [formGroup]="form">
                <mat-form-field class='min-w-full'>
                    <mat-label>E-mails</mat-label>
                    <mat-chip-list class='m-1 p-1' #emailList aria-label="E-mails">
                        <mat-chip *ngFor="let email of emails" (removed)="removerEmail(email)">
                            {{ email }}
                            <button matChipRemove>
                                <mat-icon style='margin-top:-1px; margin-left: -1px;'>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input email='true' placeholder="Novo e-mail..." [matChipInputFor]="emailList"
                            [autocomplete]="'off'" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
                <mat-checkbox class="mb-1" [color]="'primary'" (change)="check($event)" *ngIf="indOrcamento">
                    Incluir Laudo
                </mat-checkbox>
            </form>
        </div>
        <div class="mt-4" align="end">
            <button mat-button mat-dialog-close>Cancelar</button>

            <button mat-button (click)="CopiarEmails()" [disabled]="!emails.length">Copiar Emails</button>

            <button mat-button [disabled]="!emails.length" [color]="'primary'" (click)="confirmar()">
                Enviar
            </button>
        </div>
    </div>
</div>