fotos-page {
    .label-camera-button {
        margin-top: 1px !important;
    }

    .icon-camera-button {
        margin-top: -2px !important;
    }

    .first-divider, .first-item {
        padding-top: 6px !important;
    }
}