<div class="flex-auto" *transloco="let t">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-6 md:px-8 border-b">
        <div class="flex justify-between">
            <div class="text-4xl font-extrabold tracking-tight leading-none mt-2">
                {{ t('filtros') }}
            </div>

            <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <ng-container>
        <form class="flex flex-col bg-card shadow rounded overflow-hidden" [formGroup]="form" *transloco="let t">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-0 overflow-hidden">
                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('filial') }}</mat-label>

                    <mat-select formControlName="codFiliais" multiple="true">
                        <mat-option class="mat-primary fill" (click)="selectAll(form.controls.codFiliais, null,
                            'codFilial')" [value]="0">
                            TODAS
                        </mat-option>
                        <mat-option *ngFor="let filial of filiais" [value]="filial.codFilial">
                            {{ filial.nomeFilial }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="mt-6 border-t"></div>

            <div class="flex items-center justify-start px-8 py-5">
                <button (click)="apply()" [disabled]="!form.valid" mat-button [color]="'primary'">
                    {{ t('aplicar') }}
                </button>

                <button side (click)="clean()" color="warn" mat-button>
                    {{ t('limpar') }}
                </button>
            </div>
        </form>
    </ng-container>
</div>