<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="grid grid-cols-2 justfy-between bg-gray-50 dark:bg-gray-700 p-4 border-b">
        <div class="flex items-center">
            <span class="text-lg font-medium">{{ t('orcamentos') }}</span>
        </div>
        <div class="flex place-content-end">
            <button mat-icon-button [matTooltip]="t('novo')" (click)="criarNovoOrcamento()">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'">
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="flex-auto" *ngIf="!isLoading">
        <div>
            <div class="grid h-100">
                <div class="overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <div class="grid" *ngIf="orcamentos?.length">
                            <div class="list-grid-orcamentos sticky z-10 top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div> {{ t("numero") }} </div>
                                <div> {{ t("motivo") }} </div>
                                <div> {{ t("valor desconto") }} </div>
                                <div> {{ t("valor total") }} </div>
                            </div>
                            <ng-container *ngFor="let orcamento of orcamentos">
                                <a [routerLink]="'/orcamento/detalhe/' + orcamento?.codOrc">
                                    <div
                                        class="list-grid-orcamentos grid items-center h-11 pt-2 gap-4 py-3 px-6 border-b text-sm md:px-8 bg-white hover:bg-gray-100">
                                        <div> {{ orcamento?.numero }} </div>
                                        <div> {{ orcamento?.orcamentoMotivo?.descricao }} </div>
                                        <div> {{ orcamento?.valorTotalDesconto | currency:'BRL':'symbol-narrow' }}</div>
                                        <div> {{ orcamento?.valorTotal | currency:'BRL':'symbol-narrow' }} </div>
                                    </div>
                                </a>
                            </ng-container>
                        </div>
                        <div *ngIf="!orcamentos?.length && !isLoading"
                            class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                            Nenhum orçamento encontrado!
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>