<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    {{ codTicket ?  t('ticket') : t('tickets') }}
                </div>       
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <a class="whitespace-nowrap text-primary" [routerLink]="codTicket ? '/ticket/' + codTicket : ''">
                        {{(t('novo'))}}
                    </a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="!isAddMode">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codTicket }}
                    </span>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('ticket') }}
                </h2>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
        <div class="flex-auto p-6 sm:p-10">
            <div class="max-w-3xl">
                <form class="flex flex-col bg-card shadow rounded overflow-hidden"
                    [formGroup]="form">
    
                    <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                        <p class="text-lg font-medium">{{ t('informacoes principais') }}</p>
                        
                        <div
                        class="grid sm:grid-cols-12 gap-x-6 flex flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
                        <mat-form-field class="fuse-mat-dense sm:col-span-6">
                            <mat-label>{{ t('modulo') }}</mat-label>
    
                            <mat-select class="min-h-10" formControlName="codModulo" >
                                <mat-option *ngFor="let modulo of modulos" [value]="modulo.codModulo">
                                    {{ modulo.descricao }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>

    
                        <mat-form-field class="fuse-mat-dense sm:col-span-6">
                            <mat-label>{{ t('prioridade') }}</mat-label>
    
                            <mat-select class="min-h-10" formControlName="codPrioridade">
                                <mat-option *ngFor="let prioridade of prioridades" [value]="prioridade.codPrioridade">
                                    {{ prioridade.descricao }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="fuse-mat-dense sm:col-span-6">
                            <mat-label>{{ t('status') }}</mat-label>
    
                            <mat-select class="min-h-10" formControlName="codStatus" >
                                <mat-option *ngFor="let stat of status" [value]="stat.codStatus">
                                    {{ stat.descricao }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
    
                        <mat-form-field class="fuse-mat-dense sm:col-span-6">
                            <mat-label>{{ t('classificacao') }}</mat-label>
    
                            <mat-select class="min-h-10" formControlName="codClassificacao">
                                <mat-option *ngFor="let classificacao of classificacoes" [value]="classificacao.codClassificacao">
                                    {{ classificacao.descricao }}
                                </mat-option>
                            </mat-select>
    
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field formControlName= "titulo" class="fuse-mat-dense sm:col-span-12">
                            <mat-label>Titulo</mat-label>
                            <input matInput placeholder="Prencher o titulo">
                          </mat-form-field>
                          <br>
                        <mat-form-field formControlName= "descricao" class="fuse-mat-dense sm:col-span-12">
                              <mat-label>Descricao</mat-label>
                              <textarea matInput placeholder="Descreva a solicitação..."></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <form class="flex flex-col bg-card shadow rounded overflow-hidden"
            [formGroup]="form">
            <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
            <button (click)="_location.back()" mat-button>
                {{ t('cancelar') }}
            </button>
    
            <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form.valid">
                <span *ngIf="!form.disabled">
                {{ t('salvar') }}
                </span>
            </button>
            </div>
         </form>
    </div>
