<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0" *transloco="let t">
    <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Últimos Chamados do Equipamento</div>
        </div>
        <div class="flex flex-col mt-2 divide-y">
            <ng-container *ngFor="let os of ordensServico;">
                <div class="flex flex-row items-center justify-between py-4 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">{{ os?.codOS }}</div>
                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">{{ os?.dataHoraAberturaOS | date:'dd/MM/yy HH:mm' }}</div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:bookmark'">
                                    </mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">{{ os?.tipoIntervencao?.nomTipoIntervencao
                                        }}</div>
                                </div>
                            </ng-container>

                            <ng-container>
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">{{ os?.relatoriosAtendimento?.length }}
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <button mat-icon-button (click)="ordemServico = os;">
                        <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf="!ordensServico.length">
                <div class="prose prose-sm max-w-3xl mt-2">
                    <p>
                        {{ t('nenhum registro encontrado') }}
                    </p>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
        *ngIf="ordemServico">
        <div class="flex flex-col sm:flex-row items-start justify-between pb-4">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">{{ ordemServico?.codOS }}</div>
        </div>

        <div class="flex flex-col mt-2 divide-y">
            <table class="table-fixed border-collapse">
                <tbody>
                    <tr>
                        <td class="w-1/4 text-left p-2">Filial</td>
                        <td class="w-1/2 text-left p-2">{{ ordemServico?.filial?.nomeFilial || 'Não Informado' }}</td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Data da Abertura</td>
                        <td class="w-1/2 text-left border-t p-2">
                            {{ ordemServico?.dataHoraAberturaOS | date:'dd/MM/yy HH:mm' }}</td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Cliente</td>
                        <td class="w-1/2 text-left border-t p-2">{{ ordemServico?.cliente?.nomeFantasia }}</td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Status</td>
                        <td class="w-1/2 text-left border-t p-2">{{ ordemServico?.statusServico?.nomeStatusServico }}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Defeito</td>
                        <td class="w-1/2 text-left border-t p-2">{{ ordemServico?.defeitoRelatado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex flex-col sm:flex-row items-start justify-between pb-4 pt-4">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">RATs</div>
        </div>

        <div class="flex flex-col mt-2 divide-y" *ngFor="let rat of ordemServico?.relatoriosAtendimento">
            <table class="table-fixed border-collapse">
                <tbody>
                    <tr>
                        <td class="w-1/4 text-left p-2">Num. RAT</td>
                        <td class="w-1/2 text-left p-2">{{ rat?.numRAT }}</td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Status</td>
                        <td class="w-1/2 text-left border-t p-2">{{ rat?.statusServico?.nomeStatusServico }}</td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Período</td>
                        <td class="w-1/2 text-left border-t p-2">
                            {{ rat.dataHoraInicio | date:'dd/MM/yy HH:mm' }} -
                            {{ rat.dataHoraSolucao | date:'dd/MM/yy HH:mm' }}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Técnico</td>
                        <td class="w-1/2 text-left border-t p-2">
                            {{ rat?.tecnico?.nome }}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-1/4 text-left border-t p-2">Solução</td>
                        <td class="w-1/2 text-left border-t p-2">
                            {{ rat?.relatoSolucao }} <br><br>
                            {{ rat?.obsRAT }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex flex-col mt-2 divide-y" *ngIf="!ordemServico?.relatoriosAtendimento?.length">
            <p>{{ t('nenhum registro encontrado') }}</p>
        </div>
    </div>
</div>