<h1 mat-dialog-title>
    Creditar Combústivel
</h1>

<div mat-dialog-content>
    <div class="flex justify-center align-middle items-center" *ngIf="isLoading">
        <mat-progress-spinner diameter="50" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
    <div class="flex-auto w-full" *ngIf="!isLoading">
        <div class="flex overflow-hidden">
            {{ "Crédito de combustível no valor de " + (despesaCreditosCartaoListView.combustivel | currency:'BRL':'symbol-narrow') + " para " + (despesaCreditosCartaoListView.tecnico  | uppercase) +"."}}

        </div>
        <div class="flex overflow-hidden text-secondary">
            {{"Categoria " + getCategoriaCredito(despesaPeriodoTecnico?.tecnico?.tecnicoCategoriaCredito?.categoriaCredito) + ", " + (despesaPeriodoTecnico?.tecnico?.tecnicoCategoriaCredito?.valor | currency:'BRL':'symbol-narrow') + "."}}
        </div>
    </div>
</div>

<div mat-dialog-actions class="mt-4" align="end" *ngIf="!isLoading">
    <button mat-button [color]="'warn'" (click)="cancelar()">Cancelar</button>
    <button mat-button [color]="'primary'" (click)="creditar()">Creditar</button>
    <button mat-button [color]="'primary'" (click)="compensar()">Compensar</button>
</div>