<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex flex-auto items-center min-w-0">
            <div class="flex-1 min-w-0">
                <div class="flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500" routerLink="/ponto/periodos">
                            Períodos
                        </a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                        <span class="ml-1 text-secondary">
                            {{ pontoPeriodo?.dataInicio | date:'dd/MM/yyyy' }} 
                            {{ pontoPeriodo ? 'até' : '' }}
                            {{ pontoPeriodo?.dataFim | date:'dd/MM/yyyy' }}
                        </span>
                    </div>
                </div>

                <div class="mt-2">
                    <h2
                        class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Ponto Colaboradores
                    </h2>
                </div>
            </div>

            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-pc z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear *transloco="let t">
                            <div [mat-sort-header]="'nomeUsuario'">
                                {{ t('nome') }}
                            </div>

                            <div [mat-sort-header]="'numCracha'">
                                {{ t('numero cracha') }}
                            </div>

                            <div>
                                {{ t('cargo') }}
                            </div>

                            <div>
                                {{ t('turno') }}
                            </div>

                            <div>
                                {{ t('filial') }}
                            </div>

                            <div>
                                {{ t('status') }}
                            </div>

                            <div>
                                {{ t('acoes') }}
                            </div>
                        </div>

                        <ng-container>
                            <ng-container *ngFor="let data of dataSourceData?.items">
                                <div
                                    class="list-grid-pc grid items-center h-11 pt-2 gap-4 py-3 px-12 text-sm md:px-8 border-b hover:bg-gray-100">
                                    <div class="truncate">
                                        {{ data.nomeUsuario | titlecase }}
                                    </div>

                                    <div class="truncate">
                                        {{ data.numCracha || 'Não Informado' }}
                                    </div>

                                    <div class="truncate font-semibold">
                                        {{ data.cargo?.nomeCargo | titlecase }}
                                    </div>

                                    <div class="truncate">
                                        {{ data.turno?.descTurno | titlecase }}
                                    </div>

                                    <div class="truncate">
                                        {{ (data.filialPonto?.nomeFilial || 'N.I.') | uppercase }}
                                    </div>

                                    <div class="truncate">
                                        <span
                                            class="py-1 px-2 rounded text-white"
                                            [class.bg-green-600]="data.pontosPeriodoUsuario[0].pontoPeriodoUsuarioStatus.descricao === 'Conferido'"
                                            [class.bg-black]="data.pontosPeriodoUsuario[0].pontoPeriodoUsuarioStatus.descricao === 'Período Sem Nenhum Registro'"
                                            [class.bg-red-600]="data.pontosPeriodoUsuario[0].pontoPeriodoUsuarioStatus.descricao === 'Inconsistente'"
                                            [class.bg-blue-600]="data.pontosPeriodoUsuario[0].pontoPeriodoUsuarioStatus.descricao === 'Aguardando Conferência'">
                                            {{ data.pontosPeriodoUsuario[0].pontoPeriodoUsuarioStatus.descricao }}
                                        </span>
                                    </div>

                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2"
                                            color="primary"
                                            mat-stroked-button
                                            [matTooltip]="'Horários'"
                                            matTooltipPosition="above"
                                            [routerLink]="'/ponto/ponto-horarios/' + data.pontosPeriodoUsuario[0].codPontoPeriodo + '/' + data.codUsuario">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <div *ngIf="!dataSourceData?.items.length && !isLoading"
                        class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">Nenhum Registro Encontrado</div>

                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>