sobre-page {
    .logo {
        margin-top: 24px !important;
        margin-bottom: -10px !important;
        width: 240px;
    }

    ion-footer {
        text-align: center !important;
    }

    .footer {
        font-size: 12pt;
        color: darkgrey;
    }

    .toolbar-title {
        span {
            padding-top: 0px;
            height: 30px !important;
        }
    }

    .titulo {
        margin-top: 8%;
        color: #488AFF;
    }

    .sub-titulo {
        color: #616161;
        font-size: 10pt;
        margin-top: -8px;
    }
}