<mat-drawer-container class="flex-auto h-full">
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card border-b">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12"
                        *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="flex flex-wrap items-center font-medium">
                                    <div>
                                        <a class="whitespace-nowrap text-primary-500" routerLink="/despesa/protocolos">
                                            {{ t('protocolos') }}
                                        </a>
                                    </div>
                                    <div class="flex items-center ml-1 whitespace-nowrap">
                                        <mat-icon class="icon-size-5 text-secondary"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span class="ml-1 text-secondary">{{ t('protocolo') }}</span>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <h2
                                        class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                                        {{ codDespesaProtocolo }}
                                    </h2>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                            <button class="fuse-mat-button-rounded bg-gray-200" mat-flat-button
                                [matTooltip]="t('imprimir')" matTooltipPosition="above" (click)="imprimir()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto">
                    <div>
                        <div class="m-5">
                            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-6 w-full min-w-0">
                                <fuse-card
                                    class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex items-center justify-between">
                                        <div class="text-2xl font-semibold leading-tight">{{ t('protocolo') }}</div>
                                    </div>
                                    <div class="flex">
                                        <div class="flex-1">
                                            <div class="my-2">
                                                <div>{{ t('numero') }}</div>
                                                <div class="text-secondary text-md">
                                                    {{ protocolo?.codDespesaProtocolo }}
                                                </div>
                                            </div>

                                            <div class="my-2">
                                                <div>{{ t('nome') }}</div>
                                                <div class="text-secondary text-md">
                                                    {{ protocolo?.nomeProtocolo }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex-1">
                                            <div class="my-2">
                                                <div>{{ t('observacao') }}</div>
                                                <div class="text-secondary text-md">
                                                    {{ protocolo?.obsProtocolo }}
                                                </div>
                                            </div>

                                            <div class="my-2">
                                                <div>{{ t('ativo') }}</div>
                                                <div class="text-secondary text-md">
                                                    {{ (protocolo?.indAtivo ? t('sim') : t('nao')) | uppercase }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fuse-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>