<div class="flex-auto" *transloco="let t">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-6 md:px-8 border-b">
        <div class="flex justify-between">
            <div class="text-4xl font-extrabold tracking-tight leading-none mt-2 pointer-events-none">
                Ajuda
            </div>
            <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <ng-container>
        <div class="p-3 pointer-events-none">
            <div class="container">
                <div class="one mbsc-font-icon mbsc-icon-clock bg-transparent w-2 h-2 text-black"></div>
                <div class="two">
                    <span>Pontos dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one mbsc-font-icon mbsc-icon-clock bg-transparent w-2 h-2 text-red-600"></div>
                <div class="two">
                    <span>Fim do expediente dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one mbsc-font-icon mbsc-icon-user4 bg-transparent ml-1 w-2 h-2 text-blue-600"></div>
                <div class="two">
                    <span class="-ml-1">Checkins dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one mbsc-font-icon mbsc-icon-checkmark bg-transparent ml-1 w-2 h-2 text-blue-600"></div>
                <div class="two">
                    <span class="-ml-1">Checkouts dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-gray-300 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Intervalos de almoço dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-purple-800 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados com agendamento.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-blue-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados fechados.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-green-500 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados parciais.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-green-800 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados não atendidos, na frente da linha do tempo.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-pink-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados com peças faltantes, pendentes ou em trânsito.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-red-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Chamados não atendidos, atrás da linha do tempo.</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>