<div class="flex-auto" *transloco="let t">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-6 md:px-8 border-b">
        <div class="flex justify-between">
            <div class="text-4xl font-extrabold tracking-tight leading-none mt-2 pointer-events-none">
                Ajuda
            </div>
            <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <ng-container>
        <div class="p-3 pointer-events-none">
            <div class="container">
                <div class="one bg-gray-300 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os intervalos sugeridos estão em</span>
                    <span class="font-bold">CINZA.</span>
                </div>
            </div>

            <div class="container">
                <div class="one mbsc-font-icon mbsc-icon-clock bg-transparent w-2 h-2 text-black"></div>
                <div class="two">
                    <span>Os ícones de</span>
                    <span class="font-bold">RELÓGIO</span>
                    <span>são os pontos dos técnicos.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-purple-800 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-purple-800 font-bold">ROXO</span>
                    <span>são chamados com agendamento.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-blue-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-blue-600 font-bold">AZUL</span>
                    <span>são chamados fechados.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-green-500 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-green-500 font-bold">VERDE CLARO</span>
                    <span>são chamados parciais.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-green-800 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-green-800 font-bold">VERDE</span>
                    <span>são chamados ainda não atendidos que estão dentro do cronograma.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-pink-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-pink-600 font-bold">ROSA</span>
                    <span>são chamados atendidos com peças faltantes/pendentes/em trânsito.</span>
                </div>
            </div>

            <div class="container">
                <div class="one bg-red-600 py-1 px-2 rounded">
                </div>
                <div class="two">
                    <span>Os chamados em</span>
                    <span class="text-red-600 font-bold">VERMELHO</span>
                    <span>são chamados ainda não atendidos que estão com atraso no cronograma.</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>