<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="grid grid-cols-2 justfy-between bg-gray-50 dark:bg-gray-700 p-8 border-b">
        <div class="flex items-center">
            <span class="text-lg font-medium">{{ t('material') }}</span>
        </div>
        <div class="flex place-content-end">
            <button mat-icon-button [matTooltip]="t('novo')">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'">
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="flex-auto" *ngIf="!isLoading">
        <div>
            <div class="grid h-100">
                <div class="overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <div class="grid" *ngIf="editableList?.length">
                            <div class="list-grid-material sticky z-10 top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div>
                                    {{ t("codigo") }}
                                </div>
                                <div>
                                    {{ t("descricao") }}
                                </div>
                                <div [ngClass]="{'pointer-events-auto cursor-text text-blue-500': isEditing }">
                                    {{ t("quantidade") }}
                                </div>
                                <div [ngClass]="{'pointer-events-auto cursor-text text-blue-500': isEditing }">
                                    {{ t("valor unitario") }}
                                </div>
                                <div>
                                    {{ t("valor desconto") }}
                                </div>
                                <div>
                                    {{ t("valor total") }}
                                </div>
                                <div>
                                    {{ t("valor unitario vencido") }}
                                </div>
                                <div>
                                    {{ t("acao") }}
                                </div>

                            </div>

                            <ng-container *ngFor="let material of editableList">
                                <div class="
								list-grid-material grid items-center h-11 pt-2 gap-4 py-3 px-6 border-b text-sm md:px-8 bg-white hover:bg-gray-100 pointer-events-none"
                                    *transloco="let t">
                                    <div>
                                        {{ material?.item?.codigoMagnus }}
                                    </div>
                                    <div>
                                        {{ material?.item?.descricao }}
                                    </div>
                                    <div name="quantidade" ngDefaultControl [ngClass]="{'pointer-events-auto cursor-text text-blue-500 font-bold':
                                        material?.isEditing }"
                                        [contentEditable]="material?.isEditing ? 'true' : 'false'"
                                        [textContent]="material?.item?.quantidade"
                                        (input)="material.item.quantidade = toNumber($event.target.innerText)"></div>
                                    <div name="valorUnitario" ngDefaultControl [ngClass]="{'pointer-events-auto cursor-text text-blue-500 font-bold':
                                        material?.isEditing }"
                                        [contentEditable]="material?.isEditing ? 'true' : 'false'" [textContent]="material?.isEditing ? material?.item?.valorUnitario :
                                        material?.item?.valorUnitario | currency:'BRL':'symbol-narrow'"
                                        (input)="material.item.valorUnitario = toNumber($event.target.innerText)"></div>
                                    <div>
                                        {{ material?.item?.valorDesconto | currency:'BRL':'symbol-narrow' }}
                                    </div>
                                    <div>
                                        {{ material?.item?.valorTotal | currency:'BRL':'symbol-narrow' }}
                                    </div>
                                    <div>
                                        {{ material?.item?.peca?.isValorAtualizado ? "SIM" : "NÃO" }}
                                    </div>
                                    <div class="flex pointer-events-auto">
                                        <button class="bg-transparent" [matTooltip]="'Editar material'"
                                            (click)="material.onEdit()" *ngIf="!material?.isEditing">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'">
                                            </mat-icon>
                                        </button>
                                        <button class="bg-transparent" [matTooltip]="t('deletar') + ' material'"
                                            (click)="material.onDelete()" *ngIf="!material?.isEditing">
                                            <mat-icon class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_outline:trash'">
                                            </mat-icon>
                                        </button>
                                        <button (click)="material.onSave()" [matTooltip]="'Salvar edição'"
                                            [disabled]="isEqual(material) || isInvalid(material)"
                                            *ngIf="material?.isEditing">
                                            <mat-icon class="icon-size-5 text-green-500"
                                                [svgIcon]="'heroicons_solid:check'">
                                            </mat-icon>
                                        </button>
                                        <button (click)="material.onCancel()" [matTooltip]="'Cancelar edição'"
                                            *ngIf="material?.isEditing">
                                            <mat-icon class="icon-size-5 text-red-500"
                                                [svgIcon]="'heroicons_solid:minus-circle'">
                                            </mat-icon>
                                        </button>
                                        <div class="ml-4 text-secondary italic" *ngIf="material?.isEditing">Em edição
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="!editableList?.length && !isLoading"
                            class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                            Nenhum material encontrado!
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>