<form autocomplete="off" [formGroup]="form" *ngIf="atendimento">
    <fuse-card class="flex flex-col col-span-6 flex-auto bg-card rounded-2xl overflow-hidden" *transloco="let t">
        <div class="flex flex-col border-b font-medium">
            <div class="flex flex-col bg-card rounded overflow-hidden">
                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('Atendimento Tratativa STN') }}</p>
                </div>

                <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card rounded overflow-hidden">

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('Protocolo Atendimento STN') }}</mat-label>
                        <input matInput formControlName="codAtendimento" [readonly]="true">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('Data Hora Abertura') }}</mat-label>
                        <input matInput [matDatepicker]="contratoData" formControlName="dataHoraAberturaSTN" [readonly]="true">
                        <mat-datepicker #contratoData></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('Origem Chamado') }}</mat-label>
                        <mat-select formControlName="codOrigemChamadoSTN">
                            <mat-option *ngFor="let origem of origens" [value]="origem.codOrigemChamadoSTN">
                                {{ origem?.descOrigemChamadoSTN }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('Status Protocolo') }}</mat-label>
                        <mat-select formControlName="codStatusSTN">
                            <mat-option *ngFor="let stat of status" [value]="stat?.codStatusSTN">
                                {{ stat?.descStatusServicoSTN }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </fuse-card>

    <fuse-card class="flex flex-col col-span-6 flex-auto bg-card rounded-2xl overflow-hidden mt-4" *transloco="let t">
        <div class="flex flex-col border-b font-medium">
            <div class="flex flex-col bg-card rounded overflow-hidden">
                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('Tratativa de Suporte') }}</p>
                </div>

                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card rounded overflow-hidden">

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('Tipo Chamado') }}</mat-label>
                        <mat-select formControlName="codTipoChamadoSTN">
                            <mat-option *ngFor="let tipo of tipoChamadoSTN" [value]="tipo?.codTipoChamadoSTN">
                                {{ tipo?.descTipoChamadoSTN }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('Responsável Suporte STN') }}</mat-label>
                        <input matInput formControlName="nomeUsuario" [readonly]="true">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('Técnico de Campo') }}</mat-label>
                        <input matInput formControlName="tecnicoCampo">
                    </mat-form-field>

                    <!-- <div class="fuse-mat-dense sm:col-span-6">
                        <div class="text-secondary">
                            Motivos da causa de improdutividade?
                        </div>

                        <div *ngFor="let improdutividade of improdutividades">
                            <mat-slide-toggle [color]="'primary'"
                                [checked]="verificarSelecionado(improdutividade?.codImprodutividade)"
                                (change)="onChange($event, improdutividade?.codImprodutividade)"
                                [ngModelOptions]="{standalone: true}">
                                {{ improdutividade?.descImprodutividade }}
                            </mat-slide-toggle>
                        </div>
                    </div> -->

                    <!-- <div class="fuse-mat-dense sm:col-span-6">
                        <div class="text-secondary">
                            Evitou Pendência?
                        </div>

                        <div class="truncate max-w-1/2">
                            <mat-slide-toggle [color]="'primary'" [checked]="atendimento?.indEvitaPendencia == 1" [(ngModel)]="atendimento.indEvitaPendencia" 
                                (change)="onChangePendencia($event)" [ngModelOptions]="{standalone: true}">
                                {{ atendimento?.indEvitaPendencia ? 'Sim' : 'Não' }}
                            </mat-slide-toggle>
                        </div>
                    </div> -->

                    <mat-radio-group class="fuse-mat-dense sm:col-span-4 py-6" [color]="'primary'" formControlName="tipoServico">
                        <div class="py-2">Tipo Serviço</div>

                        <mat-radio-button class="mb-2"  [value]="'1'">
                            {{ t('maquina') }}
                        </mat-radio-button>

                        <mat-radio-button class="mb-2 ml-4" [value]="'2'">
                            {{ t('extra-maquina') }}
                        </mat-radio-button>
                    </mat-radio-group>


                    <mat-form-field class="fuse-mat-dense sm:col-span-4 py-3">
                        <mat-label>{{ t('Tipo Causa') }}</mat-label>
                        <mat-select formControlName="codTipoCausa">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'"
                                    [formControl]="tipoCausaFiltro"></ngx-mat-select-search>
                            </mat-option>
                            
                            <mat-option *ngFor="let tipo of tipoCausa" [value]="tipo?.codETipoServico">
                                {{ tipo?.codETipoServico }} - {{ tipo?.nomeServico }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="fuse-mat-dense sm:col-span-4 py-3">
                        <mat-label>{{ t('Componente') }}</mat-label>

                        <mat-select formControlName="codDefeito">

                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'"
                                    [formControl]="causasFiltro"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let causa of causas" [value]="causa?.codCausa">
                                {{ causa?.codECausa }} - {{ causa?.nomeCausa | titlecase }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-12">
                        <mat-label>{{ t('Ação Suporte') }}</mat-label>
                        <textarea class="flex items-center justify-between" matInput formControlName="acaoSTN"
                            [rows]="5" maxlength="1000"></textarea>
                    </mat-form-field>

                </div>
            </div>

            <div class="flex items-center justify-end px-4 py-2" *transloco="let t">
                <button class="px-2" mat-button [color]="'primary'" (click)="salvar()">
                    {{ t('salvar') }}
                </button>
            </div>
        </div>
    </fuse-card>
</form>