.success {
    background-color: #4CAF50 !important;
    color: white !important;
}

.info {
    background-color: #2196F3 !important;
    color: white !important;
}

.warning {
    background-color: #FFA000 !important;
}

.error {
    background-color: #D32F2F !important;
    color: white !important;
}

.neutral {
    background-color: #455A64 !important;
    color: white !important;
}

.remove-arrows {
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
}
