.success {
    background-color: #4CAF50 !important;
}

.info {
    background-color: #2196F3 !important;
}

.warning {
    background-color: #FFA000 !important;
}

.error {
    background-color: #D32F2F !important;
}

.neutral {
    background-color: #455A64 !important;
}