<div class="flex flex-col max-w-240 md:min-w-160 min-h-90 -m-6 overflow-hidden" *transloco="let t">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{ t('conta bancaria') }}</div>
        
        <button mat-icon-button mat-dialog-close [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'">
            </mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <form autocomplete="off" class="flex flex-col overflow-hidden" [formGroup]="form">
            <mat-form-field class="fuse-mat-dense">
                <mat-label>{{ t('numero banco') }}</mat-label>
                <input matInput type="number" formControlName="numBanco">
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense">
                <mat-label>{{ t('numero agencia') }}</mat-label>
                <input matInput type="number" formControlName="numAgencia">
            </mat-form-field>

        <mat-form-field class="fuse-mat-dense">
                <mat-label>{{ t('numero conta') }}</mat-label>
                <input matInput type="number" formControlName="numConta">
            </mat-form-field>
        </form>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>
                {{ t('cancelar') }}
            </button>
            
            <button color="primary" mat-button cdkFocusInitial (click)="salvar()" [disabled]="form.invalid">
                {{ t('salvar') }}
            </button>
        </mat-dialog-actions>
    </div>
</div>