<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:justify-end w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-16 md:pt-24 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <div class="w-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
                SAT
            </div>

            <div class="text-md tracking-tight leading-6 text-gray-400">
                Entre com seu usuário e senha
            </div>

            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label>Usuário</mat-label>
                    <input id="codUsuario" matInput [formControlName]="'codUsuario'">
                    <mat-error *ngIf="signInForm.get('codUsuario').hasError('required')">
                        Favor informar seu usuário
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input id="senha" matInput type="password" [formControlName]="'senha'" #senhaField>
                    <mat-error *ngIf="signInForm.get('senha').dirty">
                        <div *ngIf="signInForm.get('senha').hasError('senha-fraca')">
                            Sua senha não atende aos requisitos de segurança.
                            Clique em Esqueci minha senha e siga as instruções.
                        </div>
                    </mat-error>
                </mat-form-field>

                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.disabled || signInForm.invalid" (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Entrar
                    </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>

                <div class="mt-8 text-md font-medium text-secondary">
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/esqueceu-senha']">Esqueci minha
                        senha
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-cover bg-fabrica bg-gray-800">
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        
        <div class="absolute inset-x-0 bottom-0 h-16 md:pl-10 lg:pl-14">
            <div class="absolute mb-0">
                <div class="font-medium tracking-tight text-gray-100">Versão {{ versao }} 2005-{{ ano }}</div>
            </div>
        </div>
    </div>
</div>
