<div>
    <div *ngIf="!loading" class="items-center justify-center h-90">
        <apx-chart *ngIf="!loading && haveData" [series]="chartOptions.series" [chart]="chartOptions.chart"
            [labels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [colors]="chartOptions.colors"
            [title]="chartOptions.title">
        </apx-chart>

        <div class="w-full text-right text-md mt-4 mr-2 text-blue-500" *ngIf="!loading">
            <a href="http://satdbprod/Reports/report/Reports/INDICADORES%20DI%C3%81RIOS-%C3%8DNDICE%20DE%20REINCID%C3%8ANCIA-CLIENTE" target="_blank">Relatório Reporting</a>
        </div>
    </div>

    <div *ngIf="loading" class="flex flex-col flex-auto items-center justify-center">
        <mat-progress-spinner [diameter]="36" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>