<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <!--<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore stdoutLogEnabled="false" hostingModel="InProcess" />
	</system.webServer>--> 
</configuration>