senha-alteracao-page {
    .fonte-verde {
        color: #228B22;
    }

    .fonte-laranja-fraco {
        color: #FF8C00;
    }

    .fonte-laranja-forte {
        color: #FF4500;
    }

    .fonte-vermelho {
        color: #FF0000;
    }

    .first-divider {
        padding-top: 6px !important;
    }
}