<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="fecharModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{ chamado?.codOs }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider 
      class="first-divider"
      color="light">Dados do Local</ion-item-divider>

    <ion-item>
      Cliente
      <ion-note item-end>
        {{ chamado?.cliente?.nomeCliente 
          | lowercase | capitalize }}
      </ion-note>
    </ion-item>

    <ion-item>
      Aberto
      <ion-note item-end>
        {{ chamado?.dataHoraAberturaOS }}
      </ion-note>
    </ion-item>

    <ion-item>
      Status
      <ion-note item-end>
        {{ chamado?.statusServico?.nomeStatusServico 
          | lowercase | capitalize }}
      </ion-note>
    </ion-item>

    <ion-item>
      Local
      <ion-note item-end>
        {{ chamado?.localAtendimento?.nomeLocalAtendimento 
          | lowercase | capitalize | ellipsis: 28 }}
      </ion-note>
    </ion-item>

    <ion-item>
      Equipamento Série
      <ion-note item-end>
        {{ chamado?.equipamentoContrato?.numSerie }}
      </ion-note>
    </ion-item>

    <ion-item>
      Intervenção
      <ion-note item-end>
        {{ chamado?.tipoIntervencao?.nomeTipoIntervencao | lowercase | capitalize }}
      </ion-note>
    </ion-item>

    <ion-item *ngIf="chamado.numReincidencias > 0">
      Reincidências
      <ion-note item-end>
        {{ chamado?.numReincidencias }}
      </ion-note>
    </ion-item>

    <ion-item-divider color="light">Defeito</ion-item-divider>

    <ion-item text-wrap>
      <span class="inf-bas">
        {{ chamado?.defeitoRelatado | lowercase | capitalize }}<br />
        <span *ngIf="chamado?.observacao">
          Obs: </span>{{ chamado?.observacao | lowercase | capitalize }}
        </span>
    </ion-item>
    
    <div *ngFor="let rat of chamado.rats; let i = index">
      <ion-item-divider 
        color="light"
        class="text-left">
        RAT 
        <ion-badge 
          item-end
          class="badge"
          color="light">{{ rat.numRat }}</ion-badge>
      </ion-item-divider>
      
      <ion-item>
        Técnico
        <ion-note item-end>
          {{ rat.tecnico.nomeTecnico }}
        </ion-note>
      </ion-item>

      <ion-item>
        Data Solução
        <ion-note item-end>
          {{ rat.dataHoraSolucao | date:'dd/MM/yyyy HH:mm' }}
        </ion-note>
      </ion-item>

      <ion-item-divider 
        color="light">Solução </ion-item-divider>

      <ion-item text-wrap>
        <span class="inf-bas">
          {{ rat.relatoSolucao }}</span>
      </ion-item>

      <ion-item text-wrap>
        <span class="inf-bas">
          Relato: {{ rat.obsRat }}</span>
      </ion-item>

      <div *ngFor="let ratDetalhe of rat.ratDetalhes; let i = index">
        <ion-item-divider 
          color="light"
          class="text-left">
          Detalhe 
          <ion-badge 
            item-end
            class="badge"
            color="light">{{ i + 1 }}/{{ rat.ratDetalhes.length }}</ion-badge>
        </ion-item-divider>

        <ion-item>
          Tipo da Causa
          <ion-note item-end>
            {{ ratDetalhe.tipoCausa.codETipoCausa }}
            - {{ ratDetalhe.tipoCausa.nomeTipoCausa | lowercase | capitalize }}
          </ion-note>
        </ion-item>

        <ion-item>
          Grupo da Causa
          <ion-note item-end>
            {{ ratDetalhe.grupoCausa.codEGrupoCausa }}
            - {{ ratDetalhe.grupoCausa.nomeGrupoCausa | lowercase | capitalize}}
          </ion-note>
        </ion-item>

        <ion-item>
          Causa
          <ion-note item-end>
            {{ ratDetalhe.causa.codECausa }}
            - {{ ratDetalhe.causa.nomeCausa | lowercase | capitalize}}
          </ion-note>
        </ion-item>

        <ion-item>
          Defeito
          <ion-note item-end>
            {{ ratDetalhe.defeito.codEDefeito }}
            - {{ ratDetalhe.defeito.nomeDefeito | lowercase | capitalize}}
          </ion-note>
        </ion-item>

        <ion-item>
          Ação
          <ion-note item-end>
            {{ ratDetalhe.acao.codEAcao }}
            - {{ ratDetalhe.acao.nomeAcao | lowercase | capitalize}}
          </ion-note>
        </ion-item>

        <div *ngFor="let peca of ratDetalhe.pecas; let i = index">
          <ion-item-divider 
            color="light"
            class="text-left">
            Peça 
            <ion-badge 
              item-end
              class="badge"
              color="light">{{ i + 1 }}/{{ ratDetalhe?.pecas?.length }}</ion-badge>
          </ion-item-divider>

          <ion-item>
            Peça
            <ion-note item-end>
              {{ peca?.nomePeca | lowercase | capitalize | ellipsis: 20 }}
            </ion-note>
          </ion-item>

          <ion-item>
            Qtd
            <ion-note item-end>
              {{ peca.qtd }}
            </ion-note>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>