<h2 mat-dialog-title>Inclusão de Peça</h2>
<form autocomplete="off" class="flex flex-col bg-card overflow-hidden" [formGroup]="form" *transloco="let t">
    <div class="grid sm:grid-cols-12 gap-x-12 flex-col flex-auto p-8 pb-6 ">


        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('peca re5114') }}</mat-label>
            <input matInput formControlName="numRe5114" maxlength="20" [value]="pecaRe5114?.numRe5114">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('filial') }}</mat-label>
            <mat-select formControlName="codFilialRe5114">
                <mat-option *ngFor="let filial of filiais" [value]="filial.codFilial">
                    {{ filial.nomeFilial }}
                </mat-option>
            </mat-select>
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('Numero serie') }}</mat-label>
            <input matInput formControlName="numSerie" maxlength="10" [value]="pecaRe5114?.numSerie">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('tecnico relatante') }}</mat-label>
            <input matInput formControlName="nomeTecnicoRelatante" maxlength="10"
                [value]="osBancadaPeca?.nomeTecnicoRelatante">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('peca') }}</mat-label>
            <mat-select formControlName="codPeca">
                <mat-option>
                    <ngx-mat-select-search placeholderLabel="Pesquisa..."
                        noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="pecaFilterCtrl">
                    </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let peca of pecas" [value]="peca.codPeca" [matTooltip]="peca.nomePeca">
                    {{ peca.nomePeca }}
                </mat-option>
            </mat-select>
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('cod peca cliente') }}</mat-label>
            <input matInput formControlName="numPecaCliente" maxlength="10" [value]="pecaRe5114?.numPecaCliente">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('valor entrada') }}</mat-label>
            <input matInput formControlName="valorEntrada" maxlength="10" [value]="osBancadaPeca?.valorEntrada">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('num item nf') }}</mat-label>
            <input matInput formControlName="numItemNf" maxlength="10" [value]="osBancadaPeca?.numItemNf">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('defeito relatado') }}</mat-label>
            <input matInput formControlName="defeitoRelatado" [value]="osBancadaPeca?.defeitoRelatado">
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-dense sm:col-span-6">
            <mat-label>{{ t('garantia') }}</mat-label>
            <mat-select formControlName="indGarantia" [value]="osBancadaPeca?.indGarantia">
                <mat-option [value]="0">
                    Sem Garantia
                </mat-option>
                <mat-option [value]="1">
                    Garantia Venda
                </mat-option>
                <mat-option [value]="2">
                    Garantia Conserto
                </mat-option>
            </mat-select>
            <mat-error>
                {{ t('preencher campo') }}
            </mat-error>
        </mat-form-field>
    </div>
</form>

<div class="flex justify-center items-center min-h-36" *ngIf="loading">
    <div class="text-center">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>

<mat-dialog-actions align="end">
    <button class="px-6 mr-2" mat-button (click)="cancelar()">
        Cancelar
    </button>

    <button class="px-6" mat-button [color]="'primary'" (click)="salvar()">
        Salvar
    </button>
</mat-dialog-actions>