.container {
    display: flex;
    margin: 5px !important;
}

.one {
    width: 20px !important;
    height: 20px;
    float: left;
}

.two {
    margin-left: 20px !important;
}

.mbsc-icon-clock:before {
    margin-left: 4px !important;
}