<div class="min-w-full min-h-full">
    <h1 mat-dialog-title>
        Ajuda
    </h1>

    <div class="flex flex-col flex-auto items-center justify-center">
    </div>
    <div>
        <div class="container">
            <div class="one bg-gray-300 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os intervalos sugeridos estão em</span>
                <span class="font-bold">CINZA.</span>
            </div>
        </div>

        <div class="container">
            <div class="one mbsc-font-icon mbsc-icon-clock bg-transparent w-2 h-2 text-black"></div>
            <div class="two">
                <span>Os ícones de</span>
                <span class="font-bold">RELÓGIO</span>
                <span>são os pontos dos técnicos.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-purple-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-purple-800 font-bold">ROXO</span>
                <span>são chamados com agendamento.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-blue-600 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-blue-600 font-bold">AZUL</span>
                <span>são chamados já atendidos e fechados.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-green-500 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-green-500 font-bold">VERDE CLARO</span>
                <span>são chamados parciais.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-green-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-green-800 font-bold">VERDE</span>
                <span>são chamados ainda não atendidos que estão dentro do cronograma.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-pink-600 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-pink-600 font-bold">ROSA</span>
                <span>são chamados atendidos com peças faltantes/pendentes/em trânsito.</span>
            </div>
        </div>

        <div class="container">
            <div class="one bg-red-600 py-1 px-2 rounded">
            </div>
            <div class="two">
                <span>Os chamados em</span>
                <span class="text-red-600 font-bold">VERMELHO</span>
                <span>são chamados ainda não atendidos que estão com atraso no cronograma.</span>
            </div>
        </div>

        <div class="mt-4" align="end">
            <button mat-button mat-dialog-close>Ok</button>
        </div>
    </div>
</div>