<div class="min-w-full min-h-full">
    <h1 mat-dialog-title>
        Ajuda
    </h1>

    <div class="flex flex-col flex-auto items-center justify-center">
    </div>
    <div>
        <div class="container">
            <div class="one bg-gray-300 py-1 px-2 rounded">
            </div>
            <div class="two">
                Os intervalos sugeridos estão em CINZA.
            </div>
        </div>

        <div class="container">
            <div class="one mbsc-font-icon mbsc-icon-clock bg-transparent w-2 h-2 text-black"></div>
            <div class="two">
                Os ícones de RELÓGIO são os pontos dos técnicos.
            </div>
        </div>

        <div class="container">
            <div class="one bg-purple-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                Os chamados em ROXO são chamados com agendamento.
            </div>
        </div>

        <div class="container">
            <div class="one bg-blue-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                Os chamados em AZUL são chamados já atendidos e fechados.
            </div>
        </div>

        <div class="container">
            <div class="one bg-green-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                Os chamados em VERDE são chamados ainda não atendidos que estão dentro do cronograma.
            </div>
        </div>

        <div class="container">
            <div class="one bg-red-800 py-1 px-2 rounded">
            </div>
            <div class="two">
                Os chamados em VERMELHO são chamados ainda não atendidos que estão com atraso no cronograma.
            </div>
        </div>

        <div class="mt-4" align="end">
            <button mat-button mat-dialog-close>Ok</button>
        </div>
    </div>
</div>