<mat-drawer-container>
  <mat-drawer-content>
    <div class="flex flex-col flex-auto min-w-0" *transloco='let t'>
      <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">
          <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
            <mat-tab [label]="t('contrato')">
              <ng-template matTabContent>
                  <div
                    class="
                      sm:col-span-2
                      lg:col-span-3  
                      flex flex-col flex-auto
                      bg-card
                      shadow
                      rounded-2xl
                      overflow-hidden
                      p-8">
                    <app-contrato-form></app-contrato-form>
                    </div>
              </ng-template>
            </mat-tab>

            <mat-tab [label]="t('modelos')">
                <ng-template matTabContent>
                    <div
                      class="
                        sm:col-span-4
                        lg:col-span-5
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-8">
                        Weabo
                      </div>
                </ng-template>
              </mat-tab>

              <mat-tab [label]="t('sla')">
                <ng-template matTabContent>
                    <div
                      class="
                        sm:col-span-4
                        lg:col-span-5
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-8">
                        Weabo
                      </div>
                </ng-template>
              </mat-tab>

              <mat-tab [label]="t('servicos')">
                <ng-template matTabContent>
                    <div
                      class="
                        sm:col-span-4
                        lg:col-span-5
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-8">
                        Weabo
                      </div>
                </ng-template>
              </mat-tab>

              <mat-tab [label]="t('equipamentos')">
                <ng-template matTabContent>
                    <div
                      class="
                        sm:col-span-4
                        lg:col-span-5
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-8">
                        Weabo
                      </div>
                </ng-template>
              </mat-tab>

              <mat-tab [label]="t('lista peca especifica')">
                <ng-template matTabContent>
                    <div
                      class="
                        sm:col-span-4
                        lg:col-span-5
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded-2xl
                        overflow-hidden
                        p-8">
                        Weabo
                      </div>
                </ng-template>
              </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
