<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
        <table class="w-full text-sm text-left text-gray-500">
            <tbody>
                <tr class="border-t-2">
                    <td class="py-1 font-medium text-left">
                        Descrição
                    </td>

                    <td class="py-1 font-medium text-left">
                        Realização
                    </td>                                

                    <td class="py-1 font-medium text-left">
                        Nível
                    </td> 

                    <td class="py-1 font-medium text-left">
                        Ação
                    </td>                                 

                    <td class="py-1 font-medium text-left">
                        Código Perto
                    </td>

                    <td class="py-1 font-medium text-center">
                        Quantidade Sugerida
                    </td>
                </tr>

                <tr class="border-t-2" *ngFor="let item of orCheckList?.itens">                                
                    <td class="py-1 font-medium text-left">
                        {{ item.descricao }}
                    </td>

                    <td class="py-1 font-medium text-left">
                        {{ item.realizacao }}
                    </td>

                    <td class="py-1 font-medium text-left">
                        {{ item.nivel }}
                    </td>        
                    
                    <td class="py-1 font-medium text-left">
                        {{ item.acao }}
                    </td>                                     

                    <td class="py-1 font-medium text-left">
                        {{ item.codMagnus }}
                    </td>

                    <td class="py-1 font-medium text-center">
                        1
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>      
</div>