<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-despesa-credito-cartao-filtro [sidenav]="sidenav">
        </app-despesa-credito-cartao-filtro>
    </mat-drawer>
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <div>
                    <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">
                        {{ t('creditos cartao') }}
                    </div>
                </div>
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                    </mat-form-field>

                    <button class="ml-2" mat-icon-button (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-despesa-credito-cartao z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-xs font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 pointer-events-none"
                                    matSort matSortDisableClear *transloco="let t">
                                    <div>
                                        {{ t('protocolo') }}
                                    </div>
                                    <div>
                                        {{ "RD" }}
                                    </div>
                                    <div>
                                        {{ t('liberacao') }}
                                    </div>
                                    <div>
                                        {{ t('tecnico') }}
                                    </div>
                                    <div>
                                        {{ t('filial') }}
                                    </div>
                                    <div>
                                        {{ t('cartao') }}
                                    </div>
                                    <div>
                                        {{ t('saldo') }}
                                    </div>
                                    <div>
                                        {{ t('integrado') }}
                                    </div>
                                    <div>
                                        {{ t('observacao') }}
                                    </div>
                                    <div>
                                        {{ t('periodo') }}
                                    </div>
                                    <div>
                                        {{ t('combustivel') }}
                                    </div>
                                    <div>
                                        {{ t('status') }}
                                    </div>
                                    <div>
                                        {{ t('acoes') }}
                                    </div>
                                </div>
                                <ng-container *ngIf="periodos?.items.length">
                                    <ng-container *ngFor="let a of listview">
                                        <div class="list-grid-despesa-credito-cartao grid items-center h-11 pt-2 gap-4 py-3 px-6 text-xs md:px-8 border-b hover:bg-gray-100"
                                            [ngClass]="{'bg-red-100 hover:bg-red-200':
                                         a.indErroAoCreditar }" *transloco="let t">
                                            <div class="pointer-events-none">
                                                {{ a.protocolo }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.rd }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.liberacao | date:'dd/MM' }}
                                            </div>
                                            <div class="truncate cursor-help" [matTooltip]="a.tecnico | uppercase">
                                                {{ a.tecnico | uppercase }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.filial }}
                                            </div>
                                            <div class="truncate cursor-help" [matTooltip]="a.cartao">
                                                {{ a.cartao ?? "---" }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.saldo ? (a.saldo | currency:'BRL':'symbol-narrow') + " em " + a.dataManutSaldo : "---" }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.indCompensado == 1 ? "N/A" : (a.integrado || "PENDENTE") }}
                                            </div>
                                            <div class="truncate font-bold cursor-help"
                                                [matTooltip]="a.obs | uppercase">
                                                {{ a.obs }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.inicio + " - " + a.fim }}
                                            </div>
                                            <div class="pointer-events-none">
                                                {{ a.combustivel | currency:'BRL':'symbol-narrow' }}
                                            </div>
                                            <div class="cursor-help">
                                                <span [matTooltip]="getStatus(a)" [matTooltipClass]="'os_lista_tooltip'"
                                                    matTooltipPosition="below">
                                                    <span class="py-1 px-1 rounded text-xs font-bold" [ngClass]="{
                                                        'bg-red-500': a.indErroAoCreditar,
                                                        'bg-green-500': a.indCreditado,
                                                        'bg-purple-200': a.indCompensado}">
                                                        {{ a.indErroAoCreditar ? 'ER' :
                                                        a.indCreditado ? "CR" :
                                                        a.indCompensado ? "CO" : "PN" }}
                                                    </span>
                                                </span>
                                            </div>
                                            <div>
                                                <button class="cursor-pointer"
                                                    [disabled]="a.indCreditado || a.indCompensado"
                                                    (click)="creditarRD(a)">
                                                    <mat-icon class="max-w-5 max-h-5 text-green-500"
                                                        [matTooltip]="t('creditar')"
                                                        [svgIcon]="'heroicons_outline:credit-card'">
                                                    </mat-icon>
                                                </button>
                                                <button
                                                    [disabled]="(!(a.indCreditado || a.indCompensado) || a.combustivel <= 0) && !a.IndVerificado"
                                                    class="cursor-pointer ml-2" (click)="verificarRD(a)">
                                                    <mat-icon class="max-w-5 max-h-5 text-blue-500"
                                                        [matTooltip]="t('verificar')"
                                                        [svgIcon]="'heroicons_outline:badge-check'">
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <mat-paginator [hidden]="!periodos?.items?.length"
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="periodos?.totalCount"
                                [pageSize]="filter?.parametros.qtdPaginacaoLista ?? 10" [pageSizeOptions]="[5, 10, 25,
                                50]" [showFirstLastButtons]="true" (page)="paginar()">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>