<fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex items-center justify-between mt-2">
        <div class="text-lg font-medium">Deslocamento</div>
        <button mat-icon-button (click)="editar()" *ngIf="!isEditing">
            <mat-icon class="icon-size-5 text-right" [svgIcon]="'heroicons_solid:pencil'">
            </mat-icon>
        </button>
        <div class="text-secondary italic" *ngIf="isEditing">Em edição</div>
    </div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium pointer-events-none">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor unitário do KM Rodado (ida e volta)</div>
            <div class="truncate max-w-1/2">
                {{ deslocamento?.valorUnitarioKmRodado | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Hora em Deslocamento</div>
            <div class="truncate max-w-1/2">
                {{ deslocamento?.valorHoraDeslocamento | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Quantidade 1 hora cada 60 KM Rodado</div>
            <div class="truncate max-w-1/2">{{ deslocamento?.quantidadeHoraCadaSessentaKm }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Percurso (raio)</div>
            <div class="truncate max-w-1/2">Ida e Volta</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary" [ngClass]="{'text-blue-500': isEditing }">KM</div>
            <div class="truncate max-w-1/2" id="quantidadeKm" ngDefaultControl
                [ngClass]="{'pointer-events-auto cursor-text text-blue-500': isEditing }"
                [contentEditable]="isEditing ? 'true' : 'false'" [textContent]="deslocamento?.quantidadeKm"
                (input)="deslocamento.quantidadeKm = toNumber($event.target.innerText)"></div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Total KM Rodado</div>
            <div class="truncate max-w-1/2">
                {{ deslocamento?.valorTotalKmRodado | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Total Hora em Deslocamento</div>
            <div class="truncate max-w-1/2">
                {{ deslocamento?.valorHoraDeslocamento | currency:'BRL':'symbol-narrow' }} </div>
        </div>
    </div>
    <div class="flex justify-end mt-2" *ngIf="isEditing">
        <button mat-icon-button (click)="salvar()" [disabled]="isEqual() || isInvalid()">
            <mat-icon class="icon-size-6 text-right text-green-500" [svgIcon]="'heroicons_solid:check'">
            </mat-icon>
        </button>
        <button mat-icon-button (click)="cancelar()">
            <mat-icon class="icon-size-6 text-right text-red-500" [svgIcon]="'heroicons_solid:minus-circle'">
            </mat-icon>
        </button>
    </div>
</fuse-card>