<fuse-card class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-medium mt-2">Deslocamento</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor unitário do KM Rodado (ida e volta)</div>
            <div class="truncate max-w-1/2">
                {{ orcamento?.orcamentoDeslocamento?.valorUnitarioKmRodado | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Hora em Deslocamento</div>
            <div class="truncate max-w-1/2">
                {{ orcamento?.orcamentoDeslocamento?.valorHoraDeslocamento | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Quantidade 1 hora cada 60 KM Rodado</div>
            <div class="truncate max-w-1/2">{{ orcamento?.orcamentoDeslocamento?.quantidadeHoraCadaSessentaKm }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Percurso (raio)</div>
            <div class="truncate max-w-1/2">Ida e Volta</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">KM</div>
            <div class="truncate max-w-1/2">{{ orcamento?.orcamentoDeslocamento?.quantidadeKm }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Total KM Rodado</div>
            <div class="truncate max-w-1/2">
                {{ orcamento?.orcamentoDeslocamento?.valorTotalKmRodado | currency:'BRL':'symbol-narrow' }} </div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Valor Total Hora em Deslocamento</div>
            <div class="truncate max-w-1/2">
                {{ orcamento?.orcamentoDeslocamento?.valorHoraDeslocamento | currency:'BRL':'symbol-narrow' }} </div>
        </div>
    </div>
</fuse-card>