<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="Prod" value="Data Source=satdbprod.perto.com.br;Initial Catalog=SAT;User Id=satweb;Password=Nkhq8297b589a2c4;Connection Timeout=3600;"/>  
    <add key="Homolog" value="Data Source=satbdhomolog.perto.com.br;Initial Catalog=SAT;User Id=satweb;Password=LxGyFMUzhP5xGgryx;Connection Timeout=3600;"/>
  </appSettings>  
</configuration> 