ponto-page {
    p {
        padding-top: 10px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    }

    ion-list {
        margin-top: 6px !important;
    }

    .first-item {
        margin-top: 0px !important;
    }
}