pontos-page {
    ion-list {
        margin-top: 4px !important;
        margin-bottom: 85px !important;
    }

    .marcacao {
        margin-left: 2px !important;
    }

    .msg-no-records {
        margin-top: 20px;
    }
}