<ion-header>
  <ion-navbar>
    <ion-title>Registros de Ponto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="carregarDatasEPontosUsuario($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p class="msg-no-records" *ngIf="!pontosData?.length" text-center>Nenhum registro encontrado</p>

  <ion-list>
    <ion-item *ngFor="let pontoData of pontosData; let i=index">
      <ion-icon color="primary" name="md-calendar" [ngClass]="{ 'font-red': pontoData.pontoDataStatus.codPontoDataStatus == 1 }" item-start></ion-icon>
      {{ pontoData.dataRegistro | date: 'dd/MM/yyyy' }}

      <p>
        <span *ngFor="let ponto of pontoData.pontosUsuario; let i=index" class="marcacao" [ngClass]="{ 'font-red': !ponto.sincronizado }">
          <s *ngIf="!ponto.indAtivo">{{ ponto.dataHoraRegistro | date: 'HH:mm' }}</s>
          <span *ngIf="ponto.indAtivo">{{ ponto.dataHoraRegistro | date: 'HH:mm' }}</span>
        </span>

        <span *ngIf="!pontoData.pontosUsuario.length">
          Nenhuma marcação
        </span>
      </p>

      <!-- <button ion-button outline item-end icon-start color="danger" (click)="telaPonto(pontoData, i)" *ngIf="pontoData.pontoDataStatus.codPontoDataStatus == 1">
        Editar
      </button> -->
    </ion-item >
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="registrarPonto()" [disabled]="!botaoPontoStatus"><ion-icon name="md-finger-print"></ion-icon></button>
  </ion-fab>
</ion-content>