
<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden" *transloco="let t">
    <div class="flex flex-auto overflow-hidden">
        <div class="top-0 right-0 w-200 z-99999">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
            </mat-form-field>            
        </div>           
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto overflow-hidden sm:overflow-y-auto bg-card">
            <ng-container>
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-instalacao-pleito-instal z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50"
                            matSort matSortDisableClear *transloco="let t">
                            <div class="md:block" [mat-sort-header]="'codInstalacao'">
                                {{ t('cod instalacao') }}
                            </div>                            

                            <div class="md:block">
                                {{ t('filial') }}
                            </div>        
                            
                            <div class="md:block">
                                {{ t('contrato') }}
                            </div>        
                            
                            <div class="md:block">
                                {{ t('tipo novo') }}
                            </div>   
                            
                            <div class="md:block">
                                {{ t('serie') }}
                            </div>     
                            
                            <div class="md:block">
                                {{ t('prefixo sb') }}
                            </div>                               

                            <div class="md:block">
                                {{ t('dependencia') }}
                            </div>

                            <div class="md:block">
                                {{ t('municipio') }}
                            </div>     
                            
                            <div class="md:block">
                                {{ t('uf') }}
                            </div>       
                            
                            <div class="md:block">
                                {{ t('nf remessa') }}
                            </div>                                 
                            
                            <div class="md:block">
                                {{ t('dt instalacao') }}
                            </div>  

                            <div class="md:block">
                                {{ t('termo aceite') }}
                            </div>                              

                            <div class="md:block">
                                {{ t('rat') }}
                            </div>      
                            
                            <div class="md:block">
                                {{ t('num bem trade in') }}
                            </div>      
                            
                            <div class="md:block">
                                {{ t('bordero') }}
                            </div>     
                            
                            <div class="md:block">
                                {{ t('adicionado') }}
                            </div>                                 
                        </div>

                        <ng-container>
                            <ng-container *ngFor="let instalacao of dataSourceData?.items">
                                <div class="list-grid-instalacao-pleito-instal grid items-center h-10 pt-3 gap-4 py-3 px-6 text-sm md:px-8 border-b">
                                    <div class="flex items-center">
                                        {{ instalacao.codInstalacao }}
                                    </div>

                                    <div class="flex items-center">
                                        {{ instalacao.filial?.nomeFilial }}
                                    </div>        
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.contrato?.nomeContrato }}
                                    </div>        
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.equipamento?.nomeEquip }}
                                    </div>   
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.equipamentoContrato?.numSerie }}
                                    </div>     
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.localAtendimentoSol?.numAgencia }} / {{ instalacao.localAtendimentoSol?.dcPosto  }}
                                    </div>                               
        
                                    <div class="flex items-center truncate">
                                        <span [matTooltip]="instalacao.localAtendimentoSol?.nomeLocal">
                                            {{ instalacao.localAtendimentoSol?.nomeLocal }}
                                        </span>
                                    </div>
        
                                    <div class="flex items-center">
                                        {{ instalacao.localAtendimentoSol?.cidade?.nomeCidade }}
                                    </div>     
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.localAtendimentoSol?.cidade?.unidadeFederativa?.siglaUF }}
                                    </div>       
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.nfRemessa }}
                                    </div>                                 
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.dataBI | date:'dd/MM/YYYY' }}
                                    </div>  
        
                                    <div class="flex items-center">
                                        {{ instalacao.indBiorigEnt ? t('sim') : t('nao') }}
                                    </div>                                  
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.ordemServico?.relatoriosAtendimento[0]?.numRAT }}
                                    </div>      
                                    
                                    <div class="flex items-center">
                                        {{ instalacao.bemTradeIn }}
                                    </div>      
                                    
                                    <div class="flex items-center">
                                        {{ instalPleito.instalacaoTipoPleito?.nomeTipoPleito }}
                                    </div>     
                                    
                                    <div class="flex-auto">
                                        <mat-slide-toggle [color]="'primary'" [checked]="isInstalacaoPleito(instalacao.codInstalacao)"
                                             (change)="onChange($event, instalacao)">                                             
                                         </mat-slide-toggle>                                        
                                    </div>  
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>