        <button class="add-button" (click)="print()" [disabled]="loading">
            <mat-icon [svgIcon]="'heroicons_outline:printer'" class="text-white"></mat-icon>
        </button>
        <div class="flex-auto h-full text-center" *transloco="let t">
            <div class="inline-block p-6 sm:p-10 text-left print:p-0">
                <div class="loading-shade" *ngIf="loading">
                    <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
                </div>
                <div id="print-area" class="w-240 m-2 overflow-auto p-16 rounded-2xl shadow bg-card print:w-auto print:rounded-none print:shadow-none
            print:bg-transparent" *ngIf="!loading">

                    <div class="items-start grid grid-cols-12 justify-between">
                        <div class="col-span-6 font-medium text-md mt-10">
                            <div class="text-xl font-semibold leading-5 mb-1">
                                {{ 'ORÇAMENTO DE SERVIÇOS EXTRAS' | uppercase }}
                            </div>
                            <div class="text-base font-semibold leading-5">
                                {{ filial?.nomeFilial + ' - ' + filial?.endereco | uppercase }}
                            </div>
                            <div class="text-base font-semibold leading-5 mb-1">
                                {{ filial?.fone | fone }}
                            </div>
                            <div class="text-lg font-semibold leading-5">
                                {{ orcamento?.numero + " - " + obterData() | uppercase }}
                            </div>

                        </div>
                        <div
                            class="grid col-span-6 auto-cols-max grid-flow-col gap-x-8 -mr-16 py-6 px-8 rounded-l-2xl bg-accent dark">
                            <div class="place-self-center w-24">
                                <img class="w-24" src="assets/images/logo/logo.png">
                            </div>
                            <div class="pl-10 border-l text-md mr-10">
                                <div class="font-medium">Perto S.A.</div>
                                <div>Tecnologia para Bancos e Varejo</div>
                                <div>Rua Nissin Castiel, 640 Distrito Industrial</div>
                                <div>CEP: 94045-420 | Gravataí | RS | Brasil</div>
                                <div>(51) 3489-8700</div>
                                <div>www.perto.com.br</div>
                            </div>
                        </div>
                    </div>

                    <!-- Dados do local para faturamento -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Dados do local para faturamento' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Razão Social</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.cliente?.razaoSocial }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">CNPJ</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.cliente?.cnpj }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">I.E.</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os.cliente?.inscricaoEstadual }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Responsável</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.responsavelFaturamento }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="col-span-12 text-lg font-medium" *ngIf="orcamento?.detalhe">E-mail
                            <div class="col-span-12 self-center font-light text-base text-justify">
                                {{ orcamento?.enderecoFaturamentoNF?.emailFaturamento }}</div>
                            <div class="col-span-12 my-2 border-b"></div>
                        </div>

                        <div class="h-0	col-span-4 text-lg font-medium">Fone</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.foneFaturamento | fone }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Endereço</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.enderecoFaturamento | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Número</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.numeroFaturamento }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Complemento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.complementoFaturamento | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Bairro</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.bairroFaturamento | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Cidade</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cidadeFaturamento?.nomeCidade | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">UF</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cidadeFaturamento?.unidadeFederativa?.siglaUF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">CEP</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cepFaturamento | cep }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                    </div>

                    <!-- Dados do local para Envio de nota fiscal -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Dados do local para Envio de nota fiscal' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Razão Social</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.cliente?.razaoSocial }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">CNPJ</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.cliente?.cnpj }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">I.E.</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os.cliente?.inscricaoEstadual }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Responsável</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.responsavelEnvioNF }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="col-span-12 text-lg font-medium" *ngIf="orcamento?.detalhe">E-mail
                            <div class="col-span-12 self-center font-light text-base text-justify">
                                {{ orcamento?.enderecoFaturamentoNF?.emailEnvioNF }}</div>
                            <div class="col-span-12 my-2 border-b"></div>
                        </div>

                        <div class="h-0	col-span-4 text-lg font-medium">Fone</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.foneEnvioNF | fone }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Endereço</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.enderecoEnvioNF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Número</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.numeroEnvioNF }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Complemento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.complementoEnvioNF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Bairro</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.bairroEnvioNF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Cidade</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cidadeEnvioNF?.nomeCidade | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">UF</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cidadeEnvioNF?.unidadeFederativa?.siglaUF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">CEP</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.enderecoFaturamentoNF?.cepEnvioNF | cep }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>
                    </div>

                    <!-- Dados do local de atendimento/ocorrência -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Dados do local de atendimento/ocorrência' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Nro Contrato</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.equipamentoContrato?.contrato?.nroContrato }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Série</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.equipamentoContrato?.numSerie }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Modelo</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.equipamento?.nomeEquip }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">OS Cliente</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.numOSCliente }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">OS Perto</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.codOS }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>


                        <div class="h-0	col-span-4 text-lg font-medium">Agência</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.numAgencia + '/' + os?.localAtendimento?.dcPosto }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Nome Local</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.nomeLocal | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Bairro</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.bairro | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Endereço</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.endereco | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Número</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.numero }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Complemento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.complemento | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Cidade</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.cidade?.nomeCidade | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">UF</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.cidade?.unidadeFederativa?.siglaUF | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">CEP</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ os?.localAtendimento?.cep | cep }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Motivo</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right font-bold text-red-600">
                            {{ orcamento?.orcamentoMotivo?.descricao | uppercase }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="col-span-12 text-lg font-medium" *ngIf="orcamento?.detalhe">Detalhes
                            <div class="col-span-12 self-center font-light text-base text-justify">
                                {{ orcamento?.detalhe }}</div>
                            <div class="col-span-12 my-2 border-b"></div>
                        </div>
                    </div>

                    <!-- Material a ser utilizado -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3" *ngIf="orcamento?.materiais?.length > 0">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Material a ser utilizado' | uppercase }}</div>

                        <div class="col-span-12 border bg-gray-100 font-bold p-1 grid grid-cols-8">
                            <div class="col-span-1 ">
                                Código
                            </div>
                            <div class="col-span-3">
                                Descrição
                            </div>
                            <div class="col-span-1 text-center">
                                Qtd
                            </div>
                            <div class="col-span-1 text-right">
                                Unitário
                            </div>
                            <div class="col-span-1 text-right">
                                Desconto
                            </div>
                            <div class="col-span-1 text-right">
                                Total
                            </div>
                        </div>

                        <div class="col-span-12 border grid grid-cols-8" *ngFor="let m of orcamento?.materiais">
                            <div class="col-span-1">
                                {{ m?.codigoMagnus }}
                            </div>
                            <div class="col-span-3">
                                {{ m?.descricao }}
                            </div>
                            <div class="col-span-1 text-center">
                                {{ m?.quantidade }}
                            </div>
                            <div class="col-span-1 text-right">
                                {{ m?.valorUnitario | currency:'BRL':'symbol-narrow' }}
                            </div>
                            <div class="col-span-1 text-right">
                                {{ m?.valorDesconto  ?? 0  | currency:'BRL':'symbol-narrow'}}
                            </div>
                            <div class="col-span-1 text-right">
                                {{ m?.valorTotal | currency:'BRL':'symbol-narrow'}}
                            </div>
                        </div>
                    </div>

                    <!-- Mão de obra -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Mão de Obra' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Hora Técnica</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.maoDeObra?.valorHoraTecnica | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Previsão de Horas</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.maoDeObra?.previsaoHoras }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Total</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.maoDeObra?.valorTotal | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>
                    </div>

                    <!-- Deslocamento -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Deslocamento' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Unitário KM Rodado</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.valorUnitarioKmRodado | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Hora em Deslocamento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.valorHoraDeslocamento | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">KM</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.quantidadeKm }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Percurso</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            Ida e volta
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-5 text-lg font-medium">Qtd 1h a cada 65km rodados</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-5 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.quantidadeHoraCadaSessentaKm }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Total KM Rodado</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.valorTotalKmRodado | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Total KM Deslocamento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            {{ orcamento?.orcamentoDeslocamento?.valorTotalKmDeslocamento | currency:'BRL':'symbol-narrow' }}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>
                    </div>

                    <!-- Outros serviços -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3" *ngIf="orcamento?.outrosServicos?.length > 0">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Outros serviços' | uppercase }}</div>

                        <div class="col-span-12 border bg-gray-100 font-bold p-1 grid grid-cols-8">
                            <div class="col-span-3">
                                Descrição
                            </div>
                            <div class="col-span-2 text-right">
                                Unitário
                            </div>
                            <div class="col-span-1 text-center">
                                Qtd
                            </div>
                            <div class="col-span-2 text-right">
                                Total
                            </div>
                        </div>

                        <div class="col-span-12 border grid grid-cols-8" *ngFor="let s of orcamento?.outrosServicos">
                            <div class="col-span-3">
                                {{ s?.descricao }}
                            </div>
                            <div class="col-span-2 text-right">
                                {{ s?.valorUnitario | currency:'BRL':'symbol-narrow'  }}
                            </div>
                            <div class="col-span-1 text-center">
                                {{ s?.quantidade }}
                            </div>
                            <div class="col-span-2 text-right">
                                {{ s?.valorTotal | currency:'BRL':'symbol-narrow'}}
                            </div>
                        </div>
                    </div>

                    <!-- Descontos -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3" *ngIf="orcamento?.descontos?.length > 0">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Descontos' | uppercase }}</div>

                        <div class="col-span-12 border bg-gray-100 font-bold p-1 grid grid-cols-8">
                            <div class="col-span-4">
                                Motivo
                            </div>
                            <div class="col-span-2">
                                Tipo
                            </div>
                            <div class="col-span-2 text-right">
                                Total
                            </div>
                        </div>

                        <div class="col-span-12 border grid grid-cols-8" *ngFor="let d of orcamento?.descontos">
                            <div class="col-span-4">
                                {{ d?.motivo | uppercase }}
                            </div>
                            <div class="col-span-2">
                                {{ d?.nomeCampo | uppercase }}
                            </div>
                            <div class="col-span-2 text-right">
                                {{ d?.valorTotal | currency:'BRL':'symbol-narrow'}}
                            </div>
                        </div>
                    </div>

                    <!-- Totalização -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Total' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Descontos</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right font-bold text-red-600">
                            {{ orcamento?.valorTotalDesconto | currency:'BRL':'symbol-narrow'}}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Valor total</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center font-bold text-right">
                            {{ orcamento?.valorTotal | currency:'BRL':'symbol-narrow'}}
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>
                    </div>

                    <!-- Condições -->
                    <div class="grid grid-cols-12 gap-x-1 mt-3">
                        <div class="text-xl col-span-12 text-left font-medium mb-2">
                            {{ 'Condições' | uppercase }}</div>

                        <div class="h-0	col-span-4 text-lg font-medium">Validade Orçamento</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            3 dias
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="h-0	col-span-4 text-lg font-medium">Impostos Inclusos</div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	self-center text-right"></div>
                        <div class="h-0	col-span-6 self-center text-right">
                            Sim
                        </div>
                        <div class="h-4 col-span-12 my-2 border-b"></div>

                        <div class="col-span-12 text-lg font-medium">
                            <div class="col-span-12 self-center font-light text-base text-justify">
                                Os valores deste orçamento são apenas uma previsão. O efetivo faturamento será efetuado
                                de acordo com os serviços executados e comprovados em Relatórios Técnicos, assinados
                                pelo cliente.</div>
                            <div class="col-span-12 my-2 border-b"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>