<h2 mat-dialog-title>{{ mensagem ? 'Responder' : 'Enviar' }} Mensagem</h2>

<mat-dialog-content class="mat-typography">
    <div *ngIf="!loading">
        <div class="pb-4 font-semibold" *ngIf="mensagem">
            {{ mensagem?.conteudo }}, {{ mensagem?.usuarioRemetente?.nomeUsuario }}
        </div>

        <form class="flex flex-col overflow-hidden uppercase" [formGroup]="form" *transloco="let t">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto pb-2 overflow-hidden">
                <mat-form-field class="fuse-mat-dense sm:col-span-12">
                    <mat-label>{{ t('destinatario') }}</mat-label>
                    <mat-select formControlName="codUsuarioDestinatario">

                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="usuarioFilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>

                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.codUsuario">
                            {{ usuario.nomeUsuario }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-textarea fuse-mat-dense sm:col-span-12">
                    <mat-label>{{ t('conteudo') }}</mat-label>
                    <textarea matInput formControlName="conteudo" [placeholder]="t('mensagem')" [rows]="3"
                        maxlength="1000"></textarea>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                    <mat-error>{{ t('preencher campo') }}</mat-error>
                </mat-form-field> 
            </div>
        </form>
    </div>

    <div class="flex justify-center items-center min-h-36" *ngIf="loading">
        <div class="text-center">
            <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="salvar()" [disabled]="!form?.valid" cdkFocusInitial>Enviar</button>
</mat-dialog-actions>