<h2 mat-dialog-title>{{ mensagem ? 'Responder' : 'Enviar' }} Mensagem</h2>

<mat-dialog-content class="mat-typography">
    <div *ngIf="!loading">
        <div class="pb-4 font-semibold" *ngIf="mensagem">
            {{ mensagem?.conteudo }}, {{ mensagem?.usuarioRemetente?.nomeUsuario }}
        </div>

        <form autocomplete="off" class="flex flex-col overflow-hidden min-h-60" [formGroup]="form" *transloco="let t">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto pb-2 overflow-hidden">
                <mat-form-field class="fuse-mat-dense sm:col-span-12">
                    <mat-label>{{ t('destinatario') }}</mat-label>

                    <mat-select formControlName="codUsuarioDestinatario">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="usuarioFilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>

                        <mat-option class="uppercase" *ngFor="let usuario of usuarios" [value]="usuario.codUsuario">
                            <span>{{ usuario.nomeUsuario }} - </span>

                            <span class="font-light text-hint">{{ usuario?.perfil?.nomePerfil }} - </span>

                            <span> {{ usuario.ultimoAcesso | date:'dd/MM/yyyy HH:mm'}} </span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="fuse-mat-textarea fuse-mat-dense sm:col-span-12 text-secondary font-semibold">
                    <div class="pb-1.5 font-semibold text-secondary">{{ t('conteudo') }}</div>

                    <quill-editor
                        [formControlName]="'conteudo'"
                        [placeholder]="t('mensagem')"
                        [modules]="quillModules"></quill-editor>
                </div>
            </div>
        </form>
    </div>

    <div class="flex justify-center items-center min-h-36" *ngIf="loading">
        <div class="text-center">
            <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>

    <button mat-button (click)="salvar()" [disabled]="!form?.valid" cdkFocusInitial>Enviar</button>
</mat-dialog-actions>