<ng-container>
    <ng-container>
        <div class="grid" *transloco="let t">
            <div class="list-grid-ppd z-10 sticky top-0 grid gap-4 py-2 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                matSort matSortDisableClear *transloco="let t">
                <div class="md:block">
                    {{ t('Cod Magnus') }}
                </div>
                <div class="md:block">
                    {{ t('Peca') }}
                </div>
                <div class="md:block">
                    {{ t('Qtd Peca') }}
                </div>
                <div class="md:block">
                    {{ t('Qtd Liberada') }}
                </div>
                <div class="md:block">
                    {{ t('Qtd Faltante') }}
                </div>
                <div class="md:block">
                    {{ t('Status Peça') }}
                </div>
                <div class="md:block">
                    {{ t('Ações') }}
                </div>
                <div class="md:block">
                    {{ t('Modificadores de Status') }}
                </div>
            </div>

            <ng-container>
                <ng-container *ngFor="let peca of ratDetalhesPeca">
                    <div
                        class="list-grid-ppd grid items-center h-10 pt-3 gap-4 py-3 px-6 text-sm md:px-8 border-b hover:bg-gray-100">
                        <div class="flex items-center">
                            {{ peca?.peca.codMagnus }}
                        </div>
                        <div class="flex items-center truncate" [matTooltip]="peca?.peca.nomePeca">
                            {{ peca?.peca.nomePeca }}
                        </div>
                        <div class="flex items-center truncate">
                            {{ peca?.qtdePecas }}
                        </div>
                        <div class="flex items-center">
                            {{ peca?.qtdeLib }}
                        </div>
                        <div class="flex items-center">
                            {{peca?.indCentral == 1 ? peca?.qtdeLib : 0 }}
                        </div>
                        <div class="flex items-center">
                            {{ peca?.descStatus }}
                        </div>
                        <div class="flex items-center">
                            <button class="mat-icon" [disabled]="isLoading" [matTooltip]="'Ir para OS'"
                                (click)="obterOS(peca?.codRATDetalhe)">
                                <mat-icon class="icon-size-2" [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                            </button>
                            <button class="mat-icon" [disabled]="isLoading" [matTooltip]="'Ir para Historico'"
                                (click)="abrirHistorico(peca?.codRATDetalhesPecas)">
                                <mat-icon class="icon-size-2" [svgIcon]="'heroicons_outline:book-open'"></mat-icon>
                            </button>
                        </div>
                        <div class="flex items-center">
                            <button class="mt-0.5 bg-transparent hover:bg-red-400 text-red-600 font-semibold hover:text-white px-4 h-6 border 
                            border-red-500 hover:border-transparent rounded">
                                F
                            </button>
                            <button class="mt-0.5 bg-transparent hover:bg-green-400 text-green-600 font-semibold hover:text-white px-4 h-6 border 
                            border-green-500 hover:border-transparent rounded">
                                L
                            </button>
                            <button class="mt-0.5 bg-transparent hover:bg-yellow-400 text-yellow-600 font-semibold hover:text-white px-4 h-6 border 
                            border-yellow-500 hover:border-transparent rounded">
                                T
                            </button>
                            <button class="mt-0.5 bg-transparent hover:bg-blue-400 text-blue-600 font-semibold hover:text-white px-4 h-6 border 
                            border-blue-500 hover:border-transparent rounded">
                                S
                            </button>
                            <button class="mt-0.5 bg-transparent hover:bg-gray-400 text-gray-600 font-semibold hover:text-white px-4 h-6 border 
                            border-gray-500 hover:border-transparent rounded">
                                ST
                            </button>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</ng-container>