<div>
    <div *ngIf="!loading" class="items-center justify-center h-90">
        <apx-chart *ngIf="!loading && haveData" [series]="chartOptions.series" [chart]="chartOptions.chart"
            [labels]="chartOptions.dataLabels" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [colors]="chartOptions.colors"
            [title]="chartOptions.title"></apx-chart>
    </div>

    <table *ngIf="!loading" class="w-full table-auto text-sm font-medium tracking-tight bg-card shadow rounded-2xl">
        <thead class="text-center">
            <tr>
                <th>
                    Pendência Global: {{pendenciaGlobal.pendenciaGlobal}}% = {{pendenciaGlobal.chamadosPendentes}} Chamados Pendentes
                </th>
            </tr>
        </thead>
    </table>

    <div class="flex justify-center items-center" *ngIf="loading">
        <div class="">
            <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</div>