    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-5 px-4 border-b" *transloco="let t">
        <div class="flex justify-between">
            <div class="text-3xl font-extrabold tracking-tight leading-none mt-0">
                Adicionar desconto
            </div>
        </div>
    </div>
    <div *transloco="let t">
        <form [formGroup]="form" name="form">
            <div class="grid grid-cols-1">
                <mat-form-field>
                    <mat-label>{{ t('nome') }}</mat-label>
                    <mat-select formControlName="nomeCampo">
                        <mat-option *ngFor="let tipo of nomesTipo" [value]="tipo">
                            {{ tipo }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ t('preencher campo') }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('tipo') }}</mat-label>
                    <mat-select formControlName="nomeTipo">
                        <mat-option *ngFor="let campo of nomesCampo" [value]="campo">
                            {{ campo }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ t('preencher campo') }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('valor') }}</mat-label>
                    <input matInput mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$"
                        [showMaskTyped]="false" [dropSpecialCharacters]="true" autocomplete="off"
                        [formControlName]="'valor'">
                    <mat-error>{{ t('preencher campo') }}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{ t('motivo') }}</mat-label>
                    <textarea matInput autocomplete="off" [formControlName]="'motivo'" [rows]="3"></textarea>
                    <mat-error>{{ t('preencher campo') }}</mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions *transloco="let t" align="end">
        <button mat-button mat-dialog-close>{{ t('cancelar') }}</button>

        <button mat-button [color]="'primary'" [disabled]="!form.valid" (click)="inserir()">
            {{ t('inserir') }}
        </button>
    </div>