<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 md:min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/contrato">
                        {{ t('Auditorias') }}
                    </a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                </div>
                
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="whitespace-nowrap text-secondary">
                        {{ codAuditoria }}
                    </span>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('auditoria') }}
                </h2>
            </div>
        </div>
    </div>

    <ng-template matTabContent>
        <div class="flex flex-wrap items-start w-full max-w-400 gap-6" *transloco="let t">
            <div *ngFor="let foto of fotos"
                class="flex flex-col max-w-40 w-full filter-article hover:opacity-80 cursor-pointer">
                <img class="object-cover h-28 rounded-md w-full"
                    [src]="'https://sat.perto.com.br/DiretorioE/AppTecnicos/Fotos/'+foto.foto">
            </div>
      
            <div class="prose prose-sm max-w-3xl" *ngIf=" !fotos?.length">
                <p>
                    {{ t('nenhum registro encontrado') }}
                </p>
            </div>
        </div>
    </ng-template>
