<div class="flex-auto">
    <div class="max-w-5xl">
        <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
            <div class="w-full max-w-screen-xl mx-auto" >
                <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                    <mat-tab label="{{ t('fotos') }}">
                        <ng-template matTabContent>
                            <div class="grid grid-cols-6 sm:grid-cols-1 md:grid-cols-6 gap-6 w-full min-w-0" *ngIf="auditoria?.fotos.length">
                                <div *ngFor="let foto of auditoria?.fotos" class="flex flex-col max-w-40 w-full filter-article hover:opacity-80 cursor-pointer">
                                    <img class="object-cover h-28 rounded-md w-full" [src]="'https://sat.perto.com.br/DiretorioE/AppTecnicos/Fotos/'+foto.foto">
                                </div>
                                    
                            </div>
                        </ng-template>
                        <p>
                            {{ t('nenhum registro encontrado') }}
                        </p>
                    </mat-tab>
                </mat-tab-group>
            </div>                 
        </div>
    </div>    
</div>