login-page {
    .logo {
        margin-top: 35px;
        width: 220px;
    }

    .inputs {
        margin-top: 14px;
    }
    
    .app-info {
        margin-top: 20px !important;
        font-size: 10pt;
        text-align: center;
        width: 100%;
        color: #cccccc;
    }

    .titulo {
        margin-top: 18%;
        color: #488AFF;
    }

    .sub-titulo {
        color: #616161;
        font-size: 10pt;
        margin-top: -10px;
        margin-bottom: 20px;
    }
}