<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="grid grid-cols-2 justfy-between p-6 border-blue-200 bg-card rounded-t-lg">
        <div class="flex items-center">
            <span class="text-lg font-medium">{{ t('pedido') }}</span>
        </div>
        <div class="flex place-content-end">
            <button mat-button [color]="'primary'" (click)="salvarPedido()">
                {{ t('salvar') }}
            </button>
        </div>
    </div>
    <div class="flex-auto" *ngIf="!isLoading">
        <div>
            <div>
                <div class="overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <form [formGroup]="form">
                            <div class="grid sm:grid-cols-1 gap-x-6 flex-col flex-auto px-6 pb-6 bg-card shadow rounded overflow-hidden">
                                <mat-form-field class="fuse-mat-dense w-5/12">
                                    <mat-label>{{ t('numero pedido') }}</mat-label>
                                    <input [maxlength]="50" matInput formControlName="numPedido">
                                </mat-form-field>

                                <mat-form-field class="fuse-mat-textarea fuse-mat-dense w-5/12">
                                    <mat-label>{{ t('detalhe pedido') }}</mat-label>
                                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'">
                                    </mat-icon>
                                    <textarea matInput [maxlength]="500" formControlName="obsPedido" [rows]="6"></textarea>
                                </mat-form-field>

                                <div class="w-5/12">
                                    <mat-label>{{ t('itens pedido') }}</mat-label>
                                    <div cdkDropList class="example-list mt-2 w-full" (cdkDropListDropped)="drop($event)">
                                        <div class="example-box" *ngFor="let material of materiais; let i = index" [cdkDragData]="material" cdkDrag>
                                            {{ i + 1 }} -  {{material.codigoMagnus + ' - ' + material.descricao }} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>