<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="flex flex-col relative sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="absolute inset-x-0 bottom-0">
        </div>
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('bancada') }}
                </h2>
            </div>

            <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-1">
                <button class="fuse-mat-button-rounded text-green-500 bg-white" mat-flat-button [matTooltip]="t('novo')" matTooltipPosition="above" (click)="novoTecnico()">
                    <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" [cdkDragDisabled]="!bancada" *ngFor="let bancada of bancadas; let i=index" cdkDrag>
                    {{ i+1 }} - {{ bancada?.usuario?.nomeUsuario | uppercase }}
                </div>
            </div>
        </div>
    </div>
</div>