<div class="grid grid-cols-2 justfy-between bg-gray-50 px-8 py-4 border-b" *transloco="let t">
    <div class="flex items-center">
        <span class="text-lg font-medium">{{ t('insumos') }}</span>
    </div>
</div>

<div class="grid sm:grid-cols-1 gap-x-6 flex-col flex-auto p-2 bg-card shadow rounded overflow-hidden">
    <div class="flex flex-col flex-auto min-w-0" *transloco="let t">
        <div class="flex-auto px-6 pt-1 bg-card overflow-hidden">
            <table *ngIf="insumos.length" class="w-full text-sm text-left text-gray-500">
                <tbody>
                    <tr class="font-semibold">
                        <td class="py-1 text-center w-26">
                            Realizado
                        </td>

                        <td class="py-1 text-left">
                            Descrição
                        </td>

                        <td class="py-1 text-left">
                            Item
                        </td>

                        <td class="py-1 text-center">
                            Sugerido
                        </td>

                        <td class="py-1 text-center">
                            Qtd
                        </td>
                    </tr>

                    <tr class="border-t-2" *ngFor="let insumo of insumos">
                        <td class="text-center w-26">
                            <mat-checkbox [color]="'primary'" (change)="toggleRealizado($event, insumo)">
                            </mat-checkbox>
                        </td>

                        <td class="font-medium text-left">
                            {{ insumo?.peca?.nomePeca }}
                        </td>

                        <td class="font-medium text-left">
                            {{ insumo?.codMagnus }}
                        </td>

                        <td class="font-medium text-center">
                            {{ insumo?.quantidade }}
                        </td>

                        <td class="font-medium text-center pt-2.5" [formGroup]="form">
                            <mat-form-field class="fuse-mat-dense w-12" appearance="fill">
                                <input matInput formControlName="qtdUtilizada" [(ngModel)]="qtdUtilizada">
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="flex justify-center items-center min-h-40" *ngIf="loading">
                <div class="text-center">
                    <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
                </div>
            </div>

            <div *ngIf="!insumos.length && !loading"
                class="pt-6 pb-5 text-lg font-semibold tracking-tight text-center bg-card">
                Nenhum insumo encontrado!
            </div>            
        </div>
    </div>
</div>