<div class="list-grid-u z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
    matSort matSortDisableClear *transloco="let t">
    <div class="md:block">
        {{ t('Cod Magnus') }}
    </div>
    <div class="md:block">
        {{ t('Peca') }}
    </div>
    <div class="md:block">
        {{ t('Quantidade') }}
    </div>
    <div class="md:block">
        {{ t('Valor Unitário') }}
    </div>
    <div class="md:block">
        {{ t('IPI') }}
    </div>
    <div class="md:block">
        {{ t('Desconto') }}
    </div>
    <div class="md:block">
        {{ t('Valor Unitário com Desconto') }}
    </div>
    <div class="md:block">
        {{ t('Valor Total') }}
    </div>
    <div class="md:block">
        {{ t('IPI à Incluir') }}
    </div>
    <div class="md:block">
        {{ t('acao') }}
    </div>
    <div class="md:block">
    </div>
</div>

<ng-container *ngFor="let orcamentoPeca of dataSourceData?.items">
    <div class="list-grid-u grid items-center h-10 pt-3 gap-4 py-10 px-6 text-sm md:px-8 border-b hover:bg-gray-100">
        <div class="flex items-center">
            {{ orcamentoPeca?.peca.codMagnus }}
        </div>
        <div class="flex items-center">
            {{ orcamentoPeca?.peca.nomePeca }}
        </div>
        <div class="flex items-center">
            {{ orcamentoPeca?.quantidade }}
        </div>
        <div class="flex items-center">
            {{ orcamentoPeca?.valorPeca | currency: 'BRL' }}
        </div>
        <div class="md:block">
            {{ orcamentoPeca?.percIpi}}%
        </div>
        <div class="md:block">
            {{ orcamentoPeca?.valorDesconto}}%
        </div>
        <div class="md:block">
            {{ orcamentoPeca?.valorPecaDesconto | currency: 'BRL' }}
        </div>
        <div class="md:block">
            {{ orcamentoPeca?.valorTotal | currency: 'BRL' }}
        </div>
        <div class="md:block">
            {{ orcamentoPeca?.ipiIncluido | currency: 'BRL' }}
        </div>
        <div class="text-center">
            <button (click)="deletar(orcamentoPeca)" class="mt-0.5 bg-transparent hover:bg-red-400 text-red-600 font-semibold hover:text-white px-4 h-6 border 
                                    border-red-500 hover:border-transparent rounded">
                Deletar
            </button>
        </div>
        <div class="text-center">
            <button class="ml-4 col-span-1" mat-icon-button matTooltip="{{ ('Atualizar Valores') }}"
                (click)="atualizar(orcamentoPeca)">
                <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
            </button>
        </div>

    </div>
</ng-container>

<div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
    <div class="md:block">
        Valor Total: R$ {{ orcamento?.valorTotal | currency: 'BRL' }}
    </div>
</div>