<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <div class="flex-auto">
        <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Contatos</div>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container>
                        {{ usuarios.length }}
                    </ng-container>

                    {{ usuarios.length == 1 ? 'Contato' : 'Contatos' }}
                </div>
            </div>

            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                <div class="flex-auto">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                        <mat-icon class="icon-size-5" matPrefix
                            [svgIcon]="isLoading ? 'feather:loader' : 'heroicons_solid:search'"></mat-icon>

                        <input matInput #searchInputControl [autocomplete]="'off'"
                            [placeholder]="'Pesquisar'" [disabled]="isLoading">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="relative px-8">
            <ng-container *ngIf="usuarios.length">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 w-full min-w-0">
                    <ng-container *ngFor="let usuario of usuarios; let i = index;">
                        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex flex-col flex-auto w-full p-8 text-center">
                                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                                    <img
                                        class="w-full h-full object-cover"
                                        [src]="usuario?.foto?.base64 ? 'data:image/jpg;base64,' + usuario?.foto?.base64 : 'assets/images/avatars/profile.jpg'">
                                </div>
                                <div class="mt-6 font-medium truncate">{{ usuario.nomeUsuario.trim() | uppercase }}</div>
                                <div class="text-secondary truncate">{{ usuario.perfil?.nomePerfil }}</div>
                            </div>
                            
                            <div class="flex items-center w-full border-t divide-x">
                                <a
                                    class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                    [href]="'mailto:' + usuario.email">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    <span class="ml-2">Email</span>
                                </a>
                                <a
                                    class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                                    [href]="'tel:' + usuario.fonePerto">
                                    <mat-icon
                                        class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                    <span class="ml-2">Telefone</span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <div *ngIf="!usuarios.length && !isLoading">
                <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                    Nenhum contato encontrado!
                </div>
            </div>

            <div *ngIf="!usuarios.length && isLoading">
                <div class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                    Carregando...
                </div>
            </div>
        </div>
    </div>
</div>