<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/laboratorio/processo-reparo">
                        {{ t('processo de reparo') }}
                    </a>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ t('atualizando') }}
                    </span>
                </div>

                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        #{{ codORItem }}
                    </span>
                </div>
            </div>

            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('processo de reparo') }}
                </h2>
            </div>
        </div>

        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-1">
            <button [disabled]="!item" (click)="toggleStatusReparo()" class="fuse-mat-button-rounded" mat-icon-button
                [matTooltip]="!tempoReparo?.indAtivo ? 'Iniciar Reparo' : 'Finalizar Reparo'">
                <mat-icon 
                    class="icon-size-10"
                    [class.text-green-500]="!tempoReparo?.indAtivo"
                    [class.text-red-500]="tempoReparo?.indAtivo"
                    [svgIcon]="!tempoReparo?.indAtivo ? 'heroicons_outline:play' : 'heroicons_outline:stop'">
                </mat-icon>
            </button>
        </div>
    </div>

    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-col bg-card shadow rounded overflow-hidden">
            <app-laboratorio-processo-reparo-form *ngIf="item" [item]="item">
            </app-laboratorio-processo-reparo-form>

            <app-laboratorio-processo-reparo-tecnico [codTecnico]="item?.codTecnico">
            </app-laboratorio-processo-reparo-tecnico>

            <app-laboratorio-processo-reparo-form-checklist *ngIf="item" [orItem]="item">
            </app-laboratorio-processo-reparo-form-checklist>

            <app-laboratorio-processo-reparo-insumo [codORItem]="codORItem">
            </app-laboratorio-processo-reparo-insumo>

            <app-laboratorio-processo-reparo-form-defeito [codORItem]="codORItem">
            </app-laboratorio-processo-reparo-form-defeito>

            <app-laboratorio-processo-reparo-form-solucao [codORItem]="codORItem">
            </app-laboratorio-processo-reparo-form-solucao>
        </div>
    </div>
</div>