<div class="flex-auto" *transloco="let t">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-6 px-6 md:px-8 border-b">
        <div class="flex justify-between">
            <div class="text-4xl font-extrabold tracking-tight leading-none mt-2">
                {{ t('filtros') }}
            </div>

            <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <ng-container>
        <form class="flex flex-col bg-card shadow rounded overflow-hidden" [formGroup]="form" *transloco="let t">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-0 overflow-hidden">                
                <mat-form-field class="fuse-mat-dense sm:col-span-12">
                    <mat-label>{{ t('codigos de instalacao') }}</mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let instalacao of instalacoes" (removed)="remove(instalacao)">
                            {{ instalacao }}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                    </mat-chip-list>
                    <input  [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="add($event)"
                            (paste)="paste($event)">
                </mat-form-field>          
            </div>

            <div class="mt-6 border-t"></div>

            <div class="flex items-center justify-start px-8 py-3 relative">
                <button (click)="aplicar(false)" [disabled]="!form.valid" mat-button [color]="'primary'">
                    {{ t('aplicar') }}
                </button>

                <button side (click)="limpar()" color="warn" mat-button>
                    {{ t('limpar') }}
                </button>
            </div>
        </form>
    </ng-container>
</div>