<div class="flex flex-col max-w-360 md:min-w-160 -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary sticky -top-6 z-20">
        <div class="text-lg font-medium">Ressalvas</div>

        <div>
            <button mat-icon-button (click)="salvar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:check'"></mat-icon>
            </button>

            <button mat-icon-button (click)="fechar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto pt-6 pl-5 z-10" *transloco="let t">
        <div *ngFor="let data of dataSourceData?.items">
                <fuse-card class="flex flex-col sm:col-span-12 flex-auto bg-card shadow rounded-2xl overflow-hidden">
                    <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                        <p class="text-lg font-medium">Ressalvas</p>
                    </div>
                    <div class="flex items-center justify-between py-1">
                        <div class="text-secondary">
                            Motivo
                        </div>

                        <div class="truncate max-w-1/2">
                            {{ data.instalacaoMotivoRes.descMotivoRes }}
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-1">
                        <div class="text-secondary">
                            Comentário
                        </div>

                        <div class="truncate max-w-1/2">
                            {{ data.comentario }}
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-1">
                        <div class="text-secondary">
                            Data Ocorrência
                        </div>

                        <div class="truncate max-w-1/2">
                            {{ data.dataOcorrencia | date:'dd/MM/yyyy HH:mm' }}
                        </div>
                    </div>

                    <div class="flex items-center justify-between py-1">
                        <div class="text-secondary">
                            Justificativa
                        </div>

                        <div class="truncate max-w-1/2">
                            {{ data.indJustificativa }}
                        </div>
                    </div>
                </fuse-card>
        </div>
    </div>
</div>