<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-ordem-servico-transferencia [os]="os" [sidenav]="sidenav"></app-ordem-servico-transferencia>
    </mat-drawer>

    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4"
                        *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="flex flex-wrap items-center font-medium">
                                    <div>
                                        <a class="whitespace-nowrap text-primary-500" routerLink="/ordem-servico">
                                            {{ t('chamados') }}
                                        </a>
                                    </div>
                                    <div class="flex items-center ml-1 whitespace-nowrap">
                                        <mat-icon class="icon-size-5 text-secondary"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                        <span class="ml-1 text-secondary">{{ t('chamado') }}</span>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h6
                                        class="text-2xl md:text-2xl font-extrabold tracking-tight leading-6 sm:leading-6 truncate">
                                        {{ codOS }}
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-1">
                            <button *ngIf="!this.perfilCliente && verificarPermissaoCriacaoRAT()" class="fuse-mat-button-rounded text-green-500 bg-white"
                                mat-flat-button
                                [disabled]="os?.codStatusServico === 3 || os?.codStatusServico === 2 || isLoading"
                                [matTooltip]="t('novo relatorio de atendimento')" matTooltipPosition="above"
                                [routerLink]="['/relatorio-atendimento/detalhe/' + codOS]">
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
                            </button>

                            <button *ngIf="!this.perfilCliente && verificarPermissaoEdicaoOS()" class="fuse-mat-button-rounded text-yellow-500 bg-white"
                                mat-flat-button [color]="'primary'"
                                [disabled]="os?.codStatusServico === 3 || os?.codStatusServico === 2 || isLoading"
                                [matTooltip]="t('editar')" matTooltipPosition="above"
                                [routerLink]="['/ordem-servico/form/' + codOS]">
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                            </button>

                            <button *ngIf="!this.perfilCliente && verificarPermissaoAgendamento()" class="fuse-mat-button-rounded text-blue-500 bg-white"
                                mat-flat-button [color]="'primary'"
                                [disabled]="os?.codStatusServico === 3 || os?.codStatusServico === 2 || isLoading"
                                [matTooltip]="t('agendar')" (click)="agendar()" matTooltipPosition="above">
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded text-indigo-700 bg-white" mat-flat-button
                                *ngIf="!this.perfilCliente && os?.codStatusServico != 8 && verificarPermissaoTransferencia()" [disabled]="os?.codStatusServico === 3 || os?.codStatusServico === 2 ||
                                os?.codStatusServico === 7 || isLoading" [matTooltip]="t('transferir')"
                                matTooltipPosition="above" (click)="sidenav.toggle()">
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:share'"></mat-icon>
                            </button>

                            <button class="fuse-mat-button-rounded text-red-700 bg-white" mat-flat-button
                                *ngIf="os?.codStatusServico == 8 && !this.perfilCliente && verificarPermissaoTransferencia()"
                                [matTooltip]="t('cancelar transferencia')" [disabled]="isLoading"
                                matTooltipPosition="above" (click)="cancelarTransferencia()">
                                <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                            </button>
                        </div>

                        <button *ngIf="!this.perfilCliente"
                            class="ml-3 -mr-2 fuse-mat-button-rounded text-gray-700 bg-white" mat-flat-button
                            [matMenuTriggerFor]="menu" [disabled]="isLoading">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                            <mat-menu #menu>
                                <button *ngIf="!this.perfilCliente" mat-menu-item (click)="exportar()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                    {{ t('imprimir') }}
                                </button>

                                <button *ngIf="!this.perfilCliente" mat-menu-item (click)="cancelar()"
                                    [disabled]="verificarPermissaoCancelamento()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:ban'"></mat-icon>
                                    {{ t('cancelar') }}
                                </button>

                                <button *ngIf="!this.perfilCliente && verificarPermissaoCancelamento()" mat-menu-item
                                    (click)="bloquearDesbloquearChamado()">
                                    <mat-icon class="icon-size-5" [class.text-red-600]="!os?.indBloqueioReincidencia"
                                        [class.text-green-600]="os?.indBloqueioReincidencia"
                                        [svgIcon]="os?.indBloqueioReincidencia ? 'heroicons_solid:lock-openned' : 'heroicons_solid:lock-closed'"></mat-icon>
                                    {{ os?.indBloqueioReincidencia ? 'Desbloquear' : 'Bloquear' }}
                                </button>

                                <button mat-menu-item (click)="reabrir()" *ngIf="verificarPermissaoReabertura()">
                                    <mat-icon class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:arrow-circle-up'"></mat-icon>
                                    {{ t('reabrir') }}
                                </button>

                                <button *ngIf="!this.perfilCliente" mat-menu-item (click)="openEmailDialog()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    Enviar por e-mail
                                </button>

                                <button mat-menu-item (click)="reprocessarSLA()"
                                    *ngIf="!perfilCliente && (userSession.usuario.codPerfil == 3 || userSession.usuario.codPerfil == 70)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                                    Reprocessar SLA
                                </button>

                                <button
                                    *ngIf="(os?.codCliente === 197 || os?.codCliente === 220) && os?.codStatusServico === 3
                                    && (userSession.usuario.codPerfil == 3 ||userSession.usuario.codPerfil == 29)"
                                    mat-menu-item (click)="reprocessarIntegracaoBRB()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                                    Reprocessar Integração BRB
                                </button>

                                <button mat-menu-item *ngIf="verificaPermissaoBB()" (click)="reenvioIntegracaoBBTS()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                                    Reprocessar Integração BBTS
                                </button>

                                <button mat-menu-item *ngIf="verificaPermissaoBB() && dispBBBloqueioOS.length"
                                    (click)="desbloqueioRATBBTS()">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:lock-open'"></mat-icon>
                                    Desbloquear BBTS
                                </button>
                            </mat-menu>
                        </button>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto" *ngIf="!isLoading">
                    <mat-tab-group class="sm:px-2" [animationDuration]="'0'" (selectedTabChange)="trocarTab($event)">
                        <!-- DETALHES DA OS -->
                        <mat-tab label="{{ t('detalhes') }}">
                            <ng-template matTabContent>
                                <app-ordem-servico-info [os]="os"></app-ordem-servico-info>
                            </ng-template>
                        </mat-tab>

                        <!-- AGENDAMENTOS -->
                        <mat-tab *ngIf="!perfilCliente">
                            <ng-template matTabLabel>
                                {{ t('agendamentos') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-agendamentos [codOS]="codOS"></app-ordem-servico-agendamentos>
                            </ng-template>
                        </mat-tab>

                        <!-- ALERTAS -->
                        <mat-tab *ngIf="!this.perfilCliente">
                            <ng-template matTabLabel>
                                {{ t('alertas') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-alertas [os]="os"></app-ordem-servico-alertas>
                            </ng-template>
                        </mat-tab>

                        <!-- LOGS -->
                        <mat-tab>
                            <ng-template matTabLabel>
                                {{ t('log') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-logs [codOS]="codOS"></app-ordem-servico-logs>
                            </ng-template>
                        </mat-tab>

                        <!-- RELATORIOS DE ATENDIMENTO -->
                        <mat-tab>
                            <ng-template matTabLabel>
                                {{ t('relatorios') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-rats [codOS]="codOS"></app-ordem-servico-rats>
                            </ng-template>
                        </mat-tab>

                        <!-- FOTOS -->
                        <mat-tab>
                            <ng-template matTabLabel>
                                {{ t('fotos') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-rat-fotos [codOS]="codOS"></app-ordem-servico-rat-fotos>
                            </ng-template>
                        </mat-tab>

                        <!-- LAUDOS -->
                        <mat-tab *ngIf="!this.perfilCliente">
                            <ng-template matTabLabel>
                                {{ t('laudos') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-laudos [codOS]="codOS"></app-ordem-servico-laudos>
                            </ng-template>
                        </mat-tab>

                        <!-- EQUIPAMENTO -->
                        <mat-tab *ngIf="!this.perfilCliente">
                            <ng-template matTabLabel>
                                {{ t('oss do equipamento') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-historico [codOS]="codOS" [codEquipContrato]="os.codEquipContrato">
                                </app-ordem-servico-historico>
                            </ng-template>
                        </mat-tab>

                        <!-- ORCAMENTOS -->
                        <mat-tab
                            *ngIf="!perfilCliente && (userSession.usuario.codPerfil == 3 || userSession.usuario.codSetor == 1)">
                            <ng-template matTabLabel>
                                {{ t('orcamentos') }}
                            </ng-template>

                            <ng-template matTabContent>
                                <app-ordem-servico-orcamentos [os]="os">
                                </app-ordem-servico-orcamentos>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>