<div class="flex flex-col flex-auto min-h-full p-8" *transloco="let t">
    <div class="pb-4 text-4xl font-extrabold tracking-tight">{{ t('agenda') }}</div>

    <!-- Calendars -->
    <ng-container *ngFor="let calendar of calendars">
        <div class="group flex items-center justify-between mt-2">
            <div
                class="flex items-center truncate"
                (click)="toggleCalendarVisibility(calendar)">
                <mat-icon
                    class="cursor-pointer"
                    [svgIcon]="calendar.visible ? 'check_box' : 'check_box_outline_blank'"></mat-icon>
                <span
                    class="w-3 h-3 ml-2 rounded-full"
                    [ngClass]="calendar.color"></span>
                <span class="ml-2 leading-none truncate"
                    [matTooltip]="calendar.title | titlecase"
                    matTooltipPosition="above">
                    {{ calendar.title?.split(" ").shift() | titlecase }}
                    <span class="text-secondary">
                        ({{ calendar.eventos?.length }})
                    </span>
                </span>
            </div>
        </div>
    </ng-container>

    <p *ngIf="!calendars?.length">{{ t('nenhum registro encontrado') }}</p>

    <div class="-mx-4 mt-auto">
        <a
            class="flex items-center w-full mt-4 py-3 px-4 rounded-full hover:bg-hover"
            [routerLink]="['agenda-tecnico-configuracoes']">
            <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
            <span class="ml-2 font-medium leading-none">{{ t('configuracoes') }}</span>
        </a>
    </div>
</div>
