<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
                Tutoriais
            </div>
            <ng-container>
                <div class="mt-12 sm:mt-16 text-3xl font-bold leading-tight tracking-tight">Primeiros Passos</div>
                <mat-accordion class="max-w-4xl mt-8">
                    <ng-container>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="font-medium leading-tight">01. Logando no sistema</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="col-md-12 text-center text-default">
                                <video oncontextmenu="return false;" class='min-w-full min-h-full' controls
                                    controlsList="nodownload">
                                    <source src="assets/videos/01-logando-no-sistema.mp4" type="video/mp4">
                                </video>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="font-medium leading-tight">02. Listando chamados
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="col-md-12 text-center text-default">
                                <video oncontextmenu="return false;" class='min-w-full min-h-full' controls
                                    controlsList="nodownload">
                                    <source src="assets/videos/02-lista-chamados.mp4" type="video/mp4">
                                </video>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="font-medium leading-tight">03. Filtrando a lista de chamados
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="col-md-12 text-center text-default">
                                <video oncontextmenu="return false;" class='min-w-full min-h-full' controls
                                    controlsList="nodownload">
                                    <source src="assets/videos/03-lista-chamados-filtro.mp4" type="video/mp4">
                                </video>
                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="font-medium leading-tight">04. Exportando a lista de chamados
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="col-md-12 text-center text-default">
                                <video oncontextmenu="return false;" class='min-w-full min-h-full' controls
                                    controlsList="nodownload">
                                    <source src="assets/videos/04-lista-chamados-exportacao.mp4" type="video/mp4">
                                </video>
                            </div>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </ng-container>
        </div>
    </div>
</div>