<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="dataInicio">
        <th mat-header-cell *matHeaderCellDef>Dia</th>
        <td mat-cell *matCellDef="let row"> {{ row.dataHoraInicio | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="dataHoraInicio">
        <th mat-header-cell *matHeaderCellDef>Início</th>
        <td mat-cell *matCellDef="let row"> {{ row.dataHoraInicio | date:'HH:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="dataHoraSolucao">
        <th mat-header-cell *matHeaderCellDef>Fim</th>
        <td mat-cell *matCellDef="let row"> {{ row.dataHoraSolucao | date:'HH:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="codOS">
        <th mat-header-cell *matHeaderCellDef>OS</th>
        <td mat-cell *matCellDef="let row">
            <span class="font-semibold">{{ row.codOS }}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="numRAT">
        <th mat-header-cell *matHeaderCellDef>RAT</th>
        <td mat-cell *matCellDef="let row"> {{ row.numRAT }} </td>
    </ng-container>

    <ng-container matColumnDef="local">
        <th mat-header-cell *matHeaderCellDef>Local</th>
        <td mat-cell *matCellDef="let row"> {{ row.local }} </td>
    </ng-container>

    <ng-container matColumnDef="cidade">
        <th mat-header-cell *matHeaderCellDef>Cidade</th>
        <td mat-cell *matCellDef="let row"> {{ row.cidade }} </td>
    </ng-container>

    <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef>UF</th>
        <td mat-cell *matCellDef="let row"> {{ row.uf }} </td>
    </ng-container>

    <ng-container matColumnDef="inicioIntervalo">
        <th mat-header-cell *matHeaderCellDef>Início Interv.</th>
        <td mat-cell *matCellDef="let row"> {{ row.inicioIntervalo || '--' }} </td>
    </ng-container>

    <ng-container matColumnDef="fimIntervalo">
        <th mat-header-cell *matHeaderCellDef>Fim Interv.</th>
        <td mat-cell *matCellDef="let row"> {{ row.fimIntervalo || '--' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="p-4" *ngIf="!relatorios.length">
    <p>Nenhum registro encontrado!</p>
</div>
