<div class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto bg-card overflow-hidden">
    <div class="text-lg font-semibold leading-tight ml-6">
        SLA <span class="text-secondary font-light">Técnicos</span>
    </div>

    <div class="text-secondary text-sm ml-6 mt-1">Piores SLAs</div>

    <div>
        <div class="items-center w-full justify-center -mt-4 pr-4" *ngIf="!loading">
            <apx-chart
                [series]="tecnicoChart.series"
                [chart]="tecnicoChart.chart"
                [dataLabels]="tecnicoChart.dataLabels"
                [stroke]="tecnicoChart.stroke"
                [colors]="tecnicoChart.colors"
                [title]="tecnicoChart.title"
                [subtitle]="tecnicoChart.subtitle"
                [plotOptions]="tecnicoChart.plotOptions"
                [yaxis]="tecnicoChart.yaxis"
                [xaxis]="tecnicoChart.xaxis"
                [tooltip]="tecnicoChart.tooltip"
            ></apx-chart>
        </div>

        <div class="flex justify-center items-center min-h-40" *ngIf="loading">
            <div class="text-center">
                <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>
</div>