<div class="w-full max-w-3xl" *transloco="let t">
    <form [formGroup]="accountForm">
        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">
                {{ t('perfil') }}
            </div>
            <div class="text-secondary">
                {{ t('informacoes publicas') }}
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>
                        {{ t('nome') }}
                    </mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'nome'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                    <mat-label>{{ t('usuario') }}</mat-label>
                    <div
                        class="text-secondary"
                        matPrefix>
                        sat.com.br/
                    </div>
                    <input
                        [formControlName]="'codUsuario'"
                        matInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">{{ t('informacoes pessoais') }}</div>
            <div class="text-secondary">{{ t('informacoes privadas') }}</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Email</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Phone</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Language -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Language</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'english'">English</mat-option>
                        <mat-option [value]="'french'">French</mat-option>
                        <mat-option [value]="'spanish'">Spanish</mat-option>
                        <mat-option [value]="'german'">German</mat-option>
                        <mat-option [value]="'italian'">Italian</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button">
                {{ t('cancelar') }}
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">
                {{ t('salvar') }}
            </button>
        </div>
    </form>

</div>
