<div class="flex flex-col w-full min-w-0 sm:overflow-hidden py-4" *transloco="let t">
    <div *ngIf="carregado">
        <div class="w-full">
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-center">
                                <tbody>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            Login
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.codUsuario}}
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            {{ t('perfil acesso') }}
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.perfil?.nomePerfil || 'Sem informações cadastradas' | titlecase}}
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            {{ t('cargo') }}
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.cargo?.nomeCargo || 'Sem informações cadastradas' | titlecase}}
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            {{ t('ativo') }}
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.indAtivo ? 'Sim' : 'Não'}}
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            {{ t('filial perto') }}
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.filial?.nomeFilial || 'Sem filial cadastrada' | titlecase}}
                                        </td>
                                    </tr>
                                    <tr class="border-b">
                                        <td class="py-4 white space-nowrap text-lg text-gray-900">
                                            {{ t('numero cracha') }}
                                        </td>
                                        <td class="py-4 white space-nowrap text-lg text-gray-900 font-light">
                                            {{usuario?.numCracha || 'Sem informações cadastradas'}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>