<div class="flex flex-col max-w-360 md:min-w-160 -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary sticky -top-6 z-20">
        <div class="text-lg font-medium">Edição</div>

        <div>
            <button mat-icon-button (click)="salvar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:check'"></mat-icon>
            </button>

            <button mat-icon-button (click)="fechar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto pt-6 pl-5 z-10" *transloco="let t">
        <mat-tab-group [animationDuration]="'0'">
            <mat-tab label="Instalação">
                <form autocomplete="off" [formGroup]="formInstalacao">

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('pedido compra') }}</mat-label>
                        <input matInput formControlName="pedidoCompra">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('Data Entrega Confirmacao') }}</mat-label>
                        <input matInput (click)="dataHoraChegTranspBT.open()" (keydown)="false"
                            [matDatepicker]="dataHoraChegTranspBT" formControlName="dataHoraChegTranspBT">
                        <mat-datepicker-toggle matSuffix [for]="dataHoraChegTranspBT"></mat-datepicker-toggle>
                        <mat-datepicker #dataHoraChegTranspBT></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nf remessa') }}</mat-label>
                        <input matInput formControlName="nfRemessa">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('nf remessa data da expedicao')">
                        <mat-label>{{ t('nf remessa data da expedicao') }}</mat-label>
                        <input matInput formControlName="dataNFRemessa">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('responsavel pelo recebimento')">
                        <mat-label>{{ t('responsavel pelo recebimento') }}</mat-label>
                        <input matInput formControlName="nomeRespBancoBT">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('mat responsavel pelo recebimento')">
                        <mat-label>{{ t('mat responsavel pelo recebimento') }}</mat-label>
                        <input matInput formControlName="numMatriculaBT">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nf remessa conferida') }}</mat-label>
                        <input matInput formControlName="nfRemessaConferida">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('ag instalacao') }}</mat-label>

                        <mat-select class="min-h-10" formControlName="codPostoIns">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="locaisFiltro">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let localAtendimento of locaisAtendimento" [value]="localAtendimento.codPosto" [matTooltip]="localAtendimento.nomeLocal">
                                <span class="opacity-60 text-md">
                                    {{ localAtendimento.numAgencia }}/{{ localAtendimento.dcPosto }}
                                </span>

                                {{ localAtendimento.nomeLocal }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('qtd parabold') }}</mat-label>
                        <input matInput formControlName="qtdParaboldBI">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('Equipamento Rebaixado') }}</mat-label>
                        <mat-select formControlName="indEquipRebaixadoBI">
                            <mat-option [value]="0">
                                Não
                            </mat-option>
                            <mat-option [value]="1">
                                Sim
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('responsavel pela instalacao')">
                        <mat-label>{{ t('responsavel pela instalacao') }}</mat-label>
                        <input matInput formControlName="nomeRespBancoBI">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('mat responsavel pela instalacao')">
                        <mat-label>{{ t('mat responsavel pela instalacao') }}</mat-label>
                        <input matInput formControlName="numMatriculaBI">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('Termo Aceite') }}</mat-label>
                        <mat-select formControlName="indBiorigEnt">
                            <mat-option [value]="0">
                                Não
                            </mat-option>
                            <mat-option [value]="1">
                                Sim
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('Termo Descaracterizacao')">
                        <mat-label>{{ t('Termo Descaracterizacao') }}</mat-label>
                        <mat-select formControlName="termoDescaracterizacao">
                            <mat-option [value]="0">
                                Não
                            </mat-option>
                            <mat-option [value]="1">
                                Sim
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('Num BemTradeIn') }}</mat-label>
                        <input matInput formControlName="bemTradeIn">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('Data Retirada BemTradeIn') }}</mat-label>
                        <input matInput (click)="dataRetirada.open()" (keydown)="false" [matDatepicker]="dataRetirada"
                            formControlName="dataRetirada">
                        <mat-datepicker-toggle matSuffix [for]="dataRetirada"></mat-datepicker-toggle>
                        <mat-datepicker #dataRetirada></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('Reponsavel Banco Acompanhamento TradeIn')">
                        <mat-label>{{ t('Reponsavel Banco Acompanhamento TradeIn') }}</mat-label>
                        <input matInput formControlName="nomeReponsavelBancoAcompanhamento">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2" [matTooltip]="t('Fornecedor Compra TradeIn')">
                        <mat-label>{{ t('Fornecedor Compra TradeIn') }}</mat-label>
                        <input matInput formControlName="fornecedorCompraTradeIn">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('DT NF Venda Trade IN') }}</mat-label>
                        <input matInput (click)="dataNFVendaTradeIn.open()" (keydown)="false" [matDatepicker]="dataNFVendaTradeIn"
                            formControlName="dataNFVendaTradeIn">
                        <mat-datepicker-toggle matSuffix [for]="dataNFVendaTradeIn"></mat-datepicker-toggle>
                        <mat-datepicker #dataNFVendaTradeIn></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('NF Venda TradeIn') }}</mat-label>
                        <input matInput formControlName="nfVendaTradeIn">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('RAT Entregue') }}</mat-label>
                        <mat-select formControlName="indRATOK">
                            <mat-option [value]="0">
                                Não
                            </mat-option>
                            <mat-option [value]="1">
                                Sim
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('status') }}</mat-label>

                        <mat-select formControlName="codInstalStatus"
                            #instalStatusSelect>
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'"
                                    [formControl]="instalStatusFiltro">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let instalStatus of instalacoesStatus"
                                [value]="instalStatus.codInstalStatus">
                                <span>{{ instalStatus.nomeInstalStatus }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>