<div class="flex flex-col max-w-360 md:min-w-160 -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary sticky -top-6 z-20">
        <div class="text-lg font-medium">Mais Opções</div>

        <div>
            <button mat-icon-button (click)="salvar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:check'"></mat-icon>
            </button>

            <button mat-icon-button (click)="fechar()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col flex-auto pt-6 pl-5 z-10" *transloco="let t">
        <mat-tab-group [animationDuration]="'0'">
            <mat-tab label="Instalação">
                <form autocomplete="off" [formGroup]="formInstalacao">
                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('transportadora') }}</mat-label>

                        <mat-select formControlName="codTransportadora">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let transportadora of transportadoras"
                                [value]="transportadora.codTransportadora">
                                <span>{{ transportadora.nomeTransportadora }}</span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('filial') }}</mat-label>

                        <mat-select formControlName="codFilial">
                            <mat-option class="uppercase" *ngFor="let filial of filiais" [value]="filial.codFilial">
                                <span>{{ filial.nomeFilial }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('pedido compra') }}</mat-label>
                        <input matInput formControlName="pedidoCompra">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('super e') }}</mat-label>
                        <input matInput formControlName="superE">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('cma') }}</mat-label>
                        <input matInput formControlName="csl">
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('lote') }}</mat-label>
                        <input matInput formControlName="csoServ">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('terceirizado') }}</mat-label>
                        <input matInput formControlName="supridora">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('tipo dep') }}</mat-label>
                        <input matInput formControlName="msT606TipoNovo">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nro serie') }}</mat-label>

                        <mat-select formControlName="codEquipContrato">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let equipamentoContrato of equipamentosContrato"
                                [value]="equipamentoContrato.codEquipContrato">
                                <span>{{ equipamentoContrato.numSerie }} - {{
                                    equipamentoContrato.equipamento.nomeEquip }}</span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('prefixo sb') }}</mat-label>

                        <mat-select formControlName="codPosto">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="locaisFiltro">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let localAtendimento of locaisAtendimento"
                                [matTooltip]="localAtendimento?.endereco + ', ' + localAtendimento?.bairro + ' - ' + localAtendimento?.cidade?.nomeCidade"
                                [value]="localAtendimento.codPosto">
                                <span>{{ localAtendimento.numAgencia }} / {{
                                    localAtendimento.dcPosto }} - {{ localAtendimento.nomeLocal
                                    }} </span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('data sug entrega') }}</mat-label>
                        <input matInput formControlName="dataSugEntrega">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('dt confirmada da entrega') }}</mat-label>
                        <input matInput (click)="dataConfEntrega.open()" (keydown)="false"
                            [matDatepicker]="dataConfEntrega" formControlName="dataConfEntrega">
                        <mat-datepicker-toggle matSuffix [for]="dataConfEntrega"></mat-datepicker-toggle>
                        <mat-datepicker #dataConfEntrega></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nf remessa') }}</mat-label>
                        <input matInput formControlName="nfRemessa">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nf remessa data da expedicao') }}</mat-label>
                        <input matInput formControlName="dataNFRemessa">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('dt expedicao') }}</mat-label>
                        <input matInput (click)="dataExpedicao.open()" (keydown)="false" [matDatepicker]="dataExpedicao"
                            formControlName="dataExpedicao">
                        <mat-datepicker-toggle matSuffix [for]="dataExpedicao"></mat-datepicker-toggle>
                        <mat-datepicker #dataExpedicao></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('ag entrega') }}</mat-label>

                        <mat-select formControlName="codPostoEnt">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let localAtendimento of locaisAtendimento"
                                [matTooltip]="localAtendimento?.endereco + ', ' + localAtendimento?.bairro + ' - ' + localAtendimento?.cidade?.nomeCidade"
                                [value]="localAtendimento.codPosto">
                                <span>{{ localAtendimento.numAgencia }} / {{
                                    localAtendimento.dcPosto }} - {{ localAtendimento.nomeLocal
                                    }} </span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('recebimento documentacao instalacao') }}</mat-label>
                        <input matInput formControlName="dtbCliente">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('fatura transp re-entrega') }}</mat-label>
                        <input matInput formControlName="faturaTranspReEntrega">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('dt re-entrega') }}</mat-label>
                        <input matInput (click)="dtReEntrega.open()" (keydown)="false" [matDatepicker]="dtReEntrega"
                            formControlName="dtReEntrega">
                        <mat-datepicker-toggle matSuffix [for]="dtReEntrega"></mat-datepicker-toggle>
                        <mat-datepicker #dtReEntrega></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('responsavel receb re-entrega') }}</mat-label>
                        <input matInput formControlName="responsavelRecebReEntrega">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('data da entrega confirmacao') }}</mat-label>
                        <input matInput (click)="dataHoraChegTranspBT.open()" (keydown)="false"
                            [matDatepicker]="dataHoraChegTranspBT" formControlName="dataHoraChegTranspBT">
                        <mat-datepicker-toggle matSuffix [for]="dataHoraChegTranspBT"></mat-datepicker-toggle>
                        <mat-datepicker #dataHoraChegTranspBT></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('responsavel pelo recebimento') }}</mat-label>
                        <input matInput formControlName="nomeRespBancoBT">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('mat responsavel pelo recebimento') }}</mat-label>
                        <input matInput formControlName="numMatriculaBT">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('bordero transp Recebido') }}</mat-label>
                        <input matInput formControlName="indBTOrigEnt">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('bordero transp conferido') }}</mat-label>
                        <input matInput formControlName="indBTOK">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('nf remessa conferida') }}</mat-label>
                        <input matInput formControlName="nfRemessaConferida">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('previsao instalacao') }}</mat-label>
                        <input matInput formControlName="dataSugInstalacao">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('dt agendada instalacao') }}</mat-label>
                        <input matInput (click)="dataConfInstalacao.open()" (keydown)="false"
                            [matDatepicker]="dataConfInstalacao" formControlName="dataConfInstalacao">
                        <mat-datepicker-toggle matSuffix [for]="dataConfInstalacao"></mat-datepicker-toggle>
                        <mat-datepicker #dataConfInstalacao></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('ag instalacao') }}</mat-label>

                        <mat-select formControlName="codPostoIns">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let localAtendimento of locaisAtendimento"
                                [matTooltip]="localAtendimento?.endereco + ', ' + localAtendimento?.bairro + ' - ' + localAtendimento?.cidade?.nomeCidade"
                                [value]="localAtendimento.codPosto">
                                <span>{{ localAtendimento.numAgencia }} / {{
                                    localAtendimento.dcPosto }} - {{ localAtendimento.nomeLocal
                                    }} </span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('dt instalacao') }}</mat-label>
                        <input matInput (click)="dataBI.open()" (keydown)="false" [matDatepicker]="dataBI"
                            formControlName="dataBI">
                        <mat-datepicker-toggle matSuffix [for]="dataBI"></mat-datepicker-toggle>
                        <mat-datepicker #dataBI></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('qtd parabold') }}</mat-label>
                        <input matInput formControlName="qtdParaboldBI">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense w-48 pr-2">
                        <mat-label>{{ t('equipamento rebaixado') }}</mat-label>
                        <input matInput formControlName="indEquipRebaixadoBI">
                    </mat-form-field>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>