<form autocomplete="off" class="grid grid-cols-6 sm:grid-cols-6 md:grid-cols-6 gap-6 w-full min-w-0" *ngIf="laudo">
    <fuse-card class="flex flex-col col-span-3 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
        *transloco="let t">
        <div class="flex flex-col mt-4 border-t border-b font-medium">
            <div class="bg-gray-50 dark:bg-gray-700 p-4 ">
                <p class="text-lg font-medium">Checagem Visual</p>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between grid-cols-6">
                <div class="text-secondary px-6">{{ t('Relato do Cliente') }}</div>
                <textarea class="px-2 py-4 flex items-center justify-between" matInput formControlName="relatoCliente"
                    [(ngModel)]="laudo.relatoCliente" [rows]="4" maxlength="1000"></textarea>
            </div>
        </div>

        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
            <div class="bg-gray-50 dark:bg-gray-700 p-4 border-b">
                <p class="text-lg font-medium">Situações</p>
            </div>

            <div [formGroup]="form2" class="flex items-center justify-between">
                <div class="text-secondary px-6">{{ t('causa') }}</div>
                <textarea class="px-2 py-4 grid-cols-8 flex items-center justify-between" matInput
                    formControlName="causa" [(ngModel)]="situacao.causa" [rows]="2" maxlength="1000"></textarea>
            </div>

            <div [formGroup]="form2" class="flex items-center justify-between">
                <div class="text-secondary px-6">{{ t('acao') }}</div>
                <textarea class="px-2 py-4 grid-cols-8 flex items-center justify-between" matInput
                    formControlName="acao" [(ngModel)]="situacao.acao" [rows]="2" maxlength="1000"></textarea>
            </div>
        </div>

        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
            <div class="bg-gray-50 dark:bg-gray-700 p-4">
                <p class="text-lg font-medium">Conclusão Geral do Laudo</p>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary px-6">{{ t('conclusao') }}</div>
                <textarea class="px-2 py-4 grid-cols-8 flex items-center justify-between" matInput
                    formControlName="conclusao" [(ngModel)]="laudo.conclusao" [rows]="4" maxlength="1000"></textarea>
            </div>
        </div>

        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
            <div class="bg-gray-50 dark:bg-gray-700 p-4 border-b">
                <p class="text-lg font-medium">Status</p>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary  px-6">{{ t('status') }}</div>
                <mat-select class="px-2 py-4 grid-cols-8 flex items-center justify-between"
                    formControlName="codLaudoStatus">
                    <mat-option *ngFor="let stat of status" [value]="stat.codLaudoStatus">
                        <span>{{ stat?.nomeStatus }}</span>
                    </mat-option>
                </mat-select>
            </div>
        </div>
    </fuse-card>
    <fuse-card class="flex flex-col col-span-3 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
        *transloco="let t">
        <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
            <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                <p class="text-lg font-medium">Infra Estrutura e Rede Elétrica do Site</p>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Tensão com carga') }}</div>
                <mat-form-field class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <input matInput formControlName="tensaoComCarga" [(ngModel)]="laudo.tensaoComCarga">
                </mat-form-field>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Tensão sem carga') }}</div>
                <mat-form-field class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <input matInput formControlName="tensaoSemCarga" [(ngModel)]="laudo.tensaoSemCarga">
                </mat-form-field>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Tensão Terra E Neutro') }}</div>
                <mat-form-field class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <input matInput formControlName="tensaoTerraENeutro" [(ngModel)]="laudo.tensaoTerraENeutro">
                </mat-form-field>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Temperatura') }}</div>
                <mat-form-field class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <input matInput formControlName="temperatura" [(ngModel)]="laudo.temperatura">
                </mat-form-field>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Rede Estabilizada') }}</div>
                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <mat-select formControlName="indRedeEstabilizada" [(ngModel)]="laudo.indRedeEstabilizada">
                        <mat-option [value]="0">
                            Não
                        </mat-option>
                        <mat-option [value]="1">
                            Sim
                        </mat-option>
                        <mat-option [value]="2">
                            Técnico não obteve acesso
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Possui Nobreak') }}</div>
                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <mat-select formControlName="indPossuiNobreak" [(ngModel)]="laudo.indPossuiNobreak">
                        <mat-option [value]="0">
                            Não
                        </mat-option>
                        <mat-option [value]="1">
                            Sim
                        </mat-option>
                        <mat-option [value]="2">
                            Técnico não obteve acesso
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div [formGroup]="form" class="flex items-center justify-between">
                <div class="text-secondary">{{ t('Possui Ar Cond') }}</div>
                <div class="px-2 py-4 fuse-mat-dense sm:col-span-8">
                    <mat-select formControlName="indPossuiArCond" [(ngModel)]="laudo.indPossuiArCond">
                        <mat-option [value]="0">
                            Não
                        </mat-option>
                        <mat-option [value]="1">
                            Sim
                        </mat-option>
                        <mat-option [value]="2">
                            Técnico não obteve acesso
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="flex items-center justify-end border-t px-4 py-2 bg-gray-50 dark:bg-gray-700">
                <button class="px-2" mat-button [color]="'primary'" (click)="salvar()">
                    <span>
                        {{ t('salvar') }}
                    </span>
                </button>
            </div>
        </div>
    </fuse-card>
</form>