<table class="w-full table-auto text-sm font-medium tracking-tight bg-card" *ngIf="!loading">
    <thead class="text-center">
        <tr>
            <th *ngFor="let data of nomesFiliais" class="text-center">{{data}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of pecasFaltantes" class="text-center">
            <td>{{data.data| date:'dd/MM/yy'}}</td>
            <td>{{data.valorFAM}}</td>
            <td>{{data.valorFBA}}</td>
            <td>{{data.valorFBU}}</td>
            <td>{{data.valorFCE}}</td>
            <td>{{data.valorFCP}}</td>
            <td>{{data.valorFDF}}</td>
            <td>{{data.valorFES}}</td>
            <td>{{data.valorFGO}}</td>
            <td>{{data.valorFMA}}</td>
            <td>{{data.valorFMG}}</td>
            <td>{{data.valorFMS}}</td>
            <td>{{data.valorFMT}}</td>
            <td>{{data.valorFPA}}</td>
            <td>{{data.valorFPE}}</td>
            <td>{{data.valorFPR}}</td>
            <td>{{data.valorFRJ}}</td>
            <td>{{data.valorFRN}}</td>
            <td>{{data.valorFRO}}</td>
            <td>{{data.valorFRS}}</td>
            <td>{{data.valorFSC}}</td>
            <td>{{data.valorFSP}}</td>
            <td>{{data.valorFTO}}</td>
            <td class="font-bold">{{data.total}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="text-center pointer-events-none font-bold">
            <th class="border-t">TOTAL</th>
            <td class="border-t">{{totalPecasFaltantes.totalFAM}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFBA}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFBU}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFCE}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFCP}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFDF}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFES}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFGO}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFMA}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFMG}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFMS}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFMT}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFPA}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFPE}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFPR}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFRJ}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFRN}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFRO}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFRS}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFSC}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFSP}}</td>
            <td class="border-t">{{totalPecasFaltantes.totalFTO}}</td>
            <td class="border-t">{{totalPecasFaltantes.total}}</td>
        </tr>
    </tfoot>
</table>

<div class="w-full text-right text-md mt-4 mr-2 text-blue-500" *ngIf="!loading">
    <a href="http://satdbprod/Reports/report/Reports/Relat%C3%B3rio%20DSS%20-%20SAT%20-%20Logistica%20-%20Chamado%20Faltante%20sem%20Status%20a%20mais%20de%2024%20horas%20-%20Analistas" target="_blank">Relatório Reporting</a>
</div>

<div class="flex justify-center items-center" *ngIf="loading">
    <div class="">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>