<div *transloco="let t">
    <form [formGroup]="form">
        <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
            <p class="text-lg font-medium">{{ t('informacoes principais') }}</p>
        </div>

        <div *ngIf="item">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-2 bg-card overflow-hidden">
                <mat-form-field class="fuse-mat-dense sm:col-span-3">
                    <mat-label>{{ t('peca') }}</mat-label>
                    <input matInput formControlName="codMagnus">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-3">
                    <mat-label>{{ t('serie') }}</mat-label>
                    <input matInput formControlName="numSerie" maxlength="30">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-6">
                    <mat-label>{{ t('descricao') }}</mat-label>
                    <input matInput formControlName="descricao">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-6">
                    <mat-label>{{ t('tecnico') }}</mat-label>
                    <input matInput formControlName="usuarioTecnico">
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-6">
                    <mat-label>{{ t('status') }}</mat-label>
                    <input matInput formControlName="status">
                </mat-form-field>
            </div>

            <div class="flex items-center justify-end px-8 pb-6">
                <button [routerLink]="['/laboratorio/processo-reparo']" mat-button>
                    {{ t('cancelar') }}
                </button>

                <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form.valid">
                    {{ t('salvar') }}
                </button>
            </div>
        </div>
    </form>
</div>