<!-- <div class="sm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex items-center justify-between mt-6 ml-10 mr-6 sm:mr-10">
        <div class="flex flex-col">
            <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">
                Processador e Memória</div>
            <div class="font-medium text-secondary">
                Servidor <b>SATAPLPROD</b>: status a cada 5 minutos em {{ dataAtual |
                date:'dd/MM' }}
            </div>
        </div>

        <div class="ml-2">
            <mat-button-toggle-group class="hidden sm:inline-flex" value="this-year"
                #chartSelector="matButtonToggleGroup">
                <mat-button-toggle *ngFor="let data of opcoesDatas; let i = index"
                    (click)="pesquisarDadosPorData(data.data)"
                    class="px-1.5 rounded-full overflow-hidden border-none font-medium">
                    {{ opcoesDatas.length - 1 === i ? 'Hoje' : data.prompt }}
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="sm:hidden">
                <button mat-icon-button [matMenuTriggerFor]="visitorsMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #visitorsMenu="matMenu">
                    <button mat-menu-item *ngFor="let data of opcoesDatas" (click)="pesquisarDadosPorData(data.data)">
                        {{ data.prompt }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto px-8 py-2">
        <apx-chart [series]="chartLine.series" [chart]="chartLine.chart" [xaxis]="chartLine.xaxis"
            [stroke]="chartLine.stroke" [colors]="chartLine.colors" [dataLabels]="chartLine.dataLabels"
            [legend]="chartLine.legend" [markers]="chartLine.markers" [grid]="chartLine.grid" [yaxis]="chartLine.yaxis">
        </apx-chart>
    </div>
</div> -->