<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-equipamento-contrato-filtro [sidenav]="sidenav"></app-equipamento-contrato-filtro>
    </mat-drawer>

    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
        *transloco="let t">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">{{ t('equipamentos') }}</div>

            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                </mat-form-field>

                <button class="ml-4" mat-icon-button matTooltip="{{ t('novo') }}"
                    [routerLink]="['/equipamento-contrato/form']">
                    <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                </button>
                <button class="ml-4" mat-icon-button matTooltip="{{ t('exportar') }}" (click)="exportar()">
                    <mat-icon class="text-blue-500	" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                </button>

                <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <div class="list-grid-contrato z-10 sticky top-0 grid gap-4 py-2 px-4 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                z-10 sticky top-0 grid gap-4 py-2 px-4 md:px- shadow text-xs font-semibold
                                text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5 matSort matSortDisableClear
                                *transloco="let t">
                                <div class="md:block" [mat-sort-header]="'codEquipContrato'">
                                    {{ t('codigo') }}
                                </div>
                                <div class="md:block" [mat-sort-header]="'numSerie'">
                                    {{ t('serie') }}
                                </div>
                                <div class="md:block">
                                    {{ t('cliente') }}
                                </div>
                                <div class="md:block">
                                    {{ t('contrato') }}
                                </div>
                                <div class="md:block">
                                    {{ t('modelo') }}
                                </div>
                                <div class="md:block">
                                    {{ t('filial') }}
                                </div>
                                <div class="md:block">
                                    {{ t('regiao') }}
                                </div>
                                <div class="md:block">
                                    {{ t('autorizada') }}
                                </div>
                                <div [mat-sort-header]="'indAtivo'" class="items-center pl-2">
                                    {{ t('ativo') }}
                                </div>
                            </div>
                        </div>
                        <mat-paginator [hidden]="!dataSourceData?.items?.length"
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                            [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                            (page)="paginar()">
                        </mat-paginator>
                    </ng-container>
                </ng-container>

                <ng-container>
                    <ng-container *ngFor="let equip of dataSourceData?.items">
                        <a [routerLink]="['/equipamento-contrato/form/' + equip.codEquipContrato]">
                            <div class="list-grid-contrato grid items-center h-8 gap-4 px-1 text-sm md:px-4 border-b hover:bg-gray-100"
                                *transloco="let t">
                                <div class="flex">
                                    {{ equip.codEquipContrato || t('nao informado') }}
                                </div>
                                <div class="flex">
                                    {{ equip.numSerie || t('nao informado') }}
                                </div>
                                <div class="flex truncate">
                                    {{ equip.cliente?.nomeFantasia || t('nao informado') }}
                                </div>
                                <div class="flex truncate">
                                    {{ equip.contrato?.nomeContrato || t('nao informado') }}
                                </div>
                                <div class="flex truncate">
                                    {{ equip.equipamento?.nomeEquip || t('nao informado') }}
                                </div>
                                <div class="flex">
                                    {{ equip.regiaoAutorizada?.filial?.nomeFilial || t('nao informado') }}
                                </div>
                                <div class="flex truncate">
                                    {{ equip.regiaoAutorizada?.regiao?.nomeRegiao || t('nao informado') }}
                                </div>
                                <div class="flex truncate">
                                    {{ equip.regiaoAutorizada?.autorizada?.nomeFantasia || t('nao informado') }}
                                </div>
                                <div class="truncate rounded text-white text-center" [class.bg-green-600]="equip.indAtivo" [class.bg-red-600]="!equip.indAtivo">
                                    {{ equip.indAtivo ? 'Ativo' : 'Inativo' }}
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </ng-container>

                <ng-template #rowDetailsTemplate let-product>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b p-16">
                            <p>Conteúdo da div</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</mat-drawer-container>