<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">

            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500" routerLink="/ordem-servico">
                        {{ t('chamados') }}
                    </a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <span class="ml-1 text-secondary">
                        {{ isAddMode ? t('novo') : t('atualizando') }}
                    </span>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap" *ngIf="!isAddMode">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                    </mat-icon>
                    <a class="whitespace-nowrap text-primary-500" [routerLink]="'/ordem-servico/detalhe/'+codOS">
                        {{ codOS }}
                    </a>
                </div>
            </div>
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ t('chamado') }}
                </h2>
            </div>
        </div>
    </div>

    <div *ngIf="loading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>

    <div *ngIf="!loading" class="flex-auto p-6 sm:p-10">
        <div class="max-w-4xl">
            <form [formGroup]="form" class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
                    <p class="text-lg font-medium">{{ t('informacoes') }}</p>
                    <p class="text-secondary">{{ t('informacoes') }}</p>
                </div>

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-8">
                    <div class="sm:col-span-2 mt-8">
                        <mat-slide-toggle formControlName="indAtivo" [(ngModel)]="indAtivo"
                            (change)="obterEquipamentosContrato()">
                            {{ indAtivo ? 'Equipamentos Ativos' : 'Equipamentos Inativos' }}
                        </mat-slide-toggle>
                    </div>
                </div>

                <div
                    class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">
                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('cliente') }}</mat-label>
                        <mat-select formControlName="codCliente">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'"
                                    [formControl]="clienteFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let cliente of clientes" [value]="cliente?.codCliente">
                                {{ cliente?.nomeFantasia }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Preencher este campo</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('serie') }} ou {{ t('ATM Id') }}</mat-label>
                        <mat-select formControlName="atmId">
                            <mat-option>
                                <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="atmIdFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let equipamento of atmsIds" [value]="equipamento?.codEquipContrato">
                                {{ equipamento?.numSerie || equipamento?.atmId }} - {{
                                equipamento?.cliente?.nomeFantasia }}
                            </mat-option>
                        </mat-select>
                        <mat-error>Preencher este campo</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('local de atendimento') }}</mat-label>

                        <mat-select formControlName="codPosto" [disabled]="!locais?.length">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="locaisFiltro" [searching]="searching"
                                    placeholderLabel="Pesquisa..." noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let local of locais"
                                [matTooltip]="local?.endereco + ', ' + local?.bairro + ' - ' + local?.cidade?.nomeCidade"
                                [value]="local?.codPosto">
                                <span class="opacity-60 text-md">
                                    {{ local?.numAgencia }}/{{ local?.dcPosto }}
                                </span>

                                {{local?.nomeLocal }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('equipamento contrato') }}</mat-label>

                        <mat-select formControlName="codEquipContrato" [disabled]="!equipamentosContrato?.length">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="equipamentosContratoFilterCtrl"
                                    [searching]="searching" placeholderLabel="Pesquisa..."
                                    noEntriesFoundLabel="'nenhum registro encontrado'">
                                </ngx-mat-select-search>
                            </mat-option>

                            <mat-option *ngFor="let equipamentoContrato of equipamentosContrato"
                                [value]="equipamentoContrato?.codEquipContrato">
                                <span class="font-semibold" [class.text-red-500]="!equipamentoContrato?.indAtivo"
                                    [class.text-green-500]="equipamentoContrato?.indAtivo">
                                    [N.S] {{ equipamentoContrato?.numSerie || 'N/I' }}
                                </span>

                                <span class="opacity-60">
                                    {{ equipamentoContrato?.equipamento?.nomeEquip || 'N/I' }}
                                </span>
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-12">
                        <mat-label>{{ t('endereco') }}</mat-label>
                        <input matInput formControlName="enderecoLocal">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('contrato') }}</mat-label>
                        <mat-select formControlName="codContrato">
                            <mat-option *ngFor="let contrato of contratos" [value]="contrato?.codContrato">
                                {{ contrato?.nomeContrato }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('equipamento') }}</mat-label>
                        <mat-select formControlName="codEquip">
                            <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento?.codEquip">
                                {{ equipamento?.nomeEquip }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('tipo de intervencao') }}</mat-label>

                        <mat-select formControlName="codTipoIntervencao" [disabled]="!tiposIntervencao?.length">
                            <mat-option *ngFor="let tipoIntervencao of tiposIntervencao"
                                [value]="tipoIntervencao?.codTipoIntervencao">
                                {{tipoIntervencao?.nomTipoIntervencao}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="form.get('codTipoIntervencao').dirty">
                            <div *ngIf="form.get('codTipoIntervencao').hasError('required')">
                                {{ t('preencher campo') }}
                            </div>

                            <div *ngIf="form.get('codTipoIntervencao').hasError('naoPermiteAlterarOrcamento')">
                                {{ t('alteracao orcamento invalida') }}
                            </div>

                            <div *ngIf="form.get('codTipoIntervencao').hasError('naoPermiteCriar')">
                                {{ t('tipo intervencao invalido') }}
                            </div>

                            <div *ngIf="form.get('codTipoIntervencao').hasError('naoPermiteAlterarCorretiva')">
                                {{ t('alteracao corretiva invalida') }}
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('nome solicitante') }}</mat-label>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user'" matPrefix>
                        </mat-icon>
                        <input matInput formControlName="nomeSolicitante">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('telefone solicitante') }}</mat-label>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:phone'" matPrefix>
                        </mat-icon>
                        <input matInput formControlName="telefoneSolicitante" mask="(00) 00000-0000"
                            [dropSpecialCharacters]="false">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3">
                        <mat-label>{{ t('os quarteirizada') }}</mat-label>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:document-duplicate'"
                            matPrefix></mat-icon>
                        <input matInput formControlName="numOSQuarteirizada">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-3" *ngIf="!escondeCamposClientes()">
                        <mat-label>{{ t('os cliente') }}</mat-label>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:collection'" matPrefix>
                        </mat-icon>
                        <input matInput formControlName="numOSCliente">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-6">
                        <mat-label>{{ t('nome contato') }}</mat-label>
                        <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:user'" matPrefix>
                        </mat-icon>
                        <input matInput formControlName="nomeContato" maxlength="50">
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-textarea fuse-mat-dense sm:col-span-12">
                        <mat-label>{{ t('defeito') }}</mat-label>
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                        <textarea matInput formControlName="defeitoRelatado" [placeholder]="t('defeito')" [rows]="4"
                            maxlength="1000"></textarea>
                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('filial') }}</mat-label>

                        <mat-select formControlName="codFilial">
                            <mat-option *ngFor="let filial of filiais" [value]="filial?.codFilial">
                                {{ filial.nomeFilial }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('autorizada') }}</mat-label>

                        <mat-select formControlName="codAutorizada" [disabled]="!autorizadas?.length">
                            <mat-option *ngFor="let autorizada of autorizadas" [value]="autorizada.codAutorizada">
                                {{ autorizada.nomeFantasia }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense sm:col-span-4">
                        <mat-label>{{ t('regiao') }}</mat-label>

                        <mat-select formControlName="codRegiao" [disabled]="!regioes?.length">

                            <mat-option *ngFor="let regiao of regioes" [value]="regiao.codRegiao">
                                {{ regiao.nomeRegiao }}
                            </mat-option>
                        </mat-select>

                        <mat-error>{{ t('preencher campo') }}</mat-error>
                    </mat-form-field>

                </div>

                <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
                    <p class="text-lg font-medium">{{ t('opcoes') }}</p>
                    <p class="text-secondary">{{ t('selecione as opcoes') }}</p>
                </div>
                <div class="p-8">
                    <div class="flex flex-col gt-xs:flex-row">
                        <div class="flex flex-col">
                            <mat-checkbox class="mb-1" [color]="'primary'"
                                [formControlName]="'indLiberacaoFechaduraCofre'">
                                {{ t('liberacao de fechadura do cofre') }}
                            </mat-checkbox>

                            <mat-checkbox class="mb-1" [color]="'primary'" [formControlName]="'indIntegracao'">
                                {{ t('chamado de integracao') }}
                            </mat-checkbox>

                            <mat-checkbox class="mb-1" [color]="'primary'"
                                [formControlName]="'indOSIntervencaoEquipamento'">
                                {{ t('exige laudo') }}
                            </mat-checkbox>

                            <mat-checkbox class="mb-1" [color]="'primary'"
                                [formControlName]="'indBloqueioReincidencia'">
                                {{ t('bloqueado') }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="bg-gray-50 dark:bg-gray-700 p-8 border-t border-b">
                        <p class="text-lg font-medium">{{ t('informacoes adicionais') }}</p>
                    </div>
                    <div
                        class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card shadow rounded overflow-hidden">

                        <mat-form-field class="fuse-mat-textarea fuse-mat-dense sm:col-span-12"
                            *ngIf="!escondeCamposClientes()">
                            <mat-label>{{ t('marcacao especial') }}</mat-label>
                            <textarea matInput formControlName="descMotivoMarcaEspecial"
                                [placeholder]="t('marcacao especial')" [rows]="4" maxlength="1000"></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="fuse-mat-textarea fuse-mat-dense sm:col-span-12">
                            <mat-label>{{ t('observacao') }}</mat-label>
                            <textarea matInput formControlName="observacaoCliente" [placeholder]="t('observacao')"
                                [rows]="4" maxlength="1000"></textarea>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <mat-error>{{ t('preencher campo') }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="!form.valid">
                    <app-formulario-erros [form]="form"></app-formulario-erros>
                </div>

                <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
                    <button class="px-6" mat-button [color]="'primary'" (click)="refresh()">
                        <span>
                            {{ t('limpar') }}
                        </span>
                    </button>
                    <button class="px-6" mat-button [color]="'primary'" (click)="salvar()" [disabled]="!form.valid">
                        <span *ngIf="!form.disabled">
                            {{ t('salvar') }}
                        </span>
                        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>