<div *transloco="let t">
    <div *ngIf="ticket" class="flex flex-col bg-card overflow-hidden">
        <div class="grid grid-cols-2 justfy-between bg-gray-50 p-8 border-b">
            <div class="flex items-center">
                <span class="text-lg font-medium">{{ t('anexos') }}</span>
            </div>

            <div class="flex place-content-end">
                <button mat-icon-button [matTooltip]="t('novo')" (click)="abrirAnexosForm()">
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_solid:plus'">
                    </mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="ticket?.anexos?.length">
            <div class="flex flex-col flex-auto p-6">
                <div class="flex flex-wrap -m-2">
                    <ng-container *ngFor="let anexo of ticket.anexos; let i=index">
                        <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                        <a
                            (click)="deletar(anexo.codTicketAnexo)"
                            class="absolute z-20 top-1.5 right-1.5 w-8 h-8 min-h-8"
                            mat-icon-button>
                            <mat-icon
                                class="icon-size-5 text-red-500"
                                [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        </a>

                        <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer"
                            (click)="download(anexo)">
                            <div class="aspect-w-9 aspect-h-6">
                                <div class="flex items-center justify-center">
                                    <div class="relative">
                                        <mat-icon class="icon-size-14 text-hint" [svgIcon]="'iconsmind:file'">
                                        </mat-icon>

                                        <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                            [class.bg-red-600]="anexo.tipo === 'pdf'"
                                            [class.bg-blue-600]="anexo.tipo === 'doc'"
                                            [class.bg-green-600]="anexo.tipo === 'xls'"
                                            [class.bg-green-600]="anexo.tipo === 'xlsx'"
                                            [class.bg-gray-600]="anexo.tipo === 'txt'"
                                            [class.bg-amber-600]="anexo.tipo === 'jpg'"
                                            [class.bg-amber-600]="anexo.tipo === 'png'">
                                            {{ anexo.tipo }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                <div class="truncate" [matTooltip]="anexo.nome">
                                    {{ (anexo.tamanho / 1000 / 1000).toFixed(2) }} mb
                                </div>

                                <ng-container>
                                    <div class="text-secondary truncate">{{ anexo.usuarioCad.nomeUsuario }}</div>
                                    <div class="text-secondary text-xs truncate">{{ anexo.dataHoraCad | date:'dd/MM HH:mm' }}</div>
                                </ng-container>
                            </div>
                        </a>
                    </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div *ngIf="!ticket?.anexos?.length && !isLoading"
            class="p-6 sm:p-16 border-t text-lg font-semibold tracking-tight text-center bg-card">
            Nenhum anexo encontrado!
        </div>
    </div>
</div>