<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button 
        ion-button 
        icon-only 
        (click)="fecharModalConfirmacao()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Laudo: {{ chamado?.codOs }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager (ionSlideDidChange)="alterarSlide()">
      <!-- Relato do Cliente -->
      <ion-slide>
        <ion-list>
          <form #formCreate="ngForm" (ngSubmit)="criarLaudo(formCreate)" class="form">
            <ion-item col-12 class="first-item">
              <ion-label stacked>Relato do Cliente no Momento do Atendimento</ion-label>
              <ion-textarea 
                placeholder="Descreva de forma clara e objetiva o relato dos problemas ou considerações por parte do cliente que gerou esse chamado"
                name="relatoCliente"
                rows="3"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <div padding>
              <button
                color="secondary"
                ion-button 
                block
                [disabled]="!formCreate.valid">
                Salvar e Prosseguir
              </button>
            </div>
          </form>
        </ion-list>
      </ion-slide>

      <!-- Situações -->
      <ion-slide>
        <p class="p-msg" *ngIf="!laudo?.situacoes?.length">Ao clicar no botão <ion-icon color="secondary" name="add-circle"></ion-icon> abaixo, você iniciará a criação de situações de problemas e ações.</p>

        <ion-item 
          *ngFor="let situacao of laudo?.situacoes; let i = index" (click)="removerSituacao(i)">
          <h2>Situação {{ i+1 }}</h2>
          <p>{{ situacao.causa }}</p>
          <p>{{ situacao.acao }}</p>
          <ion-icon name="trash" color="danger" item-end></ion-icon>
        </ion-item>

        <ion-fab right bottom>
          <button 
            [disabled]="laudo?.situacoes?.length == 3"
            ion-fab color="secondary" 
            (click)="telaSituacao()">
            <ion-icon name="add"></ion-icon
          ></button>
        </ion-fab>
      </ion-slide>

      <!-- Infraestrutura e Rede Elétrica do Site -->
      <ion-slide>
          <ion-list>
            <form #formInfra="ngForm" (ngSubmit)="salvarInformacoesRedeEletrica(formInfra)" class="form">
              <ion-item col-12 class="first-item">
                <ion-label stacked>Tensão Sem Carga</ion-label>
                <ion-input
                  placeholder="Digite a Tensão Sem Carga"
                  name="tensaoSemCarga"
                  [required]="!semInformacoesRedeEletrica"
                  type="number"
                  [ngModel]="">
                </ion-input>
              </ion-item>

              <ion-item col-12>
                <ion-label stacked>Tensão Com Carga</ion-label>
                <ion-input
                  placeholder="Digite a Tensão Com Carga"
                  name="tensaoComCarga"
                  [required]="!semInformacoesRedeEletrica"
                  type="number"
                  [ngModel]="">
                </ion-input>
              </ion-item>

              <ion-item col-12>
                <ion-label stacked>Tensão entre Terra e Neutro</ion-label>
                <ion-input
                  placeholder="Digite a Tensão Entre Terra e Neutro"
                  name="tensaoTerraENeutro"
                  [required]="!semInformacoesRedeEletrica"
                  type="number"
                  [ngModel]="">
                </ion-input>
              </ion-item>

              <ion-item col-12>
                <ion-label stacked>Temperatura</ion-label>
                <ion-input
                  placeholder="Digite a Temperatura do Ambiente"
                  name="temperatura"
                  [required]="!semInformacoesRedeEletrica"
                  type="number"
                  [ngModel]="">
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Rede Estabilizada?</ion-label>
                
                <ion-select 
                  name="indRedeEstabilizada" 
                  placeholder="Selecione..." 
                  [ngModel]="" 
                  required>
                  <ion-option value="1">Sim</ion-option>
                  <ion-option value="0">Não</ion-option>
                  <ion-option value="2">Não Obtive Acesso</ion-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Possui No-Break?</ion-label>
                
                <ion-select 
                  name="indPossuiNobreak" 
                  placeholder="Selecione..." 
                  [ngModel]="" 
                  required>
                  <ion-option value="1">Sim</ion-option>
                  <ion-option value="0">Não</ion-option>
                  <ion-option value="2">Não Obtive Acesso</ion-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Possui Ar Condicionado?</ion-label>
                
                <ion-select 
                  name="indPossuiArCond" 
                  placeholder="Selecione..." 
                  [ngModel]="" 
                  required>
                  <ion-option value="1">Sim</ion-option>
                  <ion-option value="0">Não</ion-option>
                  <ion-option value="2">Não Obtive Acesso</ion-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label stacked>Não Possuo uma ou mais informações</ion-label>
                <ion-checkbox 
                  (ionChange)="marcarSemInformacoesRedeEletrica($event)"
                  name="indSemInformacoesRedeEletrica" checked="false" [ngModel]="false"></ion-checkbox>
              </ion-item>

              <div padding>
                <button
                  color="secondary"
                  ion-button 
                  block
                  [disabled]="!formInfra.valid && !semInformacoesRedeEletrica">
                  Salvar e Prosseguir
                </button>
              </div>
            </form>
          </ion-list>
      </ion-slide>

      <!-- Conclusão -->
      <ion-slide>
        <ion-list>
          <form #formSave="ngForm" (ngSubmit)="salvarLaudo(formSave)" class="form">
            <ion-item col-12 class="first-item">
              <ion-label stacked>Conclusão</ion-label>
              <ion-textarea 
                placeholder="Escreva de forma objetiva e clara sobre a conclusão geral dos assuntos relacionados nesse laudo. É imprescindivel que a conclusão seja de fácil entendimento e que o descritivo tenha o aceite do cliente e você técnico que está representando a empressa e emitindo este laudo"
                name="conclusao"
                rows="8"
                [ngModel]=""
                required>
              </ion-textarea>
            </ion-item>

            <div padding>
              <button
                color="secondary"
                ion-button 
                block
                [disabled]="!formSave.valid">
                Salvar e Prosseguir
              </button>
            </div>
          </form>
        </ion-list>
      </ion-slide>

      <!-- Assinatura do Técnico -->
      <ion-slide>
        <p class="p-msg-2" *ngIf="!laudo?.assinaturaTecnico">Insira a sua assinatura</p>

        <img class="img" *ngIf="laudo?.assinaturaTecnico" src="{{ laudo?.assinaturaTecnico }}" alt="">

        <ion-fab right bottom>
          <button 
            ion-fab color="secondary" 
            (click)="telaAssinaturaTecnico()">
            <ion-icon name="browsers"></ion-icon
          ></button>
        </ion-fab>
      </ion-slide>

      <!-- Assinatura do Cliente -->
      <ion-slide>
          <p class="p-msg-2" *ngIf="!laudo?.assinaturaCliente">Insira a sua assinatura</p>
  
          <img class="img" *ngIf="laudo?.assinaturaCliente" src="{{ laudo?.assinaturaCliente}}" alt="">
  
          <ion-fab right bottom>
            <button 
              ion-fab color="secondary" 
              (click)="telaAssinaturaCliente()">
              <ion-icon name="browsers"></ion-icon
            ></button>
          </ion-fab>
        </ion-slide>

      <!-- Finalizar -->
      <ion-slide>
        <div padding>
          <button
            color="secondary"
            ion-button 
            block
            (click)="finalizarLaudo()">
            Salvar e Finalizar
          </button>
        </div>
      </ion-slide>
    </ion-slides>
</ion-content>