situacao-page {
    .p-msg {
        color: gray;
        margin: 16px auto !important;
        width: 90%;
        text-align: justify;
    } 

    .badge {
        font-weight: inherit;
    }

    .icon-button {
        font-size: 22px;
    }
}