<ion-header>
  <ion-navbar>
    <ion-title>Auditoria do Veículo</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>{{ tituloSlide }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="telaAssinaturaTecnico()" *ngIf="slides.getActiveIndex() == 3">
        <ion-icon name="browsers"></ion-icon>
      </button>

      <button ion-button icon-only (click)="salvarAuditoria()">
        <ion-icon name="custom-save" class="custom-save-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager (ionSlideDidChange)="configurarSlide()">
    <ion-slide>
      <form #f1="ngForm" (ngSubmit)="salvarDadosCondutor(f1)" class="form">
        <ion-list>
          <ion-item class="first-item">
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" name="nome" maxlength="50" [ngModel]="auditoria?.condutor?.nome" placeholder="Digite seu Nome">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Matrícula</ion-label>
            <ion-input type="text" name="matricula" maxlength="10" [ngModel]="auditoria?.condutor?.matricula" placeholder="Digite sua Matrícula">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>RG</ion-label>
            <ion-input type="text" name="rg" (keyup)="formatarCampo($event, '##########')" maxlength="12" [ngModel]="auditoria?.condutor?.rg"
              placeholder="Digite seu RG"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>CPF</ion-label>
            <ion-input type="text" name="cpf" (keyup)="formatarCampo($event, '###.###.###-##')" maxlength="14"
              [ngModel]="auditoria?.condutor?.cpf" placeholder="Digite seu CPF"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>CNH</ion-label>
            <ion-input type="text" name="cnh" (keyup)="formatarCampo($event, '##########')" maxlength="10" [ngModel]="auditoria?.condutor?.cnh"
              placeholder="Digite sua CNH"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Validade da CNH</ion-label>
            <ion-input type="text" name="cnhValidade" (keyup)="formatarCampo($event, '##/##/####')" maxlength="10" [ngModel]="auditoria?.condutor?.cnhValidade"
              placeholder="Ex.: 01/01/2020"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Categorias da CNH</ion-label>
            <ion-select 
              multiple="true" cancelText="Cancelar" okText="Ok"
              placeholder="Selecione..."
              name="cnhCategorias" 
              [ngModel]="cnhCategorias" 
              interface="action-sheet"
              cancelText="Cancelar">
              <ion-option [value]="A">A</ion-option>
              <ion-option [value]="B">B</ion-option>
              <ion-option [value]="C">C</ion-option>
              <ion-option [value]="D">D</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked>Filial</ion-label>
            <ion-input type="text" name="filial" maxlength="10" [ngModel]="dg?.usuario?.filial?.nomeFilial" 
              placeholder="Digite sua Filial" [disabled]="true">
            </ion-input>
          </ion-item>
        </ion-list>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f1.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <form #f2="ngForm" (ngSubmit)="salvarDadosVeiculo(f2)" class="form">
        <ion-item-group>
          <ion-item class="first-item">
            <ion-label stacked>Placa</ion-label>
            <ion-input type="text" name="placa" maxlength="7" [ngModel]="" placeholder="Digite a Placa">
            </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label stacked>Odômetro</ion-label>
            <ion-input type="number" name="odometro" maxlength="7" [ngModel]="" placeholder="Digite o Odômetro">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked class="label-c">Nível de Combustível</ion-label>
            <ion-range min="1" max="5" step="1" snaps="true" [ngModel]="" pin="true" color="secondary" name="codAuditoriaVeiculoTanque">
              <ion-icon range-left color="secondary" name="ios-color-fill-outline"></ion-icon>
              <ion-icon range-right color="secondary" name="ios-color-fill"></ion-icon>
            </ion-range>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider color="light">Fotos</ion-item-divider>
          
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_FRONTAL') }}">
            </ion-thumbnail>
            <h2>Frontal</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_FRONTAL')" *ngIf="!verificarExistenciaFoto('AUD_FRONTAL')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_FRONTAL')" *ngIf="verificarExistenciaFoto('AUD_FRONTAL')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_FRONTAL_LAT_ESQ') }}">
            </ion-thumbnail>
            <h2>Frontal/Lateral Esquerda</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_FRONTAL_LAT_ESQ')" *ngIf="!verificarExistenciaFoto('AUD_FRONTAL_LAT_ESQ')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_FRONTAL_LAT_ESQ')" *ngIf="verificarExistenciaFoto('AUD_FRONTAL_LAT_ESQ')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_ODOMETRO') }}">
            </ion-thumbnail>
            <h2>Odômetro/Nível Combustível</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_ODOMETRO')" *ngIf="!verificarExistenciaFoto('AUD_ODOMETRO')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_ODOMETRO')" *ngIf="verificarExistenciaFoto('AUD_ODOMETRO')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_TRAS_LAT_DIR') }}">
            </ion-thumbnail>
            <h2>Tras./Lat. Direita</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_TRAS_LAT_DIR')" *ngIf="!verificarExistenciaFoto('AUD_TRAS_LAT_DIR')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_TRAS_LAT_DIR')" *ngIf="verificarExistenciaFoto('AUD_TRAS_LAT_DIR')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_INTERNA') }}">
            </ion-thumbnail>
            <h2>Interna</h2>
            <p>Orientações</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_INTERNA')" *ngIf="!verificarExistenciaFoto('AUD_INTERNA')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_INTERNA')" *ngIf="verificarExistenciaFoto('AUD_INTERNA')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
  
          <ion-item>
            <ion-thumbnail item-start>
              <img src="{{ carregarFoto('AUD_ITENS_SEG') }}">
            </ion-thumbnail>
            <h2>Ítens de Segurança</h2>
            <p>Estepe, Manual/Chave Reserva</p>
            <button ion-button color="secondary" clear icon-only item-end type="button"
              (click)="tirarFoto('AUD_ITENS_SEG')" *ngIf="!verificarExistenciaFoto('AUD_ITENS_SEG')">
              <ion-icon name='md-add-circle' is-active="false" class="add-icon"></ion-icon>
            </button>

            <button ion-button color="danger" clear icon-only item-end type="button"
              (click)="removerFoto('AUD_ITENS_SEG')" *ngIf="verificarExistenciaFoto('AUD_ITENS_SEG')">
              <ion-icon name='trash' is-active="false" class="trash-icon"></ion-icon>
            </button>
          </ion-item>
        </ion-item-group>

        <div padding>
          <button ion-button color="secondary" full [disabled]="!f2.valid">Salvar</button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <ion-list>
        <form #f4="ngForm" (ngSubmit)="salvarCondicoesVeiculo(f4)" class="form">
          <div *ngFor="let acessorio of auditoria?.auditoriaVeiculo?.acessorios; let i=index">

            <ion-item >
              <ion-label stacked>{{ acessorio?.nome }}</ion-label>
              <ion-select 
                placeholder="Selecione..."
                name="acessorio" 
                [ngModel]="" 
                interface="action-sheet"
                cancelText="Cancelar"
                (ionChange)="selecionarAcessorio(acessorio, $event)"
                required>
                <ion-option [value]="true">OK</ion-option>
                <ion-option [value]="false">NÃO OK</ion-option>
              </ion-select>
            </ion-item>
          </div>

          <div padding>
            <button ion-button color="secondary" full [disabled]="!f4.valid">Salvar</button>
          </div>
        </form>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <p class="p-msg-2" *ngIf="!auditoria?.assinaturaTecnico">Por favor insira a sua assinatura</p>
    
      <img class="img-assinatura" *ngIf="auditoria?.assinaturaTecnico" src="{{ auditoria?.assinaturaTecnico }}" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>