<div class="flex flex-col w-full min-w-0 sm:overflow-hidden py-4" *transloco="let t">
    <div class="w-full">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-center" *ngIf="!loading">
                            <tbody>
                                <tr class="border-b">
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900">
                                        Cliente
                                    </td>
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900">
                                        Data do último chamado via Integração
                                    </td>
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900">
                                        Ociosidade
                                    </td>
                                </tr>
                                <tr class="border-b" *ngFor="let cliente of listaMonitoramentoClientes">
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900 font-light">
                                        {{ cliente.nomeC }}
                                    </td>
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900 font-light">
                                        {{ cliente.dataProcessamento }}
                                    </td>
                                    <td class="py-4 white space-nowrap text-sm text-lg text-gray-900 font-light">
                                        {{cliente.ociosidade}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="flex justify-center items-center" *ngIf="loading">
                            <div class="">
                                <mat-progress-spinner [diameter]="48" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>