<div class="flex-auto relative">
    <div class="grid lg:grid-cols-6 sm:grid-cols-1 md:grid-cols-6 gap-4 w-full min-w-0" >
        <div class="col-span-2 min-h-80">
            <app-indicador-filial-detalhado-chamados-antigos [hidden]="loading"></app-indicador-filial-detalhado-chamados-antigos>
        </div>

        <app-indicador-filial-detalhado-performance [hidden]="loading"></app-indicador-filial-detalhado-performance>
        <app-indicador-filial-detalhado-sla-piores-clientes [hidden]="loading"></app-indicador-filial-detalhado-sla-piores-clientes>
        <app-indicador-filial-detalhado-sla-piores-regioes [hidden]="loading"></app-indicador-filial-detalhado-sla-piores-regioes>
        <app-indicador-filial-detalhado-sla-piores-tecnicos [hidden]="loading"></app-indicador-filial-detalhado-sla-piores-tecnicos>
        <app-indicador-filial-detalhado-pendencia-piores-clientes [hidden]="loading"></app-indicador-filial-detalhado-pendencia-piores-clientes>
        <app-indicador-filial-detalhado-pendencia-piores-regioes [hidden]="loading"></app-indicador-filial-detalhado-pendencia-piores-regioes>
        <app-indicador-filial-detalhado-pendencia-piores-tecnicos [hidden]="loading"></app-indicador-filial-detalhado-pendencia-piores-tecnicos>
        <app-indicador-filial-detalhado-reincidencia-piores-clientes [hidden]="loading"></app-indicador-filial-detalhado-reincidencia-piores-clientes>
        <app-indicador-filial-detalhado-reincidencia-piores-regioes [hidden]="loading"></app-indicador-filial-detalhado-reincidencia-piores-regioes>
        <app-indicador-filial-detalhado-reincidencia-piores-tecnicos [hidden]="loading"></app-indicador-filial-detalhado-reincidencia-piores-tecnicos>
    </div>

    <div class="loading-shade" *ngIf="loading">
        <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>