<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card dark:border-b">
        <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between bg-card py-0 px-6 md:px-8 border-b">
            <div class="flex flex-col w-full mx-auto px-6 sm:px-8">
                <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4">
                    <div class="flex flex-auto items-center min-w-0">
                        <div class="flex-1 min-w-0">
                            <div class="flex flex-wrap items-center font-medium">
                                <div>
                                    <a class="whitespace-nowrap text-primary-600" routerLink="/default">
                                        Home
                                    </a>
                                </div>
    
                                <div class="flex items-center ml-1 whitespace-nowrap">
                                    <mat-icon class="icon-size-5 text-secondary"
                                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                    <span class="ml-1 text-secondary">
                                        <a class="whitespace-nowrap text-primary-600" routerLink="/dashboard">
                                            Dashboard
                                        </a>
                                    </span>
                                </div>
    
                                <div class="flex items-center ml-1 whitespace-nowrap">
                                    <mat-icon class="icon-size-5 text-secondary"
                                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                    <span class="ml-1 text-secondary">
                                        Indicadores Detalhados {{ filial?.nomeFilial }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                <app-indicador-filial-detalhado-spa-piores-regioes [codFilial]="codFilial">
                </app-indicador-filial-detalhado-spa-piores-regioes>    
                <app-indicador-filial-detalhado-spa-piores-tecnicos [codFilial]="codFilial">
                </app-indicador-filial-detalhado-spa-piores-tecnicos> 
            </div>
        </div>
    </div>
</div>