<div class="flex flex-col flex-auto min-w-0">
    <div class="bg-card border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-8">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{ t('ola') }} {{ sessionData?.usuario?.nomeUsuario?.split(" ").shift() | titlecase }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto min-w-0">
        <div class="flex-auto p-6 sm:p-10">    
            <div class="h-400 min-h-160 max-h-160 border-2 border-dashed border-gray-300 rounded-2xl"></div>
        </div>
    </div>
</div>