<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="bg-card border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-0 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img class="w-full h-full object-cover" src="assets/images/avatars/profile.jpg">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div
                                class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                                {{t('bem vindo de volta')}},
                                {{ sessionData?.usuario?.nomeUsuario?.split(" ").shift() | titlecase }}!
                            </div>
                        </ng-container>
                        <div class="flex items-center">
                            <div class="ml-0.5 leading-6 truncate text-secondary">Página inicial atualizada as {{ ultimoProcessamento }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button (click)="obterDados()" [disabled]="loading" class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                        <mat-icon *ngIf="!loading" class="icon-size-5" [svgIcon]="'heroicons_solid:refresh'"></mat-icon>
                        <mat-progress-spinner *ngIf="loading" [diameter]="22" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <span class="ml-2" *ngIf="!loading">{{ t('atualizar') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                <mat-tab label="Serviços">
                    <ng-template matTabContent>
                        <div class="grid sm:grid-cols-1 md:grid-cols-12 lg:grid-cols-12 gap-8 w-full">
                            <div
                                class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex flex-col sm:flex-row items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                        Chamados Abertos via Integração
                                    </div>

                                    <div class="ml-2">
                                        <mat-icon
                                            class="ml-1.5 icon-size-5 text-hintsm"
                                            [svgIcon]="'heroicons_solid:information-circle'"
                                            [matTooltip]="'Chamados efetivamente abertos no banco de dados do SAT.'"
                                            [matTooltipPosition]="'above'"></mat-icon>
                                    </div>
                                </div>

                                <div class="flex flex-col mt-2 divide-y">
                                    <ng-container *ngFor="let monitoramento of filtrarMonitoramento('CHAMADO')">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ monitoramento.item }}</div>
                                                <div
                                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:clock'"
                                                                [class.text-red-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>= 3"
                                                                [class.text-green-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) <= 1"
                                                                [class.text-amber-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) < 3 && obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>1">
                                                            </mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{ obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento) | titlecase }}
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'}}
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.servidor }}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="!filtrarMonitoramento('CHAMADO').length">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div
                                class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex flex-col sm:flex-row items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                        Serviços
                                    </div>

                                    <div class="ml-2">
                                        <mat-icon
                                            class="ml-1.5 icon-size-5 text-hintsm"
                                            [svgIcon]="'heroicons_solid:information-circle'"
                                            [matTooltip]="'Aplicações que precisam permancer ativas, comunicando com os clientes.'"
                                            [matTooltipPosition]="'above'"></mat-icon>
                                    </div>
                                </div>

                                <div class="flex flex-col mt-2 divide-y">
                                    <ng-container *ngFor="let monitoramento of filtrarMonitoramento('SERVICO')">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ monitoramento.item }}</div>
                                                <div
                                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:clock'"
                                                                [class.text-red-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>= 3"
                                                                [class.text-green-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) <= 1"
                                                                [class.text-amber-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) < 3 && obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>1">
                                                            </mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{ obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento) | titlecase }}
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'}}
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.servidor }}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="!filtrarMonitoramento('SERVICO').length">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div
                                class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex flex-col sm:flex-row items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">
                                        Logs    
                                    </div>

                                    <div class="ml-2">
                                        <mat-icon
                                            class="ml-1.5 icon-size-5 text-hintsm"
                                            [svgIcon]="'heroicons_solid:information-circle'"
                                            [matTooltip]="'Movimentações de arquivos no servidor. Ocorrem periodicamente e necessitam ser executados periodicamente.'"
                                            [matTooltipPosition]="'above'"></mat-icon>
                                    </div>
                                </div>

                                <div class="flex flex-col mt-2 divide-y">
                                    <ng-container *ngFor="let monitoramento of filtrarMonitoramento('INTEGRACAO')">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ monitoramento.item }}</div>
                                                <div
                                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:clock'"
                                                                [class.text-red-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>= 3"
                                                                [class.text-green-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) <= 1"
                                                                [class.text-amber-600]="obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento) < 3 && obterOciosidadeEmHoras(monitoramento.dataHoraProcessamento)>1">
                                                            </mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{ obterOciosidadePorExtenso(monitoramento.dataHoraProcessamento) | titlecase }}
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'}}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                    
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint"
                                                                [svgIcon]="'heroicons_solid:server'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">
                                                                {{monitoramento.servidor }}
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="!filtrarMonitoramento('INTEGRACAO').length">
                                        <div class="flex flex-row items-center justify-between py-2 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{ t('nenhum registro encontrado') }}</div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Servidores">
                    <ng-template matTabContent>
                        <div class="w-full">
                            <div class="text-2xl font-semibold tracking-tight leading-6">Discos</div>
                            <div class="font-medium tracking-tight text-secondary">Acompanhamento da quantidade de espaço de armazenamento </div>
                        </div>

                        <div class="grid grid-cols-12 sm:grid-cols-2 lg:grid-cols-12 gap-8 w-full py-8">
                            <div class="flex flex-col flex-auto col-span-2 bg-card shadow rounded-2xl overflow-hidden p-6"
                                *ngFor="let monitoramento of filtrarMonitoramento('STORAGE')"
                                [class.bg-red-100]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 <= 30"
                                [class.bg-card]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 > 30">
                                <div class="flex items-start justify-between">
                                    <div class="text-sm tracking-tight leading-6">
                                        <b>Disco {{ monitoramento.disco }}</b> {{ monitoramento.servidor }}
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto mt-2 h-44">
                                    <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartPie.chart" [colors]="['#805AD5', '#B794F4']" [labels]="['Em Uso', 'Livre']"
                                        [plotOptions]="chartPie.plotOptions"
                                        [series]="[(monitoramento.emUso / monitoramento.total) * 100, ((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100]"
                                        [states]="chartPie.states"
                                        [tooltip]="chartPie.tooltip"></apx-chart>
                                </div>
                                <div class="mt-8">
                                    <div class="-my-3 divide-y">
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.emUso | number: '1.0-4' }} de {{ monitoramento.total | number: '1.0-4' }} GB
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'  }}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full mt-2">
                            <div class="text-2xl font-semibold tracking-tight leading-6">Processadores e Memória</div>
                            <div class="font-medium tracking-tight text-secondary">Acompanhamento de uso de CPU e Memória </div>
                        </div>

                        <div class="grid grid-cols-6 sm:grid-cols-2 lg:grid-cols-12 gap-8 w-full py-8">
                            <div class="flex flex-col flex-auto col-span-3 shadow rounded-2xl overflow-hidden p-6"
                                *ngFor="let monitoramento of filtrarMonitoramento('CPU')"
                                [class.bg-red-100]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 <= 30"
                                [class.bg-card]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 > 30">
                                <div class="flex items-start justify-between">
                                    <div class="text-sm tracking-tight leading-6">
                                        <b>CPU</b> {{ monitoramento.servidor }} 
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto mt-2 h-44">
                                    <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartPie.chart" [colors]="['#319795', '#4FD1C5']" [labels]="['Em Uso', 'Livre']"
                                        [plotOptions]="chartPie.plotOptions"
                                        [series]="[(monitoramento.emUso / monitoramento.total) * 100, ((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100]"
                                        [states]="chartPie.states"
                                        [tooltip]="chartPie.tooltip"></apx-chart>
                                </div>
                                <div class="mt-8">
                                    <div class="-my-3 divide-y">
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.emUso | number: '1.0-4' }}%
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'  }}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col flex-auto col-span-3 shadow rounded-2xl overflow-hidden p-6"
                                *ngFor="let monitoramento of filtrarMonitoramento('MEMORY')"
                                [class.bg-red-100]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 <= 30"
                                [class.bg-card]="((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100 > 30">
                                <div class="flex items-start justify-between">
                                    <div class="text-sm tracking-tight leading-6">
                                        <b>Memória</b> {{ monitoramento.servidor }} 
                                    </div>
                                </div>
                                <div class="flex flex-col flex-auto mt-2 h-44">
                                    <apx-chart class="flex flex-auto items-center justify-center w-full h-full"
                                        [chart]="chartPie.chart" [colors]="['#319795', '#4FD1C5']" [labels]="['Em Uso', 'Livre']"
                                        [plotOptions]="chartPie.plotOptions"
                                        [series]="[(monitoramento.emUso / monitoramento.total) * 100, ((monitoramento.total - monitoramento.emUso) / monitoramento.total) * 100]"
                                        [states]="chartPie.states"
                                        [tooltip]="chartPie.tooltip"></apx-chart>
                                </div>
                                <div class="mt-8">
                                    <div class="-my-3 divide-y">
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.emUso | number: '1.0-0' }} de {{ monitoramento.total | number: '1.0-0' }} MB
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container>
                                            <div class="grid grid-cols-1 py-3">
                                                <div class="text-center text-secondary">
                                                    {{ monitoramento.dataHoraProcessamento | date:'dd/MM HH:mm'  }}
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <mat-tab label="Histórico">
                    <ng-template matTabContent>
                        <div class="sm:col-span-2 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex items-center justify-between mt-10 ml-10 mr-6 sm:mr-10">
                                <div class="flex flex-col">
                                    <div class="mr-4 text-2xl md:text-3xl font-semibold tracking-tight leading-7">Processador e Memória</div>
                                    <div class="font-medium text-secondary">Servidor <b>SATAPLPROD</b>: status a cada 5 minutos</div>
                                </div>
                                
                                <div class="ml-2">
                                    <mat-button-toggle-group
                                        class="hidden sm:inline-flex"
                                        value="this-year"
                                        #chartSelector="matButtonToggleGroup">
                                        <mat-button-toggle
                                            *ngFor="let data of opcoesDatas"
                                            (click)="pesquisarHistoricoPorData(data.data)"
                                            class="px-1.5 rounded-full overflow-hidden border-none font-medium">
                                            {{ data.prompt }}
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                    <div class="sm:hidden">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="visitorsMenu">
                                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #visitorsMenu="matMenu">
                                            <button
                                                mat-menu-item
                                                *ngFor="let data of opcoesDatas"
                                                (click)="pesquisarHistoricoPorData(data.data)">
                                                {{ data.prompt }}
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col flex-auto px-8 py-2">
                                <apx-chart
                                    [series]="chartLine.series"
                                    [chart]="chartLine.chart"
                                    [xaxis]="chartLine.xaxis"
                                    [stroke]="chartLine.stroke"
                                    [colors]="chartLine.colors"
                                    [dataLabels]="chartLine.dataLabels"
                                    [legend]="chartLine.legend"
                                    [markers]="chartLine.markers"
                                    [grid]="chartLine.grid"
                                    [yaxis]="chartLine.yaxis"
                                ></apx-chart>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>