<div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex items-start justify-between">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Reincidência Regiões</div>
        <div class="ml-2 -mt-2 -mr-3">
            <button mat-icon-button (click)="carregarDados(true)">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="ordemCrescente ? 'heroicons_solid:arrow-narrow-up' : 'heroicons_solid:arrow-narrow-down'"
                    [matTooltip]="ordemCrescente ? 'Decrescente' : 'Crescente'" matTooltipPosition="above"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col items-center -mt-4" *ngIf="!loading">
        <apx-chart
            [series]="regiaoChart.series"
            [chart]="regiaoChart.chart"
            [legend]="regiaoChart.legend"
            [dataLabels]="regiaoChart.dataLabels"
            [stroke]="regiaoChart.stroke"
            [colors]="regiaoChart.colors"
            [title]="regiaoChart.title"
            [subtitle]="regiaoChart.subtitle"
            [plotOptions]="regiaoChart.plotOptions"
            [yaxis]="regiaoChart.yaxis"
            [xaxis]="regiaoChart.xaxis"
            [tooltip]="regiaoChart.tooltip"
        ></apx-chart>
    </div>

    <div class="flex justify-center items-center" *ngIf="loading">
        <div class="text-center">
            <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</div>