<h1 mat-dialog-title>
    Creditar Combústivel
</h1>

<div mat-dialog-content>
    <div class="flex-auto w-full">
        <div class="flex overflow-hidden">
            {{ "Crédito de combustível no valor de " + (despesaCreditosCartaoListView.combustivel | currency:'BRL':'symbol-narrow') + " para " + (despesaCreditosCartaoListView.tecnico  | uppercase) +"."}}

        </div>
        <div class="flex overflow-hidden text-secondary">
            {{"Categoria " + getCategoriaCredito(despesaCreditosCartaoListView.categoriaCredito.categoriaCredito) + ", " + (despesaCreditosCartaoListView.categoriaCredito.valor | currency:'BRL':'symbol-narrow') + "."}}
        </div>
    </div>
</div>

<div mat-dialog-actions class="mt-4" align="end">
    <button mat-button [color]="'warn'" (click)="cancelar()">Cancelar</button>
    <button mat-button [color]="'primary'" (click)="creditar()">Creditar</button>
    <button mat-button [color]="'primary'" (click)="compensar()">Compensar</button>
</div>