<div *transloco="let t">
    <div *ngIf="ticket?.atendimentos?.length" class="flex flex-col bg-card overflow-hidden">
        <div class="grid grid-cols-2 justfy-between bg-gray-50 p-8 border-b">
            <div class="flex items-center">
                <span class="text-lg font-medium">{{ t('atendimentos') }}</span>
            </div>

            <div class="flex place-content-end">
                <button mat-icon-button [matTooltip]="t('novo')" (click)="abrirAtendimentoForm()"
                    [disabled]="!isEditavel()">
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_solid:plus'">
                    </mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="ticket?.atendimentos?.length" class="flex flex-col flex-auto px-6 pt-4 sm:px-16">
            <ng-container>
                <ol>
                    <ng-container *ngFor="let atend of ticket.atendimentos; let i=index">
                        <li class="relative flex py-7">
                            <ng-container *ngIf="i != (ticket.atendimentos.length-1)">
                                <div class="absolute top-7 left-5 w-0.5 h-full -ml-px bg-gray-300 dark:bg-gray-600">
                                </div>
                            </ng-container>

                            <div class="relative flex flex-auto">
                                <ng-container>
                                    <div class="flex flex-shrink-0 items-center justify-center w-10 h-10 mr-4 rounded-full"
                                        [class.bg-blue-400]="atend.codStatus == 1"
                                        [class.bg-gray-400]="atend.codStatus == 2"
                                        [class.bg-green-400]="atend.codStatus == 3"
                                        [class.bg-gray-400]="atend.codStatus == 4"
                                        [class.bg-red-400]="atend.codStatus == 6">
                                        <mat-icon class="icon-size-5 text-white"
                                            [svgIcon]="'heroicons_solid:ticket'">
                                        </mat-icon>
                                    </div>
                                </ng-container>

                                <div class="flex flex-col flex-auto items-start">
                                    <ng-container *ngIf="atend?.usuarioCad?.nomeUsuario">
                                        <div [innerHTML]="atend?.usuarioCad?.nomeUsuario"></div>
                                    </ng-container>

                                    <div
                                        class="flex flex-col sm:flex-row sm:items-center mt-2 sm:mt-1 sm:space-x-2 text-md leading-5">
                                        <div class="text-secondary">
                                            {{ atend.dataHoraCad | date:'dd/MM/yyyy HH:mm' }}
                                        </div>

                                        <ng-container>
                                            <div class="hidden sm:block">&bull;</div>
                                            <ng-container>
                                                <a class="text-primary">
                                                    {{ atend.ticketStatus.descricao }}
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <ng-container *ngIf="atend.descricao">
                                        <div class="mt-4 py-4 px-5 rounded-lg bg-gray-200"
                                            [innerHTML]="atend.descricao"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ol>
            </ng-container>
        </div>

        <div *ngIf="!ticket?.atendimentos?.length && !isLoading"
            class="p-6 sm:p-16 border-t text-lg font-semibold tracking-tight text-center bg-card">
            Nenhum atendimento encontrado!
        </div>
    </div>
</div>