<div class="flex flex-auto justify-center w-full mx-auto" *transloco="let t">
    <div class="hidden lg:flex flex-col items-start">
        <div class="flex flex-col w-full border-0">
            <div class="flex justify-between">
                <div class="text-2xl font-semibold leading-tight">
                    Regiões
                </div>
    
                <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="dialogRef.close()">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>

            <div class="text-secondary">
                As seguintes regiões serão atendidas por <span class="font-semibold">{{ plantaoTecnico.tecnico.nome | titlecase }}</span> no plantão:
            </div>

            <hr class="w-full border-t my-2">

            <div class="flex flex-col mb-2 overflow-auto max-h-80">
                <div class="flex items-center mt-4" *ngFor="let plantaoRegiao of plantaoRegioes?.items">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <span class="leading-none">
                        {{ plantaoRegiao.regiao.nomeRegiao }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>