<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160" [position]="'end'" #sidenav>
        <app-ticket-filtro [sidenav]="sidenav"></app-ticket-filtro>
    </mat-drawer>

    <mat-drawer-content *transloco="let t">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0">
            <div class="sticky top-0 z-20 flex flex-col sm:flex-row items-start sm:items-center sm:justify-between bg-card shadow-sm py-8 px-6 md:px-8">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-none">
                        {{ t('tickets') }}
                    </div>

                    <div class="ml-0.5 font-medium text-secondary">
                        <span *ngIf="tickets.length !== 0">
                            {{ tickets.length }} {{ t('tickets') }}
                        </span>
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                    </mat-form-field>

                    <button class="ml-5" mat-icon-button matTooltip="{{ t('novo') }}"
                        [routerLink]="['/ticket/detalhe']">
                        <mat-icon class="text-blue-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                    </button>

                    <button class="ml-3" mat-icon-button matTooltip="{{ t('atualizar') }}"
                        (click)="obterDados()">
                        <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                    </button>

                    <div [matTooltip]="t('exportar')" (click)="exportar()">
                        <button class="ml-2" mat-icon-button>
                            <mat-icon class="text-blue-600" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                        </button>
                    </div>

                    <div [matTooltip]="t('graficos')" [routerLink]="'/ticket/graficos'">
                        <button class="ml-2" mat-icon-button>
                            <mat-icon class="text-teal-600" [svgIcon]="'heroicons_outline:chart-pie'"></mat-icon>
                        </button>
                    </div>

                    <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-wrap items-start w-full">
                <div cdkDropList class="p-8 overflow-y-visible" *ngIf="tickets.length" (cdkDropListDropped)="dropped($event)">
                    <fuse-card class="flex flex-col md:flex-row w-240 mb-4 select-none"
                        [class.bg-gray-50]="ticket.codStatus == 2"
                        [class.bg-green-50]="ticket.codStatus == 3"
                        [class.bg-red-50]="ticket.codUsuarioCad == userSession.usuario.codUsuario"
                        [class.cursor-move]="userSession.usuario.codPerfil == 3 && ticket.codStatus == 4"
                        cdkDrag [cdkDragDisabled]="userSession.usuario.codPerfil != 3 || ticket.codStatus != 4"
                        *ngFor="let ticket of tickets; let i=index">
                        <div class="flex flex-col flex-auto m-6 mb-4">
                            <div class="flex flex-col md:flex-row items-baseline justify-between -mt-2">
                                <div class="text-2xl leading-tight">
                                    <mat-icon *ngIf="userSession.usuario.codUsuario == ticket.codUsuarioCad"
                                        class="pt-2.5 text-yellow-400" svgIcon="heroicons_solid:star"></mat-icon>
                                    
                                    <span class="font-light">#{{ ticket.codTicket }}</span>
                                    
                                    <span [matTooltip]="ticket.descricao">{{ ticket.titulo }}</span>
                                </div>

                                <div class="text-3xl font-semibold mt-4 md:mt-0 md:ml-6" @shake 
                                    [matTooltip]="'Ordem de Atendimento'">{{ i+1 }}&#176;</div>
                            </div>

                            <hr class="w-full border-b mt-4 mb-2 opacity-50">
                            
                            <div class="flex items-center md:mt-auto -mx-3">
                                <div class="px-3 mr-1 text-secondary font-light">
                                    <span class="uppercase">
                                        {{ ticket.usuarioCad.nomeUsuario }}
                                    </span>
                                    
                                    <span class="font-semibold">
                                        {{ obterTempoAbertura(ticket.dataHoraCad) }}
                                    </span>
                                </div>

                                <div class="ml-auto">
                                    <span
                                        class="px-3 py-0.5 rounded-full mr-2.5 text-sm font-semibold"
                                        [class.bg-blue-100]="ticket.codStatus == 1" [class.text-blue-800]="ticket.codStatus == 1"
                                        [class.bg-gray-100]="ticket.codStatus == 2" [class.text-gray-800]="ticket.codStatus == 2"
                                        [class.bg-green-100]="ticket.codStatus == 3" [class.text-green-800]="ticket.codStatus == 3"
                                        [class.bg-gray-100]="ticket.codStatus == 4" [class.text-gray-800]="ticket.codStatus == 4"
                                        [class.bg-red-100]="ticket.codStatus == 6" [class.text-red-800]="ticket.codStatus == 6">
                                        {{ ticket.ticketStatus.descricao }}
                                    </span>
                                </div>

                                <button
                                    [disabled]="(ticket.codUsuarioCad != userSession.usuario.codUsuario  && userSession.usuario.codPerfil != 3) || ticket.codStatus == 3" mat-icon-button [matTooltip]="ticket.indAtivo ? 'Desativar' : 'Ativar'"
                                    (click)="toggleStatusTicket(ticket)">
                                    <mat-icon class="icon-size-5" [class.text-green-500]="ticket.indAtivo"
                                        [class.text-gray-300]="!ticket.indAtivo"
                                        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </button>

                                <button mat-icon-button matTooltip="{{ t('editar') }}"
                                    [routerLink]="['/ticket/detalhe/' + ticket.codTicket]"
                                    [disabled]="ticket.codUsuarioCad != userSession.usuario.codUsuario && userSession.usuario.codPerfil != 3">
                                    <mat-icon class="text-blue-500 icon-size-5" [svgIcon]="'mat_solid:edit'">
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </fuse-card>
                </div>
            </div>

            <div *ngIf="!tickets?.length && !isLoading"
                class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                Nenhum ticket encontrado!
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>