<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160" [position]="'end'" #sidenav>
        <app-ticket-filtro [sidenav]="sidenav"></app-ticket-filtro>
    </mat-drawer>

    <mat-drawer-content *transloco="let t">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0">
            <div class="relative flex flex-col sm:flex-row items-start sm:items-center sm:justify-between bg-card shadow-sm py-8 px-6 md:px-8">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <div>
                    <div class="text-4xl font-extrabold tracking-tight leading-none">
                        {{ t('tickets') }}
                    </div>

                    <div class="ml-0.5 font-medium text-secondary">
                        <span *ngIf="tickets.length !== 0">
                            {{ tickets.length }} {{ t('tickets') }}
                        </span>
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                    </mat-form-field>

                    <button class="ml-5" mat-icon-button matTooltip="{{ t('novo') }}"
                        [routerLink]="['/ticket/detalhe']">
                        <mat-icon class="text-blue-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                    </button>

                    <button class="ml-3" mat-icon-button matTooltip="{{ t('atualizar') }}"
                        (click)="obterDados()">
                        <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                    </button>

                    <div [matTooltip]="t('exportar')"
                        (click)="exportar()">
                        <button class="ml-2" mat-icon-button>
                            <mat-icon class="text-blue-600" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                        </button>
                    </div>

                    <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-wrap items-start w-full">
                <div cdkDropList class="bg-gray-50 p-8 overflow-y-visible" *ngIf="tickets.length" (cdkDropListDropped)="dropped($event)">
                    <fuse-card class="flex flex-col md:flex-row w-2/3 mb-4 select-none"
                        [class.cursor-move]="userSession.usuario.codPerfil == 3 && ticket.codStatus == 4"
                        cdkDrag [cdkDragDisabled]="userSession.usuario.codPerfil != 3 || ticket.codStatus != 4"
                        *ngFor="let ticket of tickets; let i=index">
                        <div class="flex flex-col flex-auto m-8 mb-4">
                            <div class="flex flex-col md:flex-row items-baseline justify-between">
                                <div class="text-2xl leading-tight">
                                    <mat-icon *ngIf="userSession.usuario.codUsuario == ticket.codUsuarioCad"
                                        class="pt-2.5 text-yellow-400" svgIcon="heroicons_solid:star"></mat-icon>
                                    
                                    {{ ticket.titulo }}
                                </div>

                                <div class="text-3xl font-semibold mt-4 md:mt-0 md:ml-6" @shake>{{ i+1 }}&#176;</div>
                            </div>

                            <div class="flex items-center text-md mt-6">
                                <span
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100">
                                    Prioridade {{ ticket.ticketPrioridade.descricao }}
                                </span>

                                <span
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-green-800 bg-green-100">
                                    Módulo {{ ticket.ticketModulo.descricao }}
                                </span>

                                <span
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-orange-800 bg-orange-100">
                                    Status {{ ticket.ticketStatus.descricao }}
                                </span>

                                <span
                                    *ngIf="ticket.atendimentos.length"
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-purple-800 bg-purple-100">
                                    {{ ticket.atendimentos.length }} {{ ticket.atendimentos.length > 1 ? 'Atendimentos' : 'Atendimento' }}
                                </span>

                                <span
                                    *ngIf="ticket.anexos.length"
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-teal-800 bg-teal-100">
                                    {{ ticket.anexos.length }} {{ ticket.anexos.length > 1 ? 'Anexos' : 'Anexo' }}
                                </span>

                                <span
                                    class="mr-2 py-0.5 px-3 rounded-full text-sm font-semibold text-gray-800 bg-gray-100">
                                    {{ ticket.dataHoraCad | date:'d MMMM y' }}
                                </span>
                            </div>

                            <div class="text-md text-secondary mt-6">
                                {{ ticket.descricao }}
                            </div>

                            <hr class="w-full border-b mt-6 mb-4">
                            
                            <div class="flex items-center md:mt-auto -mx-3">
                                <div class="px-3 mr-1 text-secondary font-light">
                                    <span class="uppercase">
                                        {{ ticket.usuarioCad.nomeUsuario }}
                                    </span>
                                    
                                    {{ obterTempoAbertura(ticket.dataHoraCad) }}
                                </div>

                                <button class="ml-auto" [disabled]="ticket.codStatus == 3" mat-icon-button [matTooltip]="ticket.indAtivo ? 'Desativar' : 'Ativar'"
                                    (click)="toggleStatusTicket(ticket)">
                                    <mat-icon class="icon-size-5" [class.text-green-500]="ticket.indAtivo"
                                        [class.text-gray-300]="!ticket.indAtivo"
                                        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </button>

                                <button mat-icon-button matTooltip="{{ t('editar') }}"
                                    [routerLink]="['/ticket/detalhe/' + ticket.codTicket]">
                                    <mat-icon class="text-blue-500 icon-size-5" [svgIcon]="'mat_solid:edit'">
                                    </mat-icon>
                                </button>
                            </div>
                        </div>
                    </fuse-card>
                </div>
            </div>

            <div *ngIf="!tickets?.length && !isLoading"
                class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                Nenhum ticket encontrado!
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>