<div class="flex-auto" *transloco="let t">
    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-6 px-6 md:px-8 border-b">
        <div class="flex justify-between">
            <div class="text-4xl font-extrabold tracking-tight leading-none mt-2">
                {{ t('filtros') }}
            </div>

            <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <ng-container>
        <form autocomplete="off" class="flex flex-col bg-card shadow rounded overflow-hidden" [formGroup]="form"
            *transloco="let t">
            <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-0 overflow-hidden">

                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('cliente') }}</mat-label>
                    <mat-select formControlName="codCliente" multiple="false">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="clienteFilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let cliente of clientes" [value]="cliente.codCliente ">
                            {{ cliente.nomeFantasia }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('contrato') }}</mat-label>
                    <mat-select formControlName="codContratos" multiple="true">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="contratoFilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option class="mat-primary fill"
                            (click)="selectAll(form.controls.codContratos, contratos, 'codContrato')" [value]="0">
                            TODOS
                        </mat-option>
                        <mat-option *ngFor="let contrato of contratos" [value]="contrato.codContrato">
                            {{ contrato.nomeContrato }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('tipo') }}</mat-label>
                    <mat-select formControlName="codTipoContratos" multiple="true">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Pesquisa..."
                                noEntriesFoundLabel="'nenhum registro encontrado'" [formControl]="tipoFilterCtrl">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option class="mat-primary fill" (click)="selectAll(form.controls.codTipoContratos, tipos,
                            'codTipoContrato')" [value]="0">
                            TODAS
                        </mat-option>
                        <mat-option *ngFor="let tipo of tipos" [value]="tipo.codTipoContrato ">
                            {{ tipo.nomeTipoContrato }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('Data Pagamento') }}</mat-label>
                    <input matInput (click)="contratoData.open()" (keydown)="false" [matDatepicker]="contratoData"
                        formControlName="dataPagto">
                    <mat-datepicker-toggle matSuffix [for]="contratoData"></mat-datepicker-toggle>
                    <mat-datepicker #contratoData></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="fuse-mat-dense sm:col-span-4">
                    <mat-label>{{ t('Valor Pagamento') }}</mat-label>
                    <input matInput formControlName="vlrPagto" mask="separator.2" prefix="R$ " thousandSeparator="."
                        decimalMarker="," [showMaskTyped]="false" [dropSpecialCharacters]="true">
                </mat-form-field>

            </div>

            <div class="mt-6 border-t"></div>

            <div class="flex items-center justify-start px-8 py-3 relative">
                <button (click)="aplicar()" [disabled]="!form.valid" mat-button [color]="'primary'">
                    {{ t('salvar') }}
                </button>

                <button (click)="aplicar(false)" [disabled]="!form.valid" mat-button [color]="'primary'">
                    {{ t('aplicar') }}
                </button>

                <button side (click)="limpar()" color="warn" mat-button>
                    {{ t('limpar') }}
                </button>

                <salvar-filtro-usuario [filterName]="'instalacao-pagto'" [filterBase]="this">
                </salvar-filtro-usuario>
            </div>
        </form>
    </ng-container>
</div>