<div class="grid grid-cols-6 sm:grid-cols-1 md:grid-cols-6 gap-6 w-full min-w-0">
    <fuse-card class="flex flex-col col-span-3 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"*transloco="let t">
                                    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                    
                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('retirada veiculo') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                    <span class="text-red-600" 
                                                        *ngIf="form.controls['dataHoraRetiradaVeiculo'].invalid && form.controls['dataHoraRetiradaVeiculo'].errors.required">*</span>
                                                <input matInput formControlName="dataHoraRetiradaVeiculo">
                                            </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('data auditoria') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['dataHoraCad'].invalid && form.controls['dataHoraCad'].errors.required">*</span>
                                                <input matInput formControlName="dataHoraCad">
                                            </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('total de dias em uso') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['totalDiasEmUso'].invalid && form.controls['totalDiasEmUso'].errors.required">*</span>
                                            <input matInput formControlName="totalDiasEmUso">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('odometro inicial') }} </div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['odometroInicialRetirada'].invalid && form.controls['odometroInicialRetirada'].errors.required">*</span>
                                            <input matInput formControlName="odometroInicialRetirada">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('odometro periodo') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['odometroPeriodoAuditado'].invalid && form.controls['odometroPeriodoAuditado'].errors.required">*</span>
                                            <input matInput formControlName="odometroPeriodoAuditado">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('km percorrido') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnh || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('km ferias') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['kmFerias'].invalid && form.controls['kmFerias'].errors.required">*</span>
                                            <input matInput formControlName="kmFerias">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('km particular') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnh || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('km particular por mes') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnh || "Não informado" }} </div> -->
                                        </div>

                                        
                                    </div>
                                </fuse-card>

                                <fuse-card class="flex flex-col col-span-3 flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"*transloco="let t">
                                    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
                                        
                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('creditos no cartao') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['creditosCartao'].invalid && form.controls['creditosCartao'].errors.required">*</span>
                                            <input matInput formControlName="creditosCartao">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('despesas cb') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.numCracha || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('despesa cb compensadas') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.rg || "Não informado" }} </div> -->
                                        </div>
                    
                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('saldo cartao') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['saldoCartao'].invalid && form.controls['saldoCartao'].errors.required">*</span>
                                            <input matInput formControlName="saldoCartao">
                                        </mat-form-field>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('tanque(medidor)') }}</div>
                                            <mat-select formControlName="codAuditoriaVeiculoTanque" #modeloSelect>
                                                <mat-option *ngFor="let tanque of auditoriaVeiculos" [value]="tanque?.auditoriaVeiculo?.veiculoAuditoriaTanque?.codAuditoriaVeiculoTanque" matTooltip="{{ tanque?.auditoriaVeiculo?.veiculoAuditoriaTanque?.nome }}" matTooltipPosition="right">
                                                    <span>{{ tanque?.auditoriaVeiculo?.veiculoAuditoriaTanque?.nome }}</span>
                                                </mat-option>
                                            </mat-select>
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('tanque(litros)') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnhvalidade || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('tanque(R$)') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnhvalidade || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('uso particular') }}</div>
                                            <!-- <div> {{ auditoria?.usuario?.tecnico?.cnhvalidade || "Não informado" }} </div> -->
                                        </div>

                                        <div class="flex items-center justify-between py-3">
                                            <div class="text-secondary">{{ t('observacoes') }}</div>
                                            <mat-form-field class="fuse-mat-dense sm:col-span-8">
                                                <span class="text-red-600" 
                                                    *ngIf="form.controls['observacoes'].invalid && form.controls['observacoes'].errors.required">*</span>
                                                    <input matInput formControlName="observacoes">
                                        </mat-form-field>
                                        </div>
                                    </div>
                                </fuse-card>
                            </div>