<div class="pt-5">
	<table class="w-full table-auto text-md font-medium tracking-tight bg-card" *ngIf="!loading">
		<thead>
			<tr>
				<th class="p-0.5">Região</th>
				<th class="p-0.5">DISP 11</th>
				<th class="p-0.5">DISP 12</th>
				<th class="p-0.5">DISP 13</th>
				<th class="p-0.5">DISP 14</th>
				<th class="p-0.5">DISP 15</th>
				<th class="p-0.5">TOTAL</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" *ngFor="let data of multaDisponibilidade">
				<td>{{data.regiao}}</td>
				<td><span class.text-red-500="data.disp11 > 0">R${{data.disp11 | number:'1.1-1'}}</span></td>
				<td><span class.text-red-500="data.disp12 > 0">R${{data.disp12 | number:'1.1-1'}}</span></td>
				<td><span class.text-red-500="data.disp13 > 0">R${{data.disp13 | number:'1.1-1'}}</span></td>
				<td><span class.text-red-500="data.disp14 > 0">R${{data.disp14 | number:'1.1-1'}}</span></td>
				<td><span class.text-red-500="data.disp15 > 0">R${{data.disp15 | number:'1.1-1'}}</span></td>
			</tr>
		</tbody>
		<tfoot>
			<tr class="text-center pointer-events-none font-bold">
				<th class="p-0.5">TOTAL</th>
				<td class="p-0.5">R${{totalDisp11| number:'1.1-1'}}</td>
				<td class="p-0.5">R${{totalDisp12| number:'1.1-1'}}</td>
				<td class="p-0.5">R${{totalDisp13| number:'1.1-1'}}</td>
				<td class="p-0.5">R${{totalDisp14| number:'1.1-1'}}</td>
				<td class="p-0.5">R${{totalDisp15| number:'1.1-1'}}</td>
				<td class="p-0.5">R${{totalDispTotal| number:'1.1-1'}}</td>
			</tr>
		</tfoot>
	</table>
	
	<div class="w-full mt-4 text-right" *ngIf="!loading">
		* Meta da Disponibilidade deve ser na média maior que <b>96%</b>
		e nenhum saldo em horas negativas
	</div>
	
	<div class="flex justify-center items-center bg-gray-50 min-h-100" *ngIf="loading">
		<mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
	</div>
</div>