<mat-drawer-container class="flex-auto h-full">   
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
			<div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4"
                        *transloco="let t">
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex-1 min-w-0">
                                <div class="mt-2">
                                    <h6
                                    class="text-2xl md:text-2xl font-extrabold tracking-tight leading-6 sm:leading-6 truncate">
                                    Importação em Massa
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="grid grid-cols-2 w-full max-w-screen-xl mx-auto">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle (click)="configura(configuracao.atualizaImplantacao)" >Atualização Implantação</mat-button-toggle>
                        <mat-button-toggle (click)="configura(configuracao.aberturaChamados)" >Abertura de Chamados</mat-button-toggle>
                        <mat-button-toggle (click)="configura(configuracao.criacaoLotes)" >Criação de Lotes</mat-button-toggle>
                    </mat-button-toggle-group>

                    <div class="flex justify-self-end mt-6 sm:mt-0 sm:ml-2 space-x-3">
                        <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" [disabled]="!idPlanilha" (click)="enviarDados()" >
                            <mat-icon [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
                            
                            <span class="ml-2">{{t('enviar')}}</span>
                        </button>
                    </div>
                 </div>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-full max-w-screen-xl mx-auto">
                    <div *ngIf="!isLoading"
                        class="
                        px-2
                        pb-2
                        flex flex-col flex-auto
                        bg-card
                        shadow
                        rounded
                        max-w-6/7
                        max-h-140
                        overflow-auto"
                        >
                        <app-planilha class="mt-2" [data]="config" (sheetData)="retornaPlanilha($event)"></app-planilha>
                    </div>
                    <div class="grid justify-items-center mt-10" *ngIf="isLoading">  
                        <mat-progress-spinner [diameter]="84" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <br>
                        <h3>ESTA AÇÃO PODE DEMORAR ATÉ ALGUNS MINUTOS, POR FAVOR AGUARDE </h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>