<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer-content>
        <div class="absolute inset-0 flex flex-col min-w-0 overflow-auto" cdkScrollable>
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-6 px-6 md:px-8 border-b bg-gray-100">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <div>
                    <div class="text-4xl font-extrabold tracking-tight">
                        {{ t('importação') }}
                    </div>
                </div>

                <div class="mt-5 grid grid-cols-7 justify-self-end">
                    <mat-form-field class="col-span-5" floatLabel="always">
                        <mat-select placeholder="Selecione o tipo de importação">
                            <mat-option *ngFor="let tipo of importacaoTipos" matTooltipPosition="left"
                                [value]="tipo.codImportacaoTipo"
                                (click)="configura(tipo.codImportacaoTipo)">
                                <span>{{ tipo.nomeTipo }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="ml-4 mt-1" mat-raised-button [color]="'primary'" (click)="enviarDados()" [disabled]="isLoading || !codImportacaoTipo">
                        {{ t('importar') }}
                    </button>

                    <button class="ml-4 mt-1" mat-raised-button [color]="'primary'" [routerLink]="['/importacao/arquivo']">
                        {{ t('importar de arquivo') }}
                    </button>
                </div>

            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-11/12 ml-10">
                    <div [class.hidden]="isLoading" class="
                        w-full
                        flex flex-col flex-auto
                        rounded
                        h-full">
                        <app-planilha [class.hidden]="!codImportacaoTipo" class="mt-2" [data]="planilhaConfig" (sheetData)="retornaPlanilha($event)">
                        </app-planilha>
                    </div>

                    <div class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
                        <span *ngIf="!codImportacaoTipo">
                            Por favor, selecione o tipo de importação
                        </span>

                        <span *ngIf="isLoading">
                            Por favor aguarde, este processo pode demorar alguns instantes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>