<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer-content>
        <div class="flex flex-col flex-auto min-w-0">
            <div class="bg-card">
                <div class="flex flex-col w-full px-10">
                    <div class=" flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-4">
                        <div class="grid grid-cols-2 items-center justfy-between">
                            <div class="text-4xl font-extrabold tracking-tight">
                                {{ t('importação') }}
                            </div>
                            
                            <div class="mt-5 grid grid-cols-7 justify-self-end">
                                <mat-form-field class="col-span-5" floatLabel="always">
                                    <mat-select placeholder="Selecione o tipo de importação">
                                        <mat-option *ngFor="let tipo of importacaoTipos" matTooltipPosition="left"
                                            [value]="tipo.codImportacaoTipo"
                                            (click)="configura(tipo.codImportacaoTipo)">
                                            <span>{{ tipo.nomeTipo }}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <button class="ml-4 mt-1" mat-raised-button [color]="'primary'" (click)="enviarDados()" [disabled]="loading || !codImportacaoTipo">
                                    {{ t('importar') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-auto mt-4 sm:mt-6" *transloco="let t">
                <div class="w-11/12 ml-10">
                    <div *ngIf="!isLoading" class="
                        w-full
                        flex flex-col flex-auto
                        rounded
                        h-full
                        overflow-auto">
                        <app-planilha *ngIf="codImportacaoTipo" class="mt-2" [data]="planilhaConfig" (sheetData)="retornaPlanilha($event)">
                        </app-planilha>
                    </div>

                    <div class="bg-card p-6 rounded" *ngIf="!codImportacaoTipo">
                        Por favor, selecione o tipo de importação
                    </div>

                    <div class="grid justify-items-center mt-10" *ngIf="isLoading">
                        <mat-progress-spinner [diameter]="84" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <br>
                        <h3>Esta ação pode demorar alguns minutos. Por favor, aguarde. </h3>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>