<table class="w-full table-auto text-md font-medium tracking-tight bg-card" *ngIf="!loading">
    <thead class="text-center">
        <tr>
            <th class="text-left">Código</th>
            <th class="text-left">Peça</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let data of topPecasFaltantes" class="text-center">
            <td class="text-left">{{ data.codMagnus }}</td>
            <td class="text-left">{{ data.nomePeca | titlecase }}</td>
            <td>{{data.qtdPecas}}</td>
        </tr>
    </tbody>
</table>

<div class="w-full text-right text-md mt-4 mr-2 text-blue-500" *ngIf="!loading">
    <a href="http://satdbprod/Reports/report/Reports/Relat%C3%B3rio%20DSS%20-%20SAT%20-%20Logistica%20-%20Chamado%20Faltante%20sem%20Status%20a%20mais%20de%2024%20horas%20-%20Analistas" target="_blank">Relatório Reporting</a>
</div>

<div class="flex justify-center items-center" *ngIf="loading">
    <div class="">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>