<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="grid grid-cols-2 justfy-between p-6 border-b shadow bg-card rounded-t-lg">
        <div class="flex items-center">
            <span class="text-lg font-medium">{{ t('descontos') }}</span>
        </div>
        <div class="flex place-content-end">
            <button [matTooltip]="t('novo')" (click)="adicionarDesconto()">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'">
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="flex-auto" *ngIf="!isLoading">
        <div>
            <div>
                <div class="overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <div class="grid" *ngIf="editableList?.length">
                            <div class="list-grid-descontos sticky z-10 top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div>
                                    {{ t("nome") }}
                                </div>
                                <div>
                                    {{ t("motivo") }}
                                </div>
                                <div>
                                    {{ t("tipo") }}
                                </div>
                                <div [ngClass]="{'pointer-events-auto cursor-text text-blue-500': isEditing }">
                                    {{ t("valor desconto") }}
                                </div>
                                <div>
                                    {{ t("valor total") }}
                                </div>
                                <div>
                                    {{ t("acao") }}
                                </div>
                            </div>
                            <ng-container *ngFor="let desconto of editableList">
                                <div class="list-grid-descontos grid items-center h-11 pt-3 gap-4 py-3 px-6 border-b text-sm md:px-8 bg-white  hover:bg-gray-100"
                                    *transloco="let t">
                                    <div>
                                        {{ desconto?.item?.nomeCampo }}
                                    </div>
                                    <div>
                                        {{ desconto?.item?.motivo }}
                                    </div>
                                    <div>
                                        {{ desconto?.item?.nomeTipo }}
                                    </div>
                                    <div ngDefaultControl [ngClass]="{'pointer-events-auto cursor-text text-blue-500 font-bold':
                                        desconto?.isEditing }" [contentEditable]="desconto?.isEditing" [textContent]="desconto?.isEditing ?
                                        desconto?.item?.valor : desconto?.item?.valor |
                                        currency:'BRL':'symbol-narrow'"
                                        (input)="desconto.item.valor = $event.target.innerText">
                                    </div>
                                    <div>
                                        {{ desconto?.item?.valorTotal | currency:'BRL':'symbol-narrow' }}
                                    </div>
                                    <div class="flex pointer-events-auto">
                                        <button class="bg-transparent" [matTooltip]="'Editar desconto'"
                                            (click)="desconto.onEdit()" *ngIf="!desconto?.isEditing">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'">
                                            </mat-icon>
                                        </button>
                                        <button class="bg-transparent" [matTooltip]="t('deletar') + ' desconto'"
                                            (click)="desconto.onDelete()" *ngIf="!desconto?.isEditing">
                                            <mat-icon class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_outline:trash'">
                                            </mat-icon>
                                        </button>
                                        <button class="bg-transparent" [matTooltip]="'Salvar edição'"
                                            (click)="desconto.onSave()" *ngIf="desconto?.isEditing">
                                            <mat-icon class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_outline:check-circle'">
                                            </mat-icon>
                                        </button>
                                        <button class="bg-transparent" [matTooltip]="'Cancelar edição'"
                                            (click)="desconto.onCancel()" *ngIf="desconto?.isEditing">
                                            <mat-icon class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_outline:minus-circle'">
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="!editableList?.length && !isLoading"
                            class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                            Nenhum desconto encontrado!
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>