<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div class="grid grid-cols-2 justfy-between bg-gray-50 dark:bg-gray-700 p-8 border-b">
        <div class="flex items-center">
            <span class="text-lg font-medium">{{ t('descontos') }}</span>
        </div>
        <div class="flex place-content-end">
            <button mat-icon-button [matTooltip]="t('novo')">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:plus-circle'">
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="flex-auto" *ngIf="!isLoading">
        <div>
            <div class="grid h-100">
                <div class="overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <div class="grid" *ngIf="descontos?.length">
                            <div class="list-grid-descontos sticky z-10 top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div>
                                    {{ t("nome") }}
                                </div>
                                <div>
                                    {{ t("motivo") }}
                                </div>
                                <div>
                                    {{ t("tipo") }}
                                </div>
                                <div>
                                    {{ t("valor desconto") }}
                                </div>
                                <div>
                                    {{ t("valor total") }}
                                </div>
                                <div>
                                    {{ t("acao") }}
                                </div>
                            </div>
                            <ng-container *ngFor="let desconto of descontos">
                                <div class="list-grid-descontos grid items-center h-11 pt-3 gap-4 py-3 px-6 border-b text-sm md:px-8 bg-white  hover:bg-gray-100"
                                    *transloco="let t">
                                    <div>
                                        {{ desconto?.nomeCampo }}
                                    </div>
                                    <div>
                                        {{ desconto?.motivo }}
                                    </div>
                                    <div>
                                        {{ desconto?.nomeTipo }}
                                    </div>
                                    <div>
                                        {{ desconto?.valor | currency:'BRL':'symbol-narrow' }}
                                    </div>
                                    <div>
                                        {{ desconto?.valorTotal | currency:'BRL':'symbol-narrow' }}
                                    </div>
                                    <div class="text-left">
                                        <button class="bg-transparent" [matTooltip]="'Alterar quantidade'"
                                            (click)="excluirDesconto(desconto)">
                                            <mat-icon class="icon-size-5 text-blue-600"
                                                [svgIcon]="'heroicons_outline:refresh'">
                                            </mat-icon>
                                        </button>

                                        <button class="bg-transparent" [matTooltip]="'Alterar valor'"
                                            (click)="excluirDesconto(desconto)">
                                            <mat-icon class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_outline:cash'">
                                            </mat-icon>
                                        </button>

                                        <button class="bg-transparent" [matTooltip]="t('deletar')"
                                            (click)="excluirDesconto(desconto)">
                                            <mat-icon class="icon-size-5 text-red-600"
                                                [svgIcon]="'heroicons_outline:trash'">
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="!descontos?.length && !isLoading"
                            class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">
                            Nenhum desconto encontrado!
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>