<div *transloco="let t">
    <form autocomplete="off" [formGroup]="form" #formGroupAccessor="ngForm" class="flex flex-col bg-card overflow-hidden" *ngIf="!loading">
        <div class="bg-gray-50 dark:bg-gray-700 p-8 border-b">
            <p class="text-lg font-medium">{{ t('relatorio de atendimento') }}</p>
        </div>

        <div class="grid sm:grid-cols-12 gap-x-6 flex-col flex-auto p-8 pb-6 bg-card overflow-hidden">
            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('equipamento retirado') }}</mat-label>
                <mat-select formControlName="codEquipRet">
                    <mat-option *ngFor="let equip of equipamentos" [value]="equip.codEquip">
                        {{ equip.nomeEquip }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('numero serie retirada') }}</mat-label>
                <input matInput formControlName="numSerieRet" maxlength="50">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('equipamento instalado') }}</mat-label>
                <mat-select formControlName="codEquipInst">
                    <mat-option *ngFor="let equip of equipamentos" [value]="equip.codEquip">
                        {{ equip.nomeEquip }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('numero serie instalada') }}</mat-label>
                <input matInput formControlName="numSerieInst" maxlength="50">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('rede') }}</mat-label>
                <input matInput formControlName="rede" maxlength="50">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('tipo de comunicacao') }}</mat-label>
                <mat-select formControlName="codTipoComunicacao">
                    <mat-option *ngFor="let tipo of tiposComunicacao" [value]="tipo.codTipoComunicacao">
                        {{ tipo.tipo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('motivo de comunicacao') }}</mat-label>
                <mat-select formControlName="codMotivoComunicacao">
                    <mat-option *ngFor="let m of motivosComunicacao" [value]="m.codMotivoComunicacao">
                        {{ m.motivo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('operadora chip retirado') }}</mat-label>
                <mat-select formControlName="codOperadoraTelefoniaChipRetirado">
                    <mat-option *ngFor="let op of operadoras" [value]="op.codOperadoraTelefonia">
                        {{ op.nomeOperadoraTelefonia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('numero chip retirado') }}</mat-label>
                <input matInput formControlName="numeroChipRetirado" maxlength="50">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('operadora chip instalado') }}</mat-label>
                <mat-select formControlName="codOperadoraTelefoniaChipInstalado">
                    <mat-option *ngFor="let op of operadoras" [value]="op.codOperadoraTelefonia">
                        {{ op.nomeOperadoraTelefonia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('numero chip instalado') }}</mat-label>
                <input matInput formControlName="numeroChipInstalado" maxlength="50">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('defeito') }}</mat-label>
                <mat-select formControlName="codDefeitoPOS">
                    <mat-option *ngFor="let d of defeitos" [value]="d.codDefeitoPOS">
                        {{ d.nomeDefeitoPOS }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-12">
                <mat-label>{{ t('obs motivo comunicacao') }}</mat-label>
                <input matInput formControlName="obsMotivoComunicacao" maxlength="80">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('motivo de cancelamento') }}</mat-label>
                <mat-select formControlName="codMotivoCancelamento">
                    <mat-option *ngFor="let motivoCancelamento of motivosCancelamento" [value]="motivoCancelamento.codMotivoCancelamento">
                        {{ motivoCancelamento.motivo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-dense sm:col-span-6">
                <mat-label>{{ t('obs motivo cancelamento') }}</mat-label>
                <input matInput formControlName="obsMotivoCancelamento" maxlength="80">
                <mat-error>{{ t('preencher campo') }}</mat-error>
            </mat-form-field>
        </div>

        <div class="flex items-center justify-end border-t px-8 py-5 bg-gray-50 dark:bg-gray-700">
            <button class="px-6 mr-4" mat-button [color]="'primary'" (click)="salvar()">
                {{ isAddMode ? t('criar') : t('atualizar') }}
            </button>
        </div>
    </form>

    <div class="flex justify-center items-center min-h-60" *ngIf="loading">
        <div class="text-center">
            <mat-progress-spinner [diameter]="42" [mode]="'indeterminate'"></mat-progress-spinner>
        </div>
    </div>
</div>