<fuse-card class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="text-lg font-semibold leading-tight">
        Pendência <span class="text-secondary font-light">Clientes</span>
    </div>

    <div class="text-secondary text-sm mt-1">Clientes que Requerem Atenção</div>

    <div>
        <div class="items-center w-full justify-center min-h-80 -m-2" *ngIf="!loading">
            <apx-chart
                [series]="clienteChart.series"
                [chart]="clienteChart.chart"
                [dataLabels]="clienteChart.dataLabels"
                [stroke]="clienteChart.stroke"
                [colors]="clienteChart.colors"
                [title]="clienteChart.title"
                [subtitle]="clienteChart.subtitle"
                [plotOptions]="clienteChart.plotOptions"
                [yaxis]="clienteChart.yaxis"
                [xaxis]="clienteChart.xaxis"
                [tooltip]="clienteChart.tooltip"
            ></apx-chart>
        </div>

        <div class="flex justify-center items-center min-h-40" *ngIf="loading">
            <div class="text-center">
                <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
            </div>
        </div>
    </div>
</fuse-card>