<fuse-card class="flex flex-col flex-auto p-6 pt-px w-2/5 mb-4" *ngFor="let agendamento of agendamentos">
    <div class="flex items-center justify-between mt-5">
        <div class="text-xl font-medium">{{ agendamento?.motivoAgendamento?.descricaoMotivo }}</div>

        <div
            *ngIf="userSession.usuario.codPerfil == 3 || userSession.usuario.codPerfil == 104 || userSession.usuario.codSetor == 11">
            <button mat-icon-button matTooltip="Remover" (click)="removerAgendamento(agendamento)">
                <mat-icon class="icon-size-5 text-red-600" [svgIcon]="'heroicons_solid:trash'">
                </mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-col mt-4 divide-y font-medium">
        <div class="flex items-center justify-between py-1">
            <div class="text-secondary">Data</div>
            <div>{{ agendamento?.dataAgendamento | date:'dd/MM/yyyy HH:mm' }}</div>
        </div>

        <div class="flex items-center justify-between py-1">
            <div class="text-secondary">Usuário</div>
            <div>{{ agendamento?.codUsuarioAgendamento }}</div>
        </div>
    </div>
</fuse-card>

<div *ngIf="!agendamentos?.length && !isLoading" class="p-8 sm:p-16 text-2xl font-semibold tracking-tight text-center">
    Nenhum agendamento encontrado!
</div>

<div class="flex justify-center items-center min-h-60" *ngIf="isLoading">
    <div class="text-center">
        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
    </div>
</div>