<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">{{ t('pecas') }}</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
            </mat-form-field>
            
            <button class="ml-4 -mr-2" mat-icon-button [matMenuTriggerFor]="menu" *transloco="let t">
                <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>

                <mat-menu #menu>
                    <button mat-menu-item [routerLink]="['/peca/form']">
                        <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                        {{ t('adicionar') }}
                    </button>
                    <button mat-menu-item (click)="exportarExcel()">
                        <mat-icon [svgIcon]="'heroicons_outline:cloud-download'"></mat-icon>
                        {{ t('exportar') }}
                    </button>
                </mat-menu>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid" *transloco="let t">
                        <div class="list-grid-ge z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear *transloco="let t">
                            <div class="md:block" [mat-sort-header]="'codPeca'">
                                {{ t('codigo') }}
                            </div>
                            <div [mat-sort-header]="'nome'">
                                {{ t('nome') }}
                            </div>
                        </div>
                        <ng-container>
                            <ng-container *ngFor="let peca of dataSourceData?.items">
                                <div 
                                    class="cursor-pointer hover:bg-gray-200 list-grid-ge grid items-center h-10 pt-3 gap-4 py-3 px-6 text-sm md:px-8 border-b"
                                    [routerLink]="['/peca/form/' + peca.codPeca]">
                                    <div class="flex items-center">
                                        {{ peca.codPeca }}
                                    </div>
                                    <div class="truncate">
                                        {{ peca.nomePeca || t('nao informado') }}
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <mat-paginator [hidden]="!dataSourceData?.items?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>