<div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
  <div class="flex items-start justify-between">
      <div class="text-lg font-medium tracking-tight leading-6 truncate">Performance - Último Quadrimestre</div>
  </div>

  <div class="flex flex-col items-center -mt-4" *ngIf="!loading">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
    [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"></apx-chart>
  </div>

  <div class="flex justify-center items-center" *ngIf="loading">
      <div class="text-center">
          <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'"></mat-progress-spinner>
      </div>
  </div>
</div>