<fuse-card class="lg:col-span-4 md:col-span-4 flex flex-col flex-auto p-0 bg-card shadow rounded-2xl overflow-hidden">
  <div class="text-lg font-semibold leading-tight ml-6 mt-6">
    Performance
  </div>

  <div class="text-secondary text-sm ml-6 mt-1">Último Quadrimestre</div>

  <div class="items-center w-full justify-center -mb-4" *ngIf="!loading">
    <div id="chart">
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
        [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"></apx-chart>
    </div>
  </div>
</fuse-card>