<div>
    <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
        <!-- Intervenção Corretiva -->
        <div class="flex flex-col flex-auto">
            <div class="font-medium text-secondary">
                Intervenção Corretiva
            </div>
            
            <div class="relative flex flex-col flex-auto mt-2">
                <table
                    class="w-full table-auto text-md font-medium tracking-tight leading-6 truncate bg-card pointer-events-none"
                    *ngIf="!loadingCorretivas">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Filial</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Modelo</th>
                            <th class="text-center">OS</th>
                            <th class="text-center">Data Abertura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of chamadosAntigosCorretivas" class="leading-none text-md w-8 h-8">
                            <td class="text-center border-t">
                                <div class="w-4 h-4 rounded-full m-auto bg-red-400"></div>
                            </td>
                            <td class="text-center border-t">{{ data?.filial }}</td>
                            <td class="text-center border-t">{{ data?.cliente}}</td>
                            <td class="text-center border-t">{{ data?.modelo}}</td>
                            <td class="text-center border-t">{{ data?.os }}</td>
                            <td class="text-center border-t">
                                {{ data?.dataAbertura |date:'dd/MM/yyyy' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex justify-center items-center" *ngIf="loadingCorretivas">
                    <div class="text-center">
                        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                </div>
            </div>
        </div>


        <!-- Orçamento Aprovado -->
        <div class="flex flex-col flex-auto">
            <div class="font-medium text-secondary">
                Orçamento Aprovado
            </div>
            
            <div class="relative flex flex-col flex-auto mt-2">
                <table
                    class="w-full table-auto text-md font-medium tracking-tight leading-6 truncate bg-card pointer-events-none"
                    *ngIf="!loadingOrcamentos">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Filial</th>
                            <th class="text-center">Cliente</th>
                            <th class="text-center">Modelo</th>
                            <th class="text-center">OS</th>
                            <th class="text-center">Data Abertura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of chamadosAntigosOrcamentos" class="leading-none text-md w-8 h-8">
                            <td class="text-center border-t">
                                <div class="w-4 h-4 rounded-full m-auto bg-red-400"></div>
                            </td>
                            <td class="text-center border-t">{{ data?.filial }}</td>
                            <td class="text-center border-t">{{ data?.cliente}}</td>
                            <td class="text-center border-t">{{ data?.modelo}}</td>
                            <td class="text-center border-t">{{ data?.os }}</td>
                            <td class="text-center border-t">
                                {{ data?.dataAbertura |date:'dd/MM/yyyy' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="flex justify-center items-center" *ngIf="loadingOrcamentos">
                    <div class="text-center">
                        <mat-progress-spinner [diameter]="30" [mode]="'indeterminate'"></mat-progress-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>