usuario-page {
  img {
    width: 120px !important;
    height: 120px !important;
    margin: 25px 0 0px 31.5%;
  }

  .gradient-bg {
    background: linear-gradient(#488aff, #FFFFFF) !important;
  }
}