<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-orcamento-filtro [sidenav]="sidenav"></app-orcamento-filtro>
    </mat-drawer>

    <mat-drawer-content *transloco="let t">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-3 px-6 md:px-8 border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <div>
                    <div class="text-3xl font-extrabold tracking-tight">
                        {{ t('orçamentos') }}
                    </div>
                </div>

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                    </mat-form-field>

                    <div matTooltip="{{ t('exportar') }}"
                        (click)="exportar()">
                        <button class="ml-4" mat-icon-button>
                            <mat-icon class="text-blue-500" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                        </button>
                    </div>

                    <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-auto overflow-hidden">
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container>
                        <ng-container>
                            <div class="grid">
                                <div class="list-grid-orcamentos mb-1 z-10 sticky top-0 grid gap-4 py-2 px-4 shadow text-xs font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear *transloco="let t">
                                    <div [mat-sort-header]="'numero'">
                                        {{ t('numero') }}
                                    </div>

                                    <div>
                                        {{ t('data orcamento') }}
                                    </div>

                                    <div [mat-sort-header]="'codigoOrdemServico'">
                                        {{ t('os') }}
                                    </div>

                                    <div>
                                        {{ t('data abertura') }}
                                    </div>

                                    <div>
                                        {{ t('status os') }}
                                    </div>

                                    <div>
                                        {{ t('status laudo') }}
                                    </div>

                                    <div>
                                        {{ t('local') }}
                                    </div>

                                    <div>
                                        {{ t('intervencao') }}
                                    </div>

                                    <div>
                                        {{ t('autorizada') }}
                                    </div>

                                    <div>
                                        {{ t('regiao') }}
                                    </div>

                                    <div>
                                        {{ t('cliente') }}
                                    </div>

                                    <div>
                                        {{ t('equipamento') }}
                                    </div>

                                    <div>
                                        {{ t('serie') }}
                                    </div>

                                    <div>
                                        {{ t('acoes') }}
                                    </div>
                                </div>

                                <ng-container>
                                    <ng-container *ngFor="let orc of dataSourceData?.items"
                                        class="overflow-x-auto mt-1">
                                        <div class="list-grid-orcamentos grid items-center h-7 gap-4 px-2 text-xs md:px-4 border-b hover:bg-gray-100"
                                            *transloco="let t">
                                            <div class="flex items-center truncate">
                                                {{ orc?.numero ?? '---' }}
                                            </div>

                                            <div class="text-center truncate">
                                                {{ orc?.dataOrcamento | date:'dd/MM/yyyy' ?? '---' }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.codOS }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.dataAbertura | date:'dd/MM/yyyy' }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                <span class="py-1 px-2 rounded text-xs font-semibold" [ngStyle]="{
                                                        'background-color': orc?.ordemServico?.statusServico?.corFundo, 
                                                        'color': orc?.ordemServico?.statusServico?.corFonte
                                                    }">
                                                    {{ orc?.statusOS | titlecase
                                                    }}
                                                </span>
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{
                                                orc?.statusLaudo
                                                || 'Não Contém' }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.nomeLocal }}
                                            </div>
                                            <div class="flex items-center truncate">
                                                <span class="py-1 px-2 rounded text-xs font-semibold" [ngStyle]="{
                                                        'background-color': obterCorFundoIntervencao(orc?.codTipoIntervencao), 
                                                        'color': obterCorFonteIntervencao(orc?.codTipoIntervencao)
                                                    }">

                                                    {{ orc?.intervencao }}
                                                </span>
                                            </div>

                                            <div class="text-left truncate">
                                                {{ orc?.autorizada }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.regiao }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.cliente }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.equipamento }}
                                            </div>

                                            <div class="flex items-center truncate">
                                                {{ orc?.numSerie }}
                                            </div>

                                            <div class="flex items-center">
                                                <button class="cursor-pointer" [routerLink]="['/ordem-servico/detalhe/' + orc?.codOS]">
                                                    <mat-icon class="max-w-5 max-h-5 text-green-800"
                                                        [matTooltip]="t('ir para os')"
                                                        [svgIcon]="'heroicons_outline:clipboard'">
                                                    </mat-icon>
                                                </button>

                                                <button class="cursor-pointer ml-2" [disabled]="!(orc?.codOrc)" [routerLink]="['/orcamento/detalhe/' + orc?.codOrc + '/' + orc?.codOS]">
                                                    <mat-icon class="max-w-5 max-h-5 text-blue-800"
                                                    [matTooltip]="t('ir para orcamento')"
                                                    [svgIcon]="'heroicons_outline:calculator'">
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div *ngIf="!dataSourceData?.items.length && !isLoading"
                                class="p-8 sm:p-16 border-t text-2xl font-semibold tracking-tight text-center">Nenhum
                                orçamento encontrado!</div>

                            <mat-paginator [hidden]="!dataSourceData?.items?.length"
                                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                                [pageSize]="filter?.parametros.qtdPaginacaoLista ?? 30"
                                [pageSizeOptions]="[30, 50, 100, 150, 200]" [showFirstLastButtons]="true"
                                (page)="paginar()">
                            </mat-paginator>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>