<mat-drawer-container class="flex-auto h-full">
  <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
      <app-dashboard-filtro [sidenav]="sidenav"></app-dashboard-filtro>
  </mat-drawer>

  <mat-drawer-content>
    <div class="flex flex-col flex-auto min-w-0">
      <div class="bg-card border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
          <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-8">
            <div class="flex flex-auto items-center min-w-0">
              <div class="flex flex-col min-w-0 ml-4">
                <ng-container *transloco="let t">
                  <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                    Dashboard
                  </div>
                </ng-container>
                <div class="flex items-center">
                  <div class="leading-6 truncate text-secondary" *ngIf="filtro">
                    {{ filtro?.parametros.dataInicio | date:'dd/MM/yy' }} até 
                    {{ filtro?.parametros.dataFim | date:'dd/MM/yy' }}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
              <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'" (click)="sidenav.toggle()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:adjustments'"></mat-icon>
                <span class="ml-2">Filtrar</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-auto mt-4 sm:mt-6">
        <div class="w-full max-w-screen-xl mx-auto">
          <app-mapa></app-mapa>
         </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>