<mat-drawer-container class="flex-auto h-full" *transloco="let t">
    <mat-drawer-content>
        <div
            class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-7 px-6 md:px-8
                border-b">
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading || isDespesaLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>

                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-1 min-w-0">
                        <div class="flex flex-wrap items-center font-medium">
                            <div>
                                <a class="whitespace-nowrap text-primary-500" routerLink="/despesa/atendimentos">
                                    {{ t('atendimentos') }}
                                </a>
                            </div>

                            <div class="flex items-center ml-1 whitespace-nowrap">
                                <mat-icon class="icon-size-5 text-secondary"
                                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                <a class="whitespace-nowrap text-primary-500"
                                    [routerLink]="['/despesa/atendimentos/relatorios/' + codDespesaPeriodo]">
                                    {{ t('relatorios') }}
                                </a>
                            </div>
                            <div class="flex items-center ml-1 whitespace-nowrap">
                                <mat-icon class="icon-size-5 text-secondary"
                                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                <span class="ml-1 text-secondary">RAT {{ codRAT }}</span>
                            </div>
                            <div class="flex items-center ml-1 whitespace-nowrap">
                                <mat-icon class="icon-size-5 text-secondary"
                                    [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                <span class="ml-1 text-secondary">{{ t('despesas') }}</span>
                            </div>
                        </div>
                        <div
                            class="text-3xl mt-2 md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            {{ t('consulta de despesas') }}
                        </div>
                    </div>
                </div>

                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-1">
                    <button *ngIf="despesaConfiguracaoCombustivel"
                        class="fuse-mat-button-rounded text-green-500 bg-white" mat-flat-button
                        (click)="lancarDespesaItem()">
                        <mat-icon class="icon-size-6 mr-2" [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                        Nova Despesa
                    </button>
                </div>
            </div>

            <!-- <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-auto">
                <div class="flex flex-col fuse-mat-dense my-2 max-h-screen overflow-auto"
                    *ngIf="despesaItens.length > 0 && !isDespesaLoading">
                    <table mat-table [dataSource]="despesaItens" class="mat-elevation-z4">

                        <ng-container matColumnDef="codDespesaItem">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                {{ t('codigo') }} </th>
                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.codDespesaItem }} </td>
                        </ng-container>

                        <ng-container matColumnDef="despesaTipo">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                {{ t('tipo') }} </th>
                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.despesaTipo?.nomeTipo }} </td>
                        </ng-container>

                        <ng-container matColumnDef="numNF">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black"> {{ t('nf') }} </th>
                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.numNF ?? "---" }} </td>
                        </ng-container>

                        <ng-container matColumnDef="quilometragem">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                {{ t('quilometragem') }} </th>
                            <td mat-cell *matCellDef="let di" class="text-sm">
                                {{ di.kmPercorrido != 0 &&  di.kmPercorrido != null ? di.kmPercorrido +"km" : "---" }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="valorTotal">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black"> {{ t('valor total') }}
                            </th>
                            <td mat-cell *matCellDef="let di" class="text-sm">
                                {{ di.despesaValor | currency:'BRL':'symbol-narrow' }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acao">
                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black text-center"> {{ t('acao') }} </th>
                            <td mat-cell *matCellDef="let di" class="text-center">
                                <button mat-icon-button (click)="excluirDespesaItem(di)">
                                    <mat-icon class="text-xs text-red-500" [svgIcon]="'heroicons_outline:trash'">
                                    </mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div *ngIf="!despesaItens.length && !isLoading"
                    class="p-8 sm:p-16 border-t fuse-mat-dense text-2xl font-semibold tracking-tight text-center">
                    Nenhuma despesa lançada até o momento.
                </div>
            </div> -->
            <div class="flex-auto bg-gray-100">
                <div class="w-full">

                    <div class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
                        <div class="sm:col-span-2 md:col-span-4 lg:col-span-1 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex flex-col mt-2 divide-y">
                                <ng-container>
                                    <div class="flex items-center justify-between py-3">
                                        <div class="text-secondary">{{ t('os') }}</div>
                                        <div>{{ rat?.codOS }}</div>
                                    </div>

                                    <div class="flex items-center justify-between py-3" 
                                        *ngIf="ordemServico?.cliente?.numBanco && ordemServico?.cliente?.nomeFantasia">
                                        <div class="text-secondary">{{ t('cliente') }}</div>
                                        <div>
                                            {{ ordemServico?.cliente?.numBanco }} - {{ ordemServico?.cliente?.nomeFantasia }}
                                        </div>
                                    </div>

                                    <div class="flex items-center justify-between py-3"
                                        *ngIf="ordemServico?.localAtendimento?.numAgencia && ordemServico?.localAtendimento?.dcPosto">
                                        <div class="text-secondary">{{ t('agencia') }}</div>
                                        <div>{{ ordemServico?.localAtendimento?.numAgencia }}/{{ ordemServico?.localAtendimento?.dcPosto }}</div>
                                    </div>

                                    <div class="flex items-center justify-between py-3">
                                        <div class="text-secondary">{{ t('endereco') }}</div>
                                        <div>{{ ordemServico?.localAtendimento?.endereco }}</div>
                                    </div>

                                    <div class="flex items-center justify-between py-3">
                                        <div class="text-secondary">{{ t('cidade') }}</div>
                                        <div>{{ ordemServico?.localAtendimento?.cidade?.nomeCidade }}</div>
                                    </div>

                                    <div class="flex items-center justify-between py-3">
                                        <div class="text-secondary">{{ t('estado') }}</div>
                                        <div>{{ ordemServico?.localAtendimento?.cidade?.unidadeFederativa?.siglaUF }}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                            <div class="flex flex-col divide-y">
                                <ng-container>
                                    <table mat-table [dataSource]="despesaItens">
                                        <ng-container matColumnDef="codDespesaItem">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                                {{ t('codigo') }} </th>
                                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.codDespesaItem }} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="despesaTipo">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                                {{ t('tipo') }} </th>
                                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.despesaTipo?.nomeTipo }} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="numNF">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black"> {{ t('nf') }} </th>
                                            <td mat-cell *matCellDef="let di" class="text-sm"> {{ di.numNF ?? "---" }} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="quilometragem">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black">
                                                {{ t('quilometragem') }} </th>
                                            <td mat-cell *matCellDef="let di" class="text-sm">
                                                {{ di.kmPercorrido != 0 &&  di.kmPercorrido != null ? di.kmPercorrido +"km" : "---" }}
                                            </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="valorTotal">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black"> {{ t('valor total') }}
                                            </th>
                                            <td mat-cell *matCellDef="let di" class="text-sm">
                                                {{ di.despesaValor | currency:'BRL':'symbol-narrow' }}
                                            </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="acao">
                                            <th mat-header-cell *matHeaderCellDef class="bg-gray-50 text-black text-center"> {{ t('acao') }} </th>
                                            <td mat-cell *matCellDef="let di" class="text-center">
                                                <button mat-icon-button (click)="excluirDespesaItem(di)">
                                                    <mat-icon class="text-xs text-red-500" [svgIcon]="'heroicons_outline:trash'">
                                                    </mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>

                                    <div *ngIf="!despesaItens.length && !isLoading"
                                        class="p-8 sm:p-16 border-t fuse-mat-dense text-2xl font-semibold tracking-tight text-center">
                                        Nenhuma despesa encontrada.
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>