<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">{{ t('autorizadas') }}</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="">
            </mat-form-field>
            <button class="ml-4" mat-button [color]="'primary'" routerLink="/autorizada/form">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container>
                <ng-container>
                    <div class="grid">
                        <div class="list-grid-autorizada z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear *transloco="let t">
                            <div class="hidden md:block" [mat-sort-header]="'codAutorizada'">
                                {{ t('codigo') }}
                            </div>
                            <div class="hidden md:block">
                                {{ t('nome') }}
                            </div>
                            <div class="hidden md:block">
                                {{ t('filial') }}
                            </div>                            
                            <div class="hidden md:block">
                                {{ t('ativo') }}
                            </div>
                        </div>
                    </div>
                    <mat-paginator [hidden]="!dataSourceData?.autorizadas?.length"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="dataSourceData?.totalCount"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                        (page)="paginar()">
                    </mat-paginator>
                </ng-container>
            </ng-container>

            <ng-container>
                <ng-container *ngFor="let autorizada of dataSourceData?.autorizadas">
                    <div class="list-grid-autorizada grid items-center h-11 pt-2 gap-4 py-3 px-6 text-sm md:px-8 border-b"
                        *transloco="let t">
                        <div class="hidden md:block truncate ">
                            <a [routerLink]="['/autorizada/form/' + autorizada.codAutorizada]" class="text-primary">
                                {{ autorizada.codAutorizada }}
                            </a>
                        </div>

                        <div class="hidden md:block truncate">
                            {{ autorizada.nomeFantasia }}
                        </div>

                        <div class="hidden md:block truncate">
                            {{ autorizada.filial?.nomeFilial }}
                        </div>                        

                        <div class="hidden md:block truncate">
                            {{ autorizada.indAtivo ? 'Sim' : 'Não' }}
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-template #rowDetailsTemplate let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b p-16">
                        <p>Conteúdo da div</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>