<ion-header>
  <ion-navbar>
    <ion-title>Rat: {{ chamado?.rats[0]?.numRat }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-buttons end>
      <button 
        ion-button 
        icon-only 
        (click)="fecharModal()"
        [disabled]="(chamado.rats[0].ratDetalhes[ratDetalheIndex].pecas.length == 0 
          && (chamado.rats[0].ratDetalhes[ratDetalheIndex].acao.codAcao == 19 
          || chamado.rats[0].ratDetalhes[ratDetalheIndex].acao.codAcao == 26))">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>Inserindo Peças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider
    text-left 
    color="light"
    class="input-divider">
    <ion-searchbar 
      (ionInput)="filtrarPecas($event)" 
      placeholder="Pesquisa por código/nome"
      [(ngModel)]="inputPesquisar"></ion-searchbar>
  </ion-item-divider>

  <ion-item 
    *ngFor="let peca of pecas; let i = index" 
    (click)="adicionarPeca(peca)">
    <!-- <ion-avatar item-start>
      <img 
        src="http://sat.perto.com.br/prjSATWEB/archive/upload_peca_imagem/{{ peca?.codMagnus }}.jpg" 
        onError="this.src='./assets/imgs/sem_foto.png';"
        title="Imagem">
    </ion-avatar> -->
    <h2>{{ peca?.codMagnus }}</h2>
    <p>{{ peca?.nomePeca.toUpperCase() }}</p>
    <ion-icon name="add-circle" color="secondary" item-end></ion-icon>
  </ion-item>

  <div *ngIf="pecas?.length == 0">
    <ion-item 
      *ngFor="let peca of chamado.rats[0].ratDetalhes[ratDetalheIndex].pecas; let i = index">
      <ion-label>{{ peca.codMagnus }} - {{ peca.nomePeca }}</ion-label>
      <ion-select 
        [(ngModel)]="peca.qtd" 
        (ionChange)="alterarQtdPeca(peca.qtd, i)"
        cancelText="Cancelar" okText="Salvar"
        [selectOptions]="{ title: peca.codMagnus, subTitle: 'Selecione a quantidade', mode: 'md' }">
        <ion-option 
          *ngFor="let q of qtd" 
          [selected]="peca.qtd == q"
          value="{{ q }}">{{ q }}
        </ion-option>
      </ion-select>
      <button ion-button clear item-end (click)="removerPeca(peca)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
  </div>

  <div *ngIf="chamado.rats[0].ratDetalhes[ratDetalheIndex].pecas.length == 0 && pecas?.length == 0">
    <p text-center class="message">Nenhuma peça adicionada</p>
  </div>

  <ion-spinner 
    name="dots" 
    color="primary"
    *ngIf="spinner">
  </ion-spinner>
</ion-content>