.md-resource-details .mbsc-timeline-resource,
.md-resource-details .mbsc-timeline-resource-col {
    width: 230px;
}


.md-resource-details  .mbsc-timeline-resource-title {
    padding: 0;
}
.md-resource-details .mbsc-timeline-resource-text {
    height: 100%;
    width: 100%;
    padding: 0;
}

.md-resource-details-cont {
    line-height: 47px;
}

.md-resource-details-name {
    padding: 0 5px;
}

.md-resource-details-seats {
    border-left: 1px solid #ccc;
    width: 90px;
    float: right;
    padding: 0 5px;
}