<mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false" *transloco="let t">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <div class="flex flex-col flex-auto p-6 bg-card">
            <div class="flex items-start justify-between">
                <div class="h-full">
                    <div>
                        <div class="mbsc-form-group-title mb-8">
                            {{ t('chamados abertos') }}
                        </div>
    
                        <button mat-icon-button color="primary" [matTooltip]="t('fechar')" (click)="sidenav.toggle()">
                            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                    
                    <div *ngFor="let event of externalEvents"
                        mbsc-draggable [dragData]="event"
                        class="external-drop-task"
                        [ngStyle]="{background: event.color}">
                        <div>{{ event.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <button class="kc_fab_main_btn" (click)="sidenav.toggle()">
            <mat-icon [svgIcon]="'heroicons_outline:adjustments'" class="text-white"></mat-icon>
        </button>

        <div class="lg:max-h-200 md:max-h-200">
            <div class="md-resource-details lg:max-h-full md:max-h-full">
                <mbsc-eventcalendar
                    [options]="calendarOptions"
                    [data]="events"
                    [resources]="resources"
                    [resourceTemplate]="resourceTemplate"
                >
                </mbsc-eventcalendar>
            </div>
    
            <ng-template #resourceTemplate let-resource>
                <div class="md-resource-details-cont">
                    <div class="md-resource-details-name truncate" [innerHTML]="resource.name"></div>
    
                    <img class="md-meeting-participant-avatar"
                        [src]="resource.img"
                        onError="this.src='./assets/images/avatars/profile.jpg';" />
                </div>        
            </ng-template>
        </div>
    </mat-drawer-content>
</mat-drawer-container>