<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer class="lg:w-120 md:w-80 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-agenda-tecnico-filtro [sidenav]="sidenav"></app-agenda-tecnico-filtro>
    </mat-drawer>

    <mat-drawer class="lg:w-120 md:w-80 dark:bg-gray-900" [position]="'end'" #sidenavChamados>
        <app-agenda-tecnico-chamados [sidenavOut]="sidenavChamados"></app-agenda-tecnico-chamados>
    </mat-drawer>

    <mat-drawer-content>

        <button class="add-button" (click)="sidenavChamados.toggle()" [disabled]="loading">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" class="text-white"></mat-icon>
        </button>

        <button class="filter-button bg-gray-800" (click)="sidenav.toggle()" [disabled]="loading">
            <mat-icon [svgIcon]="'heroicons_outline:filter'" class="text-white"></mat-icon>
        </button>

        <div class="overflow-hidden">
            <mbsc-eventcalendar class="h-screen" [options]="calendarOptions" [data]="events" [resources]="resources"
                [resourceTemplate]="resourceTemplate" *ngIf="!loading">
            </mbsc-eventcalendar>
            <mbsc-popup class="md-tooltip p-2" #popup [anchor]="anchor" [options]="popupOptions">
                <div class="text-center" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
                    <div class="md-tooltip-header">
                        <span class="md-tooltip-name-age font-bold">{{info}}</span>
                        <span class="md-tooltip-time">{{time}}</span>
                    </div>
                    <div class="md-tooltip-info">
                        <div class="md-tooltip-title">
                            <span class="md-tooltip-status md-tooltip-text">{{interventionType}}</span>
                        </div>
                    </div>
                </div>
            </mbsc-popup>
        </div>
        <div class="loading-indicator" *ngIf="loading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>

        <ng-template #resourceTemplate let-resource>
            <a (click)="abrirMapa(resource.id)">
                <img class="md-meeting-participant-avatar" [src]="resource.img"
                    onError="this.src='./assets/images/avatars/profile.jpg';"
                    [ngClass]="{'opacity-10': resource.indFerias}" />
                <div class="cursor-pointer inline-flex max-w-full min-w-full"
                    [ngClass]="{'text-gray-400': resource.indFerias}">
                    <div class="md-resource-details-name truncate min-w-2/3 max-w-2/3" [innerHTML]="resource.name"
                        [matTooltip]="resource.indFerias ? 'EM FÉRIAS' : ''">
                    </div>
                    <div class="mr-1 bg-blue-400 text-blue-50 py-1 px-2 rounded text-xs font-bold text-center
                        align-middle mbsc-counter" [matTooltip]="'Chamados Pendentes'" [ngClass]="{'opacity-10':
                        resource.indFerias}">
                        {{ countResourceEvents(resource) }}
                    </div>
                </div>

            </a>
        </ng-template>
    </mat-drawer-content>
</mat-drawer-container>