.mbsc-timeline-row,
.mbsc-timeline-resource {
    height: 32px !important;
    min-height: 32px !important;
    flex: none !important;
}

.mbsc-schedule-event {
    font-size: small !important;
    height: 30px !important;
    min-height: 30px !important;
    margin: 1px !important;
}

.mbsc-counter {
    margin-top: -5px !important;
}

.mbsc-timeline-event .mbsc-schedule-event-title {
    word-break: break-all !important;
    text-align: center !important;
    white-space: unset !important;
    margin-top: -2px !important;
}

.mbsc-timeline .mbsc-schedule-event-inner {
    vertical-align: middle !important;
}

.md-resource-details-name {
    font-size: 12px !important;
    margin-left: 40px;
}

.md-work-week-cont {
    position: relative;
    padding-left: 50px;
}

.md-meeting-participant-avatar {
    margin-top: -3px !important;
    position: absolute;
    max-height: 25px !important;
    max-width: 25px !important;
    margin-right: 10px;
}

.md-work-week-title {
    font-size: 12px;
    margin-top: 5px;
}

.md-switching-timeline-view-cont .mbsc-segmented {
    max-width: 350px;
    margin: 0 auto;
    padding: 1px;
}

.md-work-week-picker {
    flex: 1 0 auto;
}

.md-work-week-nav {
    width: 200px;
}

.md-switching-timeline-view-cont .mbsc-timeline-resource {
    display: flex;
    align-items: center;
}

.md-switching-timeline-view-cont .mbsc-timeline-resource,
.md-switching-timeline-view-cont .mbsc-timeline-resource-col {
    width: 205px;
}

/* material header order */

.mbsc-material.md-work-week-prev {
    order: 1;
}

.mbsc-material.md-work-week-next {
    order: 2;
}

.mbsc-material.md-work-week-nav {
    order: 3;
}

.mbsc-material .md-work-week-picker {
    order: 4;
}

.mbsc-material .md-work-week-today {
    order: 5;
}

/* windows header order */

.mbsc-windows.md-work-week-nav {
    order: 1;
}

.mbsc-windows.md-work-week-prev {
    order: 2;
}

.mbsc-windows.md-work-week-next {
    order: 3;
}

.mbsc-windows .md-work-week-picker {
    order: 4;
}

.mbsc-windows .md-work-week-today {
    order: 5;
}

.external-drop-calendar {
    border-right: 1px solid #ccc;
}

.external-drop-task {
    color: #fff;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    font-family: -apple-system, Segoe UI, Roboto, sans-serif;
}

.external-drop-task-blank {
    color: #999;
    border-width: 2px;
    border-style: dotted;
}

.demo-external-drag-drop.demo-wrapper,
.demo-external-drag-drop .mbsc-grid,
.demo-external-drag-drop .mbsc-row,
.demo-external-drag-drop .external-drop-calendar {
    height: 100%;
}

.add-button {
    position: fixed;
    z-index: 9999;
    bottom: 60px;
    right: 128px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #1976D2;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.filter-button {
    position: fixed;
    z-index: 9999;
    bottom: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #1976D2;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}