<mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
    <mat-drawer class="lg:w-80 md:w-80 dark:bg-gray-900" [position]="'end'" #sidenav>
        <div class="flex flex-col flex-auto p-6 bg-card">
            <div class="flex items-start justify-between">
                <div class="flex-auto">
                    <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-7 px-6 md:px-8 border-b mb-6">
                        <div class="flex justify-between">
                            <div class="text-4xl font-extrabold tracking-tight leading-none">Agendar</div>
                
                            <button mat-icon-button color="primary" [matTooltip]="'Fechar'" (click)="sidenav.toggle()" class="-mt-1">
                                <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                            </button>
                        </div>
                
                        <div class="flex items-center sm:mt-0">
                            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                                    <input matInput #searchInputControl [autocomplete]="'off'" [placeholder]="'Pesquisar...'">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngFor="let event of externalEventsFiltered"
                        mbsc-draggable [dragData]="event"
                        class="external-drop-task"
                        [ngStyle]="{background: event.color}">
                        <div>{{ event.title }}</div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>

    <mat-drawer-content>
        <div class="loading-shade" *ngIf="loading">
            <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
        </div>

        <button class="add-button" (click)="sidenav.toggle()" [disabled]="loading">
            <mat-icon [svgIcon]="'heroicons_outline:plus'" class="text-white"></mat-icon>
        </button>

        <div class="lg:max-h-200 md:max-h-200">
            <div class="md-resource-details lg:max-h-full md:max-h-full">
                <mbsc-eventcalendar
                    [options]="calendarOptions"
                    [data]="events"
                    [resources]="resources"
                    [resourceTemplate]="resourceTemplate"
                >
                </mbsc-eventcalendar>
            </div>
    
            <ng-template #resourceTemplate let-resource>
                <div class="md-resource-details-cont">
                    <div class="md-resource-details-name truncate" [innerHTML]="resource.name"></div>
    
                    <img class="md-meeting-participant-avatar"
                        [src]="resource.img"
                        onError="this.src='./assets/images/avatars/profile.jpg';" />
                </div>        
            </ng-template>
        </div>
    </mat-drawer-content>
</mat-drawer-container>