<button class="add-button" onClick="window.print()" [disabled]="isLoading">
    <mat-icon [svgIcon]="'heroicons_outline:printer'" class="text-white"></mat-icon>
</button>

<button class="back-button" onClick="history.back()" [disabled]="isLoading">
    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'" class="text-white"></mat-icon>
</button>

<div class="page-header min-w-screen" style="text-align: center" *transloco="let t">
    <div class="flex items-start justify-between">
        
        <div class="grid grid-cols-3 gap-x-4">
            <div class="logo-container">
                <img src="/assets/images/logo/logo.png" class="logo"> 
            </div>

            <div class="text-lg tracking-tight">
                
                {{ "Relatório de Despesas" | uppercase }}
            </div>
            <div class="text-lg tracking-tight">
                {{ t('de') + " " + (despesaPeriodoTecnico?.despesaPeriodo?.dataInicio | date:'dd/MM/yyyy')
                + " " + (t('ate') | lowercase) + " " + (despesaPeriodoTecnico?.despesaPeriodo?.dataFim |
                date:'dd/MM/yyyy') }}
    
            </div>
        </div>
    </div>
    
    <div class="inline-block text-left">
        <div class="min-w-screen p-2" *ngIf="!isLoading">
            <div style=" font-size: 8px !important;">
                <div class="text-center">


                    <div class="inline-block mr-2">
                        <div class="flex text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('nome') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ despesaPeriodoTecnico?.tecnico?.nome | uppercase }}
                            </p>
                        </div>
                        <div class="flex border-l text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('veiculo') + ":"| uppercase }}
                            </p>
                            <p>
                                {{ obterCartaoCombustivel().carro }}
                            </p>
                        </div>

                        
                    </div>

                    <div class="inline-block mr-2">
                        <div class="flex text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ "CPF:"| uppercase }}
                            </p>
                            <p>
                                {{ despesaPeriodoTecnico?.tecnico?.cpf | uppercase }}
                            </p>
                        </div>
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('placa') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ obterCartaoCombustivel().placa }}
                            </p>
                        </div>
                    </div>

                    <div class="inline-block mr-2">
                        <div class="flex text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('endereco') + ":"| uppercase }}
                            </p>
                            <p>
                                {{ despesaPeriodoTecnico?.tecnico?.endereco + ", " +
                                despesaPeriodoTecnico?.tecnico?.cidade?.nomeCidade + " - " +
                                despesaPeriodoTecnico?.tecnico?.cidade?.unidadeFederativa?.siglaUF | uppercase }}
                            </p>
                        </div>
                        <div class="flex text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('ano') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ obterCartaoCombustivel().ano }}
                            </p>
                        </div>
                    </div>

                    <div class="inline-block mr-2 ">
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('banco') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ tecnicoConta?.numBanco ?? "---" }}
                            </p>
                        </div>
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('cartao combustivel') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ obterCartaoCombustivel().numero }}
                            </p>
                        </div>
                    </div>

                    <div class="inline-block mr-2 ">
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('agencia') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ tecnicoConta?.numAgencia ?? "---" }}
                            </p>
                        </div>
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('filial') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ despesaPeriodoTecnico?.tecnico?.filial?.nomeFilial | uppercase }}
                            </p>
                        </div>

                    </div>

                    <div class="inline-block mr-2">
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('conta') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ tecnicoConta?.numConta ?? "---" }}
                            </p>
                        </div>
                        <div class="flex  text-left font-mono">
                            <p class="font-bold mr-1">
                                {{ t('centro de custo') + ":" | uppercase }}
                            </p>
                            <p>
                                {{ centroDeCusto }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <table>
        <thead>
            <tr>
              <td>
                <!--place holder for the fixed-position header-->
                <div class="page-header-space"></div>
              </td>
            </tr>
          </thead>
        <tbody *transloco="let t">
            <tr>
                <td>
                    <div class="text-left print:p-0">
                        <div class="min-w-screen" *ngIf="!isLoading">
                            <div style="font-size: 8px !important;" class="mt-0">
                                <div class="flex flex-auto mt-3">
                                    <div class="flex flex-col flex-auto sm:mb-18 sm:overflow-y-auto">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th
                                                        class="border-l text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('data') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('dia') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('os') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('rat') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('cliente') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('local origem') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('local destino') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        H.I.
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        H.F.
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        KM PREVISTO
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        KM PERCORRIDO
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        NF
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('tipo') | uppercase }}
                                                    </th>
                                                    <th
                                                        class="text-center font-semibold font-mono border-r border-b border-t">
                                                        {{ t('valor') | uppercase }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 10px;">
                                                <tr *ngFor="let despesa of despesasView">
                                                    <td class="text-center  font-mono border-l border-r border-b border-t">
                                                        {{ despesa.dataHoraSolucao }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.diaSemana }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.codOS }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.numRAT }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa?.nomeCliente ?? 'ué' }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.localOrigem }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.localDestino }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.horaInicio }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.horaFim }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t" [ngStyle]="{'font-weight': despesa.kmPercorrido < despesa.kmPrevisto ? 'bold' : 'normal'}">
                                                        {{ despesa.kmPrevisto }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t" [ngStyle]="{'font-weight': despesa.kmPercorrido > despesa.kmPrevisto ? 'bold' : 'normal'}">
                                                        {{ despesa.kmPercorrido }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.numNF?? t('---') }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.nomeTipo }}
                                                    </td>
                                                    <td class="text-center  font-mono border-r border-b border-t">
                                                        {{ despesa.despesaValor  | currency:'BRL':'symbol-narrow'  }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    
        <tfoot>
            <tr>
                <td>
                    <!--place holder for the fixed-position footer-->
                    <div class="page-footer-space"></div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="page-footer min-w-screen" *transloco="let t">
    <div class="text-center mt-3 mb-1 font-semibold">
        TOTALIZAÇÃO DE DESPESAS
    </div>
    <div class="grid grid-cols-6">
        <div class="text-center min-w-screen">
            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "aluguel de carro:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalAluguelCarro() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "correio:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalCorreio() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ t('frete') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalFrete() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>
            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ t('outros') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalOutros() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ t('pedagio') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalPedagio() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ t('taxi') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalTaxi() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>

            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "cartão telefônico:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalCartaoTelefonico() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "estacionamento:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalEstacionamento() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ 'hotel:' | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalHotel() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>

            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ 'passagem aérea:' | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalPassagemAerea() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ t('cartao combustivel:')| uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalCartaoCombustivel() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ t('telefone') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalTelefone() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>


            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ t('combustivel') + ":" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalCombustivel() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "ferramenta/instrumento:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalFerramenta() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ "ônibus/metrô:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalOnibus() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>

            <div class="inline-block border-b border-t border-r max-w-21">
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "peça/componente:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalPecas() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                    <p class="font-bold">
                        {{ "refeição:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalRefeicao() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
                <div class="grid grid-flow-col auto-cols-fr border-l text-left font-mono">
                    <p class="font-bold">
                        {{ "internet:" | uppercase }}
                    </p>
                    <p class="text-right">
                        {{ obterTotalInternet() | currency:'BRL':'symbol-narrow' }}
                    </p>
                </div>
            </div>

            <div class="text-center mt-3 mb-1 font-semibold">
                TOTAIS
            </div>
            <div class="text-center">
                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ t('despesas') + ":" | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ obterTotalDespesaSemKM() | currency:'BRL':'symbol-narrow' }}
                        </p>
                    </div>
                </div>

                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ t('adiantamentos') + ":" | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ obterTotalAdiantamentos() | currency:'BRL':'symbol-narrow' }}
                        </p>
                    </div>
                </div>

                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ 'receber via depósito:' | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ obterTotalViaDeposito() | currency:'BRL':'symbol-narrow' }}
                        </p>
                    </div>
                </div>

                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ "percentual outros:" | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ (obterTotalDespesaSemKM() / obterTotalDespesa() * 100).toFixed(2) + "%" }}
                        </p>
                    </div>
                </div>

                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ "percentual CB:" | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ (obterTotalCartaoCombustivel() / obterTotalDespesa() * 100).toFixed(2) + "%" }}
                        </p>
                    </div>
                </div>

                <div class="inline-block border-b border-t border-r max-w-21">
                    <div class="grid grid-flow-col auto-cols-fr border-l border-b text-left font-mono">
                        <p class="font-bold">
                            {{ 'Crédito via CB:' | uppercase }}
                        </p>
                        <p class="text-right">
                            {{ obterTotalCartaoCombustivel() | currency:'BRL':'symbol-narrow' }}
                        </p>
                    </div>
                </div>

            <div style=" font-size: 8px !important;" class="mt-5">
                <div class="text-center">
                    Revisei as despesas deste relatório e estou de pleno acordo com as mesmas.
                </div>

                <div style=" font-size: 8px !important;" class="mt-5 text-center">
                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Data</div>
                    </div>

                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Funcionário</div>
                    </div>

                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Data</div>
                    </div>

                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Administrativo</div>
                    </div>
                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Data</div>
                    </div>

                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Coordenador</div>
                    </div>

                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Líder</div>
                    </div>
                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Gerência</div>
                    </div>
        
                    <div class="inline-block text-center mr-10">
                        <div>&#11835;&#11835;&#11835;&#11835;<br /></div>
                        <div>Controladoria</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


