<mat-drawer-container class="flex-auto h-full">
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [position]="'end'" #sidenav>
        <app-ticket-filtro [sidenav]="sidenav"></app-ticket-filtro>
    </mat-drawer>

    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent"
        *transloco="let t">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>

            <div class="text-4xl font-extrabold tracking-tight" *transloco="let t">{{ t('tickets') }}</div>

            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input matInput #searchInputControl placeholder="Pesquisar..." [autocomplete]="'off'">
                </mat-form-field>

                <button class="ml-4" mat-icon-button matTooltip="{{ t('novo') }}"
                    [routerLink]="['/ticket/form']">
                    <mat-icon class="text-green-500	" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                </button>
                <button class="ml-4" mat-icon-button matTooltip="{{ t('exportar') }}" (click)="exportar()">
                    <mat-icon class="text-blue-500	" [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                </button>

                <button class="ml-2" mat-icon-button matTooltip="{{ t('filtros') }}" (click)="sidenav.toggle()">
                    <mat-icon [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                </button>
            </div>
        </div>

        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                <ng-container>
                    <ng-container>
                        <div class="grid">
                            <div class="list-grid-contrato z-10 sticky top-0 grid gap-4 py-2 px-4 shadow text-sm font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort matSortDisableClear *transloco="let t">
                                <div class="md:block" [mat-sort-header]="'codTicket'">
                                    {{ t('codigo') }}
                                </div>
                                <div class="md:block" [mat-sort-header]="'numSerie'">
                                    {{ t('titulo') }}
                                </div>
                                <div class="md:block">
                                    {{ t('descricao') }}
                                </div>
                                <div class="md:block">
                                    {{ t('usuario') }}
                                </div>
                                <div class="md:block">
                                    {{ t('modulo') }}
                                </div>
                                <div class="md:block">
                                    {{ t('status') }}
                                </div>
                                <div class="md:block">
                                    {{ t('classificacao') }}
                                </div>
                                <div class="md:block">
                                    {{ t('prioridade') }}
                                </div>
                            </div>
                        </div>
                        <mat-paginator [hidden]="!tickets?.items?.length"
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}" [length]="tickets?.totalCount"
                            [pageSize]="100" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                            (page)="paginar()">
                        </mat-paginator>
                    </ng-container>
                </ng-container>

                <ng-container>
                    <ng-container *ngFor="let ticket of tickets?.items">
                        <a [routerLink]="['/ticket/detalhe/' + ticket.codTicket]">
                            <div class="list-grid-contrato grid items-center h-8 gap-4 px-1 text-sm md:px-4 border-b hover:bg-gray-100"
                                *transloco="let t">
                                <div class="flex">
                                    {{ ticket.codTicket || t('---') }}
                                </div>
                                <div class="flex">
                                    {{ ticket.titulo || t('---') }}
                                </div>
                                <div class="flex truncate">
                                    {{ ticket.descricao || t('---') }}
                                </div>
                                <div class="flex truncate">
                                    {{ ticket.usuario?.nomeUsuario || t('---') }}
                                </div>
                                <div class="flex truncate">
                                    {{ ticket.ticketModulo?.descricao || t('---') }}
                                </div>
                                <div class="flex truncate">
                                    {{ ticket.ticketStatus?.descricao || t('---') }}
                                </div>
                                <div class="flex truncate">
                                    {{ ticket.ticketClassificacao?.descricao || t('---') }}
                                </div>
                                <div class="truncate rounded text-white text-center"
                                [class.bg-gray-600]="ticket.ticketPrioridade?.codPrioridade == 4"
                                [class.bg-green-600]="ticket.ticketPrioridade?.codPrioridade == 3"
                                [class.bg-yellow-600]="ticket.ticketPrioridade?.codPrioridade == 2"
                                [class.bg-red-600]="ticket.ticketPrioridade?.codPrioridade == 1">
                                    {{ ticket.ticketPrioridade?.descricao || t('---') }}
                                </div>
                            </div>
                        </a>
                    </ng-container>
                </ng-container>

                <ng-template #rowDetailsTemplate let-product>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b p-16">
                            <p>Conteúdo da div</p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</mat-drawer-container>